Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): Effort brand colors and dialog accessibility
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/CourseLinkDialog.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/components/LeaveEditorModal.vue
  VueApp/src/Effort/components/ReportDeptTabs.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/EffortTypeList.vue
  VueApp/src/Effort/pages/PercentAssignTypeList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Effort report contrast fixes
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(deps): update dev tooling and lint dependencies
  .oxlintrc.json
  VueApp/package-lock.json
  VueApp/package.json
  package-lock.json
  package.json
  web/Viper.csproj
Due: none

VPR-63 fix(a11y): PhotoGallery h1 and single main landmark
  VueApp/src/Students/pages/PhotoGallery.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): RAPS aria labels, target sizing, audit filter chips
  eslint.config.mjs
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): remove double delete confirmation in Role Members
  web/Areas/RAPS/Views/Roles/Members.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): resolve remaining PR #130 review feedback
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): CTS area accessibility improvements (PR 3 of 6)
  VueApp/src/CTS/pages/AssessmentCompetency.vue
  VueApp/src/CTS/pages/AssessmentEpaEdit.vue
  VueApp/src/CTS/pages/AssessmentList.vue
  VueApp/src/CTS/pages/AuditList.vue
  VueApp/src/CTS/pages/CourseStudents.vue
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/CTS/pages/ManageBundleCompetencies.vue
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  VueApp/src/CTS/pages/ManageSessionCompetencies.vue
  VueApp/src/CTS/pages/MyAssessmentCharts.vue
  VueApp/src/CTS/router/index.ts
  web/Areas/CTS/Views/Assessments.cshtml
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/EpaEdit.cshtml
  web/Areas/CTS/Views/Index.cshtml
  web/Areas/CTS/Views/ManageDomains.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

fix: address Copilot review feedback on CTS PR
  VueApp/src/CTS/pages/ManageEpas.vue
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/Index.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

fix: address second round of Copilot review feedback on CTS PR
  web/Areas/CTS/Views/Epa.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): make CTS edit button aria-labels unique per item
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  web/Areas/CTS/Views/ManageDomains.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): add dialog close buttons and delete confirmations to CTS
  VueApp/src/CTS/pages/ManageBundleCompetencies.vue
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  VueApp/src/CTS/pages/ManageSessionCompetencies.vue
  VueApp/src/CTS/pages/MyAssessments.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): align CTS button and badge colors to UC Davis brand palette
  VueApp/src/CTS/components/ServiceSelect.vue
  VueApp/src/CTS/pages/CompetenciesBundleReport.vue
  VueApp/src/CTS/pages/CourseStudents.vue
  VueApp/src/CTS/pages/ManageBundleCompetencies.vue
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  VueApp/src/CTS/pages/ManageSessionCompetencies.vue
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): CTS followup — contrast, banners, broken forms
  VueApp/src/CTS/components/LevelSelect.vue
  VueApp/src/CTS/pages/AssessmentEpa.vue
  VueApp/src/CTS/pages/AssessmentEpaEdit.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
  VueApp/src/CTS/pages/ManageRoles.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): ManageDomains labels, ManageCompetencies empty state
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): move heading outside q-list to fix aria-required-children
  VueApp/src/CTS/pages/ManageDomains.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): CTS brand colors, page titles, and UX improvements
  VueApp/src/CTS/pages/AssessmentList.vue
  VueApp/src/CTS/pages/AuditList.vue
  VueApp/src/CTS/pages/CompetenciesBundleReport.vue
  VueApp/src/CTS/pages/ManageBundleCompetencies.vue
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageCourseCompetencies.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Models/CompetencyHierarchyDto.cs
  web/Areas/CTS/Views/AssessmentCharts.cshtml
  web/Areas/CTS/Views/Assessments.cshtml
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/EpaEdit.cshtml
  web/Areas/CTS/Views/Index.cshtml
  web/Areas/CTS/Views/ManageDomains.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix: session timeout, left nav highlighting, and view polish
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
  web/Classes/Utilities/SessionTimeoutService.cs
  web/Views/Shared/Components/LeftNav/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/wwwroot/css/site.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): CTS assessment bubbles, banners, button labels
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/pages/AssessmentCompetency.vue
  VueApp/src/CTS/pages/AssessmentEpa.vue
  VueApp/src/CTS/pages/AssessmentEpaEdit.vue
  VueApp/src/CTS/pages/CourseStudents.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/MyAssessments.vue
  VueApp/src/components/StatusBanner.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): scope StatusBanner alert role to errors and opt-in
  VueApp/src/components/StatusBanner.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Students and Directory accessibility improvements (PR 5 of 6)
  VueApp/src/Students/components/PhotoGallery/PhotoList.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoCard.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoDialog.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/pages/StudentClassYear.vue
  VueApp/src/Students/pages/StudentClassYearImport.vue
  VueApp/src/Students/pages/StudentsHome.vue
  VueApp/src/Students/router/index.ts
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/Areas/Students/Views/StudentClassYear.cshtml
  web/Areas/Students/Views/StudentClassYearImport.cshtml
  web/wwwroot/css/directory.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): brand colors, StatusBanner, and contrast fixes for Students+Directory
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/pages/StudentClassYear.vue
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/Areas/Students/Views/StudentClassYear.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

fix(a11y): remove duplicate id from Directory card avatar inside v-for
  web/Areas/Directory/Views/Card.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

fix(a11y): improve contrast of Directory card SVM tag text
  web/wwwroot/css/directory.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Students page titles and column labels
  web/Areas/Students/Views/Index.cshtml
  web/Areas/Students/Views/StudentClassYear.cshtml
  web/Areas/Students/Views/StudentClassYearImport.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): Directory and PhotoGallery card accessibility fixes
  VueApp/src/Students/components/PhotoGallery/StudentPhotoCard.vue
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/wwwroot/css/directory.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): RAPS area accessibility improvements (PR 2 of 6)
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Groups/Members.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Groups/Sync.cshtml
  web/Areas/RAPS/Views/Index.cshtml
  web/Areas/RAPS/Views/Members/Clone.cshtml
  web/Areas/RAPS/Views/Members/History.cshtml
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/RSOP.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
  web/Areas/RAPS/Views/Permissions/List.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/RoleViewUpdate.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/PermissionComparison.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/TemplateRoles.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): fix grammar in RAPS headings
  web/Areas/RAPS/Views/Groups/Sync.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): add aria-label to icon-only buttons in RAPS
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
