Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): extract AsyncOperationDialog shell for preview dialogs
  VueApp/src/Effort/components/AsyncOperationDialog.vue
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(cts): collapse hardcoded CourseStudents rows into a v-for
  VueApp/src/CTS/pages/CourseStudents.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(students): consolidate StudentGroupService photo + Ross helpers
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): centralize report context loading in BaseReportService
  test/Effort/BaseReportServiceTests.cs
  test/Effort/ExcelGenerationTests.cs
  web/Areas/Effort/Services/BaseReportService.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(scheduler): share schedule filter LINQ via IScheduleEntity
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleQueryExtensions.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
  web/Models/CTS/IScheduleEntity.cs
  web/Models/CTS/InstructorSchedule.cs
  web/Models/CTS/StudentSchedule.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(cms): collapse Codecs UU/XX encoders onto shared map helpers
  web/Areas/CMS/Data/Codecs.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(tooling): honor LINT_BLOCK_ON_WARNINGS in fallow + jscpd lint stages
  scripts/lint-staged-fallow.js
  scripts/lint-staged-jscpd.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(effort): extract CalculateWeightedAverage in EvaluationReportService
  web/Areas/Effort/Services/EvaluationReportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(security): tighten static-analysis tooling
  .github/workflows/codeql.yml
Due: none

ci: switch fallow regression gate to audit --base mode
  .github/workflows/code-quality.yml
Due: none

ci: use fallow dead-code for whole-project regression baseline
  .github/workflows/code-quality.yml
Due: none

ci: install VueApp deps + tolerate fallow baseline exit code
  .github/workflows/code-quality.yml
Due: none

fix(effort): restore StatusBanner import in InstructorEdit
  VueApp/src/Effort/pages/InstructorEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(quality): add C# static analysis + PR-scoped gate
  .config/dotnet-tools.json
  .editorconfig
  .github/workflows/code-quality.yml
  .gitignore
  package.json
  scripts/audit-resharper-regression.js
  scripts/audit-resharper.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

chore(quality): remove dead null-checks flagged by CA1508
  test/CTS/AssessmentControllerTest.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/CTS/Models/StudentEpaAssessment.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): clean up stale XML doc comments
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/ClinicalScheduleController.cs
  web/Areas/CTS/Services/AuditService.cs
  web/Areas/CTS/Services/CrestCourseService.cs
  web/Areas/CTS/Services/CtsSecurityService.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/RAPSSecurityService.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/Students/Controllers/DvmController.cs
  web/Areas/Students/Services/StudentList.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
  web/Classes/Utilities/ActiveDirectoryService.cs
  web/Classes/Utilities/IamApi.cs
  web/Classes/Utilities/LdapService.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): materialize IEnumerable to avoid multi-enumeration
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/Effort/CourseRelationshipsControllerTests.cs
  test/Effort/InstructorsControllerTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Views/Shared/Components/VueTableDefault/VueTableDefault.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(quality): discard unused entry param in cache lambda
  web/Classes/UserHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(quality): clear ReSharper PR-gate + CodeQL review findings
  scripts/audit-resharper-regression.js
  web/Areas/CMS/Data/CMS.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Models/RoleTemplateSimplified.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/StudentGroupService.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(tooling): add ReSharper staged-files gate, expand audit umbrella
  README.md
  package.json
  scripts/audit-resharper-regression.js
  scripts/audit.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-141 fix(security): trust Cloudflare for X-Forwarded-For
  web/Classes/CloudflareNetworks.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(tooling): add fallow + jscpd with regression-gated CI
  .github/workflows/code-quality.yml
  .github/workflows/codeql.yml
  .gitignore
  .jscpd.json
  VueApp/.fallowrc.json
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/tsconfig.json
  package-lock.json
  package.json
  scripts/audit-fallow.js
  scripts/audit-jscpd-regression.js
  scripts/audit-jscpd.js
  scripts/audit.js
  scripts/lint-any.js
  scripts/lint-staged-fallow.js
  scripts/lint-staged-jscpd.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-141 feat(healthchecks): add /health endpoints and UI dashboard
  JenkinsFile
  test/HealthChecks/HealthCheckCollectorAuthTests.cs
  test/HealthChecks/HealthCheckCollectorTokenHandlerTests.cs
  web/Classes/HealthChecks/AdaptivePollingHealthCheck.cs
  web/Classes/HealthChecks/AwsSsmHealthCheck.cs
  web/Classes/HealthChecks/DiskSpaceHealthCheck.cs
  web/Classes/HealthChecks/HealthCheckCollectorAuth.cs
  web/Classes/HealthChecks/HealthCheckCollectorTokenHandler.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Classes/HealthChecks/HttpEndpointHealthCheck.cs
  web/Classes/HealthChecks/LdapHealthCheck.cs
  web/Classes/HealthChecks/SmtpHealthCheck.cs
  web/Program.cs
  web/Viper.csproj
  web/appsettings.json
  web/wwwroot/css/healthchecks-ui-branding.css
  web/wwwroot/js/healthchecks-ui-extras.js
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(coderabbit): gate auto-review behind review-ready label
  .coderabbit.yaml
Due: none

chore(jobs): remove unused Quartz POC
  web/Areas/Jobs/Controllers/JobsController.cs
  web/Areas/Jobs/JobClasses/BaseJob.cs
  web/Areas/Jobs/JobClasses/RapsRoleViewUpdate.cs
  web/Areas/Jobs/Model/AddUpdateJob.cs
  web/Areas/Jobs/Model/JobInfo.cs
  web/Areas/Jobs/Model/JobRegister.cs
  web/Areas/Jobs/Views/Job.cshtml
  web/Areas/Jobs/Views/Job.cshtml.cs
  web/Areas/Jobs/Views/JobList.cshtml
  web/Areas/Jobs/Views/JobList.cshtml.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Classes/Utilities/ScheduledTaskLog.cs
  web/Models/VIPER/ScheduledTask.cs
  web/Models/VIPER/ScheduledTaskHistory.cs
  web/Viper.csproj
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-141 chore(healthchecks): fix ReSharper findings
  web/Classes/CloudflareNetworks.cs
  web/Classes/HealthChecks/AwsSsmHealthCheck.cs
  web/Classes/HealthChecks/DiskSpaceHealthCheck.cs
  web/Classes/HealthChecks/HealthCheckCollectorAuth.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Classes/HealthChecks/SmtpHealthCheck.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 chore(healthchecks): address review feedback
  web/Classes/CloudflareNetworks.cs
  web/Classes/HealthChecks/AwsSsmHealthCheck.cs
  web/Classes/HealthChecks/DiskSpaceHealthCheck.cs
  web/Classes/HealthChecks/HealthCheckCollectorAuth.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Classes/HealthChecks/SmtpHealthCheck.cs
  web/Program.cs
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

chore(config): restore staff names in InternalAllowlist comments
  web/appsettings.json
Due: none

VPR-157 feat(a11y): add Word, PDF, and Excel accessibility helpers
  test/Classes/Utilities/ExcelAccessibilityHelperTests.cs
  test/Classes/Utilities/PdfAccessibilityHelperTests.cs
  test/Classes/Utilities/WordAccessibilityHelperTests.cs
  web/Classes/Utilities/ExcelAccessibilityHelper.cs
  web/Classes/Utilities/PdfAccessibilityHelper.cs
  web/Classes/Utilities/WordAccessibilityHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-157 feat(a11y): tag Photo Gallery and Emergency Contact exports
  VueApp/src/Students/EmergencyContact/__tests__/contact-section.test.ts
  VueApp/src/Students/EmergencyContact/__tests__/emergency-contact-service.test.ts
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactReport.vue
  VueApp/src/Students/EmergencyContact/services/emergency-contact-service.ts
  VueApp/src/Students/components/PhotoGallery/PhotoSheet.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  test/Students/EmergencyContactControllerTests.cs
  web/Areas/Students/Controllers/EmergencyContactController.cs
  web/Areas/Students/Controllers/PhotoGalleryController.cs
  web/Areas/Students/Models/PhotoGalleryViewModel.cs
  web/Areas/Students/Services/EmergencyContactExportService.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Viper.csproj
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-157 feat(a11y): tag Effort report exports for accessibility
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/ScheduledCliWeeks.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  web/Areas/Effort/Controllers/ReportsController.cs
  web/Areas/Effort/Services/BaseReportService.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/IClinicalEffortService.cs
  web/Areas/Effort/Services/IClinicalScheduleService.cs
  web/Areas/Effort/Services/IDeptSummaryService.cs
  web/Areas/Effort/Services/IEvaluationReportService.cs
  web/Areas/Effort/Services/IMeritMultiYearService.cs
  web/Areas/Effort/Services/IMeritReportService.cs
  web/Areas/Effort/Services/IMeritSummaryService.cs
  web/Areas/Effort/Services/ISchoolSummaryService.cs
  web/Areas/Effort/Services/ITeachingActivityService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
