Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

Update student name in test for course enrollment
  test/Students/StudentGroupServiceQueryTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(codeql): ignore generated source files in analysis
  .github/codeql/codeql-config.yml
Due: none

chore(codeql): simplify redundant null-conditionals in StudentList
  web/Areas/Students/Services/StudentList.cs
Due: node scripts/lint-staged-dotnet.js --fix

test(effort): cover rollover year-bounds guard
  test/Effort/PercentRolloverServiceTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(codeql): readonly fields and TryGetValue cleanups
  test/RAPS/RolesTests.cs
  test/Students/EmergencyContactControllerTests.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/Directory/Services/VMACSService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Updates UserInfo page
  test/Services/UserInfoServiceTests.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/InstinctResult.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/Utilities/IamApi.cs
  web/Classes/Utilities/LdapService.cs
  web/Program.cs
  web/Properties/launchSettings.json
  web/wwwroot/css/userinfo.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(directory): URL-encode VMACS login ID in query
  web/Areas/Directory/Services/VMACSService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(codeql): decompose complex boolean conditions
  web/Areas/CMS/Data/CMS.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

Creating eval area
  VueApp/src/Eval/App.vue
  VueApp/src/Eval/components/EvalLeftNav.vue
  VueApp/src/Eval/components/EvalScaleQuestion.vue
  VueApp/src/Eval/eval.ts
  VueApp/src/Eval/index.html
  VueApp/src/Eval/layouts/EvalLayout.vue
  VueApp/src/Eval/pages/EvalHome.vue
  VueApp/src/Eval/pages/Evaluate.vue
  VueApp/src/Eval/router/index.ts
  VueApp/src/Eval/router/routes.ts
  VueApp/vite.config.ts
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(clinical): detect duplicate schedules by SQL error number
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Fixes failing test
  test/Services/UserInfoServiceTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

Dynamically adding milestone level descriptions
  VueApp/src/Eval/components/EvalScaleQuestion.vue
  VueApp/src/Eval/pages/Evaluate.vue
  web/Areas/CTS/Controllers/MilestonesController.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): correct harvest custodial dept and exclude emeritus faculty
  test/Effort/ClinicalImportServiceTests.cs
  test/Effort/EffortRecordServiceTests.cs
  test/Effort/HarvestServiceTests.cs
  test/Effort/InstructorServiceTests.cs
  web/Areas/Effort/Constants/EffortConstants.cs
  web/Areas/Effort/EffortSettings.cs
  web/Areas/Effort/Services/ClinicalImportService.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/Harvest/CrestHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/HarvestContext.cs
  web/Areas/Effort/Services/Harvest/HarvestPhaseBase.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
  web/Areas/Effort/Services/HarvestService.cs
  web/Areas/Effort/Services/IInstructorService.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adding options ISCs
  VueApp/src/Eval/components/EvalScaleQuestion.vue
  VueApp/src/Eval/pages/Evaluate.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Stubs for Eval
  web/Areas/Eval/Data/EvalDbContext.cs
  web/Program.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

Adding Eval model
  web/Areas/Eval/Data/EvalDbContext.cs
  web/Areas/Eval/Models/Entities/Evaluatee.cs
  web/Areas/Eval/Models/Entities/Evaluation.cs
  web/Areas/Eval/Models/Entities/Instance.cs
  web/Areas/Eval/Models/Entities/InstanceEvaluateeStatus.cs
  web/Areas/Eval/Models/Entities/Question.cs
  web/Areas/Eval/Models/Entities/Response.cs
  web/Areas/Eval/Models/Entities/ResponseType.cs
  web/Areas/Eval/Models/Entities/SisHeading.cs
  web/Areas/Eval/Models/Entities/Team.cs
  web/Areas/Eval/Models/Entities/TeamCollection.cs
  web/Areas/Eval/Models/Entities/Template.cs
  web/Areas/Eval/Models/Entities/Term.cs
Due: node scripts/lint-staged-dotnet.js --fix

Enhancements - answered indicator, progress, N/A option
  VueApp/src/Eval/components/EvalScaleQuestion.vue
  VueApp/src/Eval/pages/Evaluate.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Consistent header height and answered indicator extending through scale row
  VueApp/src/Eval/components/EvalScaleQuestion.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Progress bar enhancements
  VueApp/src/Eval/pages/Evaluate.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Fixes based on code review
  test/Services/UserInfoServiceTests.cs
  test/Services/UserInfoServiceUnitTests.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/Utilities/IamApi.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): restore legacy getCustDept custodial-dept fallback from vw_xtnd_baseinfo
  test/Effort/CourseServiceTests.cs
  test/Effort/CustodialDepartmentResolverTests.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/CustodialDepartmentResolver.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
Due: node scripts/lint-staged-dotnet.js --fix

docs: add agent guidance files and update onboarding README
  .gitignore
  AGENTS.md
  CLAUDE.md
  DESIGN.md
  PRODUCT.md
  README.md
Due: none

ci: add advisory Development-merge check for PRs to main
  .github/workflows/development-merge-check.yml
Due: none

Updates failing tests
  test/Services/UserInfoServiceTests.cs
  test/Usings.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(gitignore): ignore agent AI development artifacts (Playwright MCP, Impeccable, PLAN/SMOKETEST docs)
  .gitignore
  DESIGN.md
Due: none

refactor(codeql): decompose complex boolean conditions
  web/Areas/CMS/Data/CMS.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(security): respect directory boundary in Vite web-root check
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(scheduler): add manage-gated audit trail page
  VueApp/src/ClinicalScheduler/__tests__/audit-log-page-access.test.ts
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/constants/permission-messages.ts
  VueApp/src/ClinicalScheduler/pages/AuditLogPage.vue
  VueApp/src/ClinicalScheduler/router/routes.ts
  VueApp/src/ClinicalScheduler/services/audit-log-service.ts
  VueApp/src/ClinicalScheduler/types/audit-types.ts
  web/Areas/ClinicalScheduler/Controllers/ScheduleAuditController.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditLogEntryDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditModifierDto.cs
  web/Areas/ClinicalScheduler/Services/ClinicalSchedulerNavMenu.cs
  web/Areas/ClinicalScheduler/Services/IScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(scheduler): inline per-week history and audit-trail enhancements
  VueApp/src/ClinicalScheduler/__tests__/audit-log-page-access.test.ts
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryButton.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryContent.vue
  VueApp/src/ClinicalScheduler/composables/use-audit-entries.ts
  VueApp/src/ClinicalScheduler/pages/AuditLogPage.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/audit-log-service.ts
  VueApp/src/ClinicalScheduler/types/audit-types.ts
  VueApp/src/ClinicalScheduler/utils/audit-actions.ts
  web/Areas/ClinicalScheduler/Controllers/ScheduleAuditController.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditLogEntryDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditTermDto.cs
  web/Areas/ClinicalScheduler/Services/IScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): align audit-trail filters with the scheduler
  VueApp/src/Effort/components/AuditChangeDetail.vue
  VueApp/src/Effort/pages/AuditList.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(scheduler): rename per-week history copy to "audit trail"
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryButton.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryContent.vue
  VueApp/src/ClinicalScheduler/services/audit-log-service.ts
  web/Areas/ClinicalScheduler/Controllers/ScheduleAuditController.cs
  web/Areas/ClinicalScheduler/Services/IScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(scheduler): add history icon to the schedule legend for managers
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(scheduler): pattern-match nullable audit filter params
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(deps): update fallow to 2.101.0
  package-lock.json
  package.json
Due: none

refactor: remove unused service methods flagged by fallow
  VueApp/src/ClinicalScheduler/services/clinician-service.ts
  VueApp/src/ClinicalScheduler/services/instructor-schedule-service.ts
  VueApp/src/ClinicalScheduler/services/page-data-service.ts
  VueApp/src/ClinicalScheduler/services/permission-service.ts
  VueApp/src/ClinicalScheduler/services/rotation-service.ts
  VueApp/src/ClinicalScheduler/types/rotation-types.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(scripts): run full fallow audit suite in audit:fallow
  scripts/audit-fallow.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor: drop unused exports flagged by fallow
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/utils/confirmation-dialog.ts
  VueApp/src/ClinicalScheduler/utils/schedule-update-helpers.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix
