Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-67 refactor(effort): make form validation consistent
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Effort/components/CourseAddDialog.vue
  VueApp/src/Effort/components/CourseEditDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/InstructorEditDialog.vue
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
  VueApp/src/Effort/effort-forms.css
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/validation.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-47 refactor(effort): extract job group qualification into shared iTVF
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-65 feat(effort): make rollover year-based and unify clinical import
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/services/rollover-service.ts
  VueApp/src/Effort/types/harvest-types.ts
  VueApp/src/Effort/types/term-types.ts
  test/Effort/ClinicalImportServiceTests.cs
  test/Effort/HarvestServiceTests.cs
  test/Effort/PercentRolloverControllerTests.cs
  test/Effort/PercentRolloverServiceTests.cs
  test/Effort/TermValidationHelperTests.cs
  web/Areas/Effort/Controllers/PercentRolloverController.cs
  web/Areas/Effort/Helpers/TermValidationHelper.cs
  web/Areas/Effort/Models/DTOs/Responses/ClinicalImportDto.cs
  web/Areas/Effort/Models/DTOs/Responses/HarvestPreviewDto.cs
  web/Areas/Effort/Models/DTOs/Responses/TermDto.cs
  web/Areas/Effort/Services/ClinicalImportService.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/Harvest/ClinicalHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/CrestHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/HarvestPhaseBase.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
  web/Areas/Effort/Services/HarvestService.cs
  web/Areas/Effort/Services/IClinicalImportService.cs
  web/Areas/Effort/Services/IEffortAuditService.cs
  web/Areas/Effort/Services/IPercentRolloverService.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
  web/Areas/Effort/Services/TermService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-65 fix(effort): address rollover code review findings
  VueApp/src/Effort/types/harvest-types.ts
  web/Areas/Effort/Controllers/PercentRolloverController.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-65 fix(effort): handle stream cancellation and tighten queries
  web/Areas/Effort/Controllers/ClinicalImportController.cs
  web/Areas/Effort/Controllers/PercentRolloverController.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-67 feat(effort): restrict notes to generic R-Course and fix import dialog text
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/types/course-types.ts
  VueApp/src/Effort/types/instructor-types.ts
  web/Areas/Effort/Models/DTOs/ICourseClassificationFlags.cs
  web/Areas/Effort/Models/DTOs/Responses/AvailableCoursesDto.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseDto.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/VerificationService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 feat(effort): add course-level effort management
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/CourseEffortTable.vue
  VueApp/src/Effort/components/EffortRecordsDisplay.vue
  VueApp/src/Effort/components/EffortRecordsTable.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/dept-table.css
  VueApp/src/Effort/effort-forms.css
  VueApp/src/Effort/effort-record-table.css
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/services/course-service.ts
  VueApp/src/Effort/types/course-effort-types.ts
  VueApp/src/Effort/types/index.ts
  test/Effort/CourseServiceTests.cs
  web/Areas/Effort/Controllers/CoursesController.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseEffortRecordDto.cs
  web/Areas/Effort/Models/DTOs/Responses/PossibleCourseInstructorsDto.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/ICourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-65 refactor(effort): use EF navigation properties for cross-schema lookups
  VueApp/src/Effort/pages/InstructorEdit.vue
  test/Effort/ClinicalImportServiceTests.cs
  test/Effort/InstructorServiceTests.cs
  test/Effort/PercentRolloverServiceTests.cs
  web/Areas/Effort/Constants/EffortConstants.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/Entities/AlertState.cs
  web/Areas/Effort/Models/Entities/AlternateTitle.cs
  web/Areas/Effort/Models/Entities/Audit.cs
  web/Areas/Effort/Models/Entities/EffortPerson.cs
  web/Areas/Effort/Models/Entities/EffortRecord.cs
  web/Areas/Effort/Models/Entities/Percentage.cs
  web/Areas/Effort/Models/Entities/Sabbatical.cs
  web/Areas/Effort/Models/Entities/UserAccess.cs
  web/Areas/Effort/Services/ClinicalImportService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
  web/Areas/Effort/Services/PercentageService.cs
  web/Areas/Effort/docs/EFFORT_MASTER_PLAN.md
  web/Areas/Effort/docs/Effort_Database_Schema.sql
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-65 fix(effort): convert rollover percentages to display scale
  VueApp/src/Effort/components/ClinicalEffortPreviewTable.vue
  VueApp/src/Effort/components/RolloverAssignmentTable.vue
  web/Areas/Effort/Models/DTOs/Responses/PercentRolloverPreviewDto.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-65 fix(effort): show decimal precision in overage warning
  web/Areas/Effort/Helpers/TermValidationHelper.cs
  web/Areas/Effort/Services/PercentageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-65 refactor(effort): remove unused code and simplify term lookup
  scripts/verify-build.js
  test/Effort/PercentageServiceTests.cs
  test/Effort/TermValidationHelperTests.cs
  web/Areas/Effort/Helpers/TermValidationHelper.cs
  web/Areas/Effort/Services/IPercentageService.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
  web/Areas/Effort/Services/PercentageService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-65 fix(effort): use display scale in rollover preview test assertion
  test/Effort/PercentRolloverServiceTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-65 perf(effort): avoid unnecessary join in data hygiene query
  web/Areas/Effort/Services/DashboardService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-60 feat(effort): add instructor evaluation data to course detail
  .oxlintrc.json
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/components/EvalStatusCell.vue
  VueApp/src/Effort/components/EvaluationStatusMatrix.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/effort-dialogs.css
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/router/index.ts
  VueApp/src/Effort/services/course-service.ts
  VueApp/src/Effort/types/evaluation-types.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/store/UserStore.ts
  test/Effort/CoursesControllerTests.cs
  web/Areas/Effort/Constants/EffortPermissions.cs
  web/Areas/Effort/Controllers/CoursesController.cs
  web/Areas/Effort/Data/EvalHarvestDbContext.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateAdHocEvalRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/AdHocEvalResultDto.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseEvaluationStatusDto.cs
  web/Areas/Effort/Models/Entities/EhCourse.cs
  web/Areas/Effort/Models/Entities/EhPerson.cs
  web/Areas/Effort/Models/Entities/EhQuant.cs
  web/Areas/Effort/Models/Entities/EhQuestion.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
  web/Areas/Effort/Services/IEvalHarvestService.cs
  web/Program.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 refactor(effort): auto-compute eval stats from rating counts
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/types/evaluation-types.ts
  test/Effort/CoursesControllerTests.cs
  web/Areas/Effort/Data/EvalHarvestDbContext.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateAdHocEvalRequest.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 refactor(effort): conditionally show eval tabs and remove source column
  .vscode/settings.json
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/CourseEffortTable.vue
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/components/EvalStatusCell.vue
  VueApp/src/Effort/components/EvaluationStatusMatrix.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  test/Effort/CoursesControllerTests.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): validate instructor effort before ad-hoc eval
  .vscode/settings.json
  VueApp/src/Effort/router/index.ts
  web/Areas/Effort/Data/EvalHarvestDbContext.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): deduplicate eval permission fetch and add eval service tests
  VueApp/src/Effort/router/index.ts
  test/Effort/EvalHarvestServiceTests.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): filter facilitator evals from status query and index lookups
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): address code review findings for eval feature
  VueApp/src/Effort/router/index.ts
  test/Effort/CourseServiceTests.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateAdHocEvalRequest.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-60 feat(effort): validate eval rating counts against backend max
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/services/course-service.ts
  VueApp/src/Effort/types/evaluation-types.ts
  web/Areas/Effort/Models/DTOs/Requests/UpdateAdHocEvalRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseEvaluationStatusDto.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): add min=0 constraint to eval rating count inputs
  VueApp/src/Effort/components/EditEvaluationDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-60 refactor(effort): rename CourseInstructorOptionsDto to match backend i
  VueApp/src/Effort/services/course-service.ts
  VueApp/src/Effort/types/course-effort-types.ts
  VueApp/src/Effort/types/index.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(effort): DRY up MyEffort and InstructorDetail pages
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/CourseImportForSelfDialog.vue
  VueApp/src/Effort/components/CrossListedCoursesSection.vue
  VueApp/src/Effort/components/EffortActionButtons.vue
  VueApp/src/Effort/components/ZeroEffortBanner.vue
  VueApp/src/Effort/composables/use-effort-record-management.ts
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/MyEffort.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(effort): add optional notes field to effort records
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EffortRecordsDisplay.vue
  VueApp/src/Effort/components/EffortRecordsTable.vue
  VueApp/src/Effort/types/instructor-types.ts
  VueApp/src/Effort/validation.ts
  test/Effort/EffortRecordServiceTests.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateEffortRecordRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateEffortRecordRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/InstructorEffortRecordDto.cs
  web/Areas/Effort/Models/Entities/EffortRecord.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(deps): clean up unused root deps and fix dep categories
  VueApp/package-lock.json
  VueApp/package.json
  package-lock.json
  package.json
Due: none

fix(deps): add eslint-config-prettier to VueApp
  VueApp/package-lock.json
  VueApp/package.json
Due: none

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
