Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Create UserInfoController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
Due: node scripts/lint-staged-dotnet.js --fix

Update UserInfo.cshtml
  web/Areas/Directory/Views/UserInfo.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

Update .gitignore
  .gitignore
Due: none

UserInfo first draft
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/IDCardResult.cs
  web/Areas/Directory/Models/InstinctResult.cs
  web/Areas/Directory/Models/KeyResult.cs
  web/Areas/Directory/Models/LoanResult.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/SQLContext/KeysContext.cs
  web/Classes/SQLContext/PPSContext.cs
  web/Program.cs
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Updates Userinfo page
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Updates UserInfo page
  test/Services/UserInfoServiceTests.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/InstinctResult.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/Utilities/IamApi.cs
  web/Classes/Utilities/LdapService.cs
  web/Properties/launchSettings.json
  web/wwwroot/css/userinfo.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix: clean up unused usings and resolve nullability warnings in tests
  .gitignore
  test/Services/UserInfoServiceTests.cs
  test/Services/UserInfoServiceUnitTests.cs
  test/Usings.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix: resolve S1144 and S6580 Sonar warnings in IamApi
  web/Classes/Utilities/IamApi.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix: address PR reviews and linter suggestions
  web/Classes/Utilities/IamApi.cs
Due: node scripts/lint-staged-dotnet.js --fix

A few directory bug fixes (trailing slashes, race condition, loading modal) and responds to code-quality bot userinfo recommendations
  CLAUDE.md
  test/Areas/Directory/VMACSServiceTest.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/Card.cshtml
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
  web/Viper.csproj
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Fixes the results of the code-quality-bot's review
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(directory): resolve ReSharper code quality, XML doc, and unit test warnings
  test/Services/UserInfoServiceTests.cs
  test/Services/UserInfoServiceUnitTests.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(deps): use uniform 7-day cooldown for all dependabot ecosystems
  .github/dependabot.yml
Due: none

chore(git): normalize line endings via .gitattributes
  .editorconfig
  .gitattributes
  HOOKS.md
Due: none

docs(claude): trim rules the model already follows
  CLAUDE.md
Due: none

docs(claude): refresh PRODUCT.md and DESIGN.md from the implemented UI
  DESIGN.md
  PRODUCT.md
Due: none

fix(cms): stop serving trashed files to users without trash access
  test/CMS/CmsTrashAccessTests.cs
  test/CMS/CmsTrashDownloadTests.cs
  web/Areas/CMS/Constants/CmsTrash.cs
  web/Areas/CMS/Data/CMS.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(cms): add the legacy delete-now action to the file trash
  VueApp/src/CMS/__tests__/files.test.ts
  VueApp/src/CMS/components/DeleteRestoreButtons.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/services/cms-options-service.ts
  VueApp/src/CMS/types/index.ts
  test/CMS/CMSOptionsControllerTests.cs
  web/Areas/CMS/Controllers/CMSOptionsController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Refactors to remove clones (from adding the sidebar to the directory and userinfo pages)
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Classes/AreaController.cs
Due: node scripts/lint-staged-dotnet.js --fix

Fixes ReSharper redundant constructor and property initializers
  web/Areas/Directory/Models/DirectoryUser.cs
  web/Classes/SQLContext/KeysContext.cs
  web/Classes/SQLContext/PPSContext.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(git): normalize line endings via .gitattributes
  .editorconfig
  .gitattributes
Due: none

fix(claude): drop the false [Area] warning for API controllers
  CLAUDE.md
Due: none

refactor(cms): clear CodeQL alerts from the CMS content merge
  .github/codeql/codeql-config.yml
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  test/CMS/CmsLeftNavDisplayTests.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(warnings): resolve analyzer quick wins outside Effort
  .editorconfig
  web/Areas/CMS/Controllers/CMSController.cs
  web/Areas/CTS/Controllers/CTSController.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Models/GroupAddEdit.cs
  web/Areas/Students/Controllers/StudentsController.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): correct group update, nav lookup, pipeline, and sync scope
  test/RAPS/AdGroupsControllerTests.cs
  test/RAPS/RAPSControllerTests.cs
  web/Areas/RAPS/Controllers/AdGroupsController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(directory): extract search query shared by Get and GetUCD
  test/Directory/DirectoryControllerTests.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(scripts): fix build warning reporting
  scripts/lib/build-cache.js
  scripts/lint-staged-dotnet.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(test): exercise real schedule services in the integration tests
  test/ClinicalScheduler/Integration/ServiceLayerIntegrationTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(test): align ClinicalScheduler test time with production
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/Integration/PermissionServiceIntegrationTest.cs
  test/ClinicalScheduler/IntegrationTestBase.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/ScheduleAuditServiceTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/TestDataBuilder.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(test): align Effort test time with production
  test/Effort/HarvestTimeParserTests.cs
  test/Effort/PercentagesControllerTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 test(cms): cover the file-attach authorization rules
  test/CMS/CmsContentBlockServiceTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(test): tokenize the Development-only UserInfoService tests
  test/Services/UserInfoServiceTests.cs
  test/Services/UserInfoServiceUnitTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(config): stop promoting xUnit1051 to error
  .editorconfig
Due: none

fix(test): correct dangling comma left by the token sweep
  test/ClinicalScheduler/Integration/PermissionServiceIntegrationTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
