Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix, node scripts/lint-staged-cshtml.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,jsx,ts,tsx}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix",
        "prettier --write"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

Update LdapService.cs
  web/Classes/Utilities/LdapService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Create UserInfoController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
Due: node scripts/lint-staged-dotnet.js --fix

Update UserInfo.cshtml
  web/Areas/Directory/Views/UserInfo.cshtml
Due: prettier --write, node scripts/lint-staged-cshtml.js --fix

Removes SVM-IT restriction
  web/Areas/Directory/Controllers/DirectoryController.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Phase 3 Backend Controller & Service Refactoring
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/InstructorScheduleControllerTest.cs
  test/ClinicalScheduler/PersonServiceTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Extensions/ServiceMappingExtensions.cs
  web/Areas/ClinicalScheduler/Extensions/WeekMappingExtensions.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/RotationErrorResponse.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/RotationSummaryResponse.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/ServiceDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/ServiceSummaryDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/WeekDto.cs
  web/Areas/ClinicalScheduler/Services/ClinicalScheduleService.cs
  web/Areas/ClinicalScheduler/Services/IInstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/IPersonService.cs
  web/Areas/ClinicalScheduler/Services/IRotationService.cs
  web/Areas/ClinicalScheduler/Services/IStudentScheduleService.cs
  web/Areas/ClinicalScheduler/Services/IWeekService.cs
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/RotationService.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
  web/Areas/ClinicalScheduler/Services/WeekService.cs
  web/Areas/ClinicalScheduler/Validators/AddInstructorValidator.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Phase 4 - Frontend state management refactoring
  .oxlintrc.json
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/PermissionFeedbackChip.vue
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/components/WeekScheduleCard.vue
  VueApp/src/ClinicalScheduler/composables/use-schedule-add-operations.ts
  VueApp/src/ClinicalScheduler/composables/use-schedule-crud.ts
  VueApp/src/ClinicalScheduler/composables/use-schedule-dialogs.ts
  VueApp/src/ClinicalScheduler/composables/use-schedule-loaders.ts
  VueApp/src/ClinicalScheduler/composables/use-schedule-notifications.ts
  VueApp/src/ClinicalScheduler/composables/use-schedule-operations.ts
  VueApp/src/ClinicalScheduler/stores/schedule-actions.ts
  VueApp/src/ClinicalScheduler/stores/schedule-cache.ts
  VueApp/src/ClinicalScheduler/stores/schedule-state.ts
  VueApp/src/ClinicalScheduler/stores/schedule.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Adding CMS area
  VueApp/src/CMS/App.vue
  VueApp/src/CMS/assets/cms.css
  VueApp/src/CMS/cms.ts
  VueApp/src/CMS/index.html
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/LinkCollections.vue
  VueApp/src/CMS/router/index.ts
  VueApp/src/CMS/router/routes.ts
  VueApp/vite.config.ts
  VueApp/vueapp.esproj
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Phase 6 - Testing & Documentation
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/services/error-transformer.ts
  package.json
  scripts/verify-build.js
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/InstructorScheduleControllerTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/Integration/PermissionServiceIntegrationTest.cs
  test/ClinicalScheduler/Integration/ServiceLayerIntegrationTest.cs
  test/ClinicalScheduler/IntegrationTestBase.cs
  test/ClinicalScheduler/PersonServiceTest.cs
  test/ClinicalScheduler/RotationMappingExtensionsTests.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/ServiceMappingExtensionsTests.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Validators/AddInstructorValidator.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/Rotation.cs
  web/Models/ClinicalScheduler/Service.cs
  web/Models/ClinicalScheduler/StudentSchedule.cs
  web/Models/ClinicalScheduler/Week.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(clinical-scheduler): Centralize error handling and add email notifications
  package.json
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/PermissionsControllerTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  web/Areas/ClinicalScheduler/Controllers/BaseClinicalSchedulerController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/IScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Classes/ApiExceptionFilter.cs
  web/Classes/ApiResponse.cs
  web/Classes/CorrelationIdMiddleware.cs
  web/Models/CTS/Status.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat: upgrade Node.js to 20.19.4 and Vite to 7.1.5
  JenkinsFile
  VueApp/package-lock.json
  VueApp/package.json
  package-lock.json
  package.json
Due: none

feat(clinical-scheduler): Phase 1 - Add bulk scheduling for multiple clinicians and rotations
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  package.json
  test/ClinicalScheduler/EmailNotificationTest.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Phase 2 add multi selection bulk scheduling
  .oxlintrc.json
  .vscode/settings.json
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/composables/use-permission-checks.ts
  VueApp/src/ClinicalScheduler/constants/schedule-config.ts
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(clinical-scheduler): Phase 3 Add primary evaluator checkbox for bulk scheduling
  VueApp/src/ClinicalScheduler/components/PrimaryEvaluatorToggle.vue
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/InstructorScheduleControllerTest.cs
  test/ClinicalScheduler/IntegrationTestBase.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Link Collections WIP
  VueApp/src/CMS/pages/LinkCollections.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CMS/types/index.ts
  VueApp/vueapp.esproj
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
  web/Areas/CMS/Models/DTOs/CreateLinkCollectionDto.cs
  web/Areas/CMS/Models/DTOs/CreateLinkCollectionTagCategoryDto.cs
  web/Areas/CMS/Models/DTOs/CreateLinkDto.cs
  web/Areas/CMS/Models/DTOs/CreateLinkTagDto.cs
  web/Areas/CMS/Models/DTOs/LinkCollectionDto.cs
  web/Areas/CMS/Models/DTOs/LinkCollectionTagCategoryDto.cs
  web/Areas/CMS/Models/DTOs/LinkDto.cs
  web/Areas/CMS/Models/DTOs/LinkTagDto.cs
  web/Areas/CMS/Models/Link.cs
  web/Areas/CMS/Models/LinkCollection.cs
  web/Areas/CMS/Models/LinkCollectionTagCategory.cs
  web/Areas/CMS/Models/LinkTag.cs
  web/Areas/CMS/Services/CmsNavMenu.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Controllers/LayoutController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Phase 4 Add bulk deletion
  .lintstagedrc.json
  .oxlintrc.json
  VueApp/src/ClinicalScheduler/components/AccessDeniedCard.vue
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/composables/use-bulk-deletion-logic.ts
  VueApp/src/ClinicalScheduler/composables/use-bulk-deletion.ts
  VueApp/src/ClinicalScheduler/composables/use-delete-mode.ts
  VueApp/src/ClinicalScheduler/composables/use-optimistic-schedule-updates.ts
  VueApp/src/ClinicalScheduler/constants/app-constants.ts
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/instructor-schedule-service.ts
  VueApp/src/ClinicalScheduler/utils/confirmation-dialog.ts
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/InstructorScheduleControllerTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/IntegrationTestBase.cs
  test/ClinicalScheduler/ScheduleAuditServiceTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/Setup/SetupClinicalSchedulerPeople.cs
  test/ClinicalScheduler/Setup/SetupClinicalSchedulerRotations.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  test/ClinicalScheduler/TestableScheduleEditService.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/RemoveInstructorResponse.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/IPermissionValidator.cs
  web/Areas/ClinicalScheduler/Services/IScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/PermissionValidator.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Working link collection management
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/CMS/types/index.ts
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Adding CAHFS area
  VueApp/src/CAHFS/App.vue
  VueApp/src/CAHFS/assets/cahfs.css
  VueApp/src/CAHFS/cahfs.ts
  VueApp/src/CAHFS/index.html
  VueApp/src/CAHFS/pages/CAHFSHome.WebReports
  VueApp/src/CAHFS/pages/CAHFSHome.vue
  VueApp/src/CAHFS/pages/WebReports.vue
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CAHFS/router/routes.ts
  VueApp/src/CMS/components/ContentBlock.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/pages/LinkCollections.vue
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CMS/types/index.ts
  VueApp/vite.config.ts
  VueApp/vueapp.esproj
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Models/DTOs/LinkCollectionDto.cs
  web/Areas/CMS/Models/LinkCollection.cs
  web/Areas/CMS/Services/CmsNavMenu.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Controllers/LayoutController.cs
  web/Program.cs
  web/Views/Shared/Components/MainNav/MainNav.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Removing css
  VueApp/src/CMS/cms.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Updating css
  VueApp/src/CAHFS/cahfs.ts
  VueApp/src/CMS/cms.ts
  VueApp/src/CTS/cts.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Fixing merge
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/router/index.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

test build error
  VueApp/src/CMS/pages/ManageLinkCollections.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(clinical-scheduler): Improving email notifications
  VueApp/src/ClinicalScheduler/composables/use-optimistic-schedule-updates.ts
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/clinician-service.ts
  VueApp/src/ClinicalScheduler/services/instructor-schedule-service.ts
  VueApp/src/ClinicalScheduler/utils/schedule-update-helpers.ts
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/TestableScheduleEditService.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Requests/SetPrimaryEvaluatorRequest.cs
  web/Areas/ClinicalScheduler/Services/IScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Services/EmailNotificationSettingsValidator.cs
  web/Services/EmailService.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Using QA VMACS service for Development
  web/Areas/Directory/Services/VMACSService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Revert "Using QA VMACS service for Development"
  web/Areas/Directory/Services/VMACSService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Removed unnecessary slash
  web/Areas/Directory/Services/VMACSService.cs
Due: node scripts/lint-staged-dotnet.js --fix

patch(clinical-scheduler): Fix permission checks to RotationsController
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-display.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-navigation.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home.test.ts
  VueApp/src/ClinicalScheduler/constants/permission-messages.ts
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Effort system revamp planning docs
  web/Areas/Effort/docs/EFFORT_MASTER_PLAN.md
  web/Areas/Effort/docs/Effort_API_Design.md
  web/Areas/Effort/docs/Effort_Data_Migration.sql
  web/Areas/Effort/docs/Effort_Database_Field_Mapping.md
  web/Areas/Effort/docs/Effort_EF_Migration_Plan.md
  web/Areas/Effort/docs/Effort_Proposed_Database_Schema.sql
  web/Areas/Effort/docs/Effort_System_Documentation.md
Due: none

Making sure assessment help link is visible to site team
  web/Areas/CTS/Services/CtsNavMenu.cs
Due: node scripts/lint-staged-dotnet.js --fix

patch(clinical-scheduler): Fixed rotation dropdown
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/rotation-service.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  test/ClinicalScheduler/RotationServiceTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/ServiceMappingExtensionsTests.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Extensions/ServiceMappingExtensions.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/ServiceDto.cs
  web/Areas/ClinicalScheduler/Services/RotationService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

patch(clinical-scheduler): Show all rotations for current/future years
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  test/ClinicalScheduler/RotationMappingExtensionsTests.cs
  test/ClinicalScheduler/ServiceMappingExtensionsTests.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Extensions/RotationMappingExtensions.cs
  web/Areas/ClinicalScheduler/Extensions/ServiceMappingExtensions.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/ServiceDto.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Adding CAHFS section pages and finishing up link collections
  VueApp/src/CAHFS/pages/CAHFSSection.vue
  VueApp/src/CAHFS/router/routes.ts
  VueApp/src/CMS/components/LinkCollections.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Fixing missing access code on VMACS roles
  web/Areas/RAPS/Controllers/RolesController.cs
  web/Areas/RAPS/Models/RoleCreateUpdate.cs
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
Due: prettier --write, node scripts/lint-staged-dotnet.js --fix, node scripts/lint-staged-cshtml.js --fix

Login and section route fixes
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/CAHFS/pages/CAHFSSection.vue
  VueApp/src/CAHFS/router/routes.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Fixing links
  VueApp/src/CAHFS/pages/CAHFSSection.vue
  VueApp/src/CMS/components/ContentBlock.vue
  web/Controllers/LayoutController.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Update .gitignore
  .gitignore
Due: none
