Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

test(router): stop guard tests loading page components
  VueApp/src/CMS/__tests__/router-canonicalization.test.ts
  VueApp/src/CMS/router/index.ts
  VueApp/src/Personnel/__tests__/router-permissions.test.ts
  VueApp/src/Personnel/router/index.ts
  VueApp/src/shared/__tests__/guarded-stub-router.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Addresses code review
  .oxlintrc.json
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  web/Areas/Directory/Models/IndividualSearchResult.cs
  web/Areas/Directory/Models/LdapUserContact.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Classes/SQLContext/EquipmentLoanContext.cs
  web/Classes/SQLContext/IDCardsContext.cs
  web/Classes/SQLContext/KeysContext.cs
  web/Classes/SQLContext/PPSContext.cs
  web/Classes/UserInfoServiceCollectionExtensions.cs
  web/wwwroot/css/directory.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(phone): Remove Mapperly-generated code quality errors
  web/Areas/Personnel/Models/PersonnelMapper.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(ci): move the Jenkins backend test step to MTP syntax
  JenkinsFile
Due: none

chore(ci): keep the test output dir off the deploy targets
  JenkinsFile
Due: none

chore(ci): stop replicating the workspace tree onto the webroots
  JenkinsFile
Due: none

build(test): move dotnet test to Microsoft.Testing.Platform mode
  .github/workflows/tests.yml
  JenkinsFile
  global.json
  scripts/test-dotnet.js
  test/Viper.test.csproj
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Displays future and current students in directory
  test/Directory/DirectoryControllerTests.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(nav): load left nav on the /2 root when a query string is present
  web/wwwroot/js/site.js
Due: none

Code review updates
  web/Properties/launchSettings.json
  web/Views/Shared/_VIPERLayout.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

test(clinical-scheduler,effort): serialize tests sharing HttpHelper.Cache
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/Integration/PermissionServiceIntegrationTest.cs
  test/ClinicalScheduler/Integration/ServiceLayerIntegrationTest.cs
  test/ClinicalScheduler/PermissionsControllerTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/ScheduleEditServiceRollbackTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/SchedulePermissionServiceTest.cs
  test/Effort/EffortTypesControllerIntegrationTests.cs
  test/Effort/Integration/EffortPermissionIntegrationTests.cs
  test/Effort/PercentAssignTypesControllerIntegrationTests.cs
  test/HttpHelperCacheCollection.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): require Duo 2FA on RAPS pages and guard unauthenticated endpoints
  test/RAPS/RapsControllerAuthorizationTests.cs
  test/RAPS/RapsSecurityServiceTests.cs
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/Areas/RAPS/Controllers/AuditController.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Services/RAPSSecurityService.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(auth): only set the Duo failure message when Duo actually fails
  test/Classes/DuoAuthenticationRequirementTests.cs
  web/Classes/DuoAuthenticationRequirement.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): invalidate the permission cache on every RAPS write
  test/Classes/UserHelperCacheTests.cs
  test/RAPS/RapsCacheInvalidationInterceptorTests.cs
  test/RAPS/RoleMembersControllerTests.cs
  test/RAPS/RoleTemplateCrudTests.cs
  test/RAPS/RoleTemplatesControllerTests.cs
  web/Areas/RAPS/Controllers/MemberPermissionsController.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Controllers/RoleMembersController.cs
  web/Areas/RAPS/Controllers/RolePermissionsController.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
  web/Areas/RAPS/Services/RAPSCacheService.cs
  web/Areas/RAPS/Services/RapsCacheInvalidationInterceptor.cs
  web/Areas/Students/Services/EmergencyContactService.cs
  web/Classes/UserHelper.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(raps): derive MembersController from ApiController
  test/RAPS/RapsControllerAuthorizationTests.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(auth): deny by default with an authorization FallbackPolicy
  test/Classes/AuthorizationFallbackTests.cs
  web/Areas/CMS/Controllers/CMSController.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Controllers/LayoutController.cs
  web/Controllers/LoggedInUserController.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore: ignore review-pr scratch files
  .gitignore
Due: none

fix(raps): Prevent failed permission PUTs
  test/RAPS/EmptyDateBindingTests.cs
  web/Areas/RAPS/Models/MemberPermissionCreateUpdate.cs
  web/Areas/RAPS/Models/RoleMemberCreateUpdate.cs
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Classes/Utilities/EmptyStringAsNullConverter.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(raps): do not hide user view roles on update
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/wwwroot/js/qtable.js
Due: node scripts/lint-staged-cshtml.js --fix

fix(policy): fix mininav link
  web/Views/Shared/Components/MiniNav/Default.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-210 feat(cms): add link, image and table dialogs to the content editor
  VueApp/src/CMS/__tests__/content-block-edit-image-upload.test.ts
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/composables/use-cms-files.ts
  VueApp/src/CMS/file-types.ts
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/components/RichTextEditor.vue
  VueApp/src/components/__tests__/editor-html.test.ts
  VueApp/src/components/__tests__/rich-text-editor.test.ts
  VueApp/src/components/editor/EditorImageDialog.vue
  VueApp/src/components/editor/EditorLinkDialog.vue
  VueApp/src/components/editor/EditorTableDialog.vue
  VueApp/src/components/editor/editor-html.ts
  VueApp/src/styles/base.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(raps): code cleanup
  test/RAPS/EmptyDateBindingTests.cs
  web/Classes/Utilities/EmptyStringAsNullConverter.cs
Due: node scripts/lint-staged-dotnet.js --fix

Addresses code review
  VueApp/src/styles/colors.css
  web/Areas/CMS/Services/CmsUserPhotoService.cs
  web/Areas/Directory/Models/LdapUserContact.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/SQLContext/PPSContext.cs
  web/wwwroot/css/site.css
  web/wwwroot/css/userinfo.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Addresses failing tests
  test/Services/UserInfoServiceTests.cs
  test/Services/UserInfoServiceUnitTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

Addresses code review
  scripts/build-dotnet.js
  web/Classes/SQLContext/PPSContext.cs
  web/Models/PPS/EthnicityGender20210201.cs
  web/Models/PPS/UcpathMissingPerson20190821.cs
  web/Models/PPS/UcpathmissingpersonBk.cs
  web/wwwroot/css/userinfo.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Merges feature/userinfo into Development
  web/Classes/SQLContext/PPSContext.cs
  web/Models/PPS/EthnicityGender20210201.cs
  web/Models/PPS/UcpathMissingPerson20190821.cs
  web/Models/PPS/UcpathmissingpersonBk.cs
  web/wwwroot/css/userinfo.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-210 feat(cms): add link, image and table dialogs to the content editor
  VueApp/src/CMS/__tests__/content-block-edit-image-upload.test.ts
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/composables/use-cms-files.ts
  VueApp/src/CMS/file-types.ts
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/utils/url.ts
  VueApp/src/components/RichTextEditor.vue
  VueApp/src/components/__tests__/editor-html.test.ts
  VueApp/src/components/__tests__/rich-text-editor.test.ts
  VueApp/src/components/editor/EditorImageDialog.vue
  VueApp/src/components/editor/EditorLinkDialog.vue
  VueApp/src/components/editor/EditorTableDialog.vue
  VueApp/src/components/editor/editor-html.ts
  VueApp/src/shared/url-safety.ts
  VueApp/src/styles/base.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-210 feat(cms): link each content block to its display page
  VueApp/src/CMS/__tests__/content-block-display.test.ts
  VueApp/src/CMS/__tests__/content-blocks.test.ts
  VueApp/src/CMS/__tests__/test-utils.ts
  VueApp/src/CMS/components/ContentBlock.vue
  VueApp/src/CMS/pages/ContentBlockView.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/router/routes.ts
  test/CMS/CMSContentControllerTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): Dynamic login screen
  DESIGN.md
  PRODUCT.md
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/assets/UCDSVMLogo.png
  VueApp/src/assets/logo-vetmed-stacked-lockup.avif
  VueApp/src/assets/logo-vetmed-stacked-lockup.png
  VueApp/src/assets/rod-of-asclepius-white.avif
  VueApp/src/assets/rod-of-asclepius-white.png
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  test/Classes/Utilities/WelcomePageHelperTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/Utilities/WelcomePageHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/Views/Shared/_ViperBrand.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
  web/wwwroot/images/UCDSVMLogo.png
  web/wwwroot/images/login/photo-guinea-pig.avif
  web/wwwroot/images/login/photo-guinea-pig.jpg
  web/wwwroot/images/login/photo-horse-foal.avif
  web/wwwroot/images/login/photo-horse-foal.jpg
  web/wwwroot/images/login/photo-ophthalmology.avif
  web/wwwroot/images/login/photo-ophthalmology.jpg
  web/wwwroot/images/login/photo-svm-building.avif
  web/wwwroot/images/login/photo-svm-building.jpg
  web/wwwroot/images/login/photo-vetmed-admin.avif
  web/wwwroot/images/login/photo-vetmed-admin.jpg
  web/wwwroot/images/login/rod-of-asclepius-white.avif
  web/wwwroot/images/login/rod-of-asclepius-white.png
  web/wwwroot/images/logo-vetmed-stacked-lockup.avif
  web/wwwroot/images/logo-vetmed-stacked-lockup.png
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): resolve hero images under /2 base path
  web/Views/Home/Welcome.cshtml
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/styles/base.css
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  VueApp/src/composables/__tests__/require-login.test.ts
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): add Entra ID login alongside CAS
  DESIGN.md
  PRODUCT.md
  test/Classes/DuoAuthenticationRequirementTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/AuthenticationSettings.cs
  web/Classes/DuoAuthenticationRequirement.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/LoginProviders.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Removes empty alt photo and fixes extra Insight error message
  test/CMS/CMSUserPhotoControllerTests.cs
  test/CMS/CmsUserPhotoServiceTests.cs
  test/Services/UserInfoServiceUnitTests.cs
  web/Areas/CMS/Controllers/CMSUserPhotoController.cs
  web/Areas/CMS/Services/CmsUserPhotoService.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(session): use ~/ so Refresh Session keeps the /2 PathBase
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

feat(session): serve session expiry from VIPER 2, not the legacy CFM
  test/Classes/AuthorizationFallbackTests.cs
  test/Classes/SessionTimeoutServiceTests.cs
  test/Controllers/SessionTimeoutControllerTests.cs
  web/Classes/Utilities/SessionTimeoutService.cs
  web/Controllers/HomeController.cs
  web/Controllers/SessionTimeoutController.cs
  web/Models/SessionTimeoutCheck.cs
  web/Models/SessionTimeoutStatus.cs
  web/Program.cs
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
