Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

VPR-141 fix(healthchecks): stream dispose, path match, 60s rollover
  web/Classes/HealthChecks/AdaptivePollingHealthCheck.cs
  web/Classes/HealthChecks/DiskSpaceHealthCheck.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/wwwroot/js/healthchecks-ui-extras.js
Due: node scripts/lint-staged-dotnet.js --fix

VPR-143 fix(cms): drop vestigial OrderBy; sanitize remote IP in 404 log
  web/Areas/CMS/Data/CMS.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-143 fix(cms): inject ILogger<CMS> so [CMS-FILE-404] actually fires
  web/Areas/CMS/Controllers/CMSController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(healthchecks): resolve URLs under /2 path base
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/wwwroot/css/healthchecks-ui-branding.css
  web/wwwroot/healthchecks-ui-logo.png
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-141 docs(healthchecks): drop stale PR references from comments
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(healthchecks): restore Response.Body on pipeline exception
  web/Classes/HealthChecks/HealthCheckExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(tooling): add fallow + jscpd with regression-gated CI
  .github/workflows/code-quality.yml
  .gitignore
  .jscpd.json
  VueApp/.fallowrc.json
  VueApp/tsconfig.json
  package-lock.json
  package.json
  scripts/audit-fallow.js
  scripts/audit-jscpd-regression.js
  scripts/audit-jscpd.js
  scripts/audit.js
  scripts/lint-any.js
  scripts/lint-staged-fallow.js
  scripts/lint-staged-jscpd.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor: remove dead code surfaced by fallow (Phase 1)
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CAHFS/assets/cahfs.css
  VueApp/src/CMS/assets/cms.css
  VueApp/src/CTS/pages/CourseList.vue
  VueApp/src/CTS/pages/MyAssessmentCharts.vue
  VueApp/src/ClinicalScheduler/constants/permission-messages.ts
  VueApp/src/ClinicalScheduler/constants/schedule-config.ts
  VueApp/src/ClinicalScheduler/services/error-transformer.ts
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
  VueApp/src/Students/components/PhotoGallery/PhotoGrid.vue
  VueApp/src/Students/components/PhotoGallery/PhotoList.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/components/icons/IconCommunity.vue
  VueApp/src/components/icons/IconDocumentation.vue
  VueApp/src/components/icons/IconEcosystem.vue
  VueApp/src/components/icons/IconSupport.vue
  VueApp/src/components/icons/IconTooling.vue
  VueApp/src/composables/DateFunctions.ts
  VueApp/src/composables/QuasarConfig.ts
  VueApp/src/config/colors.ts
  VueApp/src/layouts/ViperFooter.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(clinical-scheduler): drop orphaned store cluster (Phase 2)
  VueApp/src/ClinicalScheduler/composables/use-schedule-normalization.ts
  VueApp/src/ClinicalScheduler/stores/permissions/index.ts
  VueApp/src/ClinicalScheduler/stores/schedule-actions.ts
  VueApp/src/ClinicalScheduler/stores/schedule-cache.ts
  VueApp/src/ClinicalScheduler/stores/schedule-state.ts
  VueApp/src/ClinicalScheduler/stores/schedule.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor: remove unused type exports (Phase 3)
  VueApp/src/CTS/types/index.ts
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/services/clinician-service.ts
  VueApp/src/ClinicalScheduler/services/instructor-schedule-service.ts
  VueApp/src/ClinicalScheduler/services/page-data-service.ts
  VueApp/src/ClinicalScheduler/services/permission-service.ts
  VueApp/src/ClinicalScheduler/stores/permissions-utils.ts
  VueApp/src/ClinicalScheduler/types/api-responses.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/ClinicalScheduler/types/rotation-types.ts
  VueApp/src/ClinicalScheduler/utils/schedule-update-helpers.ts
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/services/harvest-service.ts
  VueApp/src/Effort/types/dashboard-types.ts
  VueApp/src/Effort/types/evaluation-types.ts
  VueApp/src/Effort/types/harvest-types.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/report-types-extended.ts
  VueApp/src/Effort/types/report-types.ts
  VueApp/src/Effort/types/verification-types.ts
  VueApp/src/composables/validation-error.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(emergency-contact): extract shared page shell
  VueApp/src/Students/EmergencyContact/components/EmergencyContactPageShell.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(router): extract createSpaRouter factory
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/router/index.ts
  VueApp/src/CTS/router/index.ts
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/Computing/router/index.ts
  VueApp/src/Effort/router/index.ts
  VueApp/src/Students/router/index.ts
  VueApp/src/shared/createSpaRouter.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(effort): extract DialogSubmitActions component
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/DialogSubmitActions.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract PercentAssignmentFormFields
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentFormFields.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor: migrate CSS @import to JS-side imports (Phase 4c)
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): label dialogs and add StatusBadge for AA contrast
  VueApp/src/CTS/pages/ManageBundleCompetencies.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageSessionCompetencies.vue
  VueApp/src/CTS/pages/MyAssessments.vue
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/ClinicalEffortPreviewTable.vue
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/CourseAddDialog.vue
  VueApp/src/Effort/components/CourseEditDialog.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/CourseLinkDialog.vue
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/InstructorAddDialog.vue
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/components/LeaveEditorModal.vue
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentTable.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/components/RolloverAssignmentTable.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/EffortTypeList.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/pages/UnitList.vue
  VueApp/src/Effort/utils/format.ts
  VueApp/src/components/GenericError.vue
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/components/StatusBadge.vue
  VueApp/src/config/colors.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract EffortReportPage layout shell
  VueApp/src/Effort/components/EffortReportPage.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(layouts): extract shared chrome components from ViperLayout
  VueApp/src/layouts/EmulationBanner.vue
  VueApp/src/layouts/FooterLinks.vue
  VueApp/src/layouts/ViperBrandButton.vue
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract EffortRecordSharedFields from dialogs
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EffortRecordSharedFields.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract InstructorPageShell for breadcrumbs and states
  VueApp/src/Effort/components/InstructorPageShell.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract AsyncOperationDialog shell for preview dialogs
  VueApp/src/Effort/components/AsyncOperationDialog.vue
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract TermTable for term selection rows
  VueApp/src/Effort/components/TermTable.vue
  VueApp/src/Effort/pages/TermSelection.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(cts): collapse hardcoded CourseStudents rows into a v-for
  VueApp/src/CTS/pages/CourseStudents.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): centralize report context loading in BaseReportService
  test/Effort/BaseReportServiceTests.cs
  test/Effort/ExcelGenerationTests.cs
  web/Areas/Effort/Services/BaseReportService.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(scheduler): share schedule filter LINQ via IScheduleEntity
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleQueryExtensions.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
  web/Models/CTS/IScheduleEntity.cs
  web/Models/CTS/InstructorSchedule.cs
  web/Models/CTS/StudentSchedule.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(students): consolidate StudentGroupService photo + Ross helpers
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(cms): collapse Codecs UU/XX encoders onto shared map helpers
  web/Areas/CMS/Data/Codecs.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): extract CalculateWeightedAverage in EvaluationReportService
  web/Areas/Effort/Services/EvaluationReportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(tooling): honor LINT_BLOCK_ON_WARNINGS in fallow + jscpd lint stages
  scripts/lint-staged-fallow.js
  scripts/lint-staged-jscpd.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(effort): dedupe harvest course lookup on variable-unit CRNs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-104 fix: variable-unit harvest mapping and retry button contrast
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  web/Areas/Effort/Services/Harvest/HarvestContext.cs
  web/Areas/Effort/Services/Harvest/HarvestPhaseBase.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(security): tighten static-analysis tooling
  .github/workflows/codeql.yml
  test/Viper.test.csproj
  web/Viper.csproj
Due: none

ci: use fallow dead-code for whole-project regression baseline
  .github/workflows/code-quality.yml
Due: none

ci: install VueApp deps + tolerate fallow baseline exit code
  .github/workflows/code-quality.yml
Due: none

ci: switch fallow regression gate to audit --base mode
  .github/workflows/code-quality.yml
Due: none

VPR-104 refactor(effort): collapse courseId if/else to ternary
  web/Areas/Effort/Services/Harvest/HarvestPhaseBase.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): enable remaining Vue a11y rules and fix violations
  VueApp/eslint.config.mjs
  VueApp/src/CTS/pages/CompetenciesBundleReport.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-141 feat(healthchecks): add /health endpoints and UI dashboard
  JenkinsFile
  web/Classes/HealthChecks/AdaptivePollingHealthCheck.cs
  web/Classes/HealthChecks/AwsSsmHealthCheck.cs
  web/Classes/HealthChecks/DiskSpaceHealthCheck.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Classes/HealthChecks/HttpEndpointHealthCheck.cs
  web/Classes/HealthChecks/LdapHealthCheck.cs
  web/Classes/HealthChecks/SmtpHealthCheck.cs
  web/Program.cs
  web/Viper.csproj
  web/appsettings.json
  web/wwwroot/css/healthchecks-ui-branding.css
  web/wwwroot/js/healthchecks-ui-extras.js
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): redesign MyAssessments and AssessmentBubble
  VueApp/src/CTS/__tests__/assessment-bubble.test.ts
  VueApp/src/CTS/assets/cts.css
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/pages/MyAssessments.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix
