Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

refactor(cms): collapse Codecs UU/XX encoders onto shared map helpers
  web/Areas/CMS/Data/Codecs.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 fix(layout): full-page nav for cross-SPA links in data-driven left nav
  VueApp/src/layouts/LeftNav.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-54 feat(scheduler): Hangfire-backed scheduler with RAPS role-refresh
  .env.local.example
  package-lock.json
  test/HealthChecks/HangfireHealthCheckTests.cs
  test/RAPS/RapsRoleRefreshScheduledJobTests.cs
  test/Scheduler/HangfireJobLoggingFilterTests.cs
  test/Scheduler/ScheduledJobDiscoveryTests.cs
  test/Scheduler/ScheduledJobRunnerTests.cs
  test/Viper.test.csproj
  web/Areas/RAPS/Jobs/RapsRoleRefreshScheduledJob.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/RoleViews.cs
  web/Areas/Scheduler/Controllers/.gitkeep
  web/Areas/Scheduler/Models/ScheduledJobContext.cs
  web/Areas/Scheduler/README.md
  web/Areas/Scheduler/Services/.gitkeep
  web/Areas/Scheduler/Services/IScheduledJob.cs
  web/Areas/Scheduler/Services/ScheduledJobAttribute.cs
  web/Areas/Scheduler/Services/ScheduledJobDiscovery.cs
  web/Areas/Scheduler/Services/ScheduledJobRegistry.cs
  web/Areas/Scheduler/Services/ScheduledJobRunner.cs
  web/Classes/ForwardedHeadersExtensions.cs
  web/Classes/HealthChecks/HangfireHealthCheck.cs
  web/Classes/Scheduler/HangfireDashboardAuthorizationFilter.cs
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Classes/Scheduler/HangfireJobLoggingFilter.cs
  web/Program.cs
  web/Views/Shared/Components/MainNav/MainNav.cs
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-104 feat(cts): redesign MyAssessments with Compact + Timeline modes
  VueApp/src/CTS/__tests__/assessment-bubble.test.ts
  VueApp/src/CTS/assets/cts.css
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/components/EpaProgressionChart.vue
  VueApp/src/CTS/components/EpaVoiceThread.vue
  VueApp/src/CTS/pages/MyAssessments.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(lint): disable prefer-importing-vitest-globals
  .oxlintrc.json
Due: none

VPR-54 fix(scheduler): point dashboard "Back to site" at Computing area
  web/Classes/Scheduler/HangfireExtensions.cs
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 fix(scheduler): render Razor 403 view for dashboard auth denials
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 fix(scheduler): render Razor 403 view for dashboard auth denials
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(test): migrate test project from xUnit v2 to v3
  test/Viper.test.csproj
Due: none

chore(deps): remove unused devDependencies
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/vite-watch.js
  package-lock.json
  package.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write

chore(codeql): exclude generated build artifacts from scanning
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

fix: dispose disposables on exception paths
  web/Areas/CMS/Data/CMS.cs
  web/Areas/Computing/Services/BiorenderStudentLookup.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
  web/Classes/Utilities/F5HttpRequest.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: catch specific exceptions across CTS/RAPS/shared
  web/Areas/CTS/Controllers/BundleCompetencyController.cs
  web/Areas/CTS/Controllers/BundleCompetencyGroupController.cs
  web/Areas/CTS/Controllers/BundleController.cs
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/CTS/Controllers/DomainController.cs
  web/Areas/CTS/Controllers/EpaController.cs
  web/Areas/CTS/Controllers/LevelsController.cs
  web/Areas/CTS/Controllers/RoleController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/Computing/Services/BiorenderStudentLookup.cs
  web/Areas/RAPS/Controllers/AdGroupsController.cs
  web/Areas/RAPS/Controllers/RoleMembersController.cs
  web/Areas/RAPS/Controllers/RolesController.cs
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Classes/ClaimsTransformer.cs
  web/Classes/SitemapMiddleware.cs
  web/Classes/UserHelper.cs
  web/Classes/Utilities/ActiveDirectoryService.cs
  web/Classes/Utilities/F5HttpRequest.cs
  web/Classes/Utilities/IamApi.cs
  web/Program.cs
  web/Services/EmailService.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: tighten foreach-to-LINQ where it improves the call site
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Services/CrestCourseService.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
  web/Areas/RAPS/Services/RoleViews.cs
  web/Classes/UserHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

perf: replace ContainsKey+indexer with TryGetValue
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(tests): replace Returns((T?)null) casts with ReturnsNull()
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/IntegrationTestBase.cs
  test/Effort/CourseRelationshipsControllerTests.cs
  test/Effort/CoursesControllerTests.cs
  test/Effort/EffortIntegrationTestBase.cs
  test/Effort/EffortRecordsControllerTests.cs
  test/Effort/EffortTypesControllerTests.cs
  test/Effort/InstructorsControllerTests.cs
  test/Effort/PercentAssignTypesControllerTests.cs
  test/Effort/PercentagesControllerTests.cs
  test/Effort/ReportsControllerTests.cs
  test/Effort/UnitsControllerTests.cs
  test/Effort/VerificationControllerTests.cs
  test/Effort/VerificationServiceTests.cs
  test/RAPS/RolesTests.cs
  test/Services/EmailServiceTests.cs
  test/Students/EmergencyContactControllerTests.cs
  test/Students/PhotoGalleryControllerTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore: style sweep for remaining CodeQL alerts
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  web/Areas/CMS/Controllers/CMSController.cs
  web/Areas/Curriculum/Services/TermCodeService.cs
  web/Areas/Directory/Models/LdapUserContact.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Areas/Students/Services/GradYearClassLevel.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore: additional CodeQL style fixes (ternary, complex-block, implicit-conversion)
  VueApp/src/Effort/__tests__/course-import-dialog.test.ts
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Areas/Students/Services/GradYearClassLevel.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

refactor: convert foreach-add patterns to LINQ Select
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/Directory/Models/IndividualSearchResult.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(tests): narrow catch(Exception) to specific types in test helpers
  test/CTS/AssessmentControllerTest.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/RotationServiceTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(coderabbit): disable unsolicited PR summaries
  .coderabbit.yaml
Due: none

chore(resharper): assign HttpRequestMessage properties inside using
  web/Classes/Utilities/F5HttpRequest.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(resharper): add CancellationToken arg to FindAsync mock (xUnit1051)
  test/RAPS/RolesTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(resharper): clean up warnings from codeql/12 style sweep
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(resharper): drop useless ToList() before LINQ-to-objects Select
  web/Areas/Directory/Models/IndividualSearchResult.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(resharper): drop redundant namespace qualifiers in test catch filters
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/RotationServiceTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: remove useless upcasts via record types and default(T)
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/EmailTemplates/Views/Shared/_EmailLayout.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(resharper): replace placeholder when-true filters and drop redundant qualifiers
  web/Areas/CTS/Controllers/BundleCompetencyController.cs
  web/Areas/CTS/Controllers/BundleCompetencyGroupController.cs
  web/Areas/CTS/Controllers/BundleController.cs
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/CTS/Controllers/DomainController.cs
  web/Areas/CTS/Controllers/EpaController.cs
  web/Areas/CTS/Controllers/LevelsController.cs
  web/Areas/CTS/Controllers/RoleController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/RAPS/Controllers/AdGroupsController.cs
  web/Areas/RAPS/Controllers/RoleMembersController.cs
  web/Areas/RAPS/Controllers/RolesController.cs
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Classes/ClaimsTransformer.cs
  web/Classes/SitemapMiddleware.cs
  web/Classes/UserHelper.cs
  web/Classes/Utilities/ActiveDirectoryService.cs
  web/Classes/Utilities/F5HttpRequest.cs
  web/Classes/Utilities/IamApi.cs
  web/Program.cs
  web/Services/EmailService.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(security): close remaining CodeQL security alerts
  scripts/lib/lint-staged-common.js
  scripts/lint-any.js
  web/Program.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

fix: close CodeQL correctness alerts
  test/CTS/AssessmentControllerTest.cs
  web/Areas/CMS/Models/CMSFile.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Models/AuditRow.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
  web/Areas/Effort/Services/PercentageService.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
  web/Areas/RAPS/Models/RoleTemplateSimplified.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Classes/Utilities/AcademicYearHelper.cs
  web/Controllers/HomeController.cs
  web/Models/Students/StudentClassYear.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(resharper): silence PR-scoped gate warnings introduced by codeql/3
  web/Areas/CMS/Models/CMSFile.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
Due: node scripts/lint-staged-dotnet.js --fix

test(raps): cover RoleTemplateSimplified constructor mapping
  test/RAPS/RoleTemplateSimplifiedTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-138 fix(cms): harden DownloadZip path handling and ZIP entries
  test/CMS/DownloadZipSecurityTests.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Services/CmsFilePathSafety.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(routing): let MVC controllers win over Vue SPA shell on shared prefixes
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): remove dead null-checks flagged by CA1508
  test/CTS/AssessmentControllerTest.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/CTS/Models/StudentEpaAssessment.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): materialize IEnumerable to avoid multi-enumeration
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/Effort/CourseRelationshipsControllerTests.cs
  test/Effort/InstructorsControllerTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Views/Shared/Components/VueTableDefault/VueTableDefault.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): clean up stale XML doc comments
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/ClinicalScheduleController.cs
  web/Areas/CTS/Services/AuditService.cs
  web/Areas/CTS/Services/CrestCourseService.cs
  web/Areas/CTS/Services/CtsSecurityService.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/RAPSSecurityService.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/Students/Controllers/DvmController.cs
  web/Areas/Students/Services/StudentList.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
  web/Classes/Utilities/ActiveDirectoryService.cs
  web/Classes/Utilities/IamApi.cs
  web/Classes/Utilities/LdapService.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(quality): clear ReSharper PR-gate + CodeQL review findings
  scripts/audit-resharper-regression.js
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Data/Codecs.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Models/RoleTemplateSimplified.cs
  web/Areas/Students/Services/EmergencyContactExportService.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/StudentGroupService.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix
