Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix, node scripts/lint-staged-cshtml.js --fix

Adding network share mapping commands to deployment script
  JenkinsFile
Due: none

Changes due to merge with master
  VueApp/src/CAHFS/App.vue
  VueApp/src/CAHFS/cahfs.ts
  VueApp/src/CAHFS/index.html
  VueApp/vite.config.ts
  web/Views/Shared/Components/MainNav/MainNav.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Changes due to merge with master
  VueApp/src/CAHFS/App.vue
  VueApp/src/CAHFS/cahfs.ts
  VueApp/vite.config.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Additional fixes
  VueApp/src/CAHFS/cahfs.ts
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/cms.ts
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/CMS/router/index.ts
  web/Controllers/LayoutController.cs
  web/Views/Shared/Components/MainNav/MainNav.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

2nd draft of planning docs
  web/Areas/Effort/docs/EFFORT_MASTER_PLAN.md
  web/Areas/Effort/docs/EffortMigrationAnalysis_20250926_162054.txt
  web/Areas/Effort/docs/Effort_API_Design.md
  web/Areas/Effort/docs/Effort_Data_Migration.sql
  web/Areas/Effort/docs/Effort_Database_Field_Mapping.md
  web/Areas/Effort/docs/Effort_EF_Migration_Plan.md
  web/Areas/Effort/docs/Effort_Proposed_Database_Schema.sql
Due: none

Remediation strategies
  web/Areas/Effort/docs/EffortMigrationAnalysis_20250926_162054.txt
Due: none

UserInfo first draft
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/IDCardResult.cs
  web/Areas/Directory/Models/InstinctResult.cs
  web/Areas/Directory/Models/KeyResult.cs
  web/Areas/Directory/Models/LoanResult.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/SQLContext/KeysContext.cs
  web/Classes/SQLContext/PPSContext.cs
  web/Program.cs
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix, node scripts/lint-staged-cshtml.js --fix

Use new UserInfo page
  web/Areas/Directory/Views/Card.cshtml
Due: prettier --write, node scripts/lint-staged-cshtml.js --fix

Fixes typo
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adding reordering and optional grouping
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CAHFS/pages/WebReports.vue
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
  web/Areas/CMS/Models/DTOs/UpdateLinkCollectionTagCategoryDto.cs
  web/Areas/CMS/Models/DTOs/UpdateLinkOrderDto.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Sorting tags
  VueApp/src/CMS/components/LinkCollections.vue
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(students): VPR-27 - Class Year gallery
  .oxlintrc.json
  VueApp/src/Students/components/PhotoGallery/PhotoGrid.vue
  VueApp/src/Students/components/PhotoGallery/PhotoList.vue
  VueApp/src/Students/components/PhotoGallery/PhotoSheet.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoCard.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoDialog.vue
  VueApp/src/Students/composables/use-photo-url.ts
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/router/index.ts
  VueApp/src/Students/router/routes.ts
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/Students/stores/photo-gallery-store.ts
  VueApp/src/composables/ViperFetch.ts
  VueApp/src/composables/auth-error.ts
  VueApp/src/composables/validation-error.ts
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/layouts/ViperLayout.vue
  package-lock.json
  package.json
  scripts/verify-build.js
  web/Areas/Students/Controller/PhotoGalleryController.cs
  web/Areas/Students/Models/PhotoGalleryViewModel.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Areas/Students/Services/StudentGroupService.cs
  web/Classes/SQLContext/SISContext.cs
  web/Models/SIS/StudentDesignation.cs
  web/Program.cs
  web/Viper.csproj
  web/wwwroot/images/nopic.jpg
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

patch(students): VPR-27 - Class Year gallery
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/services/photo-gallery-service.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

patch(students): VPR-27 - Class Year gallery
  web/Areas/Students/Controller/PhotoGalleryController.cs
Due: node scripts/lint-staged-dotnet.js --fix

patch(students): VPR-27 - Using ApiController for Photo Gallery
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  web/Areas/Students/Controller/PhotoGalleryController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

patch(students): VPR-27 - Fixing permissions for photo gallery
  web/Areas/Students/Controller/PhotoGalleryController.cs
Due: node scripts/lint-staged-dotnet.js --fix

patch(students): VPR-27 - Fixing photo path issues
  VueApp/src/Students/composables/use-photo-url.ts
  web/Areas/Students/Services/PhotoService.cs
  web/appsettings.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(students): VPR-27 - Add mobile-responsive photo gallery
  VueApp/src/Students/components/PhotoGallery/StudentPhotoDialog.vue
  VueApp/src/composables/validation-error.ts
  web/Areas/Students/Controller/PhotoGalleryController.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(students): VPR-27 - Addressing additional code review comments
  VueApp/src/composables/ViperFetch.ts
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Classes/SQLContext/SISContext.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

patch(perf): Fixed parallel statement in JenkinsFile
  JenkinsFile
Due: none

refactor(ci): Keepping previous stage names
  JenkinsFile
Due: none

perf(ci): Adding back custom checkout step
  JenkinsFile
Due: none

perf(ci): Further Jenkins improvements
  JenkinsFile
  VueApp/package.json
Due: none

perf(ci): Using `npm install` instead of `npm ci`
  JenkinsFile
Due: none

patch(ci): Fixing checkout to avoid `git clean` deleting node_modules
  JenkinsFile
Due: none

fix(ci): Attempting another approach to retain node_modules
  JenkinsFile
Due: none

Testing the new robocopy settings by using AdminAppsSharedLibraryDev
  JenkinsFile
Due: none

(security)clinicalscheduler: VPR-30 Fix "Log entries created from user input"
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/PermissionValidator.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Utilities/LogSanitizer.cs
Due: node scripts/lint-staged-dotnet.js --fix

(security)clinicalscheduler: VPR-30 Fix "User-controlled bypass of sensitive method"
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Addressing automated code review concerns
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Utilities/LogSanitizer.cs
Due: node scripts/lint-staged-dotnet.js --fix

(refactor)clinicalscheduler: VPR-30 Addressing additional CodeQL issues
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/PermissionValidator.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Utilities/LogSanitizer.cs
  web/Classes/Utilities/LogSanitizer.cs
Due: node scripts/lint-staged-dotnet.js --fix

(refactor)clinicalscheduler: VPR-30 Addressing additional CodeQL issues
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Classes/Utilities/LogSanitizer.cs
Due: node scripts/lint-staged-dotnet.js --fix

(security)clinicalscheduler: VPR-30 Fix "Log entries created from user input"
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(clinical-scheduler): Consistently using implicit field names
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
Due: node scripts/lint-staged-dotnet.js --fix

(security)clinicalscheduler: VPR-30 Fix additional CodeQL issues
  scripts/lib/script-utils.js
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

(security)clinicalscheduler: VPR-30 Addressing code review
  scripts/lib/script-utils.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Changing JenkinsFile back to AdminAppsSharedLibrary from Dev version
  JenkinsFile
Due: none

feat(students): VPR-28 - Student list
  VueApp/src/Students/components/PhotoGallery/PhotoGrid.vue
  VueApp/src/Students/components/PhotoGallery/PhotoList.vue
  VueApp/src/Students/components/PhotoGallery/PhotoSheet.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoCard.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoDialog.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  web/Areas/Curriculum/Services/TermCodeService.cs
  web/Areas/Students/Controller/PhotoGalleryController.cs
  web/Areas/Students/Models/PhotoGalleryViewModel.cs
  web/Areas/Students/Services/StudentGroupService.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,jsx,ts,tsx}
  prettier --write: (((any of: {VueApp,scripts}/**/*.{js,jsx,ts,tsx}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})) or (any of: web/**/*.cshtml)
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-dotnet.js --fix: (any of: web/**/*.cs) or (any of: {web,test}/**/*.cs)
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
