Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

fix(auth): reject encoded backslashes in the validated path
  .review-pr-ignored-312
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/require-login.test.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(auth): drop the allow list that allowed everything
  .review-pr-ignored-312
  VueApp/src/composables/RequireLogin.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-151 feat(auth): Dynamic login screen
  DESIGN.md
  PRODUCT.md
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/assets/UCDSVMLogo.png
  VueApp/src/assets/logo-vetmed-stacked-lockup.avif
  VueApp/src/assets/logo-vetmed-stacked-lockup.png
  VueApp/src/assets/rod-of-asclepius-white.avif
  VueApp/src/assets/rod-of-asclepius-white.png
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  test/Classes/Utilities/WelcomePageHelperTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/Utilities/WelcomePageHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/Views/Shared/_ViperBrand.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
  web/wwwroot/images/UCDSVMLogo.png
  web/wwwroot/images/login/photo-guinea-pig.avif
  web/wwwroot/images/login/photo-guinea-pig.jpg
  web/wwwroot/images/login/photo-horse-foal.avif
  web/wwwroot/images/login/photo-horse-foal.jpg
  web/wwwroot/images/login/photo-ophthalmology.avif
  web/wwwroot/images/login/photo-ophthalmology.jpg
  web/wwwroot/images/login/photo-svm-building.avif
  web/wwwroot/images/login/photo-svm-building.jpg
  web/wwwroot/images/login/photo-vetmed-admin.avif
  web/wwwroot/images/login/photo-vetmed-admin.jpg
  web/wwwroot/images/login/rod-of-asclepius-white.avif
  web/wwwroot/images/login/rod-of-asclepius-white.png
  web/wwwroot/images/logo-vetmed-stacked-lockup.avif
  web/wwwroot/images/logo-vetmed-stacked-lockup.png
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): resolve hero images under /2 base path
  web/Views/Home/Welcome.cshtml
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/shared/create-spa-router.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  VueApp/src/composables/__tests__/require-login.test.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

refactor(auth): harden internal-path validation and share the app base
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  VueApp/src/shared/application-base.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(auth): resolve sendBackTo deep links safely and stop the guard loop
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/get-login-url.test.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  VueApp/src/shared/__tests__/application-base.test.ts
  VueApp/src/shared/application-base.ts
  VueApp/src/shared/bootstrap-spa.ts
  VueApp/src/shared/create-spa-router.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(a11y): give the error and session dialogs a visible close control
  VueApp/src/components/GenericError.vue
  VueApp/src/components/SessionTimeout.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(ui): render every re-authentication prompt from one button
  VueApp/src/components/GenericError.vue
  VueApp/src/components/LoginButton.vue
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/components/__tests__/login-button.test.ts
  VueApp/src/layouts/ProfilePic.vue
  VueApp/src/layouts/ViperLayout.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(auth): drop the allow list that allowed everything
  VueApp/src/composables/RequireLogin.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(cts): render the CTS page when sendBackTo targets the page itself
  VueApp/src/CTS/__tests__/cts-home-send-back-to.test.ts
  VueApp/src/CTS/pages/CtsHome.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-61 feat(auth): add Entra ID login alongside CAS
  DESIGN.md
  PRODUCT.md
  test/Classes/DuoAuthenticationRequirementTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Classes/AuthenticationSettings.cs
  web/Classes/DuoAuthenticationRequirement.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/LoginProviders.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(scripts): resolve pre-existing oxlint errors in build scripts
  scripts/jenkins-status.js
  scripts/launch-chrome-debug.js
  scripts/launch-open-browser.js
  scripts/lib/build-cache.js
  scripts/lint-any.js
  scripts/lint-staged-cshtml.js
  scripts/lint-staged-ts.js
  scripts/lint-staged-vue.js
  scripts/manage-mailpit.js
  scripts/run-parallel.js
  scripts/stop-dev-services.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(scripts): convert build scripts from CommonJS to ESM
  .oxlintrc.json
  package.json
  scripts/.eslintrc.js
  scripts/audit-fallow.js
  scripts/audit-jscpd-regression.js
  scripts/audit-jscpd.js
  scripts/audit-resharper-regression.js
  scripts/audit-resharper.js
  scripts/audit.js
  scripts/build-dotnet.js
  scripts/jenkins-status.js
  scripts/launch-chrome-debug.js
  scripts/launch-find-viper.js
  scripts/launch-open-browser.js
  scripts/lib/build-cache.js
  scripts/lib/critical-rules.js
  scripts/lib/jscpd-entry.js
  scripts/lib/lint-staged-common.js
  scripts/lib/script-utils.js
  scripts/lint-any.js
  scripts/lint-staged-cshtml.js
  scripts/lint-staged-css.js
  scripts/lint-staged-dotnet.js
  scripts/lint-staged-fallow.js
  scripts/lint-staged-jscpd.js
  scripts/lint-staged-runner.js
  scripts/lint-staged-ts.js
  scripts/lint-staged-vue.js
  scripts/manage-mailpit.js
  scripts/merge-to-dev.js
  scripts/package.json
  scripts/precommit-lint.js
  scripts/precommit.js
  scripts/run-backend.js
  scripts/run-parallel.js
  scripts/stop-dev-services.js
  scripts/test-dotnet.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(scripts): import fs and path in launch-find-viper
  scripts/launch-find-viper.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(scripts): guard process.argv[1] in ESM entry-point checks
  scripts/manage-mailpit.js
  scripts/stop-dev-services.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(auth): resolve sendBackTo deep links safely and stop the guard loop
  VueApp/src/CTS/__tests__/cts-home-send-back-to.test.ts
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/get-login-url.test.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  VueApp/src/shared/__tests__/application-base.test.ts
  VueApp/src/shared/application-base.ts
  VueApp/src/shared/bootstrap-spa.ts
  VueApp/src/shared/create-spa-router.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(students): finish the Razor to Vue migration for class years
  VueApp/src/Students/__tests__/student-class-year-permissions.test.ts
  VueApp/src/Students/pages/StudentClassYear.vue
  VueApp/src/Students/router/routes.ts
  web/Areas/Students/Controllers/StudentsController.cs
  web/Areas/Students/Views/Index.cshtml
  web/Areas/Students/Views/StudentClassYear.cshtml
  web/Areas/Students/Views/StudentClassYearImport.cshtml
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(raps): send CSRF token when applying a role template
  test/Classes/ApiResponseAttributeTests.cs
  test/RAPS/RoleMembersControllerTests.cs
  test/RAPS/RoleTemplatesControllerTests.cs
  web/Areas/RAPS/Controllers/RoleMembersController.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(csp): drop unsafe-eval from the built Vue SPA responses
  test/Classes/CspPolicyTests.cs
  web/Classes/CspPolicy.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): accept a create body without a role template id
  test/RAPS/RoleTemplateCreateUpdateTests.cs
  test/RAPS/RoleTemplateCrudTests.cs
  web/Areas/RAPS/Models/RoleTemplateCreateUpdate.cs
Due: node scripts/lint-staged-dotnet.js --fix

docs: warn against required primary keys on bound models
  CLAUDE.md
Due: none

chore(effort): enable AutoCreateGenericRCourse in Dev and Test
  web/Areas/Effort/EffortSettings.cs
  web/appsettings.Development.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

chore(deps): update Node.js to 24.19.0 and npm to 11.17.0
  JenkinsFile
  VueApp/package-lock.json
  VueApp/package.json
  package.json
Due: none
