Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

VPR-214 refactor(web): drop unused session registration
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-187 feat(deploy): persist the Data Protection key ring to a shared folder
  test/Classes/DataProtectionExtensionsTests.cs
  web/Classes/DataProtectionExtensions.cs
  web/Program.cs
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-188 feat(deploy): set the Hangfire shutdown timeout chain explicitly
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-217 fix(deploy): raise the ANCM shutdownTimeLimit off its 10s default
  web/Classes/Scheduler/HangfireExtensions.cs
  web/web.config
Due: node scripts/lint-staged-dotnet.js --fix

Fixes potential testing issue
  test/Services/UserInfoServiceUnitTests.cs
  web/Properties/launchSettings.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): add dynamic welcome/login screen
  DESIGN.md
  PRODUCT.md
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/assets/UCDSVMLogo.png
  VueApp/src/assets/logo-vetmed-stacked-lockup.avif
  VueApp/src/assets/logo-vetmed-stacked-lockup.png
  VueApp/src/assets/rod-of-asclepius-white.avif
  VueApp/src/assets/rod-of-asclepius-white.png
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  test/Classes/Utilities/WelcomePageHelperTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/Utilities/WelcomePageHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/Views/Shared/_ViperBrand.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
  web/wwwroot/images/UCDSVMLogo.png
  web/wwwroot/images/login/photo-guinea-pig.avif
  web/wwwroot/images/login/photo-guinea-pig.jpg
  web/wwwroot/images/login/photo-horse-foal.avif
  web/wwwroot/images/login/photo-horse-foal.jpg
  web/wwwroot/images/login/photo-ophthalmology.avif
  web/wwwroot/images/login/photo-ophthalmology.jpg
  web/wwwroot/images/login/photo-svm-building.avif
  web/wwwroot/images/login/photo-svm-building.jpg
  web/wwwroot/images/login/photo-vetmed-admin.avif
  web/wwwroot/images/login/photo-vetmed-admin.jpg
  web/wwwroot/images/login/rod-of-asclepius-white.avif
  web/wwwroot/images/login/rod-of-asclepius-white.png
  web/wwwroot/images/logo-vetmed-stacked-lockup.avif
  web/wwwroot/images/logo-vetmed-stacked-lockup.png
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/styles/base.css
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 perf(auth): cache /images for 30 days
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): add Entra ID login alongside CAS
  DESIGN.md
  PRODUCT.md
  VueApp/src/layouts/ProfilePic.vue
  VueApp/src/layouts/__tests__/profile-pic-logout.test.ts
  test/Classes/DuoAuthenticationRequirementTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/AuthenticationSettings.cs
  web/Classes/DuoAuthenticationRequirement.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/LoginProviders.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
  web/wwwroot/css/welcome.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): honor Entra front-channel logout and relay to VIPER 1
  test/Classes/AuthorizationFallbackTests.cs
  test/Classes/CspPolicyTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Classes/EntraSessionRevocationStoreTests.cs
  test/Controllers/EntraLogoutControllerTests.cs
  web/Classes/CspPolicy.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/EntraSessionRevocationStore.cs
  web/Controllers/EntraLogoutController.cs
  web/Program.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): let users switch and sign out of the right Entra account
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-61 style(css): clear the stylelint backlog in welcome.css
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

VPR-61 feat(auth): refuse Entra accounts with no VIPER user
  test/Controllers/HomeControllerTests.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/SignInProblem.cshtml
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/_WelcomeFooter.cshtml
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-61 chore(config): keep TEST on CAS only to mirror PROD
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
Due: none

perf(effort): style only used cells in Excel report header rows
  web/Areas/Effort/Services/BaseReportService.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
Due: node scripts/lint-staged-dotnet.js --fix

test: substitute SMTP in EmailService tests and disable PGO for tests
  test/Services/EmailServiceTests.cs
  test/Viper.test.csproj
  web/Services/EmailService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): add Entra ID login as a config switch from CAS
  PRODUCT.md
  VueApp/src/layouts/ProfilePic.vue
  VueApp/src/layouts/__tests__/profile-pic-logout.test.ts
  test/Classes/DuoAuthenticationRequirementTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerLoginProviderTests.cs
  web/Classes/AuthenticationSettings.cs
  web/Classes/DuoAuthenticationRequirement.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/LoginProviders.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): let users switch and sign out of the right Entra account
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Controllers/HomeControllerLoginProviderTests.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Controllers/HomeController.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): refuse Entra accounts with no VIPER user
  test/Controllers/HomeControllerLoginProviderTests.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/SignInProblem.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(ci): stop the test step from recompiling the web project
  JenkinsFile
Due: none

Fix PopulateSystemRolesAsync to include view-assigned roles and filter by active date window
  test/Services/UserInfoServiceUnitTests.cs
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/styles/base.css
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerLoginProviderTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): offer CAS and Entra ID side by side on the splash
  DESIGN.md
  PRODUCT.md
  test/Controllers/HomeControllerTests.cs
  web/Classes/AuthenticationSettings.cs
  web/Classes/LoginProviders.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/SignInProblem.cshtml
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/_WelcomeFooter.cshtml
  web/appsettings.Development.json
  web/appsettings.json
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Fix PopulateSystemRolesAsync to include view-assigned roles and filter by active date window
  web/Areas/Directory/Views/Card.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

docs: tighten CLAUDE.md and clarify when to edit code
  CLAUDE.md
Due: none
