Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): address github-code-quality warnings in audit service
  web/Areas/Effort/Services/EffortAuditService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): improve shadow schema verification and course deletion
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-18 Manual course import, edit and delete
  VueApp/src/Effort/__tests__/course-add-dialog.test.ts
  VueApp/src/Effort/__tests__/course-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/course-import-dialog.test.ts
  VueApp/src/Effort/components/CourseAddDialog.vue
  VueApp/src/Effort/components/CourseEditDialog.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/layouts/EffortLayout.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/composables/ViperFetch.ts
  test/Effort/CourseServiceTests.cs
  test/Effort/CoursesControllerTests.cs
  test/Effort/EffortIntegrationTestBase.cs
  test/Effort/Integration/EffortPermissionIntegrationTests.cs
  web/Areas/Effort/Controllers/CoursesController.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateCourseRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/ImportCourseRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateCourseRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateEnrollmentRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/BannerCourseDto.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/ICourseService.cs
  web/Areas/Effort/Services/IEffortAuditService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): consolidate error handling and simplify units logic
  VueApp/src/Effort/services/effort-service.ts
  web/Areas/Effort/Services/CourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-24 Add term-scoped URL routing
  VueApp/src/Effort/layouts/EffortLayout.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/router/routes.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract left nav and migrate to AutoMapper
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/layouts/EffortLayout.vue
  VueApp/src/layouts/ViperLayout.vue
  test/Effort/TermServiceTests.cs
  web/Areas/Effort/Constants/EffortPermissions.cs
  web/Areas/Effort/Extensions/EffortMappingExtensions.cs
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Services/TermService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(ui): make footer copyright year dynamic
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  web/Views/Shared/VIPERLayoutSimplified.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

fix(effort): correct top nav highlight to Faculty for consistency
  VueApp/src/Effort/App.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(effort): VPR-19 Add course relationship linking
  VueApp/src/Effort/__tests__/course-link-dialog.test.ts
  VueApp/src/Effort/components/CourseLinkDialog.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/types/index.ts
  test/Effort/CourseRelationshipServiceTests.cs
  test/Effort/CourseRelationshipsControllerTests.cs
  web/Areas/Effort/Controllers/CourseRelationshipsController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateCourseRelationshipRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseRelationshipDto.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Services/CourseRelationshipService.cs
  web/Areas/Effort/Services/ICourseRelationshipService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): VPR-19 hide link button for child courses and fix race condition
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/types/index.ts
  web/Areas/Effort/Models/DTOs/Responses/CourseDto.cs
  web/Areas/Effort/Services/CourseRelationshipService.cs
  web/Areas/Effort/Services/CourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): VPR-19 address code review feedback for relationships
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/router/routes.ts
  test/Effort/CourseRelationshipServiceTests.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateCourseRelationshipRequest.cs
  web/Areas/Effort/Services/CourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-20 Add manual instructor CRUD
  VueApp/src/Effort/__tests__/instructor-add-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-edit-dialog.test.ts
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/components/InstructorAddDialog.vue
  VueApp/src/Effort/components/InstructorEditDialog.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/types/index.ts
  test/Effort/InstructorServiceTests.cs
  test/Effort/InstructorsControllerTests.cs
  web/Areas/Effort/Controllers/InstructorsController.cs
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateInstructorRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateInstructorRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/AaudPersonDto.cs
  web/Areas/Effort/Models/DTOs/Responses/DepartmentDto.cs
  web/Areas/Effort/Models/DTOs/Responses/InstructorEffortRecordDto.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Models/DTOs/Responses/ReportUnitDto.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/IEffortAuditService.cs
  web/Areas/Effort/Services/IInstructorService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(test): Use dynamic year in EmailNotificationTest
  test/ClinicalScheduler/EmailNotificationTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-20 Add title/job group dropdowns and fix AAUD lookup
  VueApp/src/Effort/__tests__/instructor-edit-dialog.test.ts
  VueApp/src/Effort/components/InstructorAddDialog.vue
  VueApp/src/Effort/components/InstructorEditDialog.vue
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/types/index.ts
  test/Effort/InstructorServiceTests.cs
  test/Effort/InstructorsControllerTests.cs
  web/Areas/Effort/Controllers/InstructorsController.cs
  web/Areas/Effort/Models/DTOs/Responses/AaudPersonDto.cs
  web/Areas/Effort/Models/DTOs/Responses/JobGroupDto.cs
  web/Areas/Effort/Models/DTOs/Responses/TitleCodeDto.cs
  web/Areas/Effort/Services/IInstructorService.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): replace foreach loops with LINQ in InstructorService
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-21 Add Percent Admin Types
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/pages/EffortTypeInstructors.vue
  VueApp/src/Effort/pages/EffortTypeList.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/types/index.ts
  web/Areas/Effort/Controllers/EffortTypesController.cs
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Models/DTOs/Responses/EffortTypeDto.cs
  web/Areas/Effort/Models/DTOs/Responses/InstructorsByTypeDto.cs
  web/Areas/Effort/Services/EffortTypeService.cs
  web/Areas/Effort/Services/IEffortTypeService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-18 Query Banner directly for course import
  VueApp/src/Effort/components/CourseAddDialog.vue
  VueApp/src/Effort/components/CourseEditDialog.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/services/effort-service.ts
  test/Effort/CourseServiceTests.cs
  test/Effort/CoursesControllerTests.cs
  web/Areas/Effort/Controllers/CoursesController.cs
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/ICourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): VPR-18 sanitize user input in log statements
  VueApp/src/Effort/__tests__/course-import-dialog.test.ts
  web/Areas/Effort/Controllers/CoursesController.cs
  web/Areas/Effort/Controllers/TermsController.cs
  web/Areas/Effort/Services/CourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-22 Manage unit lookups
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/pages/TermSelection.vue
  VueApp/src/Effort/pages/UnitList.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/services/term-service.ts
  VueApp/src/Effort/services/unit-service.ts
  VueApp/src/Effort/types/index.ts
  test/Effort/UnitServiceTests.cs
  test/Effort/UnitsControllerTests.cs
  web/Areas/Effort/Constants/EffortAuditActions.cs
  web/Areas/Effort/Controllers/UnitsController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateUnitRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateUnitRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/UnitDto.cs
  web/Areas/Effort/Models/Entities/Percentage.cs
  web/Areas/Effort/Models/Entities/Unit.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/IEffortAuditService.cs
  web/Areas/Effort/Services/IUnitService.cs
  web/Areas/Effort/Services/UnitService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): remove unused modifiedBy param and sanitize logs
  test/Effort/UnitServiceTests.cs
  test/Effort/UnitsControllerTests.cs
  web/Areas/Effort/Controllers/CourseRelationshipsController.cs
  web/Areas/Effort/Controllers/InstructorsController.cs
  web/Areas/Effort/Controllers/UnitsController.cs
  web/Areas/Effort/Services/IUnitService.cs
  web/Areas/Effort/Services/UnitService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): add case-insensitive unit name validation with DRY helper
  web/Areas/Effort/Services/UnitService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): handle varchar-to-int UnitId conversion in shadow schema
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Services/UnitService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): use TRY_CAST for resilient UnitId conversion in triggers
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Services/UnitService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): VPR-44 Fix broken legacy harvest
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(test): use dynamic year in ClinicalScheduler tests
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/Setup/SetupClinicalSchedulerRotations.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(test): deduplicate TestYear constants in ClinicalScheduler
  test/ClinicalScheduler/Setup/SetupClinicalSchedulerRotations.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-23 - Manage Session Types
  VueApp/src/Effort/components/CourseAddDialog.vue
  VueApp/src/Effort/components/CourseEditDialog.vue
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/SessionTypeList.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/pages/UnitList.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/session-type-service.ts
  VueApp/src/Effort/types/index.ts
  test/Effort/SessionTypeServiceTests.cs
  test/Effort/SessionTypesControllerTests.cs
  web/Areas/Effort/Constants/EffortAuditActions.cs
  web/Areas/Effort/Constants/EffortPermissions.cs
  web/Areas/Effort/Controllers/SessionTypesController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateSessionTypeRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateSessionTypeRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/SessionTypeDto.cs
  web/Areas/Effort/Models/Entities/SessionType.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/Program.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/IEffortAuditService.cs
  web/Areas/Effort/Services/ISessionTypeService.cs
  web/Areas/Effort/Services/SessionTypeService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): address code review findings for VPR-23
  VueApp/src/Effort/pages/SessionTypeList.vue
  VueApp/src/Effort/pages/UnitList.vue
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

test(effort): add SessionTypes integration tests and CanDeleteResponse DTO
  VueApp/src/Effort/pages/SessionTypeList.vue
  VueApp/src/Effort/pages/UnitList.vue
  test/Effort/AutoMapperHelper.cs
  test/Effort/EffortIntegrationTestBase.cs
  test/Effort/SessionTypesControllerIntegrationTests.cs
  test/Effort/SessionTypesControllerTests.cs
  test/Effort/UnitsControllerTests.cs
  web/Areas/Effort/Controllers/SessionTypesController.cs
  web/Areas/Effort/Controllers/UnitsController.cs
  web/Areas/Effort/Models/DTOs/Responses/CanDeleteResponse.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): improve audit display and fix shadow script compatibility
  VueApp/src/Effort/pages/AuditList.vue
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Services/EffortAuditService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): use LINQ Where to filter loop sequences
  web/Areas/Effort/Services/EffortAuditService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(deps): resolve high-severity qs vulnerability
  VueApp/package-lock.json
Due: none

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
