Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-64 feat(phone): improve test coverage and fix incorrect class name
  test/Personnel/PhoneListControllerTests.cs
  test/Personnel/PhoneListModifiedDateControllerTests.cs
  test/Personnel/PhoneListUnitControllerTests.cs
  test/Personnel/PhoneListUnitServiceTests.cs
  test/Personnel/PhonePersonControllerTests.cs
  test/Personnel/PhonePersonLookupServiceTests.cs
  test/Personnel/PhoneSVMFrequentNumberServiceTests.cs
  test/Personnel/PhoneSVMModifiedDateControllerTests.cs
  test/Personnel/PhoneSVMSectionControllerTests.cs
  test/Personnel/PhoneSVMUnitControllerTests.cs
  web/Areas/Personnel/Controllers/PhoneListController.cs
  web/Areas/Personnel/Controllers/PhoneListUnitController.cs
  web/Areas/Personnel/Services/PhoneListUnitService.cs
  web/Areas/Personnel/Services/PhonePermissionsService.cs
  web/Areas/Personnel/Services/PhonePersonLookupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-64 feat(phone): Fix code quality errors
  VueApp/src/Personnel/__tests__/modified-summary.test.ts
  VueApp/src/Personnel/__tests__/phone-list-add-record-dialog.test.ts
  VueApp/src/Personnel/__tests__/router-permissions.test.ts
  VueApp/src/Personnel/__tests__/svm-add-record-dialog.test.ts
  VueApp/src/Personnel/__tests__/svm-data-fetch.test.ts
  VueApp/src/Personnel/components/ModifiedSummary.vue
  VueApp/src/Personnel/components/PhoneListAddRecordDialog.vue
  VueApp/src/Personnel/components/SVMAddRecordDialog.vue
  VueApp/src/Personnel/composables/phone-list-data-fetch.ts
  VueApp/src/Personnel/composables/svm-data-fetch.ts
  VueApp/src/Personnel/pages/SVMPhonesMaintain.vue
  VueApp/src/Personnel/router/index.ts
  test/Classes/Utilities/PersonSearchHelperTests.cs
  web/Areas/Personnel/Controllers/PhoneSVMSectionController.cs
  web/Areas/Personnel/Models/AugmentedViperPerson.cs
  web/Areas/Personnel/Models/PhoneListUnitDataRequests.cs
  web/Areas/Personnel/Models/ViperPerson.cs
  web/Areas/Personnel/PhonesDbContext.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-64 feat(phone): Fix code quality errors and typos
  VueApp/src/Personnel/composables/svm-data-fetch.ts
  test/Personnel/PhoneSVMFrequentNumberServiceTests.cs
  web/Areas/Personnel/Controllers/PhonePersonController.cs
  web/Areas/Personnel/Controllers/PhoneSVMModifiedDateController.cs
  web/Areas/Personnel/Models/PhoneListUnitDataRequests.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

fix(auth): build CAS callbacks from a configured canonical origin
  test/Classes/HomeControllerCasUrlTests.cs
  test/Classes/PublicUrlServiceTests.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/ScheduleEditServiceRollbackTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  test/ClinicalScheduler/TestableScheduleEditService.cs
  test/Effort/EffortIntegrationTestBase.cs
  test/Effort/VerificationServiceTests.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Classes/HttpHelper.cs
  web/Classes/PublicUrlService.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Services/EmailService.cs
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

fix(sitemap): stop AmbiguousMatchException turning sitemap.xml into a 404
  test/Classes/SitemapMiddlewareTests.cs
  web/Classes/SitemapMiddleware.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): Dynamic login screen
  DESIGN.md
  PRODUCT.md
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/assets/UCDSVMLogo.png
  VueApp/src/assets/logo-vetmed-stacked-lockup.avif
  VueApp/src/assets/logo-vetmed-stacked-lockup.png
  VueApp/src/assets/rod-of-asclepius-white.avif
  VueApp/src/assets/rod-of-asclepius-white.png
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  test/Classes/Utilities/WelcomePageHelperTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/Utilities/WelcomePageHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/Views/Shared/_ViperBrand.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
  web/wwwroot/images/UCDSVMLogo.png
  web/wwwroot/images/login/photo-guinea-pig.avif
  web/wwwroot/images/login/photo-guinea-pig.jpg
  web/wwwroot/images/login/photo-horse-foal.avif
  web/wwwroot/images/login/photo-horse-foal.jpg
  web/wwwroot/images/login/photo-ophthalmology.avif
  web/wwwroot/images/login/photo-ophthalmology.jpg
  web/wwwroot/images/login/photo-svm-building.avif
  web/wwwroot/images/login/photo-svm-building.jpg
  web/wwwroot/images/login/photo-vetmed-admin.avif
  web/wwwroot/images/login/photo-vetmed-admin.jpg
  web/wwwroot/images/login/rod-of-asclepius-white.avif
  web/wwwroot/images/login/rod-of-asclepius-white.png
  web/wwwroot/images/logo-vetmed-stacked-lockup.avif
  web/wwwroot/images/logo-vetmed-stacked-lockup.png
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): resolve hero images under /2 base path
  web/Views/Home/Welcome.cshtml
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/shared/create-spa-router.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  VueApp/src/composables/__tests__/require-login.test.ts
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): add Entra ID login alongside CAS
  DESIGN.md
  PRODUCT.md
  test/Classes/DuoAuthenticationRequirementTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Classes/AuthenticationSettings.cs
  web/Classes/DuoAuthenticationRequirement.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/LoginProviders.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

test(clinical-scheduler,effort): serialize tests sharing HttpHelper.Cache
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/Integration/PermissionServiceIntegrationTest.cs
  test/ClinicalScheduler/Integration/ServiceLayerIntegrationTest.cs
  test/ClinicalScheduler/PermissionsControllerTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/ScheduleEditServiceRollbackTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/SchedulePermissionServiceTest.cs
  test/Effort/EffortTypesControllerIntegrationTests.cs
  test/Effort/Integration/EffortPermissionIntegrationTests.cs
  test/Effort/PercentAssignTypesControllerIntegrationTests.cs
  test/HttpHelperCacheCollection.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): require Duo 2FA on RAPS pages and guard unauthenticated endpoints
  test/RAPS/RapsControllerAuthorizationTests.cs
  test/RAPS/RapsSecurityServiceTests.cs
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/Areas/RAPS/Controllers/AuditController.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Services/RAPSSecurityService.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(raps): invalidate the permission cache on every RAPS write
  test/Classes/UserHelperCacheTests.cs
  test/RAPS/RapsCacheInvalidationInterceptorTests.cs
  test/RAPS/RoleMembersControllerTests.cs
  test/RAPS/RoleTemplateCrudTests.cs
  test/RAPS/RoleTemplatesControllerTests.cs
  web/Areas/RAPS/Controllers/MemberPermissionsController.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Controllers/RoleMembersController.cs
  web/Areas/RAPS/Controllers/RolePermissionsController.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
  web/Areas/RAPS/Services/RAPSCacheService.cs
  web/Areas/RAPS/Services/RapsCacheInvalidationInterceptor.cs
  web/Areas/Students/Services/EmergencyContactService.cs
  web/Classes/UserHelper.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(auth): only set the Duo failure message when Duo actually fails
  test/Classes/DuoAuthenticationRequirementTests.cs
  web/Classes/DuoAuthenticationRequirement.cs
Due: node scripts/lint-staged-dotnet.js --fix

Fixes linting issues
  .gitignore
  .oxlintrc.json
  package-lock.json
  package.json
  scripts/lint-any.js
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/Integration/PermissionServiceIntegrationTest.cs
  test/ClinicalScheduler/Integration/ServiceLayerIntegrationTest.cs
  test/Effort/EffortTypesControllerIntegrationTests.cs
  test/Effort/Integration/EffortPermissionIntegrationTests.cs
  test/Effort/PercentAssignTypesControllerIntegrationTests.cs
  test/Services/UserInfoServiceTests.cs
  test/Services/UserInfoServiceUnitTests.cs
  test/Usings.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/IndividualSearchResultWithIDs.cs
  web/Areas/Directory/Models/UCPathPositionResult.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/SQLContext/KeysContext.cs
  web/Classes/UserInfoServiceCollectionExtensions.cs
  web/Classes/Utilities/IamApi.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Viper.csproj
  web/wwwroot/css/userinfo.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-64 feat(phone): Clarify EF relationship for phones.Person
  web/Areas/Personnel/PhonesDbContext.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-64 feat(phone): Ensure new pages are built by vite
  VueApp/vite.config.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(raps): derive MembersController from ApiController
  test/RAPS/RapsControllerAuthorizationTests.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(auth): deny by default with an authorization FallbackPolicy
  test/Classes/AuthorizationFallbackTests.cs
  web/Areas/CMS/Controllers/CMSController.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Controllers/LayoutController.cs
  web/Controllers/LoggedInUserController.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore: ignore review-pr scratch files
  .gitignore
Due: none

VPR-64 feat(phone): Code Review Changes and Form Fax Bug Fix
  VueApp/src/Personnel/__tests__/section-jump-links.test.ts
  VueApp/src/Personnel/__tests__/svm-add-record-dialog.test.ts
  VueApp/src/Personnel/__tests__/svm-phones-maintain.test.ts
  VueApp/src/Personnel/__tests__/svm-phones.test.ts
  VueApp/src/Personnel/components/MobileCardList.vue
  VueApp/src/Personnel/components/PhoneListFilter.vue
  VueApp/src/Personnel/components/SVMAddRecordDialog.vue
  VueApp/src/Personnel/components/SectionJumpLinks.vue
  VueApp/src/Personnel/pages/SVMPhones.vue
  VueApp/src/Personnel/pages/SVMPhonesMaintain.vue
  VueApp/vite.config.ts
  test/Classes/Utilities/DbUpdateExceptionExtensionsTests.cs
  test/Personnel/PhoneListUnitControllerTests.cs
  test/Personnel/PhoneListUnitServiceTests.cs
  test/Personnel/PhoneSVMUnitServiceTests.cs
  web/Areas/Personnel/Controllers/PhoneListUnitController.cs
  web/Areas/Personnel/Controllers/PhoneSVMFrequentNumberController.cs
  web/Areas/Personnel/Controllers/PhoneSVMUnitController.cs
  web/Areas/Personnel/Models/PersonnelMapper.cs
  web/Areas/Personnel/PhonesDbContext.cs
  web/Areas/Personnel/Services/PhoneListUnitService.cs
  web/Areas/Personnel/Services/PhoneSVMUnitService.cs
  web/Classes/Utilities/DbUpdateExceptionExtensions.cs
  web/Views/Shared/Components/MiniNav/Default.cshtml
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(scripts): restore ESM import syntax and lint-any.js refinements
  scripts/lint-any.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(stylelint): scope postcss-html so .css files are actually linted
  VueApp/src/CTS/assets/cts.css
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/Effort/effort-forms.css
  VueApp/src/assets/base.css
  VueApp/src/assets/main.css
  VueApp/src/styles/base.css
  VueApp/src/styles/colors.css
  VueApp/src/styles/compact-form.css
  VueApp/src/styles/index.css
  stylelint.config.mjs
  web/Views/Shared/VIPERLayoutSimplified.cshtml.css
  web/Views/Shared/_VIPERLayout.cshtml.css
  web/wwwroot/css/cts.css
  web/wwwroot/css/directory.css
  web/wwwroot/css/healthchecks-ui-branding.css
  web/wwwroot/css/site.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

chore(oxlint): settle the rules new in oxlint 1.80
  .oxlintrc.json
  VueApp/src/composables/use-reorder.ts
  web/wwwroot/js/site.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

chore(lint): clear the pre-existing oxfmt and oxlint findings
  .oxlintrc.json
  VueApp/src/CAHFS/index.html
  VueApp/src/CMS/index.html
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/CTS/index.html
  VueApp/src/Computing/index.html
  VueApp/src/Personnel/index.html
  VueApp/src/Students/index.html
  web/wwwroot/js/healthchecks-ui-extras.js
  web/wwwroot/js/qtable.js
  web/wwwroot/js/site.js
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(vue): drop the unused Vue scaffold entry
  VueApp/.fallowrc.json
  VueApp/index.html
  VueApp/src/App.vue
  VueApp/src/assets/base.css
  VueApp/src/assets/logo.svg
  VueApp/src/assets/main.css
  VueApp/src/main.ts
  VueApp/vite.config.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(deps): bump @quasar/vite-plugin to 2.0.2
  VueApp/package-lock.json
  VueApp/package.json
Due: none

fix(a11y): restore menu semantics on button dropdowns
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/layouts/ProfilePic.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(lint): enable harlanzw/prefer-satisfies
  VueApp/eslint.config.mjs
Due: none

refactor(audit): consolidate badge colors into the shared palette
  VueApp/src/ClinicalScheduler/components/AuditLogResultsTable.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryBody.vue
  VueApp/src/ClinicalScheduler/utils/audit-actions.ts
  VueApp/src/composables/__tests__/use-audit-colors.test.ts
  VueApp/src/composables/use-audit-colors.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(email): null-guard SelectNodes for HtmlAgilityPack 1.13
  web/Services/HtmlToTextConverter.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(deps): drop the obsolete NSubstitute and SQLitePCLRaw pins
  test/Viper.test.csproj
Due: none

fix(ci): use report_type so codecov ingests the JUnit uploads
  .github/workflows/tests.yml
Due: none

build(test): move dotnet test to Microsoft.Testing.Platform mode
  .github/workflows/tests.yml
  global.json
  scripts/test-dotnet.js
  test/Viper.test.csproj
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
