Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

refactor(effort): VPR-42 - improve harvest exception handling and queries
  test/Effort/HarvestTimeParserTests.cs
  web/Areas/Effort/Controllers/HarvestController.cs
  web/Areas/Effort/Services/Harvest/ClinicalHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/CrestHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): VPR-42 - use explicit Select for harvest import loops
  web/Areas/Effort/Services/Harvest/CrestHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
Due: node scripts/lint-staged-dotnet.js --fix

Changing development to Development in JenkinsFile
  JenkinsFile
Due: none

refactor(students): use database term instead of hardcoded date logic
  web/Areas/Curriculum/Services/TermCodeService.cs
  web/Areas/Students/Controllers/DvmController.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

build(vue): VPR-51 optimize bundles - 95% icon font, 38% transfer reduction
  .oxlintrc.json
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CAHFS/cahfs.ts
  VueApp/src/CMS/cms.ts
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/cts.ts
  VueApp/src/CTS/pages/MyAssessments.vue
  VueApp/src/composables/QuasarConfig.ts
  VueApp/vite.config.ts
  package.json
  scripts/run-backend.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(effort): VPR-43 -Basic Effort Entry
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/InstructorAddDialog.vue
  VueApp/src/Effort/components/InstructorEditDialog.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/instructor-types.ts
  package.json
  test/Effort/EffortRecordServiceTests.cs
  test/Effort/EffortRecordsControllerTests.cs
  web/Areas/Effort/Constants/EffortConstants.cs
  web/Areas/Effort/Controllers/CourseRelationshipsController.cs
  web/Areas/Effort/Controllers/EffortRecordsController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateEffortRecordRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateEffortRecordRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/AvailableCoursesDto.cs
  web/Areas/Effort/Models/DTOs/Responses/EffortTypeOptionDto.cs
  web/Areas/Effort/Models/DTOs/Responses/InstructorEffortRecordDto.cs
  web/Areas/Effort/Models/DTOs/Responses/RoleOptionDto.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/CourseRelationshipService.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/IEffortRecordService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): consolidate duplicate-check conditionals
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): prevent verification emails for instructors without records
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/types/term-types.ts
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/Effort/CourseRelationshipsControllerTests.cs
  test/Effort/PercentAssignTypesControllerIntegrationTests.cs
  test/Effort/VerificationServiceTests.cs
  test/EmailTemplates/EmailTemplateRendererIntegrationTests.cs
  web/Areas/Effort/Controllers/VerificationController.cs
  web/Areas/Effort/EffortSettings.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/EmailTemplates/Services/EmailTemplateRenderer.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): improve bulk email eligibility and encapsulation
  test/Effort/EffortRecordServiceTests.cs
  web/Areas/Effort/Services/VerificationService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): audit invalid emails and fix date formatting
  VueApp/src/Effort/pages/MyEffort.vue
  web/Areas/Effort/Services/VerificationService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): improve verification robustness and keyboard accessibility
  VueApp/src/Effort/pages/InstructorList.vue
  web/Areas/Effort/Services/EffortPermissionService.cs
  web/Areas/Effort/Services/VerificationService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): allow instructors to verify "no effort" status
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/services/verification-service.ts
  VueApp/vite.config.ts
  test/Effort/VerificationServiceTests.cs
  test/EmailTemplates/EmailTemplateRendererIntegrationTests.cs
  web/Areas/Effort/EmailTemplates/Models/VerificationReminderViewModel.cs
  web/Areas/Effort/EmailTemplates/Views/VerificationReminder.cshtml
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/EmailTemplates/Views/Shared/_EmailLayout.cshtml
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): simplify permission service and fix course code formatting
  test/Effort/EffortIntegrationTestBase.cs
  test/Effort/Integration/EffortPermissionIntegrationTests.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Services/EffortPermissionService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/VerificationService.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(email): add multipart HTML/plaintext support and dynamic sender
  test/Effort/EffortRecordServiceTests.cs
  test/Effort/InstructorServiceTests.cs
  test/Effort/VerificationServiceTests.cs
  web/Areas/Effort/EffortSettings.cs
  web/Areas/Effort/EmailTemplates/Views/VerificationReminder.cshtml
  web/Areas/Effort/Exceptions/InstructorAlreadyExistsException.cs
  web/Areas/Effort/Services/EffortPermissionService.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/IEffortPermissionService.cs
  web/Areas/Effort/Services/IInstructorService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/EmailTemplates/Views/Shared/_EmailLayout.cshtml
  web/Services/EmailService.cs
  web/Services/HtmlToTextConverter.cs
  web/Services/IEmailService.cs
  web/Viper.csproj
  web/appsettings.json
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(email): add EmailSendException for distinct error handling
  test/Effort/EffortRecordServiceTests.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Services/EmailService.cs
  web/Services/HtmlToTextConverter.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

ifix(effort): handle missing BaseUrl config gracefully in email sending
  test/Effort/VerificationServiceTests.cs
  web/Areas/Effort/Services/VerificationService.cs
Due: node scripts/lint-staged-dotnet.js --fix

test(email): add unit tests and improve exception handling
  scripts/verify-build.js
  test/EmailTemplates/EmailTemplateRendererIntegrationTests.cs
  test/Services/EmailServiceTests.cs
  test/Services/HtmlToTextConverterTests.cs
  web/EmailTemplates/Views/Shared/_EmailLayout.cshtml
  web/Services/EmailService.cs
  web/Services/HtmlToTextConverter.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(config): consolidate BaseUrl into shared EmailSettings
  .gitignore
  scripts/build-dotnet.js
  scripts/lint-staged-dotnet.js
  scripts/verify-build.js
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/TestableScheduleEditService.cs
  test/Effort/VerificationServiceTests.cs
  web/Areas/ClinicalScheduler/EmailTemplates/Views/PrimaryEvaluatorRemoved.cshtml
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/Effort/EffortSettings.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/EmailTemplates/Services/IEmailTemplateRenderer.cs
  web/Program.cs
  web/Services/EmailService.cs
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): add email status tracking and improve UX
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/EffortTypeList.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/types/term-types.ts
  scripts/lib/build-cache.js
  scripts/verify-build.js
  web/Areas/Effort/Controllers/InstructorsController.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): load verification reply days from backend settings
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/services/verification-service.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/verification-types.ts
  test/Effort/VerificationControllerTests.cs
  web/Areas/Effort/Controllers/VerificationController.cs
  web/Areas/Effort/Models/DTOs/Responses/VerificationDtos.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/VerificationService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix: optimize email audit query and fix test data format
  scripts/lib/build-cache.js
  test/Effort/VerificationServiceTests.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(dx): add pre-push hook to trigger Jenkins builds
  .env.local.example
  .husky/pre-push
  scripts/lib/build-cache.js
  web/EmailTemplates/Services/EmailTemplateRenderer.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

fix(dx): harden pre-push hook security and env parsing
  .husky/pre-push
Due: none

fix(dx): allow URL-encoded characters in Jenkins URL validation
  .husky/pre-push
Due: none

feat(effort): denormalize LastEmailed fields for faster instructor loading
  VueApp/src/Effort/pages/InstructorList.vue
  test/Effort/InstructorServiceTests.cs
  test/Effort/VerificationServiceTests.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Models/Entities/EffortPerson.cs
  web/Areas/Effort/Models/Entities/ViperPerson.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(dx): add npm run merge for safe Development branch merges
  VueApp/src/Effort/pages/InstructorList.vue
  package.json
  scripts/merge-to-dev.js
  web/Areas/Effort/EffortDbContext.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): allow concurrent verification emails with input validation
  VueApp/src/Effort/pages/InstructorList.vue
  test/Effort/VerificationControllerTests.cs
  web/Areas/Effort/Controllers/VerificationController.cs
  web/Areas/Effort/Models/DTOs/Requests/VerificationRequests.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(dx): fail build verification by default on non-zero exit codes
  scripts/lib/build-cache.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

feat(effort): VPR-47 - Instructor percent assignment management
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentTable.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/services/percentage-service.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/percentage-types.ts
  VueApp/src/Effort/types/term-types.ts
  test/Effort/PercentAssignTypeServiceTests.cs
  test/Effort/PercentAssignTypesControllerIntegrationTests.cs
  test/Effort/PercentageServiceTests.cs
  test/Effort/PercentagesControllerTests.cs
  web/Areas/Effort/Controllers/PercentagesController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Models/DTOs/Requests/CreatePercentageRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdatePercentageRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/AveragePercentByTypeDto.cs
  web/Areas/Effort/Models/DTOs/Responses/PercentageDto.cs
  web/Areas/Effort/Models/DTOs/Responses/PercentageValidationResult.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Models/Entities/Percentage.cs
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
  web/Areas/Effort/Services/IPercentageService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/PercentageService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): remove unused AveragesByType API and polish UX
  .oxlintrc.json
  README.md
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/services/percentage-service.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/percentage-types.ts
  VueApp/src/composables/ErrorHandler.ts
  VueApp/src/composables/ViperFetch.ts
  scripts/lib/build-cache.js
  scripts/lint-any.js
  scripts/lint-staged-dotnet.js
  scripts/lint-staged-runner.js
  scripts/verify-build.js
  test/Effort/PercentageServiceTests.cs
  test/Effort/PercentagesControllerTests.cs
  web/Areas/Effort/Controllers/PercentagesController.cs
  web/Areas/Effort/Models/DTOs/Responses/AveragePercentByTypeDto.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/IPercentageService.cs
  web/Areas/Effort/Services/PercentageService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Classes/ApiExceptionFilter.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): correct permission checks and percentage calculations
  test/Effort/PercentagesControllerTests.cs
  web/Areas/Effort/Controllers/PercentagesController.cs
  web/Areas/Effort/Services/EffortPermissionService.cs
  web/Areas/Effort/Services/IEffortPermissionService.cs
  web/Areas/Effort/Services/PercentageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): align CanEditPersonPercentagesAsync with controller permission
  web/Areas/Effort/Services/EffortPermissionService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): prevent invalid term state transitions and improve API types
  web/Areas/Effort/Controllers/PercentagesController.cs
  web/Areas/Effort/Models/DTOs/Responses/PercentageSaveResponse.cs
  web/Areas/Effort/Models/DTOs/Responses/TermDto.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/IEffortAuditService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/PercentageService.cs
  web/Areas/Effort/Services/TermService.cs
Due: node scripts/lint-staged-dotnet.js --fix

docs(effort): clarify percentage summary queries academic year overlap
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): remove TotalActivePercent and require UnitId
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/services/percentage-service.ts
  VueApp/src/Effort/types/percentage-types.ts
  test/Effort/PercentageServiceTests.cs
  test/Effort/PercentagesControllerTests.cs
  web/Areas/Effort/Models/DTOs/Requests/CreatePercentageRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdatePercentageRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/PercentageValidationResult.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Services/PercentageService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix
