Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

refactor(students): VPR-26 - Removing generic exception catch
  web/Areas/Students/Services/PhotoExportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adding libman to codeql
  .github/workflows/codeql.yml
Due: none

feat(effort): VPR-8 - Add shadow schema & verification
  web/Areas/Effort/README.md
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/EffortSchemaConfig.cs
  web/Areas/Effort/Scripts/EffortSchemaExport.cs
  web/Areas/Effort/Scripts/MigrateEffortData.cs
  web/Areas/Effort/Scripts/Program.cs
  web/Areas/Effort/Scripts/README.md
  web/Areas/Effort/Scripts/RunCreateDatabase.bat
  web/Areas/Effort/Scripts/RunCreateReportingProcedures.bat
  web/Areas/Effort/Scripts/RunCreateShadow.bat
  web/Areas/Effort/Scripts/RunMigrateData.bat
  web/Areas/Effort/Scripts/RunVerifyShadow.bat
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
  web/Areas/Effort/docs/EFFORT_MASTER_PLAN.md
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Areas/Effort/docs/External_Database_Dependencies.md
  web/Areas/Effort/docs/MIGRATION_GUIDE.md
  web/Areas/Effort/docs/QUICK_START.md
  web/Areas/Effort/docs/Shadow_Database_Guide.md
  web/Areas/Effort/docs/Technical_Reference.md
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): Remove redundant conditions and unused variables
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adding libman to dotnet build
  .github/workflows/codeql.yml
  VueApp/package-lock.json
  web/Viper.csproj
Due: none

Restoring changes to ViperLayout lost in merge conflict
  VueApp/src/layouts/ViperLayout.vue
  web/Viper.csproj
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(effort): VPR-8: Align schema types with legacy and fixed percentage
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Scripts/MigrateEffortData.cs
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): Address code review feedback in VerifyShadowProcedures
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(auth): VPR-37 - Improve logged-out UX
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/layouts/MainNav.vue
  VueApp/src/layouts/ProfilePic.vue
  VueApp/src/layouts/ViperLayout.vue
  web/Controllers/LayoutController.cs
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(lint): VPR-37 Add eqeqeq rule and fix strict equality violations
  VueApp/eslint.config.mjs
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/layouts/MainNav.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): VPR-8 - Shadow database improvements/verification
  scripts/lint-staged-dotnet.js
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/EffortDataRemediation.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Scripts/MigrateEffortData.cs
  web/Areas/Effort/Scripts/ParseArgs.bat
  web/Areas/Effort/Scripts/RunCreateDatabase.bat
  web/Areas/Effort/Scripts/RunCreateShadow.bat
  web/Areas/Effort/Scripts/RunMigrateData.bat
  web/Areas/Effort/Scripts/RunVerifyShadow.bat
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
  web/Areas/Effort/docs/EFFORT_MASTER_PLAN.md
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Areas/Effort/docs/Shadow_Database_Guide.md
  web/Areas/Effort/docs/Technical_Reference.md
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

fix(auth): VPR-37 Return users to original page after login
  .oxlintrc.json
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/layouts/ProfilePic.vue
  VueApp/src/layouts/ViperLayout.vue
  web/Controllers/HomeController.cs
  web/Views/Home/403.cshtml
  web/Views/Home/Error.cshtml
  web/Views/Home/StatusCode.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): VPR-8 - Add missing INSTEAD OF triggers for CRUD operations
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/EffortSchemaConfig.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Scripts/MigrateEffortData.cs
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): VPR-8 - Pivot Percentages from TermCode to AcademicYear
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Scripts/MigrateEffortData.cs
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Areas/Effort/docs/MIGRATION_GUIDE.md
  web/Areas/Effort/docs/QUICK_START.md
  web/Areas/Effort/docs/Shadow_Database_Guide.md
  web/Areas/Effort/docs/Technical_Reference.md
Due: node scripts/lint-staged-dotnet.js --fix

Fixing error message when calling permission check endpoint
  VueApp/src/CTS/pages/AssessmentList.vue
  VueApp/src/CTS/pages/MyAssessments.vue
  web/Areas/CTS/Controllers/PermissionsController.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Including dto
  web/Areas/CTS/Models/PermissionDto.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): simplify null checks and conditionals in scripts
  .config/dotnet-tools.json
  web/.config/dotnet-tools.json
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(security): VPR-38 - Add CSRF token validation
  VueApp/src/composables/ViperFetch.ts
  web/Classes/CustomAntiforgeryFilter.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

Changing bubbleClick to bubble-click. Using consistent namespace format.
  VueApp/src/CTS/components/AssessmentBubble.vue
  web/Areas/CTS/Models/PermissionDto.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(security): VPR-38 Use ApiResponse for CSRF errors, add tests
  VueApp/src/composables/ViperFetch.ts
  test/Classes/CustomAntiforgeryFilterTests.cs
  web/Classes/CustomAntiforgeryFilter.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

test(security): VPR-38 Add IgnoreAntiforgeryToken test
  VueApp/src/composables/ViperFetch.ts
  test/Classes/CustomAntiforgeryFilterTests.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

Fixing assessments not showing up - changing json serializer disabled derived type serialization
  VueApp/src/CTS/pages/MyAssessments.vue
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Models/StudentAssessment.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(security): VPR-38 Add CorrelationId to CSRF error responses
  test/Classes/CustomAntiforgeryFilterTests.cs
  web/Classes/CustomAntiforgeryFilter.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(cts): Fix TypeScript errors, lint warnings, and ApiResponse serialization
  VueApp/src/CTS/pages/AssessmentEpaEdit.vue
  VueApp/src/CTS/pages/MyAssessments.vue
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Classes/ApiResponseAttribute.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): replace generic exception catches with specific types
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/EffortDataRemediation.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(cts): Address code review feedback
  .oxlintrc.json
  scripts/verify-build.js
  test/Classes/ApiResponseAttributeTests.cs
  web/Classes/ApiResponseAttribute.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

refactor(effort): improve exception handling and simplify conditionals
  web/Areas/Effort/Scripts/MigrateEffortData.cs
  web/Areas/Effort/Scripts/VerifyShadowProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

Changing CAHFS landing page to show log in box instead of auto-redirecting to CAS
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(effort): add Phase 2 foundation with terms API and Vue SPA
  VueApp/src/Effort/App.vue
  VueApp/src/Effort/effort.ts
  VueApp/src/Effort/index.html
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/router/index.ts
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/types/index.ts
  VueApp/vite.config.ts
  web/Areas/Effort/Constants/EffortPermissions.cs
  web/Areas/Effort/Controllers/BaseEffortController.cs
  web/Areas/Effort/Controllers/TermsController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Extensions/EffortMappingExtensions.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseDto.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Models/DTOs/Responses/RecordDto.cs
  web/Areas/Effort/Models/DTOs/Responses/TermDto.cs
  web/Areas/Effort/Models/Entities/AlternateTitle.cs
  web/Areas/Effort/Models/Entities/Audit.cs
  web/Areas/Effort/Models/Entities/CourseRelationship.cs
  web/Areas/Effort/Models/Entities/EffortCourse.cs
  web/Areas/Effort/Models/Entities/EffortPerson.cs
  web/Areas/Effort/Models/Entities/EffortRecord.cs
  web/Areas/Effort/Models/Entities/EffortRole.cs
  web/Areas/Effort/Models/Entities/EffortTerm.cs
  web/Areas/Effort/Models/Entities/EffortType.cs
  web/Areas/Effort/Models/Entities/JobCode.cs
  web/Areas/Effort/Models/Entities/Percentage.cs
  web/Areas/Effort/Models/Entities/ReportUnit.cs
  web/Areas/Effort/Models/Entities/Sabbatical.cs
  web/Areas/Effort/Models/Entities/SessionType.cs
  web/Areas/Effort/Models/Entities/Unit.cs
  web/Areas/Effort/Models/Entities/UserAccess.cs
  web/Areas/Effort/Services/EffortPermissionService.cs
  web/Areas/Effort/Services/IEffortPermissionService.cs
  web/Areas/Effort/Services/ITermService.cs
  web/Areas/Effort/Services/TermService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Updating link base path and development link logic to handle either ~/ or /2 being used to identify a VIPER 2 link
  web/Controllers/LayoutController.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adjusting viper 2 links so we don't replace all instances of searched string
  web/Controllers/LayoutController.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-17 Create Term Management capability
  VueApp/src/Effort/__tests__/use-effort-permissions.test.ts
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/layouts/EffortLayout.vue
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/pages/TermSelection.vue
  VueApp/src/Effort/router/index.ts
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/types/index.ts
  test/Effort/TermServiceTests.cs
  web/Areas/Curriculum/Controllers/TermsController.cs
  web/Areas/Effort/Controllers/TermsController.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateTermRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/AvailableTermDto.cs
  web/Areas/Effort/Models/DTOs/Responses/TermDto.cs
  web/Areas/Effort/Services/ITermService.cs
  web/Areas/Effort/Services/TermService.cs
  web/Models/VIPER/Term.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(precommit): VPR-39 Optimize Backend Testing and Build Verification for Concurrency
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  scripts/build-dotnet.js
  scripts/lib/build-cache.js
  scripts/lib/script-utils.js
  scripts/lint-staged-dotnet.js
  scripts/lint-staged-runner.js
  scripts/precommit-lint.js
  scripts/precommit.js
  scripts/run-parallel.js
  scripts/test-dotnet.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(precommit): VPR-39 Address code review feedback for build caching
  .husky/pre-commit
  scripts/lint-staged-dotnet.js
  scripts/test-dotnet.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(precommit): VPR-39 Improve polling pattern and timeout cleanup
  scripts/lib/script-utils.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(precommit): VPR-39 Address code review feedback
  .husky/pre-commit
  scripts/build-dotnet.js
  scripts/lint-staged-dotnet.js
  scripts/precommit.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Adding content to the CAHFS landing page. Content is only accessible within the CAHFS network and unauthenticated view of the content has been approved.
  VueApp/src/CAHFS/App.vue
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/CAHFS/router/routes.ts
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/layouts/ViperLayout.vue
  web/Areas/CMS/Data/CMS.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(clinical-scheduler): VPR-40 Use local time for audit timestamps
  README.md
  scripts/lint-staged-dotnet.js
  scripts/test-dotnet.js
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-17 Add audit trail system for Effort module
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/layouts/EffortLayout.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/audit-service.ts
  VueApp/src/Effort/types/index.ts
  test/Effort/TermServiceTests.cs
  web/Areas/Effort/Constants/EffortAuditActions.cs
  web/Areas/Effort/Controllers/AuditController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/DTOs/Requests/EffortAuditFilter.cs
  web/Areas/Effort/Models/DTOs/Responses/EffortAuditRow.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Models/Entities/Audit.cs
  web/Areas/Effort/Models/Entities/EffortPerson.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Scripts/MigrateEffortData.cs
  web/Areas/Effort/Scripts/README.md
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/IEffortAuditService.cs
  web/Areas/Effort/Services/TermService.cs
  web/Areas/Effort/docs/EFFORT_MASTER_PLAN.md
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Areas/Effort/docs/MIGRATION_GUIDE.md
  web/Areas/Effort/docs/Technical_Reference.md
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix
