Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

refactor(async): drop fake-async Task.Run wrappers
  test/RAPS/RAPSControllerTests.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Classes/HealthChecks/LdapHealthCheck.cs
  web/Views/Shared/Components/CMSBlocks/CMSBlocks.cs
  web/Views/Shared/Components/EmulationBanner/EmulationBanner.cs
  web/Views/Shared/Components/LeftNav/LeftNav.cs
  web/Views/Shared/Components/MainNav/MainNav.cs
  web/Views/Shared/Components/MiniNav/MiniNav.cs
  web/Views/Shared/Components/ProfilePic/ProfilePic.cs
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
  web/Views/Shared/Components/VueCdn/VueCdnCreate.cs
  web/Views/Shared/Components/VueCdn/VueCdnInit.cs
  web/Views/Shared/Components/VueTableDefault/VueTableDefault.cs
Due: node scripts/lint-staged-dotnet.js --fix

Addresses linting issues
  web/Areas/Directory/Models/IDCardResult.cs
  web/Areas/Directory/Models/InstinctResult.cs
  web/Areas/Directory/Models/UCPathResult.cs
  web/Areas/Directory/Models/UserInfoResult.cs
Due: node scripts/lint-staged-dotnet.js --fix

Addresses ReSharper issues
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Classes/AreaController.cs
Due: node scripts/lint-staged-dotnet.js --fix

More ReSharper issues
  web/Areas/Directory/Models/IndividualSearchResult.cs
  web/Areas/Directory/Models/IndividualSearchResultWithIDs.cs
  web/Areas/Directory/Models/LdapUserContact.cs
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/Utilities/LdapService.cs
  web/Views/Shared/_VIPERLayout.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

ReSharper issues
  Viper.sln.DotSettings
Due: none

docs(claude): add future directives for line endings, resharper, and conflict resolutions
  CLAUDE.md
Due: none

fix(review): address Copilot PR reviews for session timeout, ldap escape, null safety, and security dependencies
  web/Areas/Directory/Models/IndividualSearchResult.cs
  web/Areas/Directory/Models/IndividualSearchResultWithIDs.cs
  web/Classes/Utilities/LdapService.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
  web/Viper.csproj
  web/wwwroot/css/userinfo.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): resolve fonts and hero images under /2 base path
  web/Views/Home/Welcome.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/shared/__tests__/application-base.test.ts
  VueApp/src/shared/application-base.ts
  VueApp/src/shared/bootstrap-spa.ts
  VueApp/src/shared/create-spa-router.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(css): drop the brand block duplicated by the VPR-151 merge
  web/wwwroot/css/site.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

fix(deps): hold NSubstitute at 5.3.0 pending 6.0.1
  test/Viper.test.csproj
Due: none

refactor: clear new SonarAnalyzer 10.30 warnings
  test/CTS/AssessmentControllerTest.cs
  test/CTS/SetupAssessments.cs
  web/Areas/Effort/Services/CourseClassificationService.cs
  web/Areas/RAPS/Controllers/AdGroupRolesController.cs
  web/Areas/RAPS/Services/RAPSCacheService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/PhotoService.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(deps): drop unused System.Linq.Dynamic.Core
  web/Viper.csproj
Due: none

Fixes permissions for userinfo page
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/UserHelper.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(raps): keep entity objects defined when viperFetch 404s
  web/Areas/RAPS/Views/Groups/Members.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Members/History.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/RSOP.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/TemplateRoles.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

fix(css): remove stray conflict marker left by the UserInfo merge
  web/wwwroot/css/directory.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

fix(raps): make fetch fallbacks match downstream usage
  web/Areas/RAPS/Controllers/AdGroupRolesController.cs
  web/Areas/RAPS/Services/RAPSCacheService.cs
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Members.cshtml
  web/Areas/RAPS/Views/Members/History.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(raps): guard clearable history filter, add AsNoTracking
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/RAPS/Views/Members/History.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(raps): do not treat failed reads as empty data
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

fix(vite-proxy): treat a regex timeout as a non-match
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): disable mutating actions until the read succeeds
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

fix(deps): bump oxlint-tsgolint to ^7.0.2001 to satisfy oxlint peer
  package-lock.json
  package.json
Due: none

parameterizes Instinct GraphQL query and updates system roles/permissions links
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Fixes loading modal on directory when refreshing the page
  web/Areas/Directory/Views/Card.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

Fixes issue with potential null value
  web/Areas/Directory/Models/IndividualSearchResult.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): handle failed fetches without fabricating data
  web/Areas/RAPS/Controllers/AdGroupRolesController.cs
  web/Areas/RAPS/Services/RAPSCacheService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Members.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Members/History.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/RSOP.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/TemplateRoles.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(raps): use Any for the group existence check
  web/Areas/RAPS/Controllers/AdGroupRolesController.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(deps): hold typescript 7 and @types/node 26, drop dead lint deps
  .github/dependabot.yml
  VueApp/package-lock.json
  VueApp/package.json
Due: none

fix(clinical-scheduler): gate bulk delete on dialog confirmation
  VueApp/src/ClinicalScheduler/__tests__/use-bulk-deletion.test.ts
  VueApp/src/ClinicalScheduler/composables/use-bulk-deletion.ts
  VueApp/src/ClinicalScheduler/utils/confirmation-dialog.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

style(clinical-scheduler): drop dead scoped CSS rules
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

test: type vi.fn mocks to satisfy require-mock-type-parameters
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-qa.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home.test.ts
  VueApp/src/ClinicalScheduler/__tests__/permissions-store-computed.test.ts
  VueApp/src/ClinicalScheduler/__tests__/permissions-store-error-handling.test.ts
  VueApp/src/ClinicalScheduler/__tests__/permissions-store-utilities.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-api.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector.test.ts
  VueApp/src/ClinicalScheduler/__tests__/test-utils.ts
  VueApp/src/ClinicalScheduler/__tests__/use-optimistic-schedule-updates.test.ts
  VueApp/src/Effort/__tests__/course-add-dialog.test.ts
  VueApp/src/Effort/__tests__/course-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/course-import-dialog.test.ts
  VueApp/src/Effort/__tests__/course-link-dialog.test.ts
  VueApp/src/Effort/__tests__/course-service.test.ts
  VueApp/src/Effort/__tests__/dashboard-service.test.ts
  VueApp/src/Effort/__tests__/harvest-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-add-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-service.test.ts
  VueApp/src/Effort/__tests__/report-service.test.ts
  VueApp/src/Effort/__tests__/use-report-url-params.test.ts
  VueApp/src/Students/EmergencyContact/__tests__/emergency-contact-service.test.ts
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor: clear pre-existing lint errors in VueApp
  VueApp/src/CTS/__tests__/assessment-bubble.test.ts
  VueApp/src/CTS/types/index.ts
  VueApp/src/ClinicalScheduler/__tests__/normalize-schedule-semesters.test.ts
  VueApp/src/ClinicalScheduler/__tests__/normalize-week.test.ts
  VueApp/src/ClinicalScheduler/types/api-responses.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/Effort/__tests__/effort-records-table.test.ts
  VueApp/src/Effort/services/harvest-service.ts
  VueApp/src/Effort/types/harvest-types.ts
  VueApp/src/Students/EmergencyContact/__tests__/use-emergency-contact.test.ts
  VueApp/src/Students/__tests__/use-photo-gallery-groups.test.ts
  VueApp/src/Students/__tests__/use-photo-gallery-options.test.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

test(students): assert real behaviour in no-year-selected case
  VueApp/src/Students/__tests__/photo-gallery-ross-checkbox.test.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(clinical-scheduler): fold ApiError into api.ts
  VueApp/src/ClinicalScheduler/services/error-transformer.ts
  VueApp/src/ClinicalScheduler/types/api-responses.ts
  VueApp/src/ClinicalScheduler/types/api.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(clinical-scheduler): sort affected weeks numerically in warning
  VueApp/src/CMS/__tests__/use-url-filtered-table.test.ts
  VueApp/src/CMS/composables/use-url-filtered-table.ts
  VueApp/src/ClinicalScheduler/__tests__/use-bulk-deletion.test.ts
  VueApp/src/ClinicalScheduler/composables/use-bulk-deletion.ts
  VueApp/src/ClinicalScheduler/composables/use-optimistic-schedule-updates.ts
  VueApp/src/ClinicalScheduler/composables/use-permission-checks.ts
  VueApp/src/Effort/composables/use-report-url-params.ts
  VueApp/src/Students/EmergencyContact/__tests__/completeness-icon.test.ts
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/components/__tests__/rich-text-editor.test.ts
  VueApp/src/composables/QuasarTableUtilities.ts
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/ViperFetch.ts
  VueApp/src/composables/use-route-focus.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write
