Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): add missing dot to .text-h* dialog selectors
  VueApp/src/styles/base.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

fix(deps): reduce dependabot frequency from weekly to monthly
  .github/dependabot.yml
Due: none

VPR-104 fix(a11y): fix help link and align status colors to UC Davis palette
  VueApp/src/config/colors.ts
  VueApp/src/layouts/MainNav.vue
  web/wwwroot/js/ucdavis-colors.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): shared layout accessibility fixes and UC Davis color alignment
  VueApp/src/config/colors.ts
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  web/Views/Shared/Components/MainNav/Default.cshtml
  web/Views/Shared/VIPERLayoutSimplified.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/js/ucdavis-colors.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): add StatusBanner component and update info color to Tahoe
  VueApp/src/components/StatusBanner.vue
  VueApp/src/config/colors.ts
  VueApp/src/layouts/LeftNav.vue
  web/wwwroot/js/ucdavis-colors.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(a11y): sync Razor layout fallback colors with UC Davis palette
  web/Views/Shared/_VIPERLayout.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): improve CRUD feedback, external link indicators, and layout accessibility
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/styles/base.css
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Views/Shared/VIPERLayoutSimplified.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/js/qtable.js
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): RAPS area accessibility improvements (PR 2 of 6)
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Groups/Members.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Groups/Sync.cshtml
  web/Areas/RAPS/Views/Index.cshtml
  web/Areas/RAPS/Views/Members/Clone.cshtml
  web/Areas/RAPS/Views/Members/History.cshtml
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/RSOP.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
  web/Areas/RAPS/Views/Permissions/List.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/RoleViewUpdate.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/PermissionComparison.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/TemplateRoles.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): safe strict-equality guards in ApplyTemplate
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): add aria-label to icon-only buttons in RAPS
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): fix grammar in RAPS headings
  web/Areas/RAPS/Views/Groups/Sync.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): align RAPS button colors to UC Davis brand palette
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): add dialog close buttons, delete confirmations, and color fixes to RAPS
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-63 feat(students): add emergency contact management module
  VueApp/src/Students/EmergencyContact/__tests__/completeness-icon.test.ts
  VueApp/src/Students/EmergencyContact/__tests__/contact-section.test.ts
  VueApp/src/Students/EmergencyContact/__tests__/emergency-contact-service.test.ts
  VueApp/src/Students/EmergencyContact/__tests__/use-emergency-contact.test.ts
  VueApp/src/Students/EmergencyContact/components/CompletenessIcon.vue
  VueApp/src/Students/EmergencyContact/components/ContactSection.vue
  VueApp/src/Students/EmergencyContact/components/ExportToolbar.vue
  VueApp/src/Students/EmergencyContact/components/PhoneInput.vue
  VueApp/src/Students/EmergencyContact/composables/use-emergency-contact.ts
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactReport.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
  VueApp/src/Students/EmergencyContact/services/emergency-contact-service.ts
  VueApp/src/Students/EmergencyContact/types/index.ts
  VueApp/src/Students/EmergencyContact/utils/phone.ts
  VueApp/src/Students/router/index.ts
  VueApp/src/Students/router/routes.ts
  test/Students/EmergencyContactControllerTests.cs
  test/Students/EmergencyContactServiceTests.cs
  web/Areas/Students/Constants/EmergencyContactPermissions.cs
  web/Areas/Students/Controllers/EmergencyContactController.cs
  web/Areas/Students/Models/AppAccessStatusDto.cs
  web/Areas/Students/Models/ContactInfoDto.cs
  web/Areas/Students/Models/EmergencyContactMapper.cs
  web/Areas/Students/Models/Entities/StudentContact.cs
  web/Areas/Students/Models/Entities/StudentEmergencyContact.cs
  web/Areas/Students/Models/StudentContactDetailDto.cs
  web/Areas/Students/Models/StudentContactListItemDto.cs
  web/Areas/Students/Models/StudentContactReportDto.cs
  web/Areas/Students/Models/StudentInfoDto.cs
  web/Areas/Students/Models/UpdateStudentContactRequest.cs
  web/Areas/Students/Services/EmergencyContactExportService.cs
  web/Areas/Students/Services/EmergencyContactService.cs
  web/Areas/Students/Services/IEmergencyContactService.cs
  web/Areas/Students/Services/PhoneHelper.cs
  web/Classes/SQLContext/SISContext.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 refactor(ui): extract shared ExportToolbar and unify report headers
  VueApp/src/Effort/components/ReportLayout.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/ScheduledCliWeeks.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Students/EmergencyContact/components/ExportToolbar.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactReport.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/components/ExportToolbar.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 feat(students): add admin access controls, exports, and form UX improvements
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/Students/EmergencyContact/__tests__/use-emergency-contact.test.ts
  VueApp/src/Students/EmergencyContact/components/AppAccessControls.vue
  VueApp/src/Students/EmergencyContact/components/CompletenessIcon.vue
  VueApp/src/Students/EmergencyContact/components/ExportToolbar.vue
  VueApp/src/Students/EmergencyContact/composables/use-emergency-contact.ts
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactReport.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
  VueApp/src/Students/EmergencyContact/services/emergency-contact-service.ts
  VueApp/src/Students/EmergencyContact/types/index.ts
  test/Students/EmergencyContactServiceTests.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/Students/Controllers/EmergencyContactController.cs
  web/Areas/Students/Models/StudentContactListItemDto.cs
  web/Areas/Students/Models/StudentContactReportDto.cs
  web/Areas/Students/Services/EmergencyContactExportService.cs
  web/Areas/Students/Services/EmergencyContactService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 fix(students): toggle app access via Access column instead of row deletion
  VueApp/src/Effort/effort-forms.css
  VueApp/src/Students/EmergencyContact/components/AppAccessControls.vue
  VueApp/src/Students/EmergencyContact/components/PhoneInput.vue
  VueApp/src/Students/EmergencyContact/composables/use-emergency-contact.ts
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
  VueApp/src/Students/EmergencyContact/utils/phone-errors-key.ts
  VueApp/src/styles/compact-form.css
  test/Students/EmergencyContactControllerTests.cs
  test/Students/EmergencyContactServiceTests.cs
  web/Areas/Students/Services/EmergencyContactService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 fix: address PR review findings — dispose XLWorkbook, fix phone whitespace, remove dup CSS, add aria-label
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/components/ExportToolbar.vue
  web/Areas/Students/Services/EmergencyContactExportService.cs
  web/Areas/Students/Services/PhoneHelper.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 fix: remove duplicate scoped .sr-only from ContactSection.vue
  VueApp/src/Students/EmergencyContact/components/ContactSection.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 fix: reset PhoneInput validity on successful validation
  VueApp/src/Students/EmergencyContact/components/PhoneInput.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 refactor: migrate emergency contact banners to StatusBanner component
  VueApp/src/Students/EmergencyContact/components/AppAccessControls.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 fix: use ASCII-only digit regex and route SIS users to view page
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  web/Areas/Students/Services/PhoneHelper.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 fix: add [Required] to nested DTOs in UpdateStudentContactRequest
  web/Areas/Students/Models/UpdateStudentContactRequest.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore: patch glob, node-forge, serialize-javascript, path-to-regexp vulnerabilities
  VueApp/package-lock.json
  VueApp/package.json
Due: none

chore: patch glob, node-forge, serialize-javascript, path-to-regexp, happy-dom vulnerabilities
  VueApp/package-lock.json
  VueApp/package.json
Due: none

chore: patch brace-expansion DoS vulnerability (GHSA-f886-m6hf-6m8v)
  VueApp/package-lock.json
Due: none

fix(a11y): remove empty-string default from StatusBanner icon prop
  VueApp/src/components/StatusBanner.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): resolve quasarTable.delete() return value on failed DELETE
  web/wwwroot/js/qtable.js
Due: none

fix(a11y): address PR review — overflow title reactivity, skip-link styles, dead code
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/styles/base.css
  web/wwwroot/js/qtable.js
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(a11y): skip-link focus, CSS var fallback, transitionend cleanup
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  web/Views/Shared/VIPERLayoutSimplified.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/js/qtable.js
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
