Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

fix(quality): discard unused entry param in cache lambda
  web/Classes/UserHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(quality): close remaining CodeQL findings on touched files
  web/Areas/CMS/Models/CMSFile.cs
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(quality): pass TestContext.Current.CancellationToken on touched lines
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/Effort/ReportsControllerTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(ClinicalScheduler): catch specific exceptions in services
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/RotationService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
  web/Areas/ClinicalScheduler/Services/WeekService.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(resharper): drop redundant namespace qualifiers in catch filters
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/RotationService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
  web/Areas/ClinicalScheduler/Services/WeekService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(ClinicalScheduler): correct catch filters in services
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/RotationService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
  web/Areas/ClinicalScheduler/Services/WeekService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(security): sanitize CAS XML before logging on auth failure
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(build): harden dotnet build scripts and drop deprecated baseUrl
  VueApp/tsconfig.json
  scripts/build-dotnet.js
  scripts/lib/build-cache.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

chore(deps): bump .NET SDK and runtime packages to 10.0.8
  global.json
  test/Viper.test.csproj
  web/Areas/Effort/Scripts/EffortMigration.csproj
  web/Viper.csproj
Due: none

refactor: remove dead code surfaced by fallow (Phase 1)
  VueApp/src/CAHFS/assets/cahfs.css
  VueApp/src/CMS/assets/cms.css
  VueApp/src/CTS/pages/CourseList.vue
  VueApp/src/CTS/pages/MyAssessmentCharts.vue
  VueApp/src/ClinicalScheduler/constants/permission-messages.ts
  VueApp/src/ClinicalScheduler/constants/schedule-config.ts
  VueApp/src/ClinicalScheduler/services/error-transformer.ts
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
  VueApp/src/Students/components/PhotoGallery/PhotoGrid.vue
  VueApp/src/Students/components/PhotoGallery/PhotoList.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/components/icons/IconCommunity.vue
  VueApp/src/components/icons/IconDocumentation.vue
  VueApp/src/components/icons/IconEcosystem.vue
  VueApp/src/components/icons/IconSupport.vue
  VueApp/src/components/icons/IconTooling.vue
  VueApp/src/composables/DateFunctions.ts
  VueApp/src/composables/QuasarConfig.ts
  VueApp/src/config/colors.ts
  VueApp/src/layouts/ViperFooter.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(clinical-scheduler): drop orphaned store cluster (Phase 2)
  VueApp/src/ClinicalScheduler/composables/use-schedule-normalization.ts
  VueApp/src/ClinicalScheduler/stores/permissions/index.ts
  VueApp/src/ClinicalScheduler/stores/schedule-actions.ts
  VueApp/src/ClinicalScheduler/stores/schedule-cache.ts
  VueApp/src/ClinicalScheduler/stores/schedule-state.ts
  VueApp/src/ClinicalScheduler/stores/schedule.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor: migrate CSS @import to JS-side imports (Phase 4c)
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor: remove unused type exports (Phase 3)
  VueApp/src/CTS/types/index.ts
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/services/clinician-service.ts
  VueApp/src/ClinicalScheduler/services/instructor-schedule-service.ts
  VueApp/src/ClinicalScheduler/services/page-data-service.ts
  VueApp/src/ClinicalScheduler/services/permission-service.ts
  VueApp/src/ClinicalScheduler/stores/permissions-utils.ts
  VueApp/src/ClinicalScheduler/types/api-responses.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/ClinicalScheduler/types/rotation-types.ts
  VueApp/src/ClinicalScheduler/utils/schedule-update-helpers.ts
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/services/harvest-service.ts
  VueApp/src/Effort/types/dashboard-types.ts
  VueApp/src/Effort/types/evaluation-types.ts
  VueApp/src/Effort/types/harvest-types.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/report-types-extended.ts
  VueApp/src/Effort/types/report-types.ts
  VueApp/src/Effort/types/verification-types.ts
  VueApp/src/composables/validation-error.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(layouts): share chrome components across Vue and Razor layouts
  VueApp/src/layouts/EmulationBanner.vue
  VueApp/src/layouts/FooterLinks.vue
  VueApp/src/layouts/ViperBrandButton.vue
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  web/Views/Shared/Components/EmulationBanner/Default.cshtml
  web/Views/Shared/Components/EmulationBanner/EmulationBanner.cs
  web/Views/Shared/VIPERLayoutSimplified.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(router): extract createSpaRouter factory
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/router/index.ts
  VueApp/src/CTS/router/index.ts
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/Computing/router/index.ts
  VueApp/src/Effort/router/index.ts
  VueApp/src/Students/router/index.ts
  VueApp/src/shared/createSpaRouter.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

chore(tests): replace Returns((T?)null) casts with ReturnsNull()
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/IntegrationTestBase.cs
  test/Effort/CourseRelationshipsControllerTests.cs
  test/Effort/CoursesControllerTests.cs
  test/Effort/EffortIntegrationTestBase.cs
  test/Effort/EffortRecordsControllerTests.cs
  test/Effort/EffortTypesControllerTests.cs
  test/Effort/InstructorsControllerTests.cs
  test/Effort/PercentAssignTypesControllerTests.cs
  test/Effort/PercentagesControllerTests.cs
  test/Effort/ReportsControllerTests.cs
  test/Effort/UnitsControllerTests.cs
  test/Effort/VerificationControllerTests.cs
  test/Effort/VerificationServiceTests.cs
  test/RAPS/RolesTests.cs
  test/Services/EmailServiceTests.cs
  test/Students/EmergencyContactControllerTests.cs
  test/Students/PhotoGalleryControllerTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(resharper): add CancellationToken arg to FindAsync mock (xUnit1051)
  test/RAPS/RolesTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore: additional CodeQL style fixes (ternary, complex-block, implicit-conversion)
  VueApp/src/Effort/__tests__/course-import-dialog.test.ts
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

chore(tests): narrow catch(Exception) to specific types in test helpers
  test/CTS/AssessmentControllerTest.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/RotationServiceTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(resharper): drop redundant namespace qualifiers in test catch filters
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/RotationServiceTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: remove useless upcasts via record types and default(T)
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/EmailTemplates/Views/Shared/_EmailLayout.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(cts): collapse hardcoded CourseStudents rows into a v-for
  VueApp/src/CTS/pages/CourseStudents.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(scheduler): share schedule filter LINQ via IScheduleEntity
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleQueryExtensions.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
  web/Models/CTS/IScheduleEntity.cs
  web/Models/CTS/InstructorSchedule.cs
  web/Models/CTS/StudentSchedule.cs
Due: node scripts/lint-staged-dotnet.js --fix

perf: replace ContainsKey+indexer with TryGetValue
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor: drop redundant casts on null and ViewBag
  web/Areas/Effort/Services/VerificationService.cs
  web/EmailTemplates/Views/Shared/_EmailLayout.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix: dispose F5 warm-up response on connection retry
  web/Classes/Utilities/F5HttpRequest.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix: release Biorender semaphore permit on invalid email
  web/Areas/Computing/Services/BiorenderStudentLookup.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(emergency-contact): extract shared page shell
  VueApp/src/Students/EmergencyContact/components/EmergencyContactPageShell.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract DialogSubmitActions component
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/DialogSubmitActions.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract PercentAssignmentFormFields
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentFormFields.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract EffortReportPage layout shell
  VueApp/src/Effort/components/EffortReportPage.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract EffortRecordSharedFields from dialogs
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EffortRecordSharedFields.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract InstructorPageShell for breadcrumbs and states
  VueApp/src/Effort/components/InstructorPageShell.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract AsyncOperationDialog shell for preview dialogs
  VueApp/src/Effort/components/AsyncOperationDialog.vue
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix
