Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-157 feat(reports): open report PDFs inline + UX polish
  VueApp/src/ClinicalScheduler/__tests__/normalize-schedule-semesters.test.ts
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/schedule-view-types.ts
  VueApp/src/ClinicalScheduler/composables/use-bulk-deletion-logic.ts
  VueApp/src/ClinicalScheduler/composables/use-delete-mode.ts
  VueApp/src/ClinicalScheduler/composables/use-schedule-normalization.ts
  VueApp/src/Effort/components/ReportLayout.vue
  VueApp/src/Effort/composables/use-report-page.ts
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Effort/services/report-service.ts
  VueApp/src/components/ExportToolbar.vue
  VueApp/src/config/colors.ts
  web/Classes/ApiController.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): redesign MyAssessments and AssessmentBubble
  VueApp/src/CTS/__tests__/assessment-bubble.test.ts
  VueApp/src/CTS/assets/cts.css
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/pages/MyAssessments.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 feat(cts): add 5 MyAssessments display styles for review
  VueApp/src/CTS/assets/cts.css
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/components/EpaProgressionChart.vue
  VueApp/src/CTS/components/EpaSupervisionBlend.vue
  VueApp/src/CTS/components/EpaVoiceThread.vue
  VueApp/src/CTS/pages/MyAssessments.vue
  VueApp/src/CTS/utils/level-labels.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 feat(cts): refine MyAssessments timeline view
  VueApp/src/CTS/assets/cts.css
  VueApp/src/CTS/components/EpaProgressionChart.vue
  VueApp/src/CTS/components/EpaVoiceThread.vue
  VueApp/src/ClinicalScheduler/__tests__/normalize-schedule-semesters.test.ts
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/composables/use-bulk-deletion-logic.ts
  VueApp/src/ClinicalScheduler/composables/use-delete-mode.ts
  VueApp/src/ClinicalScheduler/composables/use-schedule-normalization.ts
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/types/schedule-view-types.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(cts): show MyAssessments timeline chart above comments on mobile
  VueApp/src/CTS/assets/cts.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

chore(lint): use vue-tsc for staged .vue type-checking
  scripts/lint-staged-vue.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

chore(quality): remove dead null-checks flagged by CA1508
  test/CTS/AssessmentControllerTest.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/CTS/Models/StudentEpaAssessment.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): materialize IEnumerable to avoid multi-enumeration
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/Effort/CourseRelationshipsControllerTests.cs
  test/Effort/InstructorsControllerTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Views/Shared/Components/VueTableDefault/VueTableDefault.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): clean up stale XML doc comments
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/ClinicalScheduleController.cs
  web/Areas/CTS/Services/AuditService.cs
  web/Areas/CTS/Services/CrestCourseService.cs
  web/Areas/CTS/Services/CtsSecurityService.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/RAPSSecurityService.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/Students/Controllers/DvmController.cs
  web/Areas/Students/Services/StudentList.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
  web/Classes/Utilities/ActiveDirectoryService.cs
  web/Classes/Utilities/IamApi.cs
  web/Classes/Utilities/LdapService.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(quality): clear ReSharper PR-gate + CodeQL review findings
  scripts/audit-resharper-regression.js
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Data/Codecs.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Models/RoleTemplateSimplified.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/StudentGroupService.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

fix(quality): discard unused entry param in cache lambda
  web/Classes/UserHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: remove dead code surfaced by fallow (Phase 1)
  VueApp/src/CAHFS/assets/cahfs.css
  VueApp/src/CMS/assets/cms.css
  VueApp/src/CTS/pages/CourseList.vue
  VueApp/src/CTS/pages/MyAssessmentCharts.vue
  VueApp/src/ClinicalScheduler/constants/permission-messages.ts
  VueApp/src/ClinicalScheduler/constants/schedule-config.ts
  VueApp/src/ClinicalScheduler/services/error-transformer.ts
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
  VueApp/src/Students/components/PhotoGallery/PhotoGrid.vue
  VueApp/src/Students/components/PhotoGallery/PhotoList.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/components/icons/IconCommunity.vue
  VueApp/src/components/icons/IconDocumentation.vue
  VueApp/src/components/icons/IconEcosystem.vue
  VueApp/src/components/icons/IconSupport.vue
  VueApp/src/components/icons/IconTooling.vue
  VueApp/src/composables/DateFunctions.ts
  VueApp/src/composables/QuasarConfig.ts
  VueApp/src/config/colors.ts
  VueApp/src/layouts/ViperFooter.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(clinical-scheduler): drop orphaned store cluster (Phase 2)
  VueApp/src/ClinicalScheduler/composables/use-schedule-normalization.ts
  VueApp/src/ClinicalScheduler/stores/permissions/index.ts
  VueApp/src/ClinicalScheduler/stores/schedule-actions.ts
  VueApp/src/ClinicalScheduler/stores/schedule-cache.ts
  VueApp/src/ClinicalScheduler/stores/schedule-state.ts
  VueApp/src/ClinicalScheduler/stores/schedule.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor: remove unused type exports (Phase 3)
  VueApp/src/CTS/types/index.ts
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/services/clinician-service.ts
  VueApp/src/ClinicalScheduler/services/instructor-schedule-service.ts
  VueApp/src/ClinicalScheduler/services/page-data-service.ts
  VueApp/src/ClinicalScheduler/services/permission-service.ts
  VueApp/src/ClinicalScheduler/stores/permissions-utils.ts
  VueApp/src/ClinicalScheduler/types/api-responses.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/ClinicalScheduler/types/rotation-types.ts
  VueApp/src/ClinicalScheduler/utils/schedule-update-helpers.ts
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/services/harvest-service.ts
  VueApp/src/Effort/types/dashboard-types.ts
  VueApp/src/Effort/types/evaluation-types.ts
  VueApp/src/Effort/types/harvest-types.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/report-types-extended.ts
  VueApp/src/Effort/types/report-types.ts
  VueApp/src/Effort/types/verification-types.ts
  VueApp/src/composables/validation-error.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor: migrate CSS @import to JS-side imports (Phase 4c)
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(router): extract createSpaRouter factory
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/router/index.ts
  VueApp/src/CTS/router/index.ts
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/Computing/router/index.ts
  VueApp/src/Effort/router/index.ts
  VueApp/src/Students/router/index.ts
  VueApp/src/shared/createSpaRouter.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(layouts): extract shared chrome components from ViperLayout
  VueApp/src/layouts/EmulationBanner.vue
  VueApp/src/layouts/FooterLinks.vue
  VueApp/src/layouts/ViperBrandButton.vue
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-54 feat(scheduler): add Hangfire foundation behind disabled flag
  .env.local.example
  web/Areas/Scheduler/Controllers/.gitkeep
  web/Areas/Scheduler/Services/.gitkeep
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Classes/Scheduler/HangfireOptions.cs
  web/Program.cs
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): gate Hangfire dashboard behind RAPS permission
  .env.local.example
  web/Classes/Scheduler/HangfireDashboardAuthorizationFilter.cs
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Classes/Scheduler/HangfireOptions.cs
  web/Program.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 refactor(startup): extract forwarded-headers wiring from Program.cs
  web/Classes/ForwardedHeadersExtensions.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): add Hangfire health check and job logging filter
  test/HealthChecks/HangfireHealthCheckTests.cs
  test/Scheduler/HangfireJobLoggingFilterTests.cs
  test/Viper.test.csproj
  web/Classes/HealthChecks/HangfireHealthCheck.cs
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Classes/Scheduler/HangfireJobLoggingFilter.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): job abstraction + RAPS role-refresh as first consumer
  test/RAPS/RapsRoleRefreshScheduledJobTests.cs
  test/Scheduler/ScheduledJobDiscoveryTests.cs
  test/Scheduler/ScheduledJobRunnerTests.cs
  test/Scheduler/SchedulerJobsServiceTests.cs
  web/Areas/RAPS/Jobs/RapsRoleRefreshScheduledJob.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/RoleViews.cs
  web/Areas/Scheduler/Models/DTOs/Responses/ReconcilerOutcomeDto.cs
  web/Areas/Scheduler/Models/ScheduledJobContext.cs
  web/Areas/Scheduler/Models/TriggerSource.cs
  web/Areas/Scheduler/Services/IScheduledJob.cs
  web/Areas/Scheduler/Services/ScheduledJobAttribute.cs
  web/Areas/Scheduler/Services/ScheduledJobDiscovery.cs
  web/Areas/Scheduler/Services/ScheduledJobRegistry.cs
  web/Areas/Scheduler/Services/ScheduledJobRunner.cs
  web/Areas/Scheduler/Services/SchedulerJobsService.cs
  web/Classes/Scheduler/HangfireExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 chore(scheduler): clean up audit findings on PR 4 code
  test/Scheduler/SchedulerJobsServiceTests.cs
  web/Areas/Scheduler/Controllers/JobsController.cs
  web/Areas/Scheduler/Services/SchedulerJobsService.cs
  web/Classes/SQLContext/SchedulerContext.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): add list/pause/resume API + reconciler
  test/Scheduler/SchedulerJobsServiceTests.cs
  web/Areas/Scheduler/Controllers/JobsController.cs
  web/Areas/Scheduler/Models/DTOs/Responses/PauseResumeResultDto.cs
  web/Areas/Scheduler/Models/DTOs/Responses/ReconcilerOutcomeDto.cs
  web/Areas/Scheduler/Models/DTOs/Responses/SchedulerJobDto.cs
  web/Areas/Scheduler/Models/Entities/SchedulerJobState.cs
  web/Areas/Scheduler/Services/ISchedulerJobsService.cs
  web/Areas/Scheduler/Services/SchedulerExceptions.cs
  web/Areas/Scheduler/Services/SchedulerJobReconciler.cs
  web/Areas/Scheduler/Services/SchedulerJobsService.cs
  web/Classes/SQLContext/SchedulerContext.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Classes/Scheduler/SchedulerSchemaInitializer.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): admin nav entry, area README, and 7-char audit stamp
  web/Areas/RAPS/Jobs/RapsRoleRefreshScheduledJob.cs
  web/Areas/RAPS/Services/RoleViews.cs
  web/Areas/Scheduler/Models/DTOs/Responses/SchedulerJobDto.cs
  web/Areas/Scheduler/Models/Entities/SchedulerJobState.cs
  web/Areas/Scheduler/Models/ScheduledJobContext.cs
  web/Areas/Scheduler/README.md
  web/Areas/Scheduler/Services/ISchedulerJobsService.cs
  web/Views/Shared/Components/MainNav/MainNav.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 chore(scheduler): clean up audit findings on controller tests
  test/Scheduler/JobsControllerTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 test(scheduler): JobsController action-result coverage
  test/Scheduler/JobsControllerTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 chore(scheduler): enable Hangfire by default in base settings
  web/Areas/Scheduler/README.md
  web/appsettings.json
Due: none

VPR-54 feat(scheduler): Hangfire:AutoSchedule flag (dev: off)
  web/Areas/Scheduler/README.md
  web/Areas/Scheduler/Services/ScheduledJobDiscovery.cs
  web/Classes/Scheduler/HangfireExtensions.cs
  web/appsettings.Development.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): add Hangfire.Console and Hangfire.Heartbeat
  web/Areas/Scheduler/README.md
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Viper.csproj
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 fix(scheduler): heartbeat metrics + per-job dashboard console
  test/Scheduler/ScheduledJobRunnerTests.cs
  web/Areas/RAPS/Jobs/RapsRoleRefreshScheduledJob.cs
  web/Areas/Scheduler/Models/ScheduledJobContext.cs
  web/Areas/Scheduler/Services/ScheduledJobDiscovery.cs
  web/Areas/Scheduler/Services/ScheduledJobRunner.cs
  web/Areas/Scheduler/Services/SchedulerJobsService.cs
  web/Classes/Scheduler/HangfireExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

Revert "Merge branch 'VPR-54-hangfire' into Development"
  test/Scheduler/ScheduledJobRunnerTests.cs
  web/Areas/RAPS/Jobs/RapsRoleRefreshScheduledJob.cs
  web/Areas/Scheduler/Models/ScheduledJobContext.cs
  web/Areas/Scheduler/Services/ScheduledJobDiscovery.cs
  web/Areas/Scheduler/Services/ScheduledJobRunner.cs
  web/Areas/Scheduler/Services/SchedulerJobsService.cs
  web/Classes/Scheduler/HangfireExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 fix(scheduler): wire heartbeat ProcessMonitor without breaking startup
  web/Classes/Scheduler/HangfireExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
