Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(deps): patch brace-expansion and fast-uri advisories
  package-lock.json
Due: none

feat(lint): enable curated type-aware linting
  .oxlintrc.json
Due: none

feat(lint): make the CSS lint step report what stylelint finds
  scripts/lib/lint-staged-common.js
  scripts/lint-staged-css.js
  stylelint.config.mjs
Due: node scripts/lint-staged-ts.js --fix, prettier --write

style(vueapp): modernize VueApp CSS to the stylelint standard
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/CTS/components/LevelSelect.vue
  VueApp/src/CTS/pages/CompetenciesBundleReport.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryContent.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/assets/base.css
  VueApp/src/components/SortableList.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(a11y): give Effort dashboard rows a visible keyboard focus ring
  VueApp/src/Effort/pages/StaffDashboard.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(userinfo): translate getBase64Image.cfm to PublicPhotoController
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Controllers/PublicPhotoController.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(deps): ignore typescript and nsubstitute majors in dependabot
  .github/dependabot.yml
Due: none

chore(deps): update npm dependencies
  VueApp/package-lock.json
  VueApp/package.json
  package-lock.json
  package.json
Due: none

Replaces .Where.FirstOrDefault to .FirstOrDefault
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(ci): exclude generated code from coverage reporting
  codecov.yml
Due: none

Updates .gitignore
  .gitignore
Due: none

Updates links to User Photo and linting issues
  scripts/lint-any.js
  test/Services/UserInfoServiceUnitTests.cs
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Classes/Utilities/LdapService.cs
  web/Controllers/PublicPhotoController.cs
  web/wwwroot/css/userinfo.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Removes redundant user photo code and updates links
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Controllers/PublicPhotoController.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Removing debugging (again)
  web/Areas/Directory/Controllers/UserInfoController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): add Entra ID login alongside CAS
  DESIGN.md
  PRODUCT.md
  test/Classes/DuoAuthenticationRequirementTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Classes/AuthenticationSettings.cs
  web/Classes/DuoAuthenticationRequirement.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/LoginProviders.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(deps): drop the inert day key from dependabot's monthly schedule
  .github/dependabot.yml
Due: none

refactor(cms): map zip GUIDs to files with Select
  web/Areas/CMS/Data/CMS.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(async): drop fake-async wrappers
  test/RAPS/RAPSControllerTests.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Areas/Students/Services/StudentGroupService.cs
  web/Classes/HealthChecks/LdapHealthCheck.cs
  web/Views/Shared/Components/CMSBlocks/CMSBlocks.cs
  web/Views/Shared/Components/EmulationBanner/EmulationBanner.cs
  web/Views/Shared/Components/LeftNav/LeftNav.cs
  web/Views/Shared/Components/MainNav/MainNav.cs
  web/Views/Shared/Components/MiniNav/MiniNav.cs
  web/Views/Shared/Components/ProfilePic/ProfilePic.cs
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
  web/Views/Shared/Components/VueCdn/VueCdnCreate.cs
  web/Views/Shared/Components/VueCdn/VueCdnInit.cs
  web/Views/Shared/Components/VueTableDefault/VueTableDefault.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(session): use ~/ so Refresh Session keeps the /2 PathBase
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

fix(cms): bound the download-name regex with a timeout
  web/Areas/CMS/Services/CmsFilePathSafety.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(analyzer): justify four security-hotspot findings
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: fold Where predicates into the following Any
  web/Areas/CTS/Controllers/BundleCompetencyController.cs
  web/Areas/CTS/Controllers/BundleCompetencyGroupController.cs
  web/Areas/Students/Services/StudentList.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix: honour request cancellation in streaming and proxy responses
  web/Areas/Effort/Controllers/ClinicalImportController.cs
  web/Areas/Effort/Controllers/PercentRolloverController.cs
  web/Classes/SitemapMiddleware.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: drop null-forgiving operators the compiler no longer needs
  test/Areas/Directory/VMACSServiceTest.cs
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CMSFilesControllerTests.cs
  test/CMS/CMSLeftNavControllerTests.cs
  test/CMS/CMSOptionsControllerTests.cs
  test/ClinicalScheduler/PermissionsControllerTest.cs
  test/Effort/HarvestTimeParserTests.cs
  test/HealthChecks/HealthCheckCollectorTokenHandlerTests.cs
  test/Scheduler/ScheduledJobRunnerTests.cs
  test/Students/EmergencyContactControllerTests.cs
  test/Students/EmergencyContactServiceTests.cs
  web/Areas/CTS/Controllers/BundleCompetencyController.cs
  web/Areas/CTS/Controllers/BundleCompetencyGroupController.cs
  web/Areas/CTS/Models/CompetencyBundleAssociationDto.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/Computing/Services/BiorenderStudentLookup.cs
  web/Areas/Effort/Services/ClinicalImportService.cs
  web/Areas/Effort/Services/Harvest/ClinicalHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/CrestHarvestPhase.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/RAPS/Services/OuGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

perf(students): preload class-year person ids for the student list
  web/Areas/Students/Services/StudentList.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(session): serve session expiry from VIPER 2, not the legacy CFM
  .review-pr-ignored-304
  test/Controllers/SessionTimeoutControllerTests.cs
  web/Classes/SessionTimeoutStatus.cs
  web/Classes/Utilities/SessionTimeoutService.cs
  web/Controllers/SessionTimeoutController.cs
  web/Models/SessionTimeoutCheck.cs
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(session): move the SPA session poll off the legacy CFM
  VueApp/src/components/SessionTimeout.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Updates address formatting on UserInfo page
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Potential fix for pull request finding 'Generic catch clause'
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Potential fix for pull request finding 'Missed opportunity to use Select'
  web/Areas/Directory/Views/UserInfo.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

Potential fix for pull request finding 'Missed opportunity to use Select'
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Potential fix for pull request finding 'Missed opportunity to use Where'
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
