Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(healthchecks): swap dead infra /24 for campus VPN /24
  web/appsettings.json
Due: none

VPR-141 chore(healthchecks): log IP gate decisions for debugging
  web/Classes/HealthChecks/HealthCheckExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 chore(healthchecks): drop IP gate + inject debug banner
  web/Classes/HealthChecks/HealthCheckExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(security): trust Cloudflare for X-Forwarded-For
  web/Classes/CloudflareNetworks.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-104 feat(cts): add 5 MyAssessments display styles for review
  VueApp/src/CTS/assets/cts.css
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/components/EpaProgressionChart.vue
  VueApp/src/CTS/components/EpaSupervisionBlend.vue
  VueApp/src/CTS/components/EpaVoiceThread.vue
  VueApp/src/CTS/pages/MyAssessments.vue
  VueApp/src/CTS/utils/level-labels.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-141 chore(healthchecks): add anonymous /health/whoami debug endpoint
  web/Classes/HealthChecks/HealthCheckExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(security): populate both KnownNetworks lists for CF
  web/Classes/CloudflareNetworks.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(security): override RemoteIp from CF-Connecting-IP
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(security): run CF override outside dev guard
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 chore(security): emit CF override diagnostics on response
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(security): bump ForwardLimit to 2 for CF + F5 chain
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 chore(healthchecks): remove /health/whoami debug endpoint
  web/Classes/HealthChecks/HealthCheckExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-139 fix(ldap): escape filter values per RFC 4515
  test/Utilities/ActiveDirectoryServiceFilterTests.cs
  test/Utilities/LdapFilterTests.cs
  test/Utilities/LdapServiceFilterTests.cs
  web/Classes/Utilities/ActiveDirectoryService.cs
  web/Classes/Utilities/LdapFilter.cs
  web/Classes/Utilities/LdapService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-139 refactor(ldap): use .Where() in BuildUsersByIDsFilter
  web/Classes/Utilities/LdapService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-139 fix(ldap): tighten contact and ids filter builders
  test/Utilities/LdapServiceFilterTests.cs
  web/Classes/Utilities/LdapService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-156 chore: enable CodeRabbit and expand copilot review rules
  .coderabbit.yaml
  .github/copilot-instructions.md
  README.md
Due: none

Updating code to use MinConsecutiveWeeks instead of MinWeeks - legacy clinical scheduler code does not show or update MinWeeks
  test/ClinicalScheduler/EvaluationPolicyServiceTest.cs
  test/ClinicalScheduler/RotationMappingExtensionsTests.cs
  test/ClinicalScheduler/ServiceMappingExtensionsTests.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Extensions/ServiceMappingExtensions.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/ServiceDto.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/IEvaluationPolicyService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/Service.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(healthchecks): scope allowlist, use localhost for UI poll
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

Adding tests
  test/ClinicalScheduler/RotationsControllerTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(healthchecks): revert UI poll to BaseUrl, restore SVM /24
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 fix(healthchecks): bypass IP filter for collector via process token
  web/Classes/HealthChecks/HealthCheckCollectorAuth.cs
  web/Classes/HealthChecks/HealthCheckCollectorTokenHandler.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

fix(build): drop deprecated tsconfig baseUrl after TS 6.0 bump
  VueApp/tsconfig.app.json
Due: none

VPR-141 feat(healthchecks): add /health endpoints and UI dashboard
  JenkinsFile
  test/HealthChecks/HealthCheckCollectorAuthTests.cs
  test/HealthChecks/HealthCheckCollectorTokenHandlerTests.cs
  web/Classes/HealthChecks/AdaptivePollingHealthCheck.cs
  web/Classes/HealthChecks/AwsSsmHealthCheck.cs
  web/Classes/HealthChecks/DiskSpaceHealthCheck.cs
  web/Classes/HealthChecks/HealthCheckCollectorAuth.cs
  web/Classes/HealthChecks/HealthCheckCollectorTokenHandler.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Classes/HealthChecks/HttpEndpointHealthCheck.cs
  web/Classes/HealthChecks/LdapHealthCheck.cs
  web/Classes/HealthChecks/SmtpHealthCheck.cs
  web/Program.cs
  web/Viper.csproj
  web/appsettings.json
  web/wwwroot/css/healthchecks-ui-branding.css
  web/wwwroot/js/healthchecks-ui-extras.js
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(deps): bump dotnet group (exclude AWS SDK v4 major)
  .config/dotnet-tools.json
  test/Viper.test.csproj
  web/Viper.csproj
Due: none

feat(tooling): add fallow + jscpd with regression-gated CI
  .github/workflows/code-quality.yml
  .gitignore
  .jscpd.json
  VueApp/.fallowrc.json
  VueApp/tsconfig.json
  package-lock.json
  package.json
  scripts/audit-fallow.js
  scripts/audit-jscpd-regression.js
  scripts/audit-jscpd.js
  scripts/audit.js
  scripts/lint-any.js
  scripts/lint-staged-fallow.js
  scripts/lint-staged-jscpd.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor: remove dead code surfaced by fallow (Phase 1)
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CAHFS/assets/cahfs.css
  VueApp/src/CMS/assets/cms.css
  VueApp/src/CTS/pages/CourseList.vue
  VueApp/src/CTS/pages/MyAssessmentCharts.vue
  VueApp/src/ClinicalScheduler/constants/permission-messages.ts
  VueApp/src/ClinicalScheduler/constants/schedule-config.ts
  VueApp/src/ClinicalScheduler/services/error-transformer.ts
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
  VueApp/src/Students/components/PhotoGallery/PhotoGrid.vue
  VueApp/src/Students/components/PhotoGallery/PhotoList.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/components/icons/IconCommunity.vue
  VueApp/src/components/icons/IconDocumentation.vue
  VueApp/src/components/icons/IconEcosystem.vue
  VueApp/src/components/icons/IconSupport.vue
  VueApp/src/components/icons/IconTooling.vue
  VueApp/src/composables/DateFunctions.ts
  VueApp/src/composables/QuasarConfig.ts
  VueApp/src/config/colors.ts
  VueApp/src/layouts/ViperFooter.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor: remove unused type exports (Phase 3)
  VueApp/src/CTS/types/index.ts
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/services/clinician-service.ts
  VueApp/src/ClinicalScheduler/services/instructor-schedule-service.ts
  VueApp/src/ClinicalScheduler/services/page-data-service.ts
  VueApp/src/ClinicalScheduler/services/permission-service.ts
  VueApp/src/ClinicalScheduler/stores/permissions-utils.ts
  VueApp/src/ClinicalScheduler/types/api-responses.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/ClinicalScheduler/types/rotation-types.ts
  VueApp/src/ClinicalScheduler/utils/schedule-update-helpers.ts
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/services/harvest-service.ts
  VueApp/src/Effort/types/dashboard-types.ts
  VueApp/src/Effort/types/evaluation-types.ts
  VueApp/src/Effort/types/harvest-types.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/report-types-extended.ts
  VueApp/src/Effort/types/report-types.ts
  VueApp/src/Effort/types/verification-types.ts
  VueApp/src/composables/validation-error.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(clinical-scheduler): drop orphaned store cluster (Phase 2)
  VueApp/src/ClinicalScheduler/composables/use-schedule-normalization.ts
  VueApp/src/ClinicalScheduler/stores/permissions/index.ts
  VueApp/src/ClinicalScheduler/stores/schedule-actions.ts
  VueApp/src/ClinicalScheduler/stores/schedule-cache.ts
  VueApp/src/ClinicalScheduler/stores/schedule-state.ts
  VueApp/src/ClinicalScheduler/stores/schedule.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(effort): extract DialogSubmitActions component
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/DialogSubmitActions.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(router): extract createSpaRouter factory
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/router/index.ts
  VueApp/src/CTS/router/index.ts
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/Computing/router/index.ts
  VueApp/src/Effort/router/index.ts
  VueApp/src/Students/router/index.ts
  VueApp/src/shared/createSpaRouter.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor(emergency-contact): extract shared page shell
  VueApp/src/Students/EmergencyContact/components/EmergencyContactPageShell.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract EffortReportPage layout shell
  VueApp/src/Effort/components/EffortReportPage.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract PercentAssignmentFormFields
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentFormFields.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor: migrate CSS @import to JS-side imports (Phase 4c)
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract EffortRecordSharedFields from dialogs
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EffortRecordSharedFields.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(layouts): extract shared chrome components from ViperLayout
  VueApp/src/layouts/EmulationBanner.vue
  VueApp/src/layouts/FooterLinks.vue
  VueApp/src/layouts/ViperBrandButton.vue
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract InstructorPageShell for breadcrumbs and states
  VueApp/src/Effort/components/InstructorPageShell.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract TermTable for term selection rows
  VueApp/src/Effort/components/TermTable.vue
  VueApp/src/Effort/pages/TermSelection.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
