Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Potential fix for pull request finding 'Missing Dispose call on local IDisposable'
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): resolve hero images under /2 base path
  web/Views/Home/Welcome.cshtml
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/shared/__tests__/application-base.test.ts
  VueApp/src/shared/application-base.ts
  VueApp/src/shared/bootstrap-spa.ts
  VueApp/src/shared/create-spa-router.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(fonts): load Proxima Nova from the campus font server
  DESIGN.md
  PRODUCT.md
  VueApp/src/assets/fonts/proxima-nova/proximanova-bold.woff2
  VueApp/src/assets/fonts/proxima-nova/proximanova-extrabold.woff2
  VueApp/src/assets/fonts/proxima-nova/proximanova-medium.woff2
  VueApp/src/assets/fonts/proxima-nova/proximanova-regular.woff2
  VueApp/src/styles/base.css
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
  web/wwwroot/fonts/proxima-nova/proximanova-bold.woff2
  web/wwwroot/fonts/proxima-nova/proximanova-extrabold.woff2
  web/wwwroot/fonts/proxima-nova/proximanova-medium.woff2
  web/wwwroot/fonts/proxima-nova/proximanova-regular.woff2
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(directory): resolve merge conflict and address LDAP exception handling
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adds more specific exception handling
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Potential fix for pull request finding 'Missed opportunity to use Select'
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Potential fix for pull request finding 'CodeQL / Generic catch clause'
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adds extra Student information
  web/Areas/Directory/Views/UserInfo.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

chore(deps): bump Microsoft package pins to 10.0.11
  test/Viper.test.csproj
  web/Viper.csproj
Due: none

fix(deps): bump nanoid to 3.3.18 for GHSA-2v37-7h3g-55p8
  VueApp/package-lock.json
  package-lock.json
Due: none

Fixes missing Student information
  test/Services/UserInfoServiceTests.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Program.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Updates logging and removes generic catch statements
  test/Services/UserInfoServiceTests.cs
  test/Services/UserInfoServiceUnitTests.cs
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(auth): build CAS callbacks from a configured canonical origin
  test/Classes/HomeControllerCasUrlTests.cs
  test/Classes/PublicUrlServiceTests.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/ScheduleEditServiceRollbackTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/TestableScheduleEditService.cs
  test/Effort/VerificationServiceTests.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Classes/HttpHelper.cs
  web/Classes/PublicUrlService.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Services/EmailService.cs
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-158 fix(raps): confirm role template saves and keep nav highlighted
  eslint.config.mjs
  test/Classes/LeftNavHighlightTests.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
  web/Areas/RAPS/Views/Roles/TemplateRoles.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
  web/Classes/LeftNavHighlight.cs
  web/Classes/NavMenuItem.cs
  web/Views/Shared/Components/LeftNav/Default.cshtml
  web/wwwroot/js/qtable.js
  web/wwwroot/js/site.js
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-158 docs: distinguish status toasts from banners in UI guidelines
  .github/copilot-instructions.md
  DESIGN.md
Due: none

refactor(auth): harden internal-path validation and share the app base
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  VueApp/src/shared/application-base.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(auth): resolve sendBackTo deep links safely and stop the guard loop
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/get-login-url.test.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  VueApp/src/shared/__tests__/application-base.test.ts
  VueApp/src/shared/application-base.ts
  VueApp/src/shared/bootstrap-spa.ts
  VueApp/src/shared/create-spa-router.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(ui): render every re-authentication prompt from one button
  VueApp/src/components/GenericError.vue
  VueApp/src/components/LoginButton.vue
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/layouts/ProfilePic.vue
  VueApp/src/layouts/ViperLayout.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-151 feat(auth): Dynamic login screen
  DESIGN.md
  PRODUCT.md
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/assets/UCDSVMLogo.png
  VueApp/src/assets/logo-vetmed-stacked-lockup.avif
  VueApp/src/assets/logo-vetmed-stacked-lockup.png
  VueApp/src/assets/rod-of-asclepius-white.avif
  VueApp/src/assets/rod-of-asclepius-white.png
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  test/Classes/Utilities/WelcomePageHelperTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/Utilities/WelcomePageHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/Views/Shared/_ViperBrand.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
  web/wwwroot/images/UCDSVMLogo.png
  web/wwwroot/images/login/photo-guinea-pig.avif
  web/wwwroot/images/login/photo-guinea-pig.jpg
  web/wwwroot/images/login/photo-horse-foal.avif
  web/wwwroot/images/login/photo-horse-foal.jpg
  web/wwwroot/images/login/photo-ophthalmology.avif
  web/wwwroot/images/login/photo-ophthalmology.jpg
  web/wwwroot/images/login/photo-svm-building.avif
  web/wwwroot/images/login/photo-svm-building.jpg
  web/wwwroot/images/login/photo-vetmed-admin.avif
  web/wwwroot/images/login/photo-vetmed-admin.jpg
  web/wwwroot/images/login/rod-of-asclepius-white.avif
  web/wwwroot/images/login/rod-of-asclepius-white.png
  web/wwwroot/images/logo-vetmed-stacked-lockup.avif
  web/wwwroot/images/logo-vetmed-stacked-lockup.png
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  VueApp/src/composables/__tests__/require-login.test.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/shared/create-spa-router.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(ui): render every re-authentication prompt from one button
  VueApp/src/components/GenericError.vue
  VueApp/src/components/LoginButton.vue
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/components/__tests__/login-button.test.ts
  VueApp/src/layouts/ProfilePic.vue
  VueApp/src/layouts/ViperLayout.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Addresses code review requests
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/InstinctResult.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Areas/RAPS/Services/UinformService.cs
  web/Classes/Utilities/LdapService.cs
  web/Properties/launchSettings.json
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Addresses code review requests
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/InstinctResult.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
  web/Areas/RAPS/Services/UinformService.cs
  web/Classes/Utilities/LdapService.cs
  web/Properties/launchSettings.json
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Addresses security review
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/RAPS/Services/UinformService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(students): require SIS.AllStudents to delete a student class year
  test/Students/DvmStudentsControllerAuthorizationTests.cs
  web/Areas/Students/Controllers/DvmController.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(scripts): rebuild test project when only web sources change
  .oxlintrc.json
  scripts/test-dotnet.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(students): scope the class year deactivation to the student
  test/Students/DvmStudentsControllerClassYearTests.cs
  web/Areas/Students/Controllers/DvmController.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(students): finish the Razor to Vue migration for class years
  VueApp/src/Students/__tests__/student-class-year-permissions.test.ts
  VueApp/src/Students/pages/StudentClassYear.vue
  VueApp/src/Students/router/routes.ts
  web/Areas/Students/Controllers/StudentsController.cs
  web/Areas/Students/Views/Index.cshtml
  web/Areas/Students/Views/StudentClassYear.cshtml
  web/Areas/Students/Views/StudentClassYearImport.cshtml
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(a11y): give the error and session dialogs a visible close control
  VueApp/src/components/GenericError.vue
  VueApp/src/components/SessionTimeout.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
