Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): extract TermTable for term selection rows
  VueApp/src/Effort/components/TermTable.vue
  VueApp/src/Effort/pages/TermSelection.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): centralize report context loading in BaseReportService
  test/Effort/BaseReportServiceTests.cs
  test/Effort/ExcelGenerationTests.cs
  web/Areas/Effort/Services/BaseReportService.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): extract CalculateWeightedAverage in EvaluationReportService
  web/Areas/Effort/Services/EvaluationReportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): restore StatusBanner import in InstructorEdit
  VueApp/src/Effort/pages/InstructorEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(quality): materialize CalculateWeightedAverage rows once
  web/Areas/Effort/Services/EvaluationReportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): restore DBNull guards for nullable SQL params
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritReportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): polish Percent Rollover preview UI
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor: tighten foreach-to-LINQ where it improves the call site
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Services/CrestCourseService.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
  web/Areas/RAPS/Services/RoleViews.cs
  web/Classes/UserHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: convert foreach-add patterns to LINQ Select
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/Directory/Models/IndividualSearchResult.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(resharper): drop useless ToList() before LINQ-to-objects Select
  web/Areas/Directory/Models/IndividualSearchResult.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix: close CodeQL correctness alerts
  web/Areas/CTS/Models/AuditRow.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
  web/Areas/Effort/Services/PercentageService.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Classes/Utilities/AcademicYearHelper.cs
  web/Controllers/HomeController.cs
  web/Models/Students/StudentClassYear.cs
Due: node scripts/lint-staged-dotnet.js --fix

Updates Userinfo page
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/UserInfoResult.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(codeql/3): apply PR-scoped gate and CodeRabbit review feedback
  test/Utilities/AcademicYearHelperTests.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
  web/Classes/Utilities/AcademicYearHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

test(raps): cover RoleTemplateSimplified constructor mapping
  test/RAPS/RoleTemplateSimplifiedTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(students): consolidate StudentGroupService photo + Ross helpers
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(cms): reduce Codecs to UU-only and cover with tests
  test/CMS/CodecsTests.cs
  web/Areas/CMS/Data/Codecs.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(deps): update npm/nuget packages and Node to 24.16 within cooldown
  JenkinsFile
  VueApp/package-lock.json
  VueApp/package.json
  package-lock.json
  package.json
  test/Viper.test.csproj
  web/Viper.csproj
Due: none

chore(deps): remove orphaned OWASP.AntiSamy dependency
  VueApp/src/CMS/components/ContentBlock.vue
  VueApp/src/components/CmsContent.vue
  web/Viper.csproj
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(deps): bump actions group and pin all actions to SHA
  .github/workflows/code-quality.yml
  .github/workflows/codeql.yml
  .github/workflows/tests.yml
Due: none

VPR-151 fix(auth): resolve fonts and hero images under /2 base path
  web/Views/Home/Welcome.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

fix(routing): let MVC controllers win over Vue SPA shell on shared prefixes
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-138 fix(cms): harden DownloadZip path handling and ZIP entries
  test/CMS/DownloadZipSecurityTests.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Services/CmsFilePathSafety.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 fix(layout): full-page nav for cross-SPA links in data-driven left nav
  VueApp/src/layouts/LeftNav.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-54 feat(scheduler): Hangfire-backed scheduler with RAPS role-refresh
  .env.local.example
  package-lock.json
  test/HealthChecks/HangfireHealthCheckTests.cs
  test/RAPS/RapsRoleRefreshScheduledJobTests.cs
  test/Scheduler/HangfireJobLoggingFilterTests.cs
  test/Scheduler/ScheduledJobDiscoveryTests.cs
  test/Scheduler/ScheduledJobRunnerTests.cs
  test/Viper.test.csproj
  web/Areas/RAPS/Jobs/RapsRoleRefreshScheduledJob.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/RoleViews.cs
  web/Areas/Scheduler/Controllers/.gitkeep
  web/Areas/Scheduler/Models/ScheduledJobContext.cs
  web/Areas/Scheduler/README.md
  web/Areas/Scheduler/Services/.gitkeep
  web/Areas/Scheduler/Services/IScheduledJob.cs
  web/Areas/Scheduler/Services/ScheduledJobAttribute.cs
  web/Areas/Scheduler/Services/ScheduledJobDiscovery.cs
  web/Areas/Scheduler/Services/ScheduledJobRegistry.cs
  web/Areas/Scheduler/Services/ScheduledJobRunner.cs
  web/Classes/ForwardedHeadersExtensions.cs
  web/Classes/HealthChecks/HangfireHealthCheck.cs
  web/Classes/Scheduler/HangfireDashboardAuthorizationFilter.cs
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Classes/Scheduler/HangfireJobLoggingFilter.cs
  web/Program.cs
  web/Views/Shared/Components/MainNav/MainNav.cs
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 fix(scheduler): point dashboard "Back to site" at Computing area
  web/Classes/Scheduler/HangfireExtensions.cs
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 fix(scheduler): render Razor 403 view for dashboard auth denials
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/composables/RequireLogin.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-138 feat(cms): log traversal-shaped download names on ZIP route
  test/CMS/DownloadZipSecurityTests.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Services/CmsFilePathSafety.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): point logged-out fallback button to /login
  web/Views/Shared/_VIPERLayout.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-138 fix(cms): harden ProvideFile filename and MIME fallback
  web/Areas/CMS/Data/CMS.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-138 fix(cms): rename safety interface to match Scrutor convention
  web/Areas/CMS/Services/CmsFilePathSafety.cs
Due: node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
