Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): VIPER2 download links, shareable filters, folder fixes
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/Files.vue
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): point Old URL links at the VIPER 1 host
  VueApp/src/CMS/pages/Files.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): remove copy-link button from file actions
  VueApp/src/CMS/pages/Files.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): resolve upload name conflicts and preview imports
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/StatusIcon.vue
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/components/BreadcrumbHeading.vue
  VueApp/src/styles/base.css
  test/CMS/CmsFileImportServiceTests.cs
  test/CMS/CmsFileServiceTests.cs
  web/Areas/CMS/Constants/CmsFileNaming.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Models/DTOs/CmsFileDto.cs
  web/Areas/CMS/Models/DTOs/CmsFileImportDtos.cs
  web/Areas/CMS/Models/DTOs/CmsFileRequests.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): standardize form UX, navigation, and list filters
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/LeftNavMenuDialog.vue
  VueApp/src/CMS/components/LeftNavMenuSettingsFields.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/CMS/pages/LeftNavMenus.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  test/CMS/CmsContentBlockServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsNavMenu.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add mobile card mode to list tables and polish a11y
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/LeftNavMenuDialog.vue
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/components/ListCard.vue
  VueApp/src/CMS/components/ListCardField.vue
  VueApp/src/CMS/components/ModifiedStamp.vue
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/CMS/pages/LeftNavMenus.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/styles/base.css
  VueApp/src/styles/colors.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 test(cms): add frontend and backend test coverage
  VueApp/src/CMS/__tests__/content-block-edit-diff.test.ts
  VueApp/src/CMS/__tests__/content-block-history.test.ts
  VueApp/src/CMS/__tests__/content-blocks.test.ts
  VueApp/src/CMS/__tests__/content-diff-dialog.test.ts
  VueApp/src/CMS/__tests__/date-range-filter.test.ts
  VueApp/src/CMS/__tests__/file-form-dialog.test.ts
  VueApp/src/CMS/__tests__/files.test.ts
  VueApp/src/CMS/__tests__/left-nav-menu-dialog.test.ts
  VueApp/src/CMS/__tests__/left-nav-menus.test.ts
  VueApp/src/CMS/__tests__/link-collections.test.ts
  VueApp/src/CMS/__tests__/link.test.ts
  VueApp/src/CMS/__tests__/modified-stamp.test.ts
  VueApp/src/CMS/__tests__/permission-selector.test.ts
  VueApp/src/CMS/__tests__/person-selector.test.ts
  VueApp/src/CMS/__tests__/recent-activity.test.ts
  VueApp/src/CMS/__tests__/test-utils.ts
  VueApp/src/CMS/__tests__/url.test.ts
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CMSContentPermissionTests.cs
  test/CMS/CMSFilesControllerTests.cs
  test/CMS/CMSLeftNavControllerTests.cs
  test/CMS/CMSLinkCollectionControllerTests.cs
  test/CMS/CMSLinkCollectionLinksTests.cs
  test/CMS/CMSUserPhotoControllerTests.cs
  test/Classes/Utilities/DateRangeHelperTests.cs
  test/Services/HtmlSanitizerServiceTests.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add content block edit history with version diffs
  VueApp/src/CMS/components/ContentDiffDialog.vue
  VueApp/src/CMS/components/DateRangeFilter.vue
  VueApp/src/CMS/components/RecentActivity.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlockHistory.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CMS/types/index.ts
  VueApp/src/styles/base.css
  test/CMS/CmsContentBlockServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Models/DTOs/ContentBlockDto.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileAuditService.cs
  web/Areas/CMS/Services/CmsNavMenu.cs
  web/Classes/Utilities/DateRangeHelper.cs
  web/Services/HtmlSanitizerService.cs
  web/Services/IHtmlSanitizerService.cs
  web/Viper.csproj
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): use routable action for link collection 201 Location
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): unify reorder UX for left-nav items and link collections
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/components/SortableList.vue
  VueApp/src/components/__tests__/sortable-list.test.ts
  VueApp/src/composables/__tests__/use-reorder.test.ts
  VueApp/src/composables/use-reorder.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): correct restore, collection delete, and tag errors
  VueApp/src/CMS/__tests__/content-blocks.test.ts
  VueApp/src/CMS/pages/ContentBlocks.vue
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CMSFilesControllerTests.cs
  test/CMS/CMSLinkCollectionControllerTests.cs
  test/CMS/CmsLeftNavDisplayTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Data/LeftNavMenu.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): reject protocol-relative URLs in link validation
  test/CMS/SafeUrlAttributeTests.cs
  web/Areas/CMS/Validation/SafeUrlAttribute.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): preserve file bytes when save fails after overwrite
  test/CMS/CmsFileImportServiceTests.cs
  test/CMS/CmsFileServiceTests.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): open the Home hub to granular-permission users
  VueApp/src/CMS/__tests__/router-canonicalization.test.ts
  VueApp/src/CMS/router/index.ts
  VueApp/src/CMS/router/routes.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-59 refactor(cms): align badges, tokens, and a11y across CMS pages
  VueApp/src/CMS/__tests__/link-collections.test.ts
  VueApp/src/CMS/__tests__/test-utils.ts
  VueApp/src/CMS/components/ContentBlock.vue
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/components/RecentActivity.vue
  VueApp/src/CMS/components/StatusIcon.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlockHistory.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/CMS/pages/LeftNavMenus.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/styles/base.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): inline block file uploads and trash auto-purge
  VueApp/src/CMS/__tests__/content-blocks.test.ts
  VueApp/src/CMS/__tests__/file-form-dialog.test.ts
  VueApp/src/CMS/__tests__/files.test.ts
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/components/PermissionChips.vue
  VueApp/src/CMS/file-types.ts
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/LeftNavMenus.vue
  VueApp/src/CMS/types/index.ts
  VueApp/src/styles/base.css
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CMSFilesControllerTests.cs
  test/CMS/CmsFileServiceTests.cs
  test/CMS/CmsTrashPurgeScheduledJobTests.cs
  web/Areas/CMS/Constants/CmsTrash.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Jobs/CmsTrashPurgeScheduledJob.cs
  web/Areas/CMS/Models/CmsFileMapper.cs
  web/Areas/CMS/Models/DTOs/CmsFileDto.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/appsettings.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 chore(cms): resolve ReSharper and CodeQL findings
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CMSContentPermissionTests.cs
  test/CMS/CMSFilesControllerTests.cs
  test/CMS/CMSLinkCollectionControllerTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  test/CMS/CmsTrashPurgeScheduledJobTests.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileAuditService.cs
  web/Services/HtmlSanitizerService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): make file path handling OS-independent
  test/CMS/CmsFileServiceTests.cs
  web/Areas/CMS/Services/CmsFileCrypto.cs
  web/Areas/CMS/Services/CmsFileEncryptionService.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
  web/Areas/CMS/Services/CmsUserPhotoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(cms): cut Vue page complexity and duplication
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/composables/use-server-table.ts
  VueApp/src/CMS/composables/use-url-filtered-table.ts
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlockHistory.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 test(cms): make import webroot fixtures OS-independent
  test/CMS/CmsFileImportServiceTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): stop anonymous content endpoint leaking file keys
  test/CMS/CMSContentControllerTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): harden file downloads against stored XSS
  test/CMS/CmsFileResponseTests.cs
  web/Areas/CMS/Constants/CmsFileTypes.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Services/CmsFileResponse.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): tighten left-nav validation and save integrity
  test/CMS/CMSLeftNavControllerTests.cs
  test/CMS/CmsLeftNavServiceTests.cs
  test/CMS/MaxLengthEachAttributeTests.cs
  web/Areas/CMS/Controllers/CMSLeftNavController.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
  web/Areas/CMS/Validation/MaxLengthEachAttribute.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): small hardening and DI cleanups
  test/Classes/Utilities/DateRangeHelperTests.cs
  web/Areas/CMS/Constants/CmsPermissions.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsNavMenu.cs
  web/Classes/Utilities/DateRangeHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): align validation namespace with file location
  test/CMS/MaxLengthEachAttributeTests.cs
  test/CMS/SafeUrlAttributeTests.cs
  web/Areas/CMS/Models/DTOs/CreateLinkDto.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
  web/Areas/CMS/Validation/MaxLengthEachAttribute.cs
  web/Areas/CMS/Validation/SafeUrlAttribute.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 test(cms): expand frontend coverage for files and editing
  VueApp/src/CMS/__tests__/cms-home.test.ts
  VueApp/src/CMS/__tests__/content-block-edit-save.test.ts
  VueApp/src/CMS/__tests__/content-blocks.test.ts
  VueApp/src/CMS/__tests__/file-form-dialog-conflict.test.ts
  VueApp/src/CMS/__tests__/files.test.ts
  VueApp/src/CMS/__tests__/inline-file-upload.test.ts
  VueApp/src/CMS/__tests__/left-nav-menus.test.ts
  VueApp/src/CMS/__tests__/person-selector.test.ts
  VueApp/src/CMS/__tests__/use-server-table.test.ts
  VueApp/src/CMS/__tests__/use-url-filtered-table.test.ts
  VueApp/src/components/__tests__/sortable-list.test.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-59 feat(cms): server-side paging for the content block list
  VueApp/src/CMS/__tests__/content-blocks.test.ts
  VueApp/src/CMS/pages/ContentBlocks.vue
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(cms): dialog guard, filter consistency, token cleanup
  VueApp/src/CMS/__tests__/files.test.ts
  VueApp/src/CMS/__tests__/link-collections.test.ts
  VueApp/src/CMS/__tests__/link.test.ts
  VueApp/src/CMS/components/ContentDiffDialog.vue
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/LeftNavMenus.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/components/SortableList.vue
  VueApp/src/config/colors.ts
  VueApp/src/styles/base.css
  VueApp/src/styles/colors.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): surface truly recent blocks in the activity rail
  VueApp/src/CMS/__tests__/recent-activity.test.ts
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/components/RecentActivity.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): mirror nav groups on the hub and surface activity
  VueApp/src/CMS/__tests__/cms-home.test.ts
  VueApp/src/CMS/__tests__/recent-activity.test.ts
  VueApp/src/CMS/components/RecentActivity.vue
  VueApp/src/CMS/composables/use-content-diff-viewer.ts
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlockHistory.vue
  test/CMS/CmsFileServiceTests.cs
  web/Areas/CMS/Services/CmsFileService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(cms): extract ActivityRow to satisfy the fallow gate
  VueApp/src/CMS/components/ActivityRow.vue
  VueApp/src/CMS/components/RecentActivity.vue
  VueApp/src/CMS/types/index.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(deps): hold @types/node at 24 LTS (reject 25 bump)
  VueApp/package-lock.json
  VueApp/package.json
Due: none

VPR-59 fix(cms): apply full-branch review fixes across API and UI
  VueApp/src/CMS/__tests__/recent-activity.test.ts
  VueApp/src/CMS/__tests__/use-server-table.test.ts
  VueApp/src/CMS/components/ActivityRow.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/composables/use-server-table.ts
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/composables/use-route-focus.ts
  VueApp/src/shared/__tests__/create-spa-router.test.ts
  test/CMS/CMSContentControllerTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/DTOs/ContentBlockDto.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): detect concurrent file edits with 409 conflicts
  VueApp/src/CMS/__tests__/file-form-dialog.test.ts
  VueApp/src/CMS/components/FileFormDialog.vue
  test/CMS/CMSFilesControllerTests.cs
  test/CMS/CmsFileServiceTests.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Models/DTOs/CmsFileDto.cs
  web/Areas/CMS/Models/DTOs/CmsFileRequests.cs
  web/Areas/CMS/Services/CmsFileService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): restore legacy photo lookups and conditional caching
  test/CMS/CMSUserPhotoControllerTests.cs
  test/CMS/CmsUserPhotoServiceTests.cs
  web/Areas/CMS/Controllers/CMSUserPhotoController.cs
  web/Areas/CMS/Services/CmsUserPhotoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): address browser smoke-test findings
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/styles/base.css
  test/CMS/CmsLeftNavServiceTests.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): address Copilot and CodeQL review findings
  VueApp/src/CMS/components/PersonSelector.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/shared/create-spa-router.ts
  test/CMS/CmsContentBlockServiceTests.cs
  test/CMS/CmsFileServiceTests.cs
  test/CMS/CmsFileStorageServiceTests.cs
  web/Areas/CMS/Constants/CmsFileNaming.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Data/LeftNavMenu.cs
  web/Areas/CMS/Models/CMSFile.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/CmsFileMapper.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsDownloadRateLimiting.cs
  web/Areas/CMS/Services/CmsFileAuditService.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(cms): extract CmsConcurrencyException to its own file
  web/Areas/CMS/Services/CmsConcurrencyException.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-92 fix(raps): clone user fails on role removals and date updates
  test/RAPS/CloneServiceTests.cs
  web/Areas/RAPS/Services/CloneService.cs
  web/Areas/RAPS/Views/Members/Clone.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): address second-round Copilot findings on the restack
  VueApp/src/styles/base.css
  web/Areas/CMS/Constants/CmsFileNaming.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
