Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add explanatory hints to the file-folder and block-system selects
  VueApp/src/CMS/__tests__/file-form-dialog.test.ts
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): tolerate viper/-prefixed import paths in the import page
  VueApp/src/CMS/__tests__/import-files.test.ts
  VueApp/src/CMS/pages/ImportFiles.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): add raw HTML source view to the content editor
  VueApp/src/CMS/pages/ContentBlockEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): add diff-vs-current action to the edit history page
  VueApp/src/CMS/__tests__/content-block-history.test.ts
  VueApp/src/CMS/pages/ContentBlockHistory.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(shared): strip all trailing slashes when normalizing the SPA base path
  VueApp/src/shared/__tests__/strip-trailing-slashes.test.ts
  VueApp/src/shared/bootstrap-spa.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/shared/strip-trailing-slashes.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-59 fix(cms): reject left-nav links saved without a URL
  VueApp/src/CMS/pages/LeftNavEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): delegated block editing via per-block edit permissions
  VueApp/src/CMS/__tests__/cms-home.test.ts
  VueApp/src/CMS/__tests__/content-block-edit-delegated.test.ts
  VueApp/src/CMS/__tests__/content-block-edit-save.test.ts
  VueApp/src/CMS/__tests__/inline-file-upload.test.ts
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/components/PermissionSelector.vue
  VueApp/src/CMS/composables/use-cms-files.ts
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CMS/types/index.ts
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Models/CMSBlockAddEdit.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/DTOs/ContentBlockDto.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Models/VIPER/ContentBlock.cs
  web/Models/VIPER/ContentBlockToEditPermission.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(cms): let left-nav item permission selectors opt out of the default hint
  VueApp/src/CMS/components/PermissionSelector.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): make the file-rollback recheck atomic under concurrent attach
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  test/CMS/CmsFileServiceTests.cs
  test/CMS/TestableCmsFileService.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Classes/Utilities/TransactionHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(health): monitor the CMS legacy-import webroot reachability
  web/Classes/HealthChecks/HealthCheckExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(scheduler): keep week-history dialog header stationary while paging
  VueApp/src/ClinicalScheduler/components/WeekHistoryDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): report the failing stage in file upload/update errors
  test/CMS/CMSFilesControllerTests.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(health): probe CMS file store write access per folder
  test/HealthChecks/CmsFileStoreHealthCheckTests.cs
  web/Classes/HealthChecks/CmsFileStoreHealthCheck.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): include the target path in file-store write errors
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(directory): drive VMACS endpoint from config, fail closed if unset
  test/Areas/Directory/VMACSServiceTest.cs
  test/HealthChecks/VmacsDirectoryHealthCheckTests.cs
  web/Areas/Directory/Services/VMACSService.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Classes/HealthChecks/VmacsDirectoryHealthCheck.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(health): drop the probe path from the not-writable message
  web/Classes/HealthChecks/CmsFileStoreHealthCheck.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(scripts): self-heal corrupt Mailpit install and extract atomically
  scripts/manage-mailpit.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-59 fix(health): put each not-writable CMS folder on its own line
  web/Classes/HealthChecks/CmsFileStoreHealthCheck.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 chore: disable Biome in CodeRabbit reviews
  .coderabbit.yaml
Due: none

VPR-59 fix(cms): resolve legacy webroot from per-environment config
  web/Areas/CMS/Services/CmsFileImportService.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): recognize cross-root file records before allowing an overwrite
  test/CMS/CmsFileServiceTests.cs
  test/CMS/CmsFileStorageServiceTests.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): tolerate viper/-prefixed import paths like legacy
  test/CMS/CmsFileImportServiceTests.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): treat a null Permissions list as empty on import
  test/CMS/CmsFileImportServiceTests.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): reject OS-invalid characters in an uploaded file name
  test/CMS/CmsFileStorageServiceTests.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): fail closed when a non-admin has no LoginId
  test/CMS/CMSFilesControllerTests.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): stop header rows from crashing left-nav rendering with a null URL
  test/CMS/CmsLeftNavServiceTests.cs
  test/Classes/NavMenuItemTests.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
  web/Classes/NavMenuItem.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): content blocks, left navigation, and link collections API
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CMSLeftNavControllerTests.cs
  test/CMS/CMSLinkCollectionControllerTests.cs
  test/CMS/CMSLinkCollectionLinksTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  test/CMS/CmsLeftNavDisplayTests.cs
  test/CMS/CmsLeftNavServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Controllers/CMSLeftNavController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
  web/Areas/CMS/Data/LeftNavMenu.cs
  web/Areas/CMS/Models/CMSBlockAddEdit.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/DTOs/ContentBlockDto.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
  web/Areas/CMS/Services/CmsNavMenu.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 perf(cms): avoid O(n²) permission-removal scan on left-nav items
  web/Areas/CMS/Services/CmsLeftNavService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(cms): simplify the public content-block-by-name lookup
  web/Areas/CMS/Controllers/CMSContentController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(vue): share the audit action palette across areas
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/Effort/components/ChangeDetailDiff.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/composables/__tests__/use-audit-colors.test.ts
  VueApp/src/composables/use-audit-colors.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
