Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

feat(session): move the SPA session poll off the legacy CFM
  VueApp/src/components/SessionTimeout.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-61 feat(auth): honor Entra front-channel logout and relay to VIPER 1
  test/Classes/AuthorizationFallbackTests.cs
  test/Classes/CspPolicyTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Classes/EntraSessionRevocationStoreTests.cs
  test/Controllers/EntraLogoutControllerTests.cs
  web/Classes/CspPolicy.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/EntraSessionRevocationStore.cs
  web/Controllers/EntraLogoutController.cs
  web/Program.cs
  web/appsettings.Development.json
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

Represses Instinct error if API is not available
  test/Services/UserInfoServiceUnitTests.cs
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Fixes alt photo
  web/Areas/Directory/Views/UserInfo.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

Fixes broken alt photo
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(tests): remove redundant null-forgiving operators
  test/Services/UserInfoServiceUnitTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-210 fix(cms): keep legacy CMS tables borderless
  DESIGN.md
  VueApp/src/components/RichTextEditor.vue
  VueApp/src/components/__tests__/editor-html.test.ts
  VueApp/src/components/__tests__/rich-text-editor.test.ts
  VueApp/src/components/editor/EditorTableDialog.vue
  VueApp/src/components/editor/editor-html.ts
  VueApp/src/styles/base.css
  VueApp/src/styles/colors.css
  test/Services/HtmlSanitizerServiceTests.cs
  web/Services/HtmlSanitizerService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(deps): update .NET packages to 10.0.12 for September security fixes
  test/Viper.test.csproj
  web/Areas/Effort/Scripts/EffortMigration.csproj
  web/Areas/Personnel/Scripts/PhoneListsMigration.csproj
  web/Viper.csproj
Due: none

VPR-151 perf(auth): cache /images for 30 days
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-214 refactor(web): drop unused session registration
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-187 feat(deploy): persist the Data Protection key ring to a shared folder
  web/Classes/DataProtectionExtensions.cs
  web/Program.cs
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-188 feat(deploy): set the Hangfire shutdown timeout chain explicitly
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-217 fix(deploy): raise the ANCM shutdownTimeLimit off its 10s default
  web/Classes/Scheduler/HangfireExtensions.cs
  web/web.config
Due: node scripts/lint-staged-dotnet.js --fix

Adds ids back to directory
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Models/IndividualSearchResult.cs
  web/Areas/Directory/Models/IndividualSearchResultWithIDs.cs
  web/Areas/Directory/Services/UserInfoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-61 fix(auth): clear CodeQL findings on front-channel logout
  test/Controllers/EntraLogoutControllerTests.cs
  web/Classes/EntraSessionRevocationStore.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adjusts how null alt photo is rendered
  test/CMS/CmsUserPhotoServiceTests.cs
  test/Services/UserInfoServiceTests.cs
  test/Services/UserInfoServiceUnitTests.cs
  web/Areas/CMS/Services/CmsUserPhotoService.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Areas/Directory/Views/UserInfo.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): add Entra ID login alongside CAS
  DESIGN.md
  PRODUCT.md
  test/Classes/DuoAuthenticationRequirementTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/AuthenticationSettings.cs
  web/Classes/DuoAuthenticationRequirement.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/LoginProviders.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Viper.csproj
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

Fixes photo on directory
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Models/IndividualSearchResult.cs
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): relay front-channel logout to VIPER 1 on TEST and PROD
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: none

VPR-151 fix(auth): resolve hero images under /2 base path
  web/Views/Home/Welcome.cshtml
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-151 feat(auth): Dynamic login screen
  DESIGN.md
  PRODUCT.md
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/assets/UCDSVMLogo.png
  VueApp/src/assets/logo-vetmed-stacked-lockup.avif
  VueApp/src/assets/logo-vetmed-stacked-lockup.png
  VueApp/src/assets/rod-of-asclepius-white.avif
  VueApp/src/assets/rod-of-asclepius-white.png
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  test/Classes/Utilities/WelcomePageHelperTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/Utilities/WelcomePageHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/Views/Shared/_ViperBrand.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
  web/wwwroot/images/UCDSVMLogo.png
  web/wwwroot/images/login/photo-guinea-pig.avif
  web/wwwroot/images/login/photo-guinea-pig.jpg
  web/wwwroot/images/login/photo-horse-foal.avif
  web/wwwroot/images/login/photo-horse-foal.jpg
  web/wwwroot/images/login/photo-ophthalmology.avif
  web/wwwroot/images/login/photo-ophthalmology.jpg
  web/wwwroot/images/login/photo-svm-building.avif
  web/wwwroot/images/login/photo-svm-building.jpg
  web/wwwroot/images/login/photo-vetmed-admin.avif
  web/wwwroot/images/login/photo-vetmed-admin.jpg
  web/wwwroot/images/login/rod-of-asclepius-white.avif
  web/wwwroot/images/login/rod-of-asclepius-white.png
  web/wwwroot/images/logo-vetmed-stacked-lockup.avif
  web/wwwroot/images/logo-vetmed-stacked-lockup.png
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  VueApp/src/composables/__tests__/require-login.test.ts
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/styles/base.css
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): add dynamic welcome/login screen
  DESIGN.md
  PRODUCT.md
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/assets/UCDSVMLogo.png
  VueApp/src/assets/logo-vetmed-stacked-lockup.avif
  VueApp/src/assets/logo-vetmed-stacked-lockup.png
  VueApp/src/assets/rod-of-asclepius-white.avif
  VueApp/src/assets/rod-of-asclepius-white.png
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  test/Classes/Utilities/WelcomePageHelperTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/Utilities/WelcomePageHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/Views/Shared/_ViperBrand.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
  web/wwwroot/images/UCDSVMLogo.png
  web/wwwroot/images/login/photo-guinea-pig.avif
  web/wwwroot/images/login/photo-guinea-pig.jpg
  web/wwwroot/images/login/photo-horse-foal.avif
  web/wwwroot/images/login/photo-horse-foal.jpg
  web/wwwroot/images/login/photo-ophthalmology.avif
  web/wwwroot/images/login/photo-ophthalmology.jpg
  web/wwwroot/images/login/photo-svm-building.avif
  web/wwwroot/images/login/photo-svm-building.jpg
  web/wwwroot/images/login/photo-vetmed-admin.avif
  web/wwwroot/images/login/photo-vetmed-admin.jpg
  web/wwwroot/images/login/rod-of-asclepius-white.avif
  web/wwwroot/images/login/rod-of-asclepius-white.png
  web/wwwroot/images/logo-vetmed-stacked-lockup.avif
  web/wwwroot/images/logo-vetmed-stacked-lockup.png
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/styles/base.css
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): honor Entra front-channel logout and relay to VIPER 1
  test/Classes/AuthorizationFallbackTests.cs
  test/Classes/CspPolicyTests.cs
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Classes/EntraSessionRevocationStoreTests.cs
  test/Controllers/EntraLogoutControllerTests.cs
  web/Classes/CspPolicy.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Classes/EntraSessionRevocationStore.cs
  web/Controllers/EntraLogoutController.cs
  web/Program.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): let users pick and switch Entra accounts
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Controllers/HomeController.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): let users switch and sign out of the right Entra account
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

chore: drop dead entries from the frontend gitignore
  VueApp/.gitignore
Due: none

fix(lint): add --format so autofix cannot rewrite test semantics
  scripts/lint-any.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

perf(test): run Vitest on the vmThreads pool
  CLAUDE.md
  VueApp/README.md
  VueApp/src/CMS/__tests__/content-block-edit-image-upload.test.ts
  VueApp/src/CMS/__tests__/inline-file-upload.test.ts
  VueApp/vite.config.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write
