Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix, node scripts/lint-staged-cshtml.js --fix

feat(dev): add pre-commit build verification and fix browser launch timing
  .husky/pre-commit
  VueApp/src/CTS/pages/MyAssessmentCharts.vue
  package.json
  scripts/launch-open-browser.js
  scripts/lib/script-utils.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Fixing issues in ManageEpas.(cshtml|vue) and ViperLayout.vue causing build errors
  .lintstagedrc.json
  .prettierignore
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/layouts/ViperLayout.vue
  scripts/lib/script-utils.js
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix, node scripts/lint-staged-cshtml.js --fix

Modified precommit hook to skip linting on merge commits
  .husky/pre-commit
Due: none

Adding Vue building to verification on precommit
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Adding missing DotNetEnv library
  web/Viper.csproj
Due: none

Added back AllowUnsafeInline() for production environments
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adding back AllowUnsafeEval() to fix broken homepage
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

Clinical Scheduler UI revamp
  VueApp/src/ClinicalScheduler/App.vue
  VueApp/src/ClinicalScheduler/assets/clinicalscheduler.css
  VueApp/src/ClinicalScheduler/clinicalscheduler.ts
  VueApp/src/ClinicalScheduler/index.html
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/ClinicalScheduler/router/routes.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/vite.config.ts
  web/Areas/ClinicalScheduler/Controllers/TestController.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Program.cs
  web/Viper.csproj
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Phase 3-5: Clinical scheduler backend API and frontend integration
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/WeekGrid.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/RotationService.ts
  test/ClinicalScheduler/ClinicalSchedulerContextTest.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Controllers/TestController.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/CTS/ScheduleAudit.cs
  web/Models/CTS/Status.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Phase 6 Complete: Clinician view
  VueApp/src/ClinicalScheduler/App.vue
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/index.html
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/router/routes.ts
  VueApp/src/ClinicalScheduler/services/ClinicianService.ts
  VueApp/src/ClinicalScheduler/services/RotationService.ts
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Classes/TermCodes.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Phase 6+: Hooked up frontend to database
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/YearSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/AcademicYearService.ts
  VueApp/src/ClinicalScheduler/services/__tests__/AcademicYearService.test.ts
  test/ClinicalScheduler/AcademicYearServiceTest.cs
  test/ClinicalScheduler/ClinicalSchedulerContextTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/WeekServiceTest.cs
  web/Areas/ClinicalScheduler/Controllers/BaseClinicalSchedulerController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Controllers/StudentScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/TestController.cs
  web/Areas/ClinicalScheduler/Services/AcademicYearService.cs
  web/Areas/ClinicalScheduler/Services/BaseClinicalSchedulerService.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/WeekService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/Status.cs
  web/Models/ClinicalScheduler/VWeek.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Connected to ClincialScheduler database - Added additional frontend tests - TODO: Some UX issues with "Schedule by Clinician"
  VueApp/src/ClinicalScheduler/__tests__/RotationSelector.test.ts
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/services/__tests__/AcademicYearService.test.ts
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/PersonServiceTest.cs
  test/ClinicalScheduler/RotationServiceTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Controllers/StudentScheduleController.cs
  web/Areas/ClinicalScheduler/Services/AcademicYearService.cs
  web/Areas/ClinicalScheduler/Services/BaseClinicalSchedulerService.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/RotationService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/Person.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Save point
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Services/AcademicYearService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
Due: node scripts/lint-staged-dotnet.js --fix

Address Copilot code review issues
  web/Models/ClinicalScheduler/Person.cs
  web/Models/ClinicalScheduler/Status.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

Restricted Clinical Scheduler to "SVMSecure.ClnSched.Manage" + refactoring
  VueApp/src/CTS/components/ServiceSelect.vue
  VueApp/src/ClinicalScheduler/assets/clinicalscheduler.css
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/ScheduleBanner.vue
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/components/WeekGrid.vue
  VueApp/src/ClinicalScheduler/components/WeekScheduleCard.vue
  VueApp/src/ClinicalScheduler/components/YearSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/RotationService.ts
  VueApp/src/components/StudentSelect.vue
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  web/Areas/CTS/Controllers/ClinicalScheduleController.cs
  web/Areas/CTS/Services/ClinicalScheduleSecurityService.cs
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Controllers/StudentScheduleController.cs
  web/Areas/ClinicalScheduler/Services/ClinicalScheduleSecurityService.cs
  web/Areas/ClinicalScheduler/Services/ClinicalScheduleService.cs
  web/Areas/ClinicalScheduler/Services/GradYearService.cs
  web/Areas/ClinicalScheduler/Services/IClinicalScheduleSecurityService.cs
  web/Areas/ClinicalScheduler/Services/IClinicalScheduleService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix, node scripts/lint-staged-cshtml.js --fix

UI refinements
  VueApp/src/ClinicalScheduler/App.vue
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  web/Areas/ClinicalScheduler/Services/ClinicalSchedulerNavMenu.cs
  web/Controllers/LayoutController.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): add granular permission system for schedule editing
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/services/ClinicianService.ts
  VueApp/src/ClinicalScheduler/services/GradYearService.ts
  VueApp/src/ClinicalScheduler/services/PermissionService.ts
  VueApp/src/ClinicalScheduler/services/RotationService.ts
  VueApp/src/ClinicalScheduler/stores/permissions.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/composables/ViperFetch.ts
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/PermissionsControllerTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/SchedulePermissionServiceTest.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/ISchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/Service.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Phase 8 - backend schedule management
  test/ClinicalScheduler/ScheduleAuditServiceTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  web/Areas/ClinicalScheduler/Constants/ScheduleAuditActions.cs
  web/Areas/ClinicalScheduler/Constants/ValidationMessages.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Extensions/InstructorScheduleMappingExtensions.cs
  web/Areas/ClinicalScheduler/Services/IScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/IScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/ScheduleAudit.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

Fixing database compatibility level with EF Core 8
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Fixed "Include all affiliates" clinician selector
  .oxlintrc.json
  VueApp/eslint.config.mjs
  VueApp/src/CTS/cts.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-edge-cases.test.ts
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/WeekScheduleCard.vue
  VueApp/src/ClinicalScheduler/components/YearSelector.vue
  VueApp/src/ClinicalScheduler/composables/use-schedule-state-updater.ts
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/ClinicalScheduler/services/clinician-service.ts
  VueApp/src/ClinicalScheduler/services/instructor-schedule-service.ts
  VueApp/src/ClinicalScheduler/services/page-data-service.ts
  VueApp/src/ClinicalScheduler/services/permission-service.ts
  VueApp/src/ClinicalScheduler/stores/permissions.ts
  VueApp/src/ClinicalScheduler/types/api.ts
  VueApp/src/ClinicalScheduler/types/rotation-types.ts
  VueApp/src/Computing/computing.ts
  VueApp/src/Students/students.ts
  VueApp/tsconfig.app.json
  scripts/launch-chrome-debug.js
  scripts/launch-find-viper.js
  scripts/lib/lint-staged-common.js
  scripts/lint-staged-vue.js
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Fixing typescript errors
  VueApp/src/CTS/components/ServiceSelect.vue
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  package.json
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Fixing failing tests
  .husky/pre-commit
  JenkinsFile
  package.json
  test/ClinicalScheduler/PermissionsControllerTest.cs
  test/ClinicalScheduler/PersonServiceTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adding clinicalscheduler to build path for vite
  VueApp/vite.config.ts
  package.json
  scripts/run-backend.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Phase 10 Fine-grain Permissions (backend)
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/services/page-data-service.ts
  VueApp/src/ClinicalScheduler/services/permission-service.ts
  VueApp/src/ClinicalScheduler/stores/permissions.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/SchedulePermissionServiceTest.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Services/ClinicalScheduleSecurityService.cs
  web/Areas/ClinicalScheduler/Services/ISchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Program.cs
  web/Services/EmailNotificationSettingsValidator.cs
  web/Services/EmailService.cs
  web/appsettings.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Fixing other areas to use new centralized color scheme
  VueApp/src/CTS/cts.ts
  VueApp/src/Computing/computing.ts
  VueApp/src/Students/students.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

#195559 Adds controls based on permissions
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Models/DirectoryUser.cs
  web/Areas/Directory/Views/Card.cshtml
Due: prettier --write, node scripts/lint-staged-dotnet.js --fix, node scripts/lint-staged-cshtml.js --fix

Hiding "Vacation" rotation and collapsing pasted terms
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  scripts/lib/script-utils.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(clinical-scheduler): Fixing logic for primary evaluator
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  test/ClinicalScheduler/ClinicalSchedulerContextTest.cs
  test/ClinicalScheduler/EvaluationPolicyServiceTest.cs
  test/ClinicalScheduler/GradYearServiceTest.cs
  test/ClinicalScheduler/RotationServiceTest.cs
  test/ClinicalScheduler/ScheduleAuditServiceTest.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  test/ClinicalScheduler/WeekServiceTest.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/RotationWeeklyPref.cs
  web/Models/ClinicalScheduler/VWeek.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Handling someone with rotation and editown permissions
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-basic.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-helpers.ts
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-permissions.test.ts
  VueApp/src/ClinicalScheduler/__tests__/permissions-store-computed.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-edge-cases.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-helpers.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector.test.ts
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/clinician-service.ts
  VueApp/src/ClinicalScheduler/stores/permissions-helpers.ts
  VueApp/src/ClinicalScheduler/stores/permissions.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  package-lock.json
  package.json
  scripts/lib/build-cache.js
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/EmailNotificationTest.cs
  test/ClinicalScheduler/PermissionsControllerTest.cs
  test/ClinicalScheduler/PersonServiceTest.cs
  test/ClinicalScheduler/RotationServiceTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/WeekServiceTest.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/BaseClinicalSchedulerService.cs
  web/Areas/ClinicalScheduler/Services/IRotationService.cs
  web/Areas/ClinicalScheduler/Services/RotationService.cs
  web/Areas/ClinicalScheduler/Services/WeekService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Complete Phase 1 - Backend permission consolidation
  web/Areas/CTS/Controllers/ClinicalScheduleController.cs
  web/Areas/ClinicalScheduler/Services/ClinicalSchedulePermissions.cs
  web/Areas/ClinicalScheduler/Services/ClinicalScheduleSecurityService.cs
  web/Areas/ClinicalScheduler/Services/IClinicalScheduleSecurityService.cs
  web/Areas/ClinicalScheduler/Services/ISchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(clinical-scheduler): Phase 2: Extract DTOs and convert EvaluationPolicyService to instance-based
  test/ClinicalScheduler/EvaluationPolicyServiceTest.cs
  test/ClinicalScheduler/InstructorScheduleControllerTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Extensions/InstructorScheduleMappingExtensions.cs
  web/Areas/ClinicalScheduler/Extensions/RotationMappingExtensions.cs
  web/Areas/ClinicalScheduler/Extensions/ServiceMappingExtensions.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Requests/AddInstructorRequest.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Requests/SetPrimaryEvaluatorRequest.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AddInstructorResponse.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/InstructorScheduleResponse.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/RotationDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/ScheduleConflictResponse.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/ServiceDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/SuccessResponse.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/IEvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/IRotationWeekInfo.cs
  web/Models/ClinicalScheduler/VWeek.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

Prepares directory for review
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Models/DirectoryUser.cs
  web/Areas/Directory/Views/Card.cshtml
Due: prettier --write, node scripts/lint-staged-dotnet.js --fix, node scripts/lint-staged-cshtml.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,jsx,ts,tsx}
  prettier --write: (((any of: {VueApp,scripts}/**/*.{js,jsx,ts,tsx}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})) or (any of: web/**/*.cshtml)
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-dotnet.js --fix: (any of: web/**/*.cs) or (any of: {web,test}/**/*.cs)
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
