Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix: link dialog reset, await link reorder, nav scoring, card layout
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/layouts/LeftNav.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix: guard loadCollections response, O(n²) → O(n) nav scoring
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/layouts/LeftNav.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix: revert unsaved collection edits on close, clear state on empty load
  VueApp/src/CMS/pages/ManageLinkCollections.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 feat(students): add emergency contact management module
  VueApp/src/Students/EmergencyContact/__tests__/completeness-icon.test.ts
  VueApp/src/Students/EmergencyContact/__tests__/contact-section.test.ts
  VueApp/src/Students/EmergencyContact/__tests__/emergency-contact-service.test.ts
  VueApp/src/Students/EmergencyContact/__tests__/use-emergency-contact.test.ts
  VueApp/src/Students/EmergencyContact/components/CompletenessIcon.vue
  VueApp/src/Students/EmergencyContact/components/ContactSection.vue
  VueApp/src/Students/EmergencyContact/components/ExportToolbar.vue
  VueApp/src/Students/EmergencyContact/components/PhoneInput.vue
  VueApp/src/Students/EmergencyContact/composables/use-emergency-contact.ts
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactReport.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
  VueApp/src/Students/EmergencyContact/services/emergency-contact-service.ts
  VueApp/src/Students/EmergencyContact/types/index.ts
  VueApp/src/Students/EmergencyContact/utils/phone.ts
  VueApp/src/Students/router/index.ts
  VueApp/src/Students/router/routes.ts
  test/Students/EmergencyContactControllerTests.cs
  test/Students/EmergencyContactServiceTests.cs
  web/Areas/Students/Constants/EmergencyContactPermissions.cs
  web/Areas/Students/Controllers/EmergencyContactController.cs
  web/Areas/Students/Models/AppAccessStatusDto.cs
  web/Areas/Students/Models/ContactInfoDto.cs
  web/Areas/Students/Models/EmergencyContactMapper.cs
  web/Areas/Students/Models/Entities/StudentContact.cs
  web/Areas/Students/Models/Entities/StudentEmergencyContact.cs
  web/Areas/Students/Models/StudentContactDetailDto.cs
  web/Areas/Students/Models/StudentContactListItemDto.cs
  web/Areas/Students/Models/StudentContactReportDto.cs
  web/Areas/Students/Models/StudentInfoDto.cs
  web/Areas/Students/Models/UpdateStudentContactRequest.cs
  web/Areas/Students/Services/EmergencyContactExportService.cs
  web/Areas/Students/Services/EmergencyContactService.cs
  web/Areas/Students/Services/IEmergencyContactService.cs
  web/Areas/Students/Services/PhoneHelper.cs
  web/Classes/SQLContext/SISContext.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): show loading spinner and StatusBanner in LinkCollections
  VueApp/src/CMS/components/LinkCollections.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(build): self-host Roboto + Material Icons woff2, prod-mode verify
  VueApp/src/assets/fonts/Metropolis-Regular.woff2
  VueApp/src/assets/fonts/material-icons.woff2
  VueApp/src/assets/fonts/roboto-v51-latin-ext.woff2
  VueApp/src/assets/fonts/roboto-v51-latin.woff2
  VueApp/src/shared/bootstrap-spa.ts
  VueApp/src/styles/base.css
  VueApp/vite.config.ts
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): disable Link card interactivity when URL fails safeHref
  VueApp/src/CMS/components/Link.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix: avoid stale draftTags when opening New Collection dialog
  VueApp/src/CMS/pages/ManageLinkCollections.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-137 fix(ldap): enforce server certificate validation on LDAPS binds
  web/Classes/Utilities/ActiveDirectoryService.cs
  web/Classes/Utilities/LdapService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-63 feat(students): add admin access controls, exports, and form UX improvements
  VueApp/src/Students/EmergencyContact/__tests__/use-emergency-contact.test.ts
  VueApp/src/Students/EmergencyContact/components/AppAccessControls.vue
  VueApp/src/Students/EmergencyContact/components/CompletenessIcon.vue
  VueApp/src/Students/EmergencyContact/components/ExportToolbar.vue
  VueApp/src/Students/EmergencyContact/composables/use-emergency-contact.ts
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactReport.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
  VueApp/src/Students/EmergencyContact/services/emergency-contact-service.ts
  VueApp/src/Students/EmergencyContact/types/index.ts
  test/Students/EmergencyContactServiceTests.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/Students/Controllers/EmergencyContactController.cs
  web/Areas/Students/Models/StudentContactListItemDto.cs
  web/Areas/Students/Models/StudentContactReportDto.cs
  web/Areas/Students/Services/EmergencyContactExportService.cs
  web/Areas/Students/Services/EmergencyContactService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 refactor(ui): extract shared ExportToolbar and unify report headers
  VueApp/src/Effort/components/ReportLayout.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/ScheduledCliWeeks.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Students/EmergencyContact/components/ExportToolbar.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactReport.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/components/ExportToolbar.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 fix(students): toggle app access via Access column instead of row deletion
  VueApp/src/Effort/effort-forms.css
  VueApp/src/Students/EmergencyContact/components/AppAccessControls.vue
  VueApp/src/Students/EmergencyContact/components/PhoneInput.vue
  VueApp/src/Students/EmergencyContact/composables/use-emergency-contact.ts
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
  VueApp/src/Students/EmergencyContact/utils/phone-errors-key.ts
  VueApp/src/styles/compact-form.css
  test/Students/EmergencyContactControllerTests.cs
  test/Students/EmergencyContactServiceTests.cs
  web/Areas/Students/Services/EmergencyContactService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 fix: address PR review findings — dispose XLWorkbook, fix phone whitespace, remove dup CSS, add aria-label
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/components/ExportToolbar.vue
  web/Areas/Students/Services/EmergencyContactExportService.cs
  web/Areas/Students/Services/PhoneHelper.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 fix: remove duplicate scoped .sr-only from ContactSection.vue
  VueApp/src/Students/EmergencyContact/components/ContactSection.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 fix: reset PhoneInput validity on successful validation
  VueApp/src/Students/EmergencyContact/components/PhoneInput.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 fix: add [Required] to nested DTOs in UpdateStudentContactRequest
  web/Areas/Students/Models/UpdateStudentContactRequest.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-63 fix: use ASCII-only digit regex and route SIS users to view page
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactList.vue
  web/Areas/Students/Services/PhoneHelper.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 refactor: migrate emergency contact banners to StatusBanner component
  VueApp/src/Students/EmergencyContact/components/AppAccessControls.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 fix: add brand colors to export toolbar icons
  VueApp/src/components/ExportToolbar.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 fix(a11y): emergency contact h1, table keyboard, grey contrast
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactReport.vue
  VueApp/src/styles/base.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix: resync tag state on mid-sequence save failure
  VueApp/src/CMS/pages/ManageLinkCollections.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 fix: PR review — toggle-app-close, SIS perms, view h1
  VueApp/src/Students/EmergencyContact/__tests__/use-emergency-contact.test.ts
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
  VueApp/src/Students/router/index.ts
  test/Students/EmergencyContactControllerTests.cs
  test/Students/EmergencyContactMapperTests.cs
  test/Students/EmergencyContactServiceTests.cs
  web/Areas/Students/Services/EmergencyContactService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 fix: address PR #139 bot findings
  VueApp/src/components/ExportToolbar.vue
  test/Students/EmergencyContactControllerTests.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 chore(cts): split MyAssessments/AssessmentBubble into separate branch
  VueApp/src/CTS/__tests__/assessment-bubble.test.ts
  VueApp/src/CTS/assets/cts.css
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/pages/MyAssessments.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): redesign MyAssessments and AssessmentBubble
  VueApp/src/CTS/__tests__/assessment-bubble.test.ts
  VueApp/src/CTS/assets/cts.css
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/pages/MyAssessments.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-63 fix: keep emergency contact view open to students when editing is closed
  VueApp/src/Students/__tests__/emergency-contact-route-guards.test.ts
  VueApp/src/Students/router/routes.ts
  test/Students/EmergencyContactControllerTests.cs
  web/Areas/Students/Controllers/EmergencyContactController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-63 fix: persist SIS perms across nav; reject partial contact updates
  VueApp/src/Students/router/index.ts
  web/Areas/Students/Models/UpdateStudentContactRequest.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-137 fix(raps): fix Group Members 500 error on large or orphaned data
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Views/Groups/Members.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Classes/Utilities/ActiveDirectoryService.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-63 fix: stabilize PDF export timestamp and tighten icon test
  VueApp/src/Students/EmergencyContact/__tests__/completeness-icon.test.ts
  web/Areas/Students/Services/EmergencyContactExportService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-137 fix(raps): stable row-key and null-safe ViewName
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Views/Groups/Members.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

chore(deps): bump .NET runtime, EF Core, and MailKit
  .config/dotnet-tools.json
  global.json
  test/Viper.test.csproj
  web/Areas/Effort/Scripts/EffortMigration.csproj
  web/Viper.csproj
Due: none

VPR-142 refactor(cms): consolidate HTML sanitization into shared service
  test/Services/HtmlSanitizerServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Controllers/CMSController.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CTS/Controllers/EpaController.cs
  web/Classes/HttpHelper.cs
  web/Program.cs
  web/Services/HtmlSanitizerService.cs
  web/Services/IHtmlSanitizerService.cs
  web/Views/Shared/Components/CMSBlocks/CMSBlocks.cs
  web/Viper.csproj
  web/antisamy-cms.xml
Due: node scripts/lint-staged-dotnet.js --fix

VPR-142 fix(cms): sanitize without tracking; correct at-rule comment
  web/Areas/CMS/Data/CMS.cs
  web/Services/HtmlSanitizerService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-142 refactor(cms): sanitize after permission filter
  web/Areas/CMS/Data/CMS.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-141 feat(healthchecks): add /health endpoints and UI dashboard
  JenkinsFile
  web/Classes/HealthChecks/AdaptivePollingHealthCheck.cs
  web/Classes/HealthChecks/AwsSsmHealthCheck.cs
  web/Classes/HealthChecks/DiskSpaceHealthCheck.cs
  web/Classes/HealthChecks/HealthCheckExtensions.cs
  web/Classes/HealthChecks/HttpEndpointHealthCheck.cs
  web/Classes/HealthChecks/LdapHealthCheck.cs
  web/Classes/HealthChecks/SmtpHealthCheck.cs
  web/Program.cs
  web/Viper.csproj
  web/appsettings.json
  web/wwwroot/css/healthchecks-ui-branding.css
  web/wwwroot/healthchecks-ui-logo.png
  web/wwwroot/js/healthchecks-ui-extras.js
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): swap Quasar palette for WCAG-AA UCD brand colors
  VueApp/src/CTS/components/LevelSelect.vue
  VueApp/src/CTS/pages/CompetenciesBundleReport.vue
  VueApp/src/CTS/pages/ManageSessionCompetencies.vue
  VueApp/src/ClinicalScheduler/components/ScheduleBanner.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/constants/schedule-config.ts
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/styles/colors.css
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/EpaEdit.cshtml
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/Components/VueCdn/VueCdnCreate.cshtml
  web/wwwroot/css/site.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-143 fix(cms): split file lookup by identifier, index oldURL
  web/Areas/CMS/Data/CMS.cs
  web/Classes/SQLContext/VIPERContext.cs
Due: node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
