Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(scheduler): add manage-gated audit trail page
  VueApp/src/ClinicalScheduler/__tests__/audit-log-page-access.test.ts
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/constants/permission-messages.ts
  VueApp/src/ClinicalScheduler/pages/AuditLogPage.vue
  VueApp/src/ClinicalScheduler/router/routes.ts
  VueApp/src/ClinicalScheduler/services/audit-log-service.ts
  VueApp/src/ClinicalScheduler/types/audit-types.ts
  web/Areas/ClinicalScheduler/Controllers/ScheduleAuditController.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditLogEntryDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditModifierDto.cs
  web/Areas/ClinicalScheduler/Services/ClinicalSchedulerNavMenu.cs
  web/Areas/ClinicalScheduler/Services/IScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(scheduler): inline per-week history and audit-trail enhancements
  VueApp/src/ClinicalScheduler/__tests__/audit-log-page-access.test.ts
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryButton.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryContent.vue
  VueApp/src/ClinicalScheduler/composables/use-audit-entries.ts
  VueApp/src/ClinicalScheduler/pages/AuditLogPage.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/audit-log-service.ts
  VueApp/src/ClinicalScheduler/types/audit-types.ts
  VueApp/src/ClinicalScheduler/utils/audit-actions.ts
  web/Areas/ClinicalScheduler/Controllers/ScheduleAuditController.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditLogEntryDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditTermDto.cs
  web/Areas/ClinicalScheduler/Services/IScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): align audit-trail filters with the scheduler
  VueApp/src/Effort/components/AuditChangeDetail.vue
  VueApp/src/Effort/pages/AuditList.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(scheduler): rename per-week history copy to "audit trail"
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryButton.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryContent.vue
  VueApp/src/ClinicalScheduler/services/audit-log-service.ts
  web/Areas/ClinicalScheduler/Controllers/ScheduleAuditController.cs
  web/Areas/ClinicalScheduler/Services/IScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(scheduler): add history icon to the schedule legend for managers
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(scheduler): pattern-match nullable audit filter params
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): address CodeRabbit round-one findings
  test/CMS/CMSFilesControllerTests.cs
  test/CMS/CMSOptionsControllerTests.cs
  test/Services/HtmlSanitizerServiceTests.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileAuditService.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(scheduler): reduce audit-trail template complexity
  VueApp/src/ClinicalScheduler/__tests__/audit-log-results-table.test.ts
  VueApp/src/ClinicalScheduler/__tests__/week-history-content.test.ts
  VueApp/src/ClinicalScheduler/components/AuditLogResultsTable.vue
  VueApp/src/ClinicalScheduler/pages/AuditLogPage.vue
  VueApp/src/Effort/__tests__/audit-change-detail.test.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): detect foreign-root records before overwrites
  test/CMS/CmsFileServiceTests.cs
  web/Areas/CMS/Services/CmsFileService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(scheduler): reject non-positive weekId in week-history endpoints
  web/Areas/ClinicalScheduler/Controllers/ScheduleAuditController.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(scheduler): make audit page retry re-run failed page-data loads
  VueApp/src/ClinicalScheduler/pages/AuditLogPage.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 chore: disable Biome in CodeRabbit reviews
  .coderabbit.yaml
Due: none

VPR-59 fix(cms): both-separator leaf names for uploads and DTOs
  web/Areas/CMS/Models/CmsFileMapper.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): honor the key-file override in the download path
  test/Classes/Utilities/DateRangeHelperTests.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Services/CmsFileCrypto.cs
  web/Classes/Utilities/DateRangeHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): rate limiter ordering, invariant audit stamps, dev path gate
  web/Areas/CMS/Services/CmsFileAuditService.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): OS-aware comparison for path-containment checks
  web/Areas/CMS/Services/CmsFilePathSafety.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
  web/Areas/CMS/Services/CmsUserPhotoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): OS-aware comparison for the import webroot guard
  web/Areas/CMS/Services/CmsFileImportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): validation misuse guard, temp cleanup, null-leaf guard
  test/CMS/MaxLengthEachAttributeTests.cs
  web/Areas/CMS/Services/CmsFileEncryptionService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
  web/Areas/CMS/Validation/MaxLengthEachAttribute.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): left-nav 409 guard, reorder membership check, review cleanups
  VueApp/src/CMS/__tests__/left-nav-edit.test.ts
  VueApp/src/CMS/pages/LeftNavEdit.vue
  test/CMS/CMSLinkCollectionLinksTests.cs
  test/CMS/CmsLeftNavDisplayTests.cs
  test/CMS/CmsLeftNavServiceTests.cs
  web/Areas/CMS/Controllers/CMSLeftNavController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): async temp writes, null-tolerant lists, message constants
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): duplicate-id guard for tag-category reorder
  test/CMS/CMSLinkCollectionControllerTests.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): CodeRabbit frontend round: conflict display, rollback, guards
  VueApp/src/CMS/__tests__/file-form-dialog-conflict.test.ts
  VueApp/src/CMS/__tests__/inline-file-upload.test.ts
  VueApp/src/CMS/components/ContentBlock.vue
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/components/LeftNavMenuDialog.vue
  VueApp/src/CMS/components/LeftNavMenuSettingsFields.vue
  VueApp/src/CMS/components/PersonSelector.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/CMS/types/index.ts
  VueApp/src/components/SortableList.vue
  VueApp/src/components/__tests__/sortable-list.test.ts
  VueApp/src/composables/ViperFetch.ts
  VueApp/src/shared/__tests__/create-spa-router.test.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/styles/base.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): explicit root base, unique action keys, faithful test routes
  VueApp/src/CMS/__tests__/test-utils.ts
  VueApp/src/CMS/components/ActivityRow.vue
  VueApp/src/shared/create-spa-router.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 refactor(vue): share the audit action palette across areas
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/Effort/components/ChangeDetailDiff.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/composables/__tests__/use-audit-colors.test.ts
  VueApp/src/composables/use-audit-colors.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): fall back to the flat link list on an unmatched group category
  VueApp/src/CMS/__tests__/link-collections.test.ts
  VueApp/src/CMS/components/LinkCollections.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(ui): size dialog widths in rem per the design system
  VueApp/src/styles/base.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

VPR-59 refactor(cms): share stale-edit and permission-list helpers
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
  web/Areas/CMS/Services/CmsServiceHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): guard left-nav item batch saves against concurrent edits
  VueApp/src/CMS/__tests__/left-nav-edit.test.ts
  VueApp/src/CMS/pages/LeftNavEdit.vue
  test/CMS/CMSLeftNavControllerTests.cs
  test/CMS/CmsLeftNavServiceTests.cs
  web/Areas/CMS/Controllers/CMSLeftNavController.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 test(cms): cover duplicate link ids in the reorder guard
  test/CMS/CMSLinkCollectionLinksTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): drop dead projection column, sync test, focus token
  VueApp/src/styles/base.css
  test/CMS/CMSContentControllerTests.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): harden request DTOs against omitted and null bodies
  test/CMS/CmsLeftNavServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(effort): align AuditList with the scheduler audit branch
  VueApp/src/Effort/__tests__/audit-change-detail.test.ts
  VueApp/src/Effort/components/AuditChangeDetail.vue
  VueApp/src/Effort/pages/AuditList.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(hooks): make the Jenkins deploy trigger actually fire
  .husky/pre-push
Due: none

Revert "merge(hooks): Jenkins trigger SSL fix to Development"
  .husky/pre-push
Due: none

VPR-151 fix(auth): resolve fonts and hero images under /2 base path
  web/Views/Home/Welcome.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/composables/RequireLogin.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-74 chore(deps): upgrade AWS SDK from v3 to v4
  web/Areas/Effort/Scripts/EffortMigration.csproj
  web/Viper.csproj
Due: none

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
