Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 build(deps): upgrade NuGet packages for .NET 10 LTS compatibility
  test/Viper.test.csproj
  web/Viper.csproj
  web/nlog.config
Due: none

VPR-41 feat(vue): upgrade npm majors and adopt VueUse composables
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/Effort/pages/InstructorList.vue
  package-lock.json
  package.json
  stylelint.config.mjs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-41 build(deps): upgrade to ESLint 10 and bump plugin ecosystem
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/App.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  package-lock.json
  package.json
  web/Program.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 build(tooling): replace Prettier with oxfmt and upgrade oxlint
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  VueApp/.vscode/extensions.json
  VueApp/package-lock.json
  VueApp/src/ClinicalScheduler/stores/permissions-helpers.ts
  package-lock.json
  package.json
  scripts/lint-any.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-41 fix(vue): enable strict type-checking and fix TS errors
  VueApp/package-lock.json
  VueApp/src/CMS/components/ContentBlock.vue
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/components/LevelSelect.vue
  VueApp/src/CTS/components/ServiceSelect.vue
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-access.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-display.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-navigation.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-qa.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-basic.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-helpers.ts
  VueApp/src/ClinicalScheduler/__tests__/normalize-schedule-semesters.test.ts
  VueApp/src/ClinicalScheduler/__tests__/normalize-week.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-api.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-edge-cases.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-helpers.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector.test.ts
  VueApp/src/ClinicalScheduler/__tests__/test-utils.ts
  VueApp/src/ClinicalScheduler/__tests__/use-optimistic-schedule-updates.test.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/Effort/__tests__/course-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/course-import-dialog.test.ts
  VueApp/src/Effort/__tests__/course-link-dialog.test.ts
  VueApp/src/Effort/__tests__/effort-records-display.test.ts
  VueApp/src/Effort/__tests__/effort-records-table.test.ts
  VueApp/src/Effort/__tests__/instructor-add-dialog.test.ts
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/__tests__/student-photo-dialog-modal.test.ts
  VueApp/src/Students/__tests__/use-photo-gallery-groups.test.ts
  VueApp/src/Students/__tests__/use-photo-gallery-options.test.ts
  VueApp/src/components/CmsContent.vue
  VueApp/src/components/StudentSelect.vue
  VueApp/src/shims-vue.d.ts
  VueApp/tsconfig.vitest.json
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 fix(build): resolve rebase conflicts and Node.js deprecation warnings
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/Effort/router/index.ts
  scripts/run-parallel.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-41 build(deps): bump Node.js to 24.13.1 and .NET SDK to 10.0.103
  VueApp/package.json
  global.json
  package.json
Due: none

VPR-48 fix(effort): add missing permission mock to sabbatical tests
  test/Effort/ReportsControllerTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-48 fix(effort): address CodeQL findings in report services
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/YearStatisticsService.cs
  web/Areas/Effort/Services/ZeroEffortService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-41 build(deps): upgrade glob to v13
  VueApp/package-lock.json
  VueApp/package.json
Due: none

fix(deps): patch high-severity dev dependency vulnerabilities
  VueApp/package-lock.json
Due: none

VPR-48 fix(effort): remove duplicate inline report routes from routes.ts
  VueApp/src/Effort/router/routes.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-48 fix(effort): improve report accessibility and effort type labels
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/composables/use-report-page.ts
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/ScheduledCliWeeks.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Effort/report-tables.css
  VueApp/src/styles/base.css
  VueApp/tsconfig.app.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-48 feat(effort): overhaul left nav styling and add loading spinners
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/EffortTypeList.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/pages/PercentAssignTypeInstructors.vue
  VueApp/src/Effort/pages/PercentAssignTypeList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/pages/TermSelection.vue
  VueApp/src/Effort/pages/UnitList.vue
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/styles/base.css
  web/Areas/ClinicalScheduler/Services/ClinicalSchedulerNavMenu.cs
  web/Classes/NavMenuItem.cs
  web/Controllers/LayoutController.cs
  web/Program.cs
  web/Views/Shared/Components/LeftNav/Default.cshtml
  web/wwwroot/css/site.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-48 fix(scripts): kill orphaned dotnet watch processes on dev stop
  scripts/lib/script-utils.js
  scripts/stop-dev-services.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-48 fix(effort): revoke blob URLs, handle promise rejection, remove dead code
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/services/report-service.ts
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-48 fix(effort): null-guard harvest lookup, cache empty labels, fix Excel column alignment
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  web/Areas/Effort/Services/Harvest/HarvestPhaseBase.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-48 fix(effort): sanitize logs, trim title codes, fix PID regex, remove dead assignment
  scripts/stop-dev-services.js
  test/Effort/CustodialDepartmentResolverTests.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/Harvest/HarvestPhaseBase.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-48 fix(effort): revoke blob URL in ClinicalEffort, add Excel download tests
  VueApp/src/Effort/__tests__/report-service.test.ts
  VueApp/src/Effort/pages/ClinicalEffort.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-48 fix(scripts): validate port as integer before shell interpolation
  scripts/stop-dev-services.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-48 fix: address PR review — cache guard, dict collision, noopener, trailing query
  VueApp/src/Effort/services/report-service.ts
  web/Areas/Effort/Services/ClinicalImportService.cs
  web/Areas/Effort/Services/Harvest/CrestHarvestPhase.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-48 test(effort): add tests for instructor service, URL params, and report helpers
  VueApp/src/Effort/__tests__/instructor-service.test.ts
  VueApp/src/Effort/__tests__/use-report-url-params.test.ts
  test/Effort/BaseReportServiceTests.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-48 fix(effort): use GroupBy to prevent duplicate-key dict exceptions in harvest phases
  web/Areas/Effort/Services/Harvest/ClinicalHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-48 fix(effort): push deduplication into SQL and normalize department filter input
  test/Effort/SabbaticalServiceTests.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-48 fix: address PR review — padding safety, termCode normalization, log message
  scripts/stop-dev-services.js
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-48 refactor(effort): GroupBy dedup + merit eligibility tests
  test/Effort/InstructorServiceTests.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-48 fix: address PR review round 2 — null safety, injection guard, perf
  scripts/stop-dev-services.js
  web/Areas/Effort/Services/ClinicalImportService.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-48 fix(effort): defer blob URL revoke to prevent interrupted downloads
  VueApp/src/composables/ViperFetch.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-48 test(effort): add all-terms deduplication tests
  test/Effort/InstructorServiceTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-73 feat(effort): add expected close date to terms for verification deadlines
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/pages/TermSelection.vue
  VueApp/src/Effort/services/term-service.ts
  VueApp/src/Effort/services/verification-service.ts
  VueApp/src/Effort/types/term-types.ts
  VueApp/src/Effort/types/verification-types.ts
  test/Effort/TermServiceTests.cs
  test/Effort/VerificationServiceTests.cs
  test/Services/EmailServiceTests.cs
  web/Areas/Effort/Constants/EffortAuditActions.cs
  web/Areas/Effort/Controllers/TermsController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/EmailTemplates/Models/VerificationReminderViewModel.cs
  web/Areas/Effort/EmailTemplates/Views/VerificationReminder.cshtml
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateTermRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateExpectedCloseDateRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/AvailableTermDto.cs
  web/Areas/Effort/Models/DTOs/Responses/TermDto.cs
  web/Areas/Effort/Models/DTOs/Responses/VerificationDtos.cs
  web/Areas/Effort/Models/Entities/EffortTerm.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/ITermService.cs
  web/Areas/Effort/Services/TermService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix: address PR review — avoid timezone date shift, fix doc drift
  VueApp/src/Effort/pages/TermManagement.vue
  web/Areas/Effort/Models/DTOs/Responses/TermDto.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): filter session type dropdown by course classification and fix dashboard course stats
  VueApp/src/Effort/__tests__/dashboard-service.test.ts
  VueApp/src/Effort/__tests__/effort-record-add-dialog.test.ts
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/types/dashboard-types.ts
  VueApp/src/Effort/utils/effort-type-filters.ts
  web/Areas/Effort/Models/DTOs/Responses/DashboardStatsDto.cs
  web/Areas/Effort/Services/DashboardService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): scope "courses without instructors" queries to current term
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  test/Effort/DashboardServiceTests.cs
  web/Areas/Effort/Services/DashboardService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(infra): VPR-41 upgrade to .NET 10 LTS with improved DI configuration
  .config/dotnet-tools.json
  JenkinsFile
  global.json
  package.json
  test/Viper.test.csproj
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Scripts/EffortMigration.csproj
  web/Classes/SQLContext/AAUDContext.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Classes/SQLContext/CoursesContext.cs
  web/Classes/SQLContext/CrestContext.cs
  web/Classes/SQLContext/DictionaryContext.cs
  web/Classes/SQLContext/RAPSContext.cs
  web/Classes/SQLContext/SISContext.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Program.cs
  web/Viper.csproj
Due: node scripts/lint-staged-dotnet.js --fix

feat(vue): VPR-41 upgrade to Node.js 24 LTS and modernize Vue components
  .vscode/tasks.json
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CAHFS/App.vue
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/CMS/App.vue
  VueApp/src/CTS/App.vue
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/ClinicalScheduler/App.vue
  VueApp/src/Computing/App.vue
  VueApp/src/Students/App.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/layouts/MainNav.vue
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/tsconfig.node.json
  package-lock.json
  package.json
  scripts/lib/lint-staged-common.js
  scripts/lib/script-utils.js
  scripts/manage-mailpit.js
  scripts/run-backend.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
