Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

VPR-41 refactor(effort): resolve EndsWith TODOs for EF Core 10
  VueApp/src/Effort/App.vue
  VueApp/src/Effort/components/EffortLeftNav.vue
  web/Areas/Effort/Services/DashboardService.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
  web/Areas/Effort/Services/HarvestService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 build(deps): upgrade NuGet packages for .NET 10 LTS compatibility
  test/Viper.test.csproj
  web/Viper.csproj
  web/nlog.config
Due: none

VPR-41 build(deps): upgrade test infrastructure for .NET 10 LTS
  test/Viper.test.csproj
  web/Viper.csproj
Due: none

VPR-41 feat(vue): upgrade npm majors and adopt VueUse composables
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/Effort/pages/InstructorList.vue
  package-lock.json
  package.json
  stylelint.config.mjs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-41 build(deps): upgrade to ESLint 10 and bump plugin ecosystem
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/App.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  package-lock.json
  package.json
  web/Program.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 build(tooling): replace Prettier with oxfmt and upgrade oxlint
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  VueApp/.vscode/extensions.json
  VueApp/package-lock.json
  VueApp/src/ClinicalScheduler/stores/permissions-helpers.ts
  package-lock.json
  package.json
  scripts/lint-any.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-41 fix(vue): enable strict type-checking and fix TS errors
  VueApp/package-lock.json
  VueApp/src/CMS/components/ContentBlock.vue
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/components/LevelSelect.vue
  VueApp/src/CTS/components/ServiceSelect.vue
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-access.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-display.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-navigation.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-qa.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-basic.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-helpers.ts
  VueApp/src/ClinicalScheduler/__tests__/normalize-schedule-semesters.test.ts
  VueApp/src/ClinicalScheduler/__tests__/normalize-week.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-api.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-edge-cases.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-helpers.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector.test.ts
  VueApp/src/ClinicalScheduler/__tests__/test-utils.ts
  VueApp/src/ClinicalScheduler/__tests__/use-optimistic-schedule-updates.test.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/Effort/__tests__/course-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/course-import-dialog.test.ts
  VueApp/src/Effort/__tests__/course-link-dialog.test.ts
  VueApp/src/Effort/__tests__/effort-records-display.test.ts
  VueApp/src/Effort/__tests__/effort-records-table.test.ts
  VueApp/src/Effort/__tests__/instructor-add-dialog.test.ts
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/__tests__/student-photo-dialog-modal.test.ts
  VueApp/src/Students/__tests__/use-photo-gallery-groups.test.ts
  VueApp/src/Students/__tests__/use-photo-gallery-options.test.ts
  VueApp/src/components/CmsContent.vue
  VueApp/src/components/StudentSelect.vue
  VueApp/src/shims-vue.d.ts
  VueApp/tsconfig.vitest.json
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 fix(build): resolve rebase conflicts and Node.js deprecation warnings
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/Effort/router/index.ts
  scripts/run-parallel.js
  scripts/verify-build.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-41 build(deps): bump Node.js to 24.13.1 and .NET SDK to 10.0.103
  VueApp/package.json
  global.json
  package.json
Due: none

VPR-41 build(deps): upgrade glob to v13
  VueApp/package-lock.json
  VueApp/package.json
Due: none

VPR-41 fix(vue): resolve TS errors after rebase onto VPR-48
  VueApp/src/Effort/__tests__/instructor-service.test.ts
  VueApp/src/Effort/__tests__/report-service.test.ts
  VueApp/src/Effort/__tests__/use-effort-type-columns.test.ts
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/stores/photo-gallery-actions.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-41 refactor: replace service locator with constructor dependency injection
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Data/LeftNavMenu.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/Directory/Models/IndividualSearchResult.cs
  web/Areas/Students/Controllers/StudentsController.cs
  web/Classes/ApiSessionUpdateFilter.cs
  web/Classes/AreaController.cs
  web/Classes/UserHelper.cs
  web/Classes/Utilities/SessionTimeoutService.cs
  web/Controllers/HomeController.cs
  web/Controllers/LayoutController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-41 build(deps): bump .NET SDK to 10.0.201, Node.js to 24.14.0, and MailKit to 4.15.0
  global.json
  package.json
  web/Viper.csproj
Due: none

VPR-41 build(deps): upgrade to Vite 8 with Rolldown-powered builds
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CTS/router/index.ts
  VueApp/vite.config.ts
  package.json
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-41 fix(lint): resolve all 59 oxlint errors and bump MailKit
  .oxlintrc.json
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/Students/stores/photo-gallery-actions.ts
  eslint.config.mjs
  scripts/stop-dev-services.js
  stylelint.config.mjs
  web/Viper.csproj
  web/wwwroot/js/qtable.js
  web/wwwroot/js/site.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-41 refactor: simplify control flow with LINQ filters and static methods
  test/RAPS/RolesTests.cs
  test/ViteProxyHelpersTest.cs
  test/VueTableDefaultTests.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
  web/Areas/CMS/Data/LeftNavMenu.cs
  web/Areas/CTS/Controllers/BundleCompetencyController.cs
  web/Areas/CTS/Controllers/BundleController.cs
  web/Areas/CTS/Controllers/EpaController.cs
  web/Areas/RAPS/Controllers/MemberPermissionsController.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Controllers/RoleMembersController.cs
  web/Areas/RAPS/Controllers/RolePermissionsController.cs
  web/Areas/RAPS/Controllers/RoleTemplatesController.cs
  web/Areas/RAPS/Controllers/RolesController.cs
  web/Areas/RAPS/Models/PermissionClone.cs
  web/Areas/RAPS/Services/CloneService.cs
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Services/RAPSSecurityService.cs
  web/Areas/RAPS/Services/RAPSSecurityServiceWrapper.cs
  web/Areas/RAPS/Services/RoleViews.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/Students/Services/GradYearClassLevel.cs
  web/Areas/Students/Services/StudentList.cs
  web/Views/Shared/Components/LeftNav/Default.cshtml
  web/Views/Shared/Components/MainNav/MainNav.cs
  web/Views/Shared/Components/VueTableDefault/VueTableDefault.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 fix: resolve 22 low-risk .NET build warnings
  .editorconfig
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/Setup/SetupClinicalSchedulerRotations.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
  web/Areas/CTS/Models/Offering.cs
  web/Areas/Students/Services/StudentList.cs
  web/Classes/ApiController.cs
  web/Views/Shared/Components/LeftNav/Default.cshtml
  web/Views/Shared/VIPERLayoutSimplified.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 fix: resolve 17 .NET design and naming warnings
  test/ViteProxyHelpersTest.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CTS/Controllers/RoleController.cs
  web/Areas/CTS/Models/Offering.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/Students/Services/GradYearClassLevel.cs
  web/Classes/ApiController.cs
  web/Classes/NavMenu.cs
  web/Classes/SQLContext/AAUDContext.cs
  web/Models/AAUD/VwException.cs
  web/Models/RAPS/TblRole.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-41 fix(lint): resolve all wwwroot oxlint warnings (151 → 0)
  web/Views/Shared/Components/VueCdn/VueCdnInit.cshtml
  web/wwwroot/js/qtable.js
  web/wwwroot/js/site.js
  web/wwwroot/js/ucdavis-colors.js
  web/wwwroot/js/vue-setup.js
Due: node scripts/lint-staged-cshtml.js --fix

VPR-41 fix(lint): block commits with oxfmt formatting issues
  VueApp/src/Effort/components/CourseAddDialog.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/CourseLinkDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/InstructorAddDialog.vue
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentTable.vue
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/composables/use-percentage-form.ts
  VueApp/src/Students/services/photo-gallery-service.ts
  scripts/lint-any.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-41 refactor(vue): extract bootstrapSpa to DRY multi-SPA entry points
  JenkinsFile
  README.md
  VueApp/src/CAHFS/cahfs.ts
  VueApp/src/CMS/cms.ts
  VueApp/src/CTS/cts.ts
  VueApp/src/ClinicalScheduler/clinicalscheduler.ts
  VueApp/src/Computing/computing.ts
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Effort/effort.ts
  VueApp/src/Students/students.ts
  VueApp/src/shared/bootstrap-spa.ts
  scripts/lint-any.js
  visualstudio.bat
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-41 refactor: replace AutoMapper with Mapperly source-generated mappers
  test/Effort/AutoMapperHelper.cs
  test/Effort/EffortTypeServiceTests.cs
  test/Effort/EffortTypesControllerIntegrationTests.cs
  test/Effort/InstructorServiceTests.cs
  test/Effort/PercentAssignTypeServiceTests.cs
  test/Effort/PercentAssignTypesControllerIntegrationTests.cs
  test/Effort/PercentageServiceTests.cs
  test/Effort/TermServiceTests.cs
  test/Effort/UnitServiceTests.cs
  test/Effort/VerificationServiceTests.cs
  test/Viper.test.csproj
  web/Areas/CTS/Controllers/BundleCompetencyController.cs
  web/Areas/CTS/Controllers/BundleCompetencyGroupController.cs
  web/Areas/CTS/Controllers/BundleController.cs
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/CTS/Controllers/LegacyCompetenciesController.cs
  web/Areas/CTS/Controllers/MilestonesController.cs
  web/Areas/CTS/Controllers/RoleController.cs
  web/Areas/CTS/Models/AutoMapperProfileCts.cs
  web/Areas/CTS/Models/CtsMapper.cs
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Models/EffortMapper.cs
  web/Areas/Effort/Services/EffortTypeService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/PercentAssignTypeService.cs
  web/Areas/Effort/Services/PercentageService.cs
  web/Areas/Effort/Services/TermService.cs
  web/Areas/Effort/Services/UnitService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Program.cs
  web/Viper.csproj
Due: node scripts/lint-staged-dotnet.js --fix

VPR-41 refactor(vue): add reactivity linting and modernize Vue/Pinia patterns
  VueApp/.gitignore
  VueApp/eslint.config.mjs
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/CMS/components/ContentBlock.vue
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/components/LevelSelect.vue
  VueApp/src/CTS/components/ServiceSelect.vue
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/YearSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/Effort/components/ReportFilterForm.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/pages/StudentClassYear.vue
  VueApp/src/components/CmsContent.vue
  VueApp/src/components/StudentSelect.vue
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/layouts/MainNav.vue
  VueApp/src/store/ErrorStore.ts
  VueApp/src/store/UserStore.ts
  scripts/lib/build-cache.js
  scripts/lint-any.js
  scripts/lint-staged-vue.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-41 build(deps): bump .NET, Vue, and frontend/backend packages to latest
  .github/workflows/tests.yml
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CTS/pages/CtsHome.vue
  package-lock.json
  package.json
  scripts/manage-mailpit.js
  test/Viper.test.csproj
  web/Viper.csproj
  web/libman.json
  web/wwwroot/js/site.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-41 refactor(vite): defer dev-server side effects to serve command
  VueApp/vite.config.ts
  web/Services/EmailService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-41 refactor(vite): make dev cert setup non-fatal and simplify server config
  VueApp/vite.config.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-41 refactor(di): remove 32 AddScoped calls redundant with Scrutor convention scan
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-41 perf: optimize EF 10 Core queries across all backend areas
  scripts/lint-staged-dotnet.js
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/BundleController.cs
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalImportService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/CourseRelationshipService.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/DashboardService.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/EffortTypeService.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
  web/Areas/Effort/Services/HarvestService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/TermService.cs
  web/Areas/Effort/Services/UnitService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Areas/Students/Services/StudentGroupService.cs
  web/Areas/Students/Services/StudentList.cs
  web/Program.cs
  web/Viper.csproj
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-41 fix(build): fix Jenkins deploy and speed up lint pipeline
  scripts/lint-any.js
  scripts/lint-staged-dotnet.js
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Viper.csproj
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-cshtml.js --fix

VPR-41 fix(build): fix R2R publish output path to match Jenkins config
  web/Viper.csproj
Due: none

VPR-41 fix(lint): resolve oxlint and CI warnings across frontend, scripts, and backend
  .github/workflows/codeql.yml
  .github/workflows/tests.yml
  .oxlintrc.json
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-qa.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home.test.ts
  VueApp/src/ClinicalScheduler/__tests__/normalize-schedule-semesters.test.ts
  VueApp/src/ClinicalScheduler/__tests__/test-utils.ts
  VueApp/src/Effort/__tests__/course-add-dialog.test.ts
  VueApp/src/Effort/__tests__/course-service.test.ts
  VueApp/src/Effort/__tests__/dashboard-service.test.ts
  VueApp/src/Effort/__tests__/effort-record-add-dialog.test.ts
  VueApp/src/Effort/__tests__/harvest-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-service.test.ts
  VueApp/src/Effort/__tests__/my-effort.test.ts
  VueApp/src/Effort/__tests__/report-service.test.ts
  VueApp/src/Effort/__tests__/use-effort-permissions.test.ts
  VueApp/src/Effort/__tests__/use-effort-type-columns.test.ts
  VueApp/src/Effort/__tests__/use-report-url-params.test.ts
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/composables/use-report-url-params.ts
  VueApp/src/Effort/router/index.ts
  VueApp/src/Effort/services/report-service.ts
  VueApp/src/Effort/utils/format.ts
  scripts/lib/lint-staged-common.js
  scripts/lint-any.js
  scripts/lint-staged-dotnet.js
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Classes/Utilities/IamApi.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 perf(build): disable R2R to fix 25-minute Jenkins builds
  web/Viper.csproj
Due: none

feat(deps): add 7-day dependency cooldown for supply chain safety
  .github/dependabot.yml
  .npmrc
  package.json
Due: none

fix(deps): correct cooldown unit and make audit non-blocking
  JenkinsFile
  VueApp/.npmrc
  VueApp/package-lock.json
  VueApp/package.json
  package-lock.json
  package.json
Due: none

fix(deps): use correct cooldown schema keys in dependabot.yml
  .github/dependabot.yml
Due: none

fix(deps): remove unsupported semver-major-days from github-actions cooldown
  .github/dependabot.yml
Due: none

revert(vite): disable experimental bundledDev mode to restore HMR
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/vite.config.ts
  test/ViteProxyHelpersTest.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): establish shared accessibility foundation (PR 1 of 6)
  VueApp/src/App.vue
  VueApp/src/CAHFS/App.vue
  VueApp/src/CMS/App.vue
  VueApp/src/CTS/App.vue
  VueApp/src/ClinicalScheduler/App.vue
  VueApp/src/Computing/App.vue
  VueApp/src/Effort/App.vue
  VueApp/src/Students/App.vue
  VueApp/src/components/StudentSelect.vue
  VueApp/src/composables/use-route-focus.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/pages/Error404.vue
  VueApp/src/styles/base.css
  eslint.config.mjs
  scripts/lint-staged-cshtml.js
  web/Views/Home/403.cshtml
  web/Views/Home/Error.cshtml
  web/Views/Home/MyPermissions.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/VIPERLayoutSimplified.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/site.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix
