Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(students): VPR-28 - Addressing code review concerns
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/composables/ViperFetch.ts
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(students): VPR-28 - Fixed CodeQL concerns
  web/Areas/Students/Controller/PhotoGalleryController.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(students): VPR-28 - Addressing additional code review concerns
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

(feat)effort: VPR-4 - Data analysis & remediation scripts
  .gitignore
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/EffortDataAnalysis.csproj
  web/Areas/Effort/Scripts/EffortDataRemediation.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Scripts/Program.cs
  web/Areas/Effort/Scripts/README.md
  web/Areas/Effort/Scripts/RunDataAnalysis.bat
  web/Areas/Effort/Scripts/RunDataRemediation.bat
  web/Viper.csproj
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): Addressing code review and harden security
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/EffortDataRemediation.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(students): VPR-29 - Course gallery
  VueApp/src/Students/__tests__/photo-gallery-ross-checkbox.test.ts
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/__tests__/photo-gallery-url-params.test.ts
  VueApp/src/Students/__tests__/use-photo-gallery-groups.test.ts
  VueApp/src/Students/__tests__/use-photo-gallery-options.test.ts
  VueApp/src/Students/composables/use-photo-gallery-groups.ts
  VueApp/src/Students/composables/use-photo-gallery-options.ts
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/Students/stores/photo-gallery-store.ts
  test/Students/PhotoGalleryControllerTest.cs
  test/Students/PhotoServiceTest.cs
  test/ViteProxyHelpersTest.cs
  web/Areas/Curriculum/Services/TermCodeService.cs
  web/Areas/Students/Controller/PhotoGalleryController.cs
  web/Areas/Students/Models/CourseInfo.cs
  web/Areas/Students/Models/PhotoGalleryViewModel.cs
  web/Areas/Students/Services/CourseService.cs
  web/Areas/Students/Services/ICourseService.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/StudentGroupService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-2 - Export Effort DB schema
  .gitignore
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/EffortDataRemediation.cs
  web/Areas/Effort/Scripts/EffortMigration.csproj
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Scripts/Program.cs
  web/Areas/Effort/Scripts/RunDataAnalysis.bat
  web/Areas/Effort/Scripts/RunDataRemediation.bat
  web/Areas/Effort/Scripts/RunExportSchema.bat
  web/Areas/Effort/Scripts/SQL/EffortSchemaExport.cs
Due: node scripts/lint-staged-dotnet.js --fix

(refactor)students: VPR-29 - Addressing code review issues
  VueApp/src/Students/__tests__/student-photo-dialog-modal.test.ts
  VueApp/src/Students/components/PhotoGallery/StudentPhotoDialog.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/stores/photo-gallery-store.ts
  test/Students/PhotoServiceTest.cs
  web/Areas/Students/Controller/PhotoGalleryController.cs
  web/Areas/Students/Services/CourseService.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

(refactor)students: VPR-26 - Improved photo gallery performance
  VueApp/src/Students/components/PhotoGallery/StudentPhotoCard.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoDialog.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  web/Areas/Students/Controller/PhotoGalleryController.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

perf(students): VPR-26 Reduced database queries
  VueApp/src/Students/components/PhotoGallery/StudentPhotoCard.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/Students/stores/photo-gallery-store.ts
  web/Areas/Students/Services/PhotoService.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

(patch)students: VPR-26 - Fixing broken images for list view
  VueApp/src/Students/pages/PhotoGallery.vue
  web/Areas/Students/Services/StudentGroupService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(students): VPR-26 - Removed photos in circles for list view
  VueApp/src/Students/pages/PhotoGallery.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

security(clinical-scheduler): VPR-31 - Minimize permission APIs info disclosure
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-navigation.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home.test.ts
  VueApp/src/ClinicalScheduler/services/permission-service.ts
  VueApp/src/ClinicalScheduler/stores/permissions-actions.ts
  VueApp/src/ClinicalScheduler/stores/permissions-utils.ts
  VueApp/src/ClinicalScheduler/stores/permissions.ts
  VueApp/src/ClinicalScheduler/stores/permissions/index.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  test/ClinicalScheduler/PermissionsControllerTest.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

(security)clinicalscheduler: VPR-30 Removing unused ProducesResponseType
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adding ORGE Aggie Enterprise Report AD419
  VueApp/src/Research/App.vue
  VueApp/src/Research/index.html
  VueApp/src/Research/pages/AggieEnterprise.vue
  VueApp/src/Research/pages/Home.vue
  VueApp/src/Research/research.ts
  VueApp/src/Research/router/index.ts
  VueApp/src/Research/router/routes.ts
  web/Areas/Research/Controllers/AggieEnterpriseReportsController.cs
  web/Areas/Research/Controllers/ResearchController.cs
  web/Areas/Research/Models/GlRow.cs
  web/Areas/Research/Models/PgmRow.cs
  web/Areas/Research/Models/PgmTableSummary.cs
  web/Areas/Research/Services/AggieEnterpriseReports.cs
  web/Program.cs
  web/Viper.csproj
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(students): VPR-26 - Removing Prior Year
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/components/PhotoGallery/StudentPhotoDialog.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  web/Areas/Students/Controller/PhotoGalleryController.cs
  web/Areas/Students/Models/PhotoGalleryViewModel.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(students): Replace static term calculation with database loopup for student photo gallery
  test/Students/PhotoGalleryControllerTest.cs
  web/Areas/Curriculum/Services/TermCodeService.cs
  web/Areas/Students/Services/CourseService.cs
  web/Areas/Students/Services/PhotoExportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: migrate from Newtonsoft.Json to System.Text.Json
  web/Areas/Directory/Models/LdapUserContact.cs
  web/Areas/RAPS/Services/RAPSSecurityService.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Classes/Utilities/IamApi.cs
  web/Program.cs
  web/Viper.csproj
Due: node scripts/lint-staged-dotnet.js --fix

(patch)clinical-scheduler: VPR-32 Optimize clinician retrieval query
  web/Areas/ClinicalScheduler/Services/PersonService.cs
Due: node scripts/lint-staged-dotnet.js --fix

patch(clinical-scheduler): VPR-32 - Addressing code review concerns
  web/Areas/ClinicalScheduler/Services/PersonService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(students): simplify course API to return current term only
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/__tests__/use-photo-gallery-options.test.ts
  VueApp/src/Students/composables/use-photo-gallery-options.ts
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/Students/stores/photo-gallery-store.ts
  web/Areas/Students/Models/CourseInfo.cs
  web/Areas/Students/Services/CourseService.cs
  web/Areas/Students/Services/ICourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

security(clinical-scheduler): VPR-31 - Enforce authentication before validation
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-1 - Created database/migration scripts
  .gitignore
  web/Areas/Effort/README.md
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/EffortDataRemediation.cs
  web/Areas/Effort/Scripts/EffortMigration.csproj
  web/Areas/Effort/Scripts/EffortSchemaExport.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Scripts/MigrateEffortData.cs
  web/Areas/Effort/Scripts/Program.cs
  web/Areas/Effort/Scripts/README.md
  web/Areas/Effort/Scripts/RunCreateDatabase.bat
  web/Areas/Effort/Scripts/RunCreateShadow.bat
  web/Areas/Effort/Scripts/RunExportSchema.bat
  web/Areas/Effort/Scripts/RunMigrateData.bat
  web/Areas/Effort/docs/Authorization_Design.md
  web/Areas/Effort/docs/EFFORT_MASTER_PLAN.md
  web/Areas/Effort/docs/EffortMigrationAnalysis_20250926_162054.txt
  web/Areas/Effort/docs/Effort_API_Design.md
  web/Areas/Effort/docs/Effort_Data_Migration.sql
  web/Areas/Effort/docs/Effort_Database_Field_Mapping.md
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Areas/Effort/docs/Effort_EF_Migration_Plan.md
  web/Areas/Effort/docs/Effort_Proposed_Database_Schema.sql
  web/Areas/Effort/docs/Effort_System_Documentation.md
  web/Areas/Effort/docs/MIGRATION_GUIDE.md
  web/Areas/Effort/docs/QUICK_START.md
  web/Areas/Effort/docs/Shadow_Database_Guide.md
  web/Areas/Effort/docs/Technical_Reference.md
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

feat(students): VPR-29 - add group filtering for course photo galleries
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/Students/stores/photo-gallery-store.ts
  test/Students/PhotoGalleryControllerTest.cs
  web/Areas/Students/Controller/PhotoGalleryController.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-7 - Add stored procedure generation
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
  web/Areas/Effort/Scripts/CreateEffortShadow.cs
  web/Areas/Effort/Scripts/EffortDataAnalysis.cs
  web/Areas/Effort/Scripts/MigrateEffortData.cs
  web/Areas/Effort/Scripts/Program.cs
  web/Areas/Effort/Scripts/RunCreateReportingProcedures.bat
  web/Areas/Effort/docs/EFFORT_MASTER_PLAN.md
Due: node scripts/lint-staged-dotnet.js --fix

feat(students): VPR-33 - Add Team filtering
  .husky/pre-commit
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/__tests__/photo-gallery-teams-filter.test.ts
  VueApp/src/Students/components/PhotoGallery/PhotoSheet.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoCard.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/Students/stores/photo-gallery-actions.ts
  VueApp/src/Students/stores/photo-gallery-helpers.ts
  VueApp/src/Students/stores/photo-gallery-store.ts
  package-lock.json
  package.json
  scripts/lib/build-cache.js
  scripts/lib/lint-staged-common.js
  scripts/lint-staged-dotnet.js
  scripts/test-dotnet.js
  test/Students/PhotoGalleryControllerTest.cs
  web/Areas/Curriculum/Services/TermCodeService.cs
  web/Areas/Students/Controllers/DvmController.cs
  web/Areas/Students/Controllers/PhotoGalleryController.cs
  web/Areas/Students/Controllers/StudentsController.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(security): update dependencies to patch npm audit vulnerabilities
  JenkinsFile
  VueApp/package-lock.json
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(students): improve photo gallery Word/PDF export layout and grouping
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/stores/photo-gallery-actions.ts
  web/Areas/Students/Services/PhotoExportService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(students): resolve compiler warnings
  test/Students/PhotoGalleryControllerTest.cs
  test/Students/PhotoServiceTest.cs
  web/Areas/Students/Controllers/PhotoGalleryController.cs
  web/Areas/Students/Models/PhotoGalleryViewModel.cs
  web/Areas/Students/Models/Student.cs
  web/Areas/Students/Models/StudentClassYearProblem.cs
  web/Areas/Students/Models/StudentClassYearUpdate.cs
  web/Areas/Students/Services/GradYearClassLevel.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

security(email): VPR-34 - Remove PII from email logs
  web/Services/EmailService.cs
Due: node scripts/lint-staged-dotnet.js --fix

security(email): VPR-34 - Remove subject from email logging
  web/Services/EmailService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(email): VPR-34 - Add null check for non-routed requests in GetRequestContext
  web/Services/EmailService.cs
Due: node scripts/lint-staged-dotnet.js --fix

security(deps): VPR-35 Update glob/yaml/minimatch
  JenkinsFile
  VueApp/package-lock.json
  package-lock.json
Due: none

Removing unneeded file
  VueApp/src/CAHFS/pages/CAHFSHome.WebReports
Due: none

Removing unused variable
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
Due: node scripts/lint-staged-dotnet.js --fix

(feat)students: VPR-26 - Improve group photo exports
  VueApp/src/Students/__tests__/photo-gallery-store.test.ts
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/Students/stores/photo-gallery-actions.ts
  VueApp/src/composables/ViperFetch.ts
  web/Areas/Students/Models/PhotoGalleryViewModel.cs
  web/Areas/Students/Services/PhotoExportService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(students): VPR-26 - Improved PDF exports
  web/Areas/Students/Services/PhotoExportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Removing unused variables
  VueApp/src/CAHFS/router/routes.ts
  web/Controllers/LayoutController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(cms): Improved link management table and added delete confirms
  VueApp/src/CMS/cms.ts
  VueApp/src/CMS/pages/ManageLinkCollections.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(students): VPR-26: Added additional exceptions
  web/Areas/Students/Services/PhotoExportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
