Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor: de-duplicate course-relationship table and remove-link
  VueApp/src/Effort/components/CourseLinkDialog.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/utils/course-relationships.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor: de-duplicate effort add/edit dialogs
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/composables/use-effort-label.ts
  VueApp/src/Effort/utils/grouped-options.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor: de-duplicate percentage dialogs via shared shell
  VueApp/src/Effort/components/EffortDialogShell.vue
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/composables/use-percentage-dialog.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix: use dialog-card-sm class instead of inline px in dialog shell
  VueApp/src/Effort/components/EffortDialogShell.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

ci: baseline fallow complexity against main in regression gate
  .github/workflows/code-quality.yml
Due: none

refactor: de-duplicate rating-stats math in EditEvaluationDialog
  VueApp/src/Effort/components/EditEvaluationDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(effort): return all grouped options when the search is empty
  VueApp/src/Effort/__tests__/grouped-options.test.ts
  VueApp/src/Effort/utils/grouped-options.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(directory): harden VMACS query construction
  web/Areas/Directory/Services/VMACSService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(directory): load VMACS auth token from config, not source
  web/Areas/Directory/Services/VMACSService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(directory): extract testable VMACS query builder
  test/Areas/Directory/VMACSServiceTest.cs
  web/Areas/Directory/Services/VMACSService.cs
Due: node scripts/lint-staged-dotnet.js --fix

ci: make Development merge check work for direct merges
  .github/workflows/development-merge-check.yml
Due: none

ci: fix Development merge check refresh by creating, not updating
  .github/workflows/development-merge-check.yml
Due: none

ci: make Development merge check a single red/green PR check
  .github/workflows/development-merge-check.yml
Due: none

ci: rework Development merge check for the direct-merge flow
  .github/workflows/development-merge-check.yml
Due: none

chore(codeql): readonly fields and TryGetValue cleanups
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/RAPS/RolesTests.cs
  test/Students/EmergencyContactControllerTests.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/Directory/Services/VMACSService.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(codeql): readonly fields and TryGetValue cleanups
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/RAPS/RolesTests.cs
  test/Students/EmergencyContactControllerTests.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(clinsched): add view-access and own-schedule permission checks
  test/ClinicalScheduler/SchedulePermissionServiceTest.cs
  web/Areas/ClinicalScheduler/Services/ISchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(clinsched): gate nav and home cards by scheduler permissions
  VueApp/src/ClinicalScheduler/__tests__/clinical-scheduler-home-display.test.ts
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  web/Areas/ClinicalScheduler/Services/ClinicalSchedulerNavMenu.cs
  web/Controllers/LayoutController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(clinsched): let own-schedule users self-schedule all rotations
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/services/rotation-service.ts
  test/ClinicalScheduler/RotationsControllerTest.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(clinsched): make clinician selector read-only in own-schedule mode
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-basic.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-permissions.test.ts
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(clinsched): show all active rotations in Edit My Schedule picker
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-clinician-reactivity.test.ts
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(clinsched): scope clinician auto-select to own-schedule users
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-basic.test.ts
  VueApp/src/ClinicalScheduler/__tests__/clinician-selector-permissions.test.ts
  VueApp/src/ClinicalScheduler/__tests__/rotation-selector-clinician-reactivity.test.ts
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add content block management with version history
  VueApp/src/CMS/components/DeleteRestoreButtons.vue
  VueApp/src/CMS/components/PermissionChips.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CMS/types/index.ts
  test/CMS/CmsContentBlockServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Models/CMSBlockAddEdit.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/DTOs/ContentBlockDto.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add file management API
  test/CMS/CmsFileCryptoTests.cs
  test/CMS/CmsFileServiceTests.cs
  test/CMS/CmsFileStorageServiceTests.cs
  web/Areas/CMS/Constants/CmsFileTypes.cs
  web/Areas/CMS/Constants/CmsPermissions.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Models/CmsFileMapper.cs
  web/Areas/CMS/Models/DTOs/CmsFileDto.cs
  web/Areas/CMS/Models/DTOs/CmsFileRequests.cs
  web/Areas/CMS/Services/CmsFileAuditService.cs
  web/Areas/CMS/Services/CmsFileCrypto.cs
  web/Areas/CMS/Services/CmsFileEncryptionService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add file management UI
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/PermissionSelector.vue
  VueApp/src/CMS/components/PersonSelector.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CMS/types/index.ts
  VueApp/src/composables/ViperFetch.ts
  web/Areas/CMS/Controllers/CMSOptionsController.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add user photo endpoints
  test/CMS/CmsUserPhotoServiceTests.cs
  web/Areas/CMS/Controllers/CMSUserPhotoController.cs
  web/Areas/CMS/Services/CmsUserPhotoService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add left navigation menu management
  VueApp/src/CMS/components/EditButton.vue
  VueApp/src/CMS/components/ModifiedStamp.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/CMS/pages/LeftNavMenus.vue
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CMS/types/index.ts
  test/CMS/CmsLeftNavServiceTests.cs
  test/CMS/SafeUrlAttributeTests.cs
  web/Areas/CMS/Controllers/CMSLeftNavController.cs
  web/Areas/CMS/Data/LeftNavMenu.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
  web/Areas/CMS/Validation/SafeUrlAttribute.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add file import and bulk encryption tools
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/CMS/router/routes.ts
  test/CMS/CmsFileImportServiceTests.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Models/DTOs/CmsFileImportDtos.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): close a11y gaps and align labels across CMS pages
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/CMS/pages/LeftNavMenus.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/styles/base.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): rate limit file and ZIP downloads
  test/CMS/CmsDownloadRateLimitingTests.cs
  web/Areas/CMS/Controllers/CMSController.cs
  web/Areas/CMS/Services/CmsDownloadRateLimiting.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add CMS left nav and redesign hub with recent activity
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/components/RecentActivity.vue
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/CMS/pages/LeftNavMenus.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/CMS/router/index.ts
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CTS/router/index.ts
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/Computing/router/index.ts
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/router/index.ts
  VueApp/src/Students/router/index.ts
  VueApp/src/composables/use-route-focus.ts
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/shared/__tests__/create-spa-router.test.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/shared/createSpaRouter.ts
  VueApp/src/styles/base.css
  web/Areas/CMS/Services/CmsNavMenu.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): point Old URL links at the VIPER 1 host
  VueApp/src/CMS/pages/Files.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): VIPER2 download links, shareable filters, folder fixes
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/Files.vue
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): remove copy-link button from file actions
  VueApp/src/CMS/pages/Files.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): resolve upload name conflicts and preview imports
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/StatusIcon.vue
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/ImportFiles.vue
  VueApp/src/components/BreadcrumbHeading.vue
  VueApp/src/styles/base.css
  test/CMS/CmsFileImportServiceTests.cs
  test/CMS/CmsFileServiceTests.cs
  web/Areas/CMS/Constants/CmsFileNaming.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
  web/Areas/CMS/Models/DTOs/CmsFileDto.cs
  web/Areas/CMS/Models/DTOs/CmsFileImportDtos.cs
  web/Areas/CMS/Models/DTOs/CmsFileRequests.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): add mobile card mode to list tables and polish a11y
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/LeftNavMenuDialog.vue
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/components/ListCard.vue
  VueApp/src/CMS/components/ListCardField.vue
  VueApp/src/CMS/components/ModifiedStamp.vue
  VueApp/src/CMS/pages/BulkEncrypt.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
  VueApp/src/CMS/pages/LeftNavMenus.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/styles/base.css
  VueApp/src/styles/colors.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
