Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

VPR-59 refactor(effort): align AuditList with the scheduler audit branch
  VueApp/src/Effort/components/ChangeDetailDiff.vue
  VueApp/src/Effort/pages/AuditList.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): open the add-menu dialog from the left nav when already on the page
  VueApp/src/CMS/__tests__/left-nav-menus.test.ts
  VueApp/src/CMS/pages/LeftNavMenus.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): surface purge dates for deleted files
  VueApp/src/CMS/__tests__/files.test.ts
  VueApp/src/CMS/pages/Files.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): add explanatory hints to the file-folder and block-system selects
  VueApp/src/CMS/__tests__/file-form-dialog.test.ts
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): tolerate viper/-prefixed import paths in the import page
  VueApp/src/CMS/__tests__/import-files.test.ts
  VueApp/src/CMS/pages/ImportFiles.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(shared): strip all trailing slashes when normalizing the SPA base path
  VueApp/src/shared/__tests__/strip-trailing-slashes.test.ts
  VueApp/src/shared/bootstrap-spa.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/shared/strip-trailing-slashes.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-59 feat(cms): add diff-vs-current action to the edit history page
  VueApp/src/CMS/__tests__/content-block-history.test.ts
  VueApp/src/CMS/pages/ContentBlockHistory.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): reject left-nav links saved without a URL
  VueApp/src/CMS/pages/LeftNavEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): delegated block editing via per-block edit permissions
  VueApp/src/CMS/__tests__/cms-home.test.ts
  VueApp/src/CMS/__tests__/content-block-edit-delegated.test.ts
  VueApp/src/CMS/__tests__/content-block-edit-save.test.ts
  VueApp/src/CMS/__tests__/inline-file-upload.test.ts
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/components/PermissionSelector.vue
  VueApp/src/CMS/composables/use-cms-files.ts
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CMS/types/index.ts
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Models/CMSBlockAddEdit.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/DTOs/ContentBlockDto.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Models/VIPER/ContentBlock.cs
  web/Models/VIPER/ContentBlockToEditPermission.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(cms): let left-nav item permission selectors opt out of the default hint
  VueApp/src/CMS/components/PermissionSelector.vue
  VueApp/src/CMS/pages/LeftNavEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): make the file-rollback recheck atomic under concurrent attach
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  test/CMS/CmsFileServiceTests.cs
  test/CMS/TestableCmsFileService.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Classes/Utilities/TransactionHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(warnings): resolve analyzer quick wins outside Effort
  .editorconfig
  web/Areas/CMS/Controllers/CMSController.cs
  web/Areas/CTS/Controllers/CTSController.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Models/GroupAddEdit.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(test): extract schedule mock factories from test ctor
  test/ClinicalScheduler/Integration/ServiceLayerIntegrationTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): reject mismatched group ID updates with 400
  test/RAPS/AdGroupsControllerTests.cs
  web/Areas/RAPS/Controllers/AdGroupsController.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): avoid 500 when nav member lookup finds no match
  web/Areas/RAPS/Controllers/RAPSController.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): run AD group sync in a dedicated DI scope
  web/Areas/RAPS/Controllers/RAPSController.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(raps): stop executing the action pipeline twice
  web/Areas/RAPS/Controllers/RAPSController.cs
Due: node scripts/lint-staged-dotnet.js --fix

test(raps): cover ModelState guards and lookup paths
  test/RAPS/RAPSControllerTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(directory): extract search query shared by Get and GetUCD
  test/Directory/DirectoryControllerTests.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(async): drop fake-async Task.Run wrappers
  test/RAPS/RAPSControllerTests.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/Students/Services/PhotoService.cs
  web/Classes/HealthChecks/LdapHealthCheck.cs
  web/Views/Shared/Components/CMSBlocks/CMSBlocks.cs
  web/Views/Shared/Components/EmulationBanner/EmulationBanner.cs
  web/Views/Shared/Components/LeftNav/LeftNav.cs
  web/Views/Shared/Components/MainNav/MainNav.cs
  web/Views/Shared/Components/MiniNav/MiniNav.cs
  web/Views/Shared/Components/ProfilePic/ProfilePic.cs
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
  web/Views/Shared/Components/VueCdn/VueCdnCreate.cs
  web/Views/Shared/Components/VueCdn/VueCdnInit.cs
  web/Views/Shared/Components/VueTableDefault/VueTableDefault.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(deps): remove unused @quasar/app-vite and bump vite to 8.1.4
  VueApp/package-lock.json
  VueApp/package.json
Due: none

VPR-59 feat(cms): shared rich-text editor and content-block listing UX
  DESIGN.md
  VueApp/src/CMS/__tests__/content-block-edit-save.test.ts
  VueApp/src/CMS/__tests__/modified-stamp.test.ts
  VueApp/src/CMS/components/ModifiedStamp.vue
  VueApp/src/CMS/components/PermissionChips.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
  VueApp/src/components/RichTextEditor.vue
  VueApp/src/components/__tests__/rich-text-editor.test.ts
  VueApp/src/styles/base.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(deps): remove @quasar/app-vite and bump vite to 8.1.4
  VueApp/eslint.config.mjs
  VueApp/package-lock.json
  VueApp/package.json
Due: none

VPR-59 fix(cms): apply CodeRabbit review hardening to Development
  VueApp/src/CMS/__tests__/person-selector.test.ts
  VueApp/src/CMS/__tests__/use-server-table.test.ts
  VueApp/src/CMS/__tests__/use-url-filtered-table.test.ts
  VueApp/src/CMS/components/ActivityRow.vue
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/components/ListCard.vue
  VueApp/src/CMS/components/ListCardField.vue
  VueApp/src/CMS/components/ModifiedStamp.vue
  VueApp/src/CMS/components/PermissionChips.vue
  VueApp/src/CMS/components/PersonSelector.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/components/RichTextEditor.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/use-route-focus.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/styles/base.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(cms): apply CodeRabbit frontend review fixes to Development
  VueApp/src/CMS/__tests__/file-form-dialog-conflict.test.ts
  VueApp/src/CMS/__tests__/link-collections.test.ts
  VueApp/src/CMS/__tests__/test-utils.ts
  VueApp/src/CMS/components/ContentDiffDialog.vue
  VueApp/src/CMS/components/FileFormDialog.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/components/PermissionChips.vue
  VueApp/src/CMS/types/index.ts
  VueApp/src/components/RichTextEditor.vue
  VueApp/src/components/__tests__/rich-text-editor.test.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 refactor(vue): share the audit action palette across areas
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/Effort/components/ChangeDetailDiff.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/composables/__tests__/use-audit-colors.test.ts
  VueApp/src/composables/use-audit-colors.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): add raw HTML source view to the content editor
  VueApp/src/CMS/pages/ContentBlockEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(shared): strip all trailing slashes when normalizing the SPA base path
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/shared/__tests__/strip-trailing-slashes.test.ts
  VueApp/src/shared/bootstrap-spa.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/shared/strip-trailing-slashes.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-59 feat(cms): apply the mobile card treatment to the Files listing
  VueApp/src/CMS/pages/ContentBlocks.vue
  VueApp/src/CMS/pages/Files.vue
  VueApp/src/styles/base.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 refactor(cts): share the rich-text editor toolbar across manage pages
  VueApp/src/CTS/constants.ts
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 fix(a11y): give Effort left-nav items explicit link/presentation roles
  VueApp/src/Effort/components/EffortLeftNav.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix
