Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

chore(deps): update dev tooling and lint dependencies
  .oxlintrc.json
  VueApp/package-lock.json
  VueApp/package.json
  package-lock.json
  package.json
  web/Viper.csproj
Due: none

VPR-104 fix(a11y): contrast fixes for shared components and CSS
  VueApp/src/components/GenericError.vue
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/styles/base.css
  web/Views/Shared/Components/LeftNav/Default.cshtml
  web/wwwroot/css/site.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): remove red override on environment badge text
  VueApp/src/styles/base.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): CTS area accessibility improvements (PR 3 of 6)
  VueApp/src/CTS/pages/AssessmentCompetency.vue
  VueApp/src/CTS/pages/AssessmentEpaEdit.vue
  VueApp/src/CTS/pages/AssessmentList.vue
  VueApp/src/CTS/pages/AuditList.vue
  VueApp/src/CTS/pages/CourseStudents.vue
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/CTS/pages/ManageBundleCompetencies.vue
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  VueApp/src/CTS/pages/ManageSessionCompetencies.vue
  VueApp/src/CTS/pages/MyAssessmentCharts.vue
  VueApp/src/CTS/router/index.ts
  web/Areas/CTS/Views/Assessments.cshtml
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/EpaEdit.cshtml
  web/Areas/CTS/Views/Index.cshtml
  web/Areas/CTS/Views/ManageDomains.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

fix: address Copilot review feedback on CTS PR
  VueApp/src/CTS/pages/ManageEpas.vue
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/Index.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

fix: address second round of Copilot review feedback on CTS PR
  web/Areas/CTS/Views/Epa.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): make CTS edit button aria-labels unique per item
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  web/Areas/CTS/Views/ManageDomains.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): align CTS button and badge colors to UC Davis brand palette
  VueApp/src/CTS/components/ServiceSelect.vue
  VueApp/src/CTS/pages/CompetenciesBundleReport.vue
  VueApp/src/CTS/pages/CourseStudents.vue
  VueApp/src/CTS/pages/ManageBundleCompetencies.vue
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  VueApp/src/CTS/pages/ManageSessionCompetencies.vue
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): add dialog close buttons and delete confirmations to CTS
  VueApp/src/CTS/pages/ManageBundleCompetencies.vue
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  VueApp/src/CTS/pages/ManageSessionCompetencies.vue
  VueApp/src/CTS/pages/MyAssessments.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): CTS followup — contrast, banners, broken forms
  VueApp/src/CTS/components/LevelSelect.vue
  VueApp/src/CTS/pages/AssessmentEpa.vue
  VueApp/src/CTS/pages/AssessmentEpaEdit.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
  VueApp/src/CTS/pages/ManageRoles.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): ManageDomains labels, ManageCompetencies empty state
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageDomains.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): move heading outside q-list to fix aria-required-children
  VueApp/src/CTS/pages/ManageDomains.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): CTS brand colors, page titles, and UX improvements
  VueApp/src/CTS/pages/AssessmentList.vue
  VueApp/src/CTS/pages/AuditList.vue
  VueApp/src/CTS/pages/CompetenciesBundleReport.vue
  VueApp/src/CTS/pages/ManageBundleCompetencies.vue
  VueApp/src/CTS/pages/ManageBundles.vue
  VueApp/src/CTS/pages/ManageCompetencies.vue
  VueApp/src/CTS/pages/ManageCourseCompetencies.vue
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/CTS/pages/ManageLevels.vue
  VueApp/src/CTS/pages/ManageMilestones.vue
  VueApp/src/CTS/pages/ManageRoles.vue
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Models/CompetencyHierarchyDto.cs
  web/Areas/CTS/Views/AssessmentCharts.cshtml
  web/Areas/CTS/Views/Assessments.cshtml
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/EpaEdit.cshtml
  web/Areas/CTS/Views/Index.cshtml
  web/Areas/CTS/Views/ManageDomains.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/CTS/Views/ManageLevels.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): RAPS area accessibility improvements (PR 2 of 6)
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Groups/Members.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Groups/Sync.cshtml
  web/Areas/RAPS/Views/Index.cshtml
  web/Areas/RAPS/Views/Members/Clone.cshtml
  web/Areas/RAPS/Views/Members/History.cshtml
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/RSOP.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
  web/Areas/RAPS/Views/Permissions/List.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/RoleViewUpdate.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/PermissionComparison.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/TemplateRoles.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): add aria-label to icon-only buttons in RAPS
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): safe strict-equality guards in ApplyTemplate
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): fix grammar in RAPS headings
  web/Areas/RAPS/Views/Groups/Sync.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): add dialog close buttons, delete confirmations, and color fixes to RAPS
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): align RAPS button colors to UC Davis brand palette
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): remove transparent from Delegate badge for contrast
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): RAPS page titles, column labels, and dialog fixes
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Export.cshtml
  web/Areas/RAPS/Views/Groups/CreateADGroup.cshtml
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Members.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Groups/Sync.cshtml
  web/Areas/RAPS/Views/Members/Clone.cshtml
  web/Areas/RAPS/Views/Members/History.cshtml
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/RSOP.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
  web/Areas/RAPS/Views/Permissions/List.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/RoleViewUpdate.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
  web/Areas/RAPS/Views/Roles/List.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/PermissionComparison.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/TemplateRoles.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): ClinicalScheduler, CMS, Computing, CAHFS accessibility (PR 6 of 6)
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/CMS/router/index.ts
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/Computing/router/index.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): ClinicalScheduler chip contrast and banner roles
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/ScheduleBanner.vue
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): ClinicalScheduler, CMS, Computing contrast and titles
  VueApp/src/CMS/components/Link.vue
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/components/WeekScheduleCard.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  web/Areas/Computing/Views/Index.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): LeftNav navigation landmark and list semantics
  VueApp/src/layouts/LeftNav.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Students and Directory accessibility improvements (PR 5 of 6)
  VueApp/src/Students/components/PhotoGallery/PhotoList.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoCard.vue
  VueApp/src/Students/components/PhotoGallery/StudentPhotoDialog.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/pages/StudentClassYear.vue
  VueApp/src/Students/pages/StudentClassYearImport.vue
  VueApp/src/Students/pages/StudentsHome.vue
  VueApp/src/Students/router/index.ts
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/Areas/Students/Views/StudentClassYear.cshtml
  web/Areas/Students/Views/StudentClassYearImport.cshtml
  web/wwwroot/css/directory.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): brand colors, StatusBanner, and contrast fixes for Students+Directory
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/pages/StudentClassYear.vue
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/Areas/Students/Views/StudentClassYear.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

fix(a11y): remove duplicate id from Directory card avatar inside v-for
  web/Areas/Directory/Views/Card.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

fix(a11y): improve contrast of Directory card SVM tag text
  web/wwwroot/css/directory.css
Due: prettier --write, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Students page titles and column labels
  web/Areas/Students/Views/Index.cshtml
  web/Areas/Students/Views/StudentClassYear.cshtml
  web/Areas/Students/Views/StudentClassYearImport.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): Directory and PhotoGallery card accessibility fixes
  VueApp/src/Students/components/PhotoGallery/StudentPhotoCard.vue
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
  web/wwwroot/css/directory.css
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): Effort area accessibility improvements (PR 4 of 6)
  VueApp/eslint.config.mjs
  VueApp/src/Effort/components/CourseEffortTable.vue
  VueApp/src/Effort/components/EffortRecordsTable.vue
  VueApp/src/Effort/components/PercentAssignmentTable.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/EffortTypeList.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/pages/PercentAssignTypeInstructors.vue
  VueApp/src/Effort/pages/PercentAssignTypeList.vue
  VueApp/src/Effort/pages/ScheduledCliWeeks.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/pages/TermSelection.vue
  VueApp/src/Effort/pages/UnitList.vue
  VueApp/src/Effort/router/index.ts
  VueApp/vite.config.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix: address Copilot review feedback on Effort PR
  VueApp/src/Effort/components/EffortRecordsTable.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): align Effort button colors and migrate banners to StatusBanner
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/CourseEffortTable.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EffortRecordsDisplay.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/pages/PercentAssignTypeInstructors.vue
  VueApp/src/Effort/pages/ScheduledCliWeeks.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix: update useRouteFocus fallback to target #main-content
  VueApp/src/composables/use-route-focus.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-104 fix(a11y): Effort followup — contrast, help link, dirty state
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix: address Copilot review feedback on Effort PR
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): fix nested-interactive and aria-required-children
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): migrate 38 Effort q-banners to StatusBanner
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EvaluationStatusMatrix.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/InstructorAddDialog.vue
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/components/ZeroEffortBanner.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Effort axe fixes — aria-labels, contrast, badge
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix
