Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): handle /2 PathBase in welcome/login redirect guards
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/composables/RequireLogin.ts
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 fix(auth): resolve fonts and hero images under /2 base path
  web/Views/Home/Welcome.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

feat(scripts): filter test:backend by test name
  .oxlintrc.json
  scripts/test-dotnet.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

docs: tighten CLAUDE.md and document single-test commands
  CLAUDE.md
Due: none

VPR-59 fix(a11y): suppress landmark focus ring on route-driven focus
  VueApp/src/composables/use-route-focus.ts
  VueApp/src/shared/__tests__/create-spa-router.test.ts
  VueApp/src/styles/base.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-css.js --fix

fix(deps): pin SQLitePCLRaw bundle past high-severity SQLite advisory
  test/Viper.test.csproj
Due: none

VPR-59 chore: disable Biome in CodeRabbit reviews
  .coderabbit.yaml
Due: none

VPR-59 feat(cms): content blocks, left navigation, and link collections API
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CMSLeftNavControllerTests.cs
  test/CMS/CMSLinkCollectionControllerTests.cs
  test/CMS/CMSLinkCollectionLinksTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  test/CMS/CmsLeftNavDisplayTests.cs
  test/CMS/CmsLeftNavServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Controllers/CMSLeftNavController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionController.cs
  web/Areas/CMS/Controllers/CMSLinkCollectionLinks.cs
  web/Areas/CMS/Data/LeftNavMenu.cs
  web/Areas/CMS/Models/CMSBlockAddEdit.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/DTOs/ContentBlockDto.cs
  web/Areas/CMS/Models/DTOs/LeftNavDtos.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
  web/Areas/CMS/Services/CmsNavMenu.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(vue): share the audit action palette across areas
  VueApp/src/CMS/pages/FileAuditLog.vue
  VueApp/src/Effort/components/ChangeDetailDiff.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/composables/__tests__/use-audit-colors.test.ts
  VueApp/src/composables/use-audit-colors.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 refactor(effort): align AuditList with the scheduler audit branch
  VueApp/src/Effort/__tests__/audit-change-detail.test.ts
  VueApp/src/Effort/components/AuditChangeDetail.vue
  VueApp/src/Effort/pages/AuditList.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(config): add Benjamin's IP to internal allowlist
  web/appsettings.json
Due: none

fix(scheduler): sanitize joined weekIds in log statements
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): filter IOR dept fallback loop via Where
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix: address PR review feedback
  test/Services/UserInfoServiceUnitTests.cs
  web/Areas/Directory/Controllers/UserInfoController.cs
  web/Areas/Directory/Services/UserInfoService.cs
  web/Classes/Utilities/IamApi.cs
  web/Classes/Utilities/LdapService.cs
  web/wwwroot/css/userinfo.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix: resolve nullable reference warning in tests
  test/Services/UserInfoServiceUnitTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): delegated block editing via per-block edit permissions
  VueApp/src/CMS/__tests__/cms-home.test.ts
  VueApp/src/CMS/__tests__/content-block-edit-delegated.test.ts
  VueApp/src/CMS/__tests__/content-block-edit-save.test.ts
  VueApp/src/CMS/__tests__/inline-file-upload.test.ts
  VueApp/src/CMS/components/InlineFileUpload.vue
  VueApp/src/CMS/components/PermissionSelector.vue
  VueApp/src/CMS/composables/use-cms-files.ts
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ContentBlockEdit.vue
  VueApp/src/CMS/router/routes.ts
  VueApp/src/CMS/types/index.ts
  test/CMS/CMSContentControllerTests.cs
  test/CMS/CmsContentBlockServiceTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/CMS/Models/CMSBlockAddEdit.cs
  web/Areas/CMS/Models/CmsContentBlockMapper.cs
  web/Areas/CMS/Models/DTOs/ContentBlockDto.cs
  web/Areas/CMS/Services/CmsContentBlockService.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Models/VIPER/ContentBlock.cs
  web/Models/VIPER/ContentBlockToEditPermission.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(scheduler): write audit entries within the schedule transaction
  test/ClinicalScheduler/ScheduleEditServiceRollbackTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(scheduler): add manage-gated audit trail page
  VueApp/src/ClinicalScheduler/__tests__/audit-log-page-access.test.ts
  VueApp/src/ClinicalScheduler/__tests__/audit-log-results-table.test.ts
  VueApp/src/ClinicalScheduler/components/AuditLogResultsTable.vue
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/constants/permission-messages.ts
  VueApp/src/ClinicalScheduler/pages/AuditLogPage.vue
  VueApp/src/ClinicalScheduler/router/routes.ts
  VueApp/src/ClinicalScheduler/services/audit-log-service.ts
  VueApp/src/ClinicalScheduler/types/audit-types.ts
  VueApp/src/ClinicalScheduler/utils/audit-actions.ts
  test/ClinicalScheduler/ScheduleAuditServiceTest.cs
  web/Areas/ClinicalScheduler/Controllers/ScheduleAuditController.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditLogEntryDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditModifierDto.cs
  web/Areas/ClinicalScheduler/Models/DTOs/Responses/AuditTermDto.cs
  web/Areas/ClinicalScheduler/Services/ClinicalSchedulerNavMenu.cs
  web/Areas/ClinicalScheduler/Services/IScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(scheduler): add per-week schedule history modal
  VueApp/src/ClinicalScheduler/__tests__/week-history-content.test.ts
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryBody.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryButton.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryContent.vue
  VueApp/src/ClinicalScheduler/components/WeekHistoryDialog.vue
  VueApp/src/ClinicalScheduler/composables/use-audit-entries.ts
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): align the audit list with the scheduler audit trail
  VueApp/src/Effort/__tests__/audit-change-detail.test.ts
  VueApp/src/Effort/components/AuditChangeDetail.vue
  VueApp/src/Effort/pages/AuditList.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(deps): remove unused ASP.NET scaffolding package
  web/Viper.csproj
Due: none

fix(scripts): self-heal corrupt Mailpit install and extract atomically
  scripts/manage-mailpit.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-59 fix(cms): resolve legacy webroot from per-environment config
  web/Areas/CMS/Services/CmsFileImportService.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 feat(cms): tolerate viper/-prefixed import paths like legacy
  test/CMS/CmsFileImportServiceTests.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): recognize cross-root file records before allowing an overwrite
  test/CMS/CmsFileServiceTests.cs
  test/CMS/CmsFileStorageServiceTests.cs
  web/Areas/CMS/Services/CmsFileService.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): treat a null Permissions list as empty on import
  test/CMS/CmsFileImportServiceTests.cs
  web/Areas/CMS/Services/CmsFileImportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): reject OS-invalid characters in an uploaded file name
  test/CMS/CmsFileStorageServiceTests.cs
  web/Areas/CMS/Services/CmsFileStorageService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): fail closed when a non-admin has no LoginId
  test/CMS/CMSFilesControllerTests.cs
  web/Areas/CMS/Controllers/CMSFilesController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): stop header rows from crashing left-nav rendering with a null URL
  test/CMS/CmsLeftNavServiceTests.cs
  test/Classes/NavMenuItemTests.cs
  web/Areas/CMS/Services/CmsLeftNavService.cs
  web/Classes/NavMenuItem.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 perf(cms): avoid O(n²) permission-removal scan on left-nav items
  web/Areas/CMS/Services/CmsLeftNavService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 refactor(cms): simplify the public content-block-by-name lookup
  web/Areas/CMS/Controllers/CMSContentController.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-59 fix(cms): open the add-menu dialog from the left nav when already on the page
  VueApp/src/CMS/__tests__/left-nav-menus.test.ts
  VueApp/src/CMS/pages/LeftNavMenus.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-59 feat(cms): surface purge dates for deleted files
  VueApp/src/CMS/__tests__/files.test.ts
  VueApp/src/CMS/pages/Files.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
