Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(cts): keep competency tree buttons at the default icon size
  VueApp/src/CTS/pages/ManageCompetencies.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(session): use ~/ so Refresh Session keeps the /2 PathBase
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

fix(phone): improve search and navigation
  VueApp/src/Personnel/__tests__/phone-list-filter.test.ts
  VueApp/src/Personnel/__tests__/phone-list-maintain.test.ts
  VueApp/src/Personnel/__tests__/phone-list-unit-table.test.ts
  VueApp/src/Personnel/__tests__/phone-list.test.ts
  VueApp/src/Personnel/__tests__/section-jump-links.test.ts
  VueApp/src/Personnel/__tests__/svm-frequent-number-table.test.ts
  VueApp/src/Personnel/__tests__/svm-phone-section-table.test.ts
  VueApp/src/Personnel/__tests__/svm-phones-maintain.test.ts
  VueApp/src/Personnel/__tests__/svm-phones.test.ts
  VueApp/src/Personnel/__tests__/test-utils.ts
  VueApp/src/Personnel/assets/phone-list.css
  VueApp/src/Personnel/components/MobileCardList.vue
  VueApp/src/Personnel/components/MobileSortControl.vue
  VueApp/src/Personnel/components/PhoneListFilter.vue
  VueApp/src/Personnel/components/PhoneListUnitTable.vue
  VueApp/src/Personnel/components/SVMFrequentNumberTable.vue
  VueApp/src/Personnel/components/SVMPhoneSectionTable.vue
  VueApp/src/Personnel/components/SectionJumpLinks.vue
  VueApp/src/Personnel/composables/section-jump-targets.ts
  VueApp/src/Personnel/composables/use-section-table.ts
  VueApp/src/Personnel/pages/PhoneList.vue
  VueApp/src/Personnel/pages/PhoneListMaintain.vue
  VueApp/src/Personnel/pages/SVMPhones.vue
  VueApp/src/Personnel/pages/SVMPhonesMaintain.vue
  VueApp/src/Personnel/personnel.ts
  VueApp/src/styles/base.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-218 fix(phone): add dept code to SVMUnit EF
  web/Areas/Personnel/Models/SVMUnit.cs
  web/Areas/Personnel/PhonesDbContext.cs
Due: node scripts/lint-staged-dotnet.js --fix

test(personnel): check Excel cells are text, not the apostrophe
  test/Personnel/PersonCollectorExcelTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-62 feat(student): Remove backend CSV code
  test/Students/CareerSelectionControllerTests.cs
  test/Students/ExportServiceTests.cs
  web/Areas/Students/Controllers/CareerSelectionController.cs
  web/Areas/Students/Services/CareerSelectionExportService.cs
  web/Classes/ApiController.cs
  web/Classes/Utilities/CsvExportHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-62 refactor(student): Drop unused MothraId from AaudPersonIdentity
  test/Students/DvmStudentLookupServiceTests.cs
  web/Areas/Students/Services/DvmStudentLookupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-62 feat(student): Handle mentor missing from AAUD
  test/Students/CareerSelectionServiceTests.cs
  test/Students/TestableAAUDContext.cs
  web/Areas/Students/Scripts/CareerSelectionDataAnalysis.cs
  web/Areas/Students/Scripts/CareerSelectionScriptHelper.cs
  web/Areas/Students/Scripts/RunAnalysis.bat
  web/Areas/Students/Services/CareerSelectionService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-62 feat(student): Make backend code review changes
  test/Students/CareerSelectionControllerTests.cs
  test/Students/CareerSelectionMapperTests.cs
  test/Students/CareerSelectionServiceTests.cs
  test/Students/DvmStudentLookupServiceTests.cs
  web/Areas/Students/Controllers/CareerSelectionController.cs
  web/Areas/Students/Models/CareerSelectionMapper.cs
  web/Areas/Students/Services/CareerSelectionService.cs
  web/Areas/Students/Services/DvmStudentLookupService.cs
  web/Areas/Students/Services/ICareerSelectionService.cs
  web/Areas/Students/Services/IDvmStudentLookupService.cs
  web/Areas/Students/Services/StudentNotFoundException.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-62 feat(student): Fix isDirty and permissions bugs
  VueApp/src/Students/CareerSelection/__tests__/career-selection-form.test.ts
  VueApp/src/Students/CareerSelection/__tests__/use-career-selection.test.ts
  VueApp/src/Students/CareerSelection/composables/use-career-selection.ts
  VueApp/src/Students/CareerSelection/pages/CareerSelectionForm.vue
  VueApp/src/Students/EmergencyContact/__tests__/use-emergency-contact.test.ts
  VueApp/src/Students/EmergencyContact/composables/use-emergency-contact.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-62 feat(student): Remove frontend CSV code
  VueApp/src/Students/CareerSelection/__tests__/career-selection-service.test.ts
  VueApp/src/Students/CareerSelection/__tests__/career-selection-table.test.ts
  VueApp/src/Students/CareerSelection/components/CareerSelectionTable.vue
  VueApp/src/Students/CareerSelection/pages/CareerSelectionList.vue
  VueApp/src/Students/CareerSelection/pages/CareerSelectionReport.vue
  VueApp/src/Students/CareerSelection/services/career-selection-service.ts
  VueApp/src/Students/__tests__/use-report-exports.test.ts
  VueApp/src/Students/composables/use-report-exports.ts
  VueApp/src/components/ExportToolbar.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-62 feat(student): Make frontend code review changes
  VueApp/src/Students/CareerSelection/__tests__/career-option-manager-component.test.ts
  VueApp/src/Students/__tests__/access-notice.test.ts
  VueApp/src/Students/__tests__/app-access-controls.test.ts
  VueApp/src/Students/components/AppAccessControls.vue
  VueApp/src/Students/composables/use-access-notice.ts
  VueApp/src/Students/router/index.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Fixes EIS permission issue
  test/Personnel/EisServiceTests.cs
  web/Areas/Personnel/Services/EisService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Uses ReturnsNull() in tests
  test/Personnel/EisControllerTests.cs
  test/Personnel/EisServiceTests.cs
  test/Personnel/PersonCollectorServiceTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

Addresses CodeRabbit recommendations
  test/Personnel/EisServiceTests.cs
  web/Areas/Personnel/Services/EisDirectoryService.cs
  web/Areas/Personnel/Services/EisService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Addresses Fallow issues
  VueApp/src/Personnel/__tests__/eis-facts.test.ts
  VueApp/src/Personnel/__tests__/eis-format.test.ts
  VueApp/src/Personnel/components/EisAppointmentTable.vue
  VueApp/src/Personnel/components/EisCampusListings.vue
  VueApp/src/Personnel/components/EisCategoryList.vue
  VueApp/src/Personnel/components/EisDatedList.vue
  VueApp/src/Personnel/components/EisDegreeTable.vue
  VueApp/src/Personnel/components/EisFactList.vue
  VueApp/src/Personnel/components/EisHistoryTable.vue
  VueApp/src/Personnel/components/EisLeaveTable.vue
  VueApp/src/Personnel/components/EisPermanentAddress.vue
  VueApp/src/Personnel/components/EisPersonHeader.vue
  VueApp/src/Personnel/components/EisSectionState.vue
  VueApp/src/Personnel/components/EisStipendTable.vue
  VueApp/src/Personnel/components/EisTextList.vue
  VueApp/src/Personnel/composables/use-eis-section.ts
  VueApp/src/Personnel/pages/EisAcademics.vue
  VueApp/src/Personnel/pages/EisAddress.vue
  VueApp/src/Personnel/pages/EisAppointmentCategory.vue
  VueApp/src/Personnel/pages/EisAppointments.vue
  VueApp/src/Personnel/pages/EisHistory.vue
  VueApp/src/Personnel/pages/EisSummary.vue
  VueApp/src/Personnel/services/eis-facts.ts
  VueApp/src/Personnel/services/eis-format.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
