Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): add list/pause/resume API + reconciler
  test/Scheduler/SchedulerJobsServiceTests.cs
  web/Areas/Scheduler/Controllers/JobsController.cs
  web/Areas/Scheduler/Models/DTOs/Responses/PauseResumeResultDto.cs
  web/Areas/Scheduler/Models/DTOs/Responses/ReconcilerOutcomeDto.cs
  web/Areas/Scheduler/Models/DTOs/Responses/SchedulerJobDto.cs
  web/Areas/Scheduler/Models/Entities/SchedulerJobState.cs
  web/Areas/Scheduler/Services/ISchedulerJobsService.cs
  web/Areas/Scheduler/Services/SchedulerExceptions.cs
  web/Areas/Scheduler/Services/SchedulerJobReconciler.cs
  web/Areas/Scheduler/Services/SchedulerJobsService.cs
  web/Classes/SQLContext/SchedulerContext.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Classes/Scheduler/SchedulerSchemaInitializer.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): admin nav entry, area README, and 7-char audit stamp
  web/Areas/RAPS/Jobs/RapsRoleRefreshScheduledJob.cs
  web/Areas/RAPS/Services/RoleViews.cs
  web/Areas/Scheduler/Models/DTOs/Responses/SchedulerJobDto.cs
  web/Areas/Scheduler/Models/Entities/SchedulerJobState.cs
  web/Areas/Scheduler/Models/ScheduledJobContext.cs
  web/Areas/Scheduler/README.md
  web/Areas/Scheduler/Services/ISchedulerJobsService.cs
  web/Views/Shared/Components/MainNav/MainNav.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 test(scheduler): JobsController action-result coverage
  test/Scheduler/JobsControllerTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): job abstraction + RAPS role-refresh as first consumer
  test/RAPS/RapsRoleRefreshScheduledJobTests.cs
  test/Scheduler/ScheduledJobDiscoveryTests.cs
  test/Scheduler/ScheduledJobRunnerTests.cs
  test/Scheduler/SchedulerJobsServiceTests.cs
  web/Areas/RAPS/Jobs/RapsRoleRefreshScheduledJob.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/RoleViews.cs
  web/Areas/Scheduler/Models/DTOs/Responses/ReconcilerOutcomeDto.cs
  web/Areas/Scheduler/Models/ScheduledJobContext.cs
  web/Areas/Scheduler/Models/TriggerSource.cs
  web/Areas/Scheduler/Services/IScheduledJob.cs
  web/Areas/Scheduler/Services/ScheduledJobAttribute.cs
  web/Areas/Scheduler/Services/ScheduledJobDiscovery.cs
  web/Areas/Scheduler/Services/ScheduledJobRegistry.cs
  web/Areas/Scheduler/Services/ScheduledJobRunner.cs
  web/Areas/Scheduler/Services/SchedulerJobsService.cs
  web/Classes/Scheduler/HangfireExtensions.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): enable by default + add AutoSchedule dev opt-out
  web/Areas/Scheduler/README.md
  web/Areas/Scheduler/Services/ScheduledJobDiscovery.cs
  web/Classes/Scheduler/HangfireExtensions.cs
  web/appsettings.Development.json
  web/appsettings.json
Due: node scripts/lint-staged-dotnet.js --fix

VPR-54 feat(scheduler): Hangfire.Console + Hangfire.Heartbeat plugins
  test/Scheduler/ScheduledJobRunnerTests.cs
  web/Areas/RAPS/Jobs/RapsRoleRefreshScheduledJob.cs
  web/Areas/Scheduler/Models/ScheduledJobContext.cs
  web/Areas/Scheduler/README.md
  web/Areas/Scheduler/Services/ScheduledJobDiscovery.cs
  web/Areas/Scheduler/Services/ScheduledJobRunner.cs
  web/Areas/Scheduler/Services/SchedulerJobsService.cs
  web/Classes/Scheduler/HangfireExtensions.cs
  web/Viper.csproj
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): materialize IEnumerable to avoid multi-enumeration
  test/ClinicalScheduler/Integration/ControllerServiceIntegrationTest.cs
  test/Effort/CourseRelationshipsControllerTests.cs
  test/Effort/InstructorsControllerTests.cs
  web/Areas/CMS/Controllers/CMSContentController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Views/Shared/Components/VueTableDefault/VueTableDefault.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): remove dead null-checks flagged by CA1508
  test/CTS/AssessmentControllerTest.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/CompetencyController.cs
  web/Areas/CTS/Controllers/CourseController.cs
  web/Areas/CTS/Models/StudentEpaAssessment.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js --fix

chore(quality): clean up stale XML doc comments
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CTS/Controllers/AssessmentController.cs
  web/Areas/CTS/Controllers/ClinicalScheduleController.cs
  web/Areas/CTS/Services/AuditService.cs
  web/Areas/CTS/Services/CrestCourseService.cs
  web/Areas/CTS/Services/CtsSecurityService.cs
  web/Areas/Directory/Controllers/DirectoryController.cs
  web/Areas/RAPS/Controllers/MembersController.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Services/OuGroupService.cs
  web/Areas/RAPS/Services/RAPSAuditService.cs
  web/Areas/RAPS/Services/RAPSSecurityService.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Areas/RAPS/Services/VMACSExport.cs
  web/Areas/Students/Controllers/DvmController.cs
  web/Areas/Students/Services/StudentList.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
  web/Classes/Utilities/ActiveDirectoryService.cs
  web/Classes/Utilities/IamApi.cs
  web/Classes/Utilities/LdapService.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(quality): clear ReSharper PR-gate + CodeQL review findings
  scripts/audit-resharper-regression.js
  web/Areas/CMS/Data/CMS.cs
  web/Areas/CMS/Data/Codecs.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
  web/Areas/RAPS/Controllers/RAPSController.cs
  web/Areas/RAPS/Models/RoleTemplateSimplified.cs
  web/Areas/Students/Services/EmergencyContactExportService.cs
  web/Areas/Students/Services/PhotoExportService.cs
  web/Areas/Students/Services/StudentGroupService.cs
  web/Classes/HttpHelper.cs
  web/Classes/UserHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

fix(quality): discard unused entry param in cache lambda
  web/Classes/UserHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor: remove dead code surfaced by fallow (Phase 1)
  VueApp/src/CAHFS/assets/cahfs.css
  VueApp/src/CMS/assets/cms.css
  VueApp/src/CTS/pages/CourseList.vue
  VueApp/src/CTS/pages/MyAssessmentCharts.vue
  VueApp/src/ClinicalScheduler/constants/permission-messages.ts
  VueApp/src/ClinicalScheduler/constants/schedule-config.ts
  VueApp/src/ClinicalScheduler/services/error-transformer.ts
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
  VueApp/src/Students/components/PhotoGallery/PhotoGrid.vue
  VueApp/src/Students/components/PhotoGallery/PhotoList.vue
  VueApp/src/Students/services/photo-gallery-service.ts
  VueApp/src/components/icons/IconCommunity.vue
  VueApp/src/components/icons/IconDocumentation.vue
  VueApp/src/components/icons/IconEcosystem.vue
  VueApp/src/components/icons/IconSupport.vue
  VueApp/src/components/icons/IconTooling.vue
  VueApp/src/composables/DateFunctions.ts
  VueApp/src/composables/QuasarConfig.ts
  VueApp/src/config/colors.ts
  VueApp/src/layouts/ViperFooter.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor: migrate CSS @import to JS-side imports (Phase 4c)
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(clinical-scheduler): drop orphaned store cluster (Phase 2)
  VueApp/src/ClinicalScheduler/composables/use-schedule-normalization.ts
  VueApp/src/ClinicalScheduler/stores/permissions/index.ts
  VueApp/src/ClinicalScheduler/stores/schedule-actions.ts
  VueApp/src/ClinicalScheduler/stores/schedule-cache.ts
  VueApp/src/ClinicalScheduler/stores/schedule-state.ts
  VueApp/src/ClinicalScheduler/stores/schedule.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

refactor: remove unused type exports (Phase 3)
  VueApp/src/CTS/types/index.ts
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/services/clinician-service.ts
  VueApp/src/ClinicalScheduler/services/instructor-schedule-service.ts
  VueApp/src/ClinicalScheduler/services/page-data-service.ts
  VueApp/src/ClinicalScheduler/services/permission-service.ts
  VueApp/src/ClinicalScheduler/stores/permissions-utils.ts
  VueApp/src/ClinicalScheduler/types/api-responses.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/ClinicalScheduler/types/rotation-types.ts
  VueApp/src/ClinicalScheduler/utils/schedule-update-helpers.ts
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/services/harvest-service.ts
  VueApp/src/Effort/types/dashboard-types.ts
  VueApp/src/Effort/types/evaluation-types.ts
  VueApp/src/Effort/types/harvest-types.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/report-types-extended.ts
  VueApp/src/Effort/types/report-types.ts
  VueApp/src/Effort/types/verification-types.ts
  VueApp/src/composables/validation-error.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(router): extract createSpaRouter factory
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/router/index.ts
  VueApp/src/CTS/router/index.ts
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/Computing/router/index.ts
  VueApp/src/Effort/router/index.ts
  VueApp/src/Students/router/index.ts
  VueApp/src/shared/createSpaRouter.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

Adding chiefs role
  web/Areas/RAPS/Services/RoleViews.cs
  web/Classes/SQLContext/RAPSContext.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adding chiefs view model
  web/Models/RAPS/VwVmthChief.cs
Due: node scripts/lint-staged-dotnet.js --fix

Addressing comments
  web/Classes/SQLContext/RAPSContext.cs
  web/Models/RAPS/VwVmthChief.cs
Due: node scripts/lint-staged-dotnet.js --fix

Restoring brace
  web/Areas/RAPS/Services/RoleViews.cs
Due: node scripts/lint-staged-dotnet.js --fix

Adding usedimplicitly
  web/Classes/SQLContext/RAPSContext.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(layouts): share chrome components across Vue and Razor layouts
  VueApp/src/layouts/EmulationBanner.vue
  VueApp/src/layouts/FooterLinks.vue
  VueApp/src/layouts/ViperBrandButton.vue
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  web/Views/Shared/Components/EmulationBanner/Default.cshtml
  web/Views/Shared/Components/EmulationBanner/EmulationBanner.cs
  web/Views/Shared/VIPERLayoutSimplified.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(emergency-contact): extract shared page shell
  VueApp/src/Students/EmergencyContact/components/EmergencyContactPageShell.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactForm.vue
  VueApp/src/Students/EmergencyContact/pages/EmergencyContactView.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract EffortReportPage layout shell
  VueApp/src/Effort/components/EffortReportPage.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract DialogSubmitActions component
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/DialogSubmitActions.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract PercentAssignmentFormFields
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentFormFields.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract InstructorPageShell for breadcrumbs and states
  VueApp/src/Effort/components/InstructorPageShell.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract EffortRecordSharedFields from dialogs
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EffortRecordSharedFields.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): extract AsyncOperationDialog shell for preview dialogs
  VueApp/src/Effort/components/AsyncOperationDialog.vue
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(effort): centralize report context loading in BaseReportService
  test/Effort/BaseReportServiceTests.cs
  test/Effort/ExcelGenerationTests.cs
  web/Areas/Effort/Services/BaseReportService.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EvaluationReportService.cs
  web/Areas/Effort/Services/MeritMultiYearService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): extract TermTable for term selection rows
  VueApp/src/Effort/components/TermTable.vue
  VueApp/src/Effort/pages/TermSelection.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(effort): restore StatusBanner import in InstructorEdit
  VueApp/src/Effort/pages/InstructorEdit.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(quality): materialize CalculateWeightedAverage rows once
  web/Areas/Effort/Services/EvaluationReportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): extract CalculateWeightedAverage in EvaluationReportService
  web/Areas/Effort/Services/EvaluationReportService.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(cts): collapse hardcoded CourseStudents rows into a v-for
  VueApp/src/CTS/pages/CourseStudents.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

refactor(scheduler): share schedule filter LINQ via IScheduleEntity
  web/Areas/ClinicalScheduler/Services/InstructorScheduleService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleQueryExtensions.cs
  web/Areas/ClinicalScheduler/Services/StudentScheduleService.cs
  web/Models/CTS/IScheduleEntity.cs
  web/Models/CTS/InstructorSchedule.cs
  web/Models/CTS/StudentSchedule.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(students): consolidate StudentGroupService photo + Ross helpers
  web/Areas/Students/Services/StudentGroupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
