Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): let users switch and sign out of the right Entra account
  test/Classes/EntraIdClaimMapperTests.cs
  test/Classes/EntraIdSettingsTests.cs
  test/Controllers/HomeControllerLoginProviderTests.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Classes/EntraIdSettings.cs
  web/Controllers/HomeController.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-61 feat(auth): refuse Entra accounts with no VIPER user
  test/Controllers/HomeControllerLoginProviderTests.cs
  web/Classes/EntraIdClaimMapper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/SignInProblem.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): add dynamic welcome/login screen
  DESIGN.md
  PRODUCT.md
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/assets/UCDSVMLogo.png
  VueApp/src/assets/logo-vetmed-stacked-lockup.avif
  VueApp/src/assets/logo-vetmed-stacked-lockup.png
  VueApp/src/assets/rod-of-asclepius-white.avif
  VueApp/src/assets/rod-of-asclepius-white.png
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/src/styles/base.css
  test/Classes/Utilities/WelcomePageHelperTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Classes/Scheduler/HangfireDashboardAuthorizationFilter.cs
  web/Classes/Utilities/WelcomePageHelper.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/Views/Shared/_ViperBrand.cshtml
  web/wwwroot/css/site.css
  web/wwwroot/css/welcome.css
  web/wwwroot/images/UCDSVMLogo.png
  web/wwwroot/images/login/photo-guinea-pig.avif
  web/wwwroot/images/login/photo-guinea-pig.jpg
  web/wwwroot/images/login/photo-horse-foal.avif
  web/wwwroot/images/login/photo-horse-foal.jpg
  web/wwwroot/images/login/photo-ophthalmology.avif
  web/wwwroot/images/login/photo-ophthalmology.jpg
  web/wwwroot/images/login/photo-svm-building.avif
  web/wwwroot/images/login/photo-svm-building.jpg
  web/wwwroot/images/login/photo-vetmed-admin.avif
  web/wwwroot/images/login/photo-vetmed-admin.jpg
  web/wwwroot/images/login/rod-of-asclepius-white.avif
  web/wwwroot/images/login/rod-of-asclepius-white.png
  web/wwwroot/images/logo-vetmed-stacked-lockup.avif
  web/wwwroot/images/logo-vetmed-stacked-lockup.png
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): show welcome splash only for landing pages
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/src/composables/__tests__/require-login.test.ts
  VueApp/src/shared/create-spa-router.ts
  VueApp/src/styles/base.css
  test/Classes/HomeControllerCasUrlTests.cs
  test/Controllers/HomeControllerLoginProviderTests.cs
  test/Controllers/HomeControllerTests.cs
  web/Controllers/HomeController.cs
  web/Views/Shared/Components/ProfilePic/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/_VIPERLayout.cshtml
  web/wwwroot/css/directory.css
  web/wwwroot/css/site.css
  web/wwwroot/fonts/material-icons.woff2
  web/wwwroot/fonts/roboto-v51-latin-ext.woff2
  web/wwwroot/fonts/roboto-v51-latin.woff2
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-151 perf(auth): cache /images for 30 days
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-151 feat(auth): offer CAS and Entra ID side by side on the splash
  DESIGN.md
  PRODUCT.md
  test/Controllers/HomeControllerTests.cs
  web/Classes/AuthenticationSettings.cs
  web/Classes/LoginProviders.cs
  web/Controllers/HomeController.cs
  web/Program.cs
  web/Views/Home/SignInProblem.cshtml
  web/Views/Home/Welcome.cshtml
  web/Views/Shared/_WelcomeFooter.cshtml
  web/appsettings.Development.json
  web/appsettings.json
  web/wwwroot/css/welcome.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-61 fix(config): drop duplicate Vmacs section from merge
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: none

fix(ci): keep IIS app offline until the deploy copy finishes
  JenkinsFile
Due: none

fix(phone): Improve search and navigation
  VueApp/src/Personnel/__tests__/phone-list-filter.test.ts
  VueApp/src/Personnel/__tests__/phone-list-maintain.test.ts
  VueApp/src/Personnel/__tests__/phone-list-unit-table.test.ts
  VueApp/src/Personnel/__tests__/phone-list.test.ts
  VueApp/src/Personnel/__tests__/svm-frequent-number-table.test.ts
  VueApp/src/Personnel/__tests__/svm-phone-section-table.test.ts
  VueApp/src/Personnel/__tests__/svm-phones-maintain.test.ts
  VueApp/src/Personnel/__tests__/svm-phones.test.ts
  VueApp/src/Personnel/__tests__/test-utils.ts
  VueApp/src/Personnel/assets/phone-list.css
  VueApp/src/Personnel/components/MobileCardList.vue
  VueApp/src/Personnel/components/MobileSortControl.vue
  VueApp/src/Personnel/components/PhoneListFilter.vue
  VueApp/src/Personnel/components/PhoneListUnitTable.vue
  VueApp/src/Personnel/components/SVMFrequentNumberTable.vue
  VueApp/src/Personnel/components/SVMPhoneSectionTable.vue
  VueApp/src/Personnel/components/SectionJumpLinks.vue
  VueApp/src/Personnel/composables/section-jump-targets.ts
  VueApp/src/Personnel/pages/PhoneList.vue
  VueApp/src/Personnel/pages/PhoneListMaintain.vue
  VueApp/src/Personnel/pages/SVMPhones.vue
  VueApp/src/Personnel/pages/SVMPhonesMaintain.vue
  VueApp/src/Personnel/personnel.ts
  VueApp/src/styles/base.css
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-62 feat(student): Handle mentor missing from AAUD
  test/Students/CareerSelectionServiceTests.cs
  test/Students/TestableAAUDContext.cs
  web/Areas/Students/Scripts/CareerSelectionDataAnalysis.cs
  web/Areas/Students/Scripts/CareerSelectionScriptHelper.cs
  web/Areas/Students/Scripts/RunAnalysis.bat
  web/Areas/Students/Services/CareerSelectionService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-62 feat(student): Fix isDirty and permissions bugs
  VueApp/src/Students/CareerSelection/__tests__/career-selection-form.test.ts
  VueApp/src/Students/CareerSelection/__tests__/use-career-selection.test.ts
  VueApp/src/Students/CareerSelection/composables/use-career-selection.ts
  VueApp/src/Students/CareerSelection/pages/CareerSelectionForm.vue
  VueApp/src/Students/EmergencyContact/__tests__/use-emergency-contact.test.ts
  VueApp/src/Students/EmergencyContact/composables/use-emergency-contact.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

chore(coderabbit): review every PR automatically
  .coderabbit.yaml
Due: none

VPR-62 feat(student): Remove backend CSV code
  test/Students/CareerSelectionControllerTests.cs
  test/Students/ExportServiceTests.cs
  web/Areas/Students/Controllers/CareerSelectionController.cs
  web/Areas/Students/Services/CareerSelectionExportService.cs
  web/Classes/ApiController.cs
  web/Classes/Utilities/CsvExportHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-62 feat(student): Remove frontend CSV code
  VueApp/src/Students/CareerSelection/__tests__/career-selection-service.test.ts
  VueApp/src/Students/CareerSelection/__tests__/career-selection-table.test.ts
  VueApp/src/Students/CareerSelection/components/CareerSelectionTable.vue
  VueApp/src/Students/CareerSelection/pages/CareerSelectionList.vue
  VueApp/src/Students/CareerSelection/pages/CareerSelectionReport.vue
  VueApp/src/Students/CareerSelection/services/career-selection-service.ts
  VueApp/src/Students/__tests__/use-report-exports.test.ts
  VueApp/src/Students/composables/use-report-exports.ts
  VueApp/src/components/ExportToolbar.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-62 feat(student): Make backend code review changes
  test/Students/CareerSelectionControllerTests.cs
  test/Students/CareerSelectionMapperTests.cs
  test/Students/CareerSelectionServiceTests.cs
  test/Students/DvmStudentLookupServiceTests.cs
  web/Areas/Students/Controllers/CareerSelectionController.cs
  web/Areas/Students/Models/CareerSelectionMapper.cs
  web/Areas/Students/Services/CareerSelectionService.cs
  web/Areas/Students/Services/DvmStudentLookupService.cs
  web/Areas/Students/Services/ICareerSelectionService.cs
  web/Areas/Students/Services/IDvmStudentLookupService.cs
  web/Areas/Students/Services/StudentNotFoundException.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-62 refactor(student): Drop unused MothraId from AaudPersonIdentity
  test/Students/DvmStudentLookupServiceTests.cs
  web/Areas/Students/Services/DvmStudentLookupService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-62 feat(student): Make frontend code review changes
  VueApp/src/Students/CareerSelection/__tests__/career-option-manager-component.test.ts
  VueApp/src/Students/__tests__/access-notice.test.ts
  VueApp/src/Students/__tests__/app-access-controls.test.ts
  VueApp/src/Students/components/AppAccessControls.vue
  VueApp/src/Students/composables/use-access-notice.ts
  VueApp/src/Students/router/index.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(session): use ~/ so Refresh Session keeps the /2 PathBase
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

feat(session): serve session expiry from VIPER 2, not the legacy CFM
  test/Classes/AuthorizationFallbackTests.cs
  test/Classes/SessionTimeoutServiceTests.cs
  test/Controllers/SessionTimeoutControllerTests.cs
  web/Classes/Utilities/SessionTimeoutService.cs
  web/Controllers/HomeController.cs
  web/Controllers/SessionTimeoutController.cs
  web/Models/SessionTimeoutCheck.cs
  web/Models/SessionTimeoutStatus.cs
  web/Program.cs
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/SessionTimeout.cs
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(session): move the SPA session poll off the legacy CFM
  VueApp/src/components/SessionTimeout.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
