Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

.lintstagedrc.json:

{
    "{VueApp,scripts}/**/*.{js,ts}": [
        "node scripts/lint-staged-ts.js --fix",
        "prettier --write"
    ],
    "{VueApp,scripts}/**/*.vue": [
        "node scripts/lint-staged-vue.js --fix",
        "prettier --write"
    ],
    "{VueApp,web}/**/*.{css,vue}": [
        "node scripts/lint-staged-css.js --fix",
        "prettier --write"
    ],
    "web/**/*.cshtml": [
        "node scripts/lint-staged-cshtml.js --fix"
    ],
    "{web,test}/**/*.cs": [
        "node scripts/lint-staged-dotnet.js --fix"
    ]
}

VPR-48 feat(effort): add teaching activity reports infrastructure
  VueApp/src/Effort/__tests__/report-service.test.ts
  VueApp/src/Effort/__tests__/use-effort-type-columns.test.ts
  VueApp/src/Effort/components/CourseAddDialog.vue
  VueApp/src/Effort/components/CourseEditDialog.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/CourseLinkDialog.vue
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/InstructorAddDialog.vue
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/ReportFilterForm.vue
  VueApp/src/Effort/components/ReportLayout.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/composables/use-report-url-params.ts
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/instructor-service.ts
  VueApp/src/Effort/services/report-service.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/report-types.ts
  test/Effort/InstructorsControllerTests.cs
  test/Effort/ReportsControllerTests.cs
  web/Areas/Effort/Controllers/InstructorsController.cs
  web/Areas/Effort/Controllers/ReportsController.cs
  web/Areas/Effort/Models/DTOs/Responses/ReportDtos.cs
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/IInstructorService.cs
  web/Areas/Effort/Services/ITeachingActivityService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(infra): VPR-41 upgrade to .NET 10 LTS with improved DI configuration
  .config/dotnet-tools.json
  JenkinsFile
  global.json
  package.json
  test/Viper.test.csproj
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Scripts/EffortMigration.csproj
  web/Classes/SQLContext/AAUDContext.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Classes/SQLContext/CoursesContext.cs
  web/Classes/SQLContext/CrestContext.cs
  web/Classes/SQLContext/DictionaryContext.cs
  web/Classes/SQLContext/RAPSContext.cs
  web/Classes/SQLContext/SISContext.cs
  web/Classes/SQLContext/VIPERContext.cs
  web/Program.cs
  web/Viper.csproj
Due: node scripts/lint-staged-dotnet.js --fix

feat(vue): VPR-41 upgrade to Node.js 24 LTS and modernize Vue components
  .vscode/tasks.json
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CAHFS/App.vue
  VueApp/src/CAHFS/pages/CAHFSAuth.vue
  VueApp/src/CMS/App.vue
  VueApp/src/CTS/App.vue
  VueApp/src/CTS/pages/CtsHome.vue
  VueApp/src/ClinicalScheduler/App.vue
  VueApp/src/Computing/App.vue
  VueApp/src/Students/App.vue
  VueApp/src/components/GenericError.vue
  VueApp/src/components/SessionTimeout.vue
  VueApp/src/layouts/LeftNav.vue
  VueApp/src/layouts/MainNav.vue
  VueApp/src/layouts/ViperLayout.vue
  VueApp/src/layouts/ViperLayoutSimple.vue
  VueApp/tsconfig.node.json
  package-lock.json
  package.json
  scripts/lib/lint-staged-common.js
  scripts/lib/script-utils.js
  scripts/manage-mailpit.js
  scripts/run-backend.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-41 build(deps): upgrade NuGet packages for .NET 10 LTS compatibility
  test/Viper.test.csproj
  web/Viper.csproj
  web/nlog.config
Due: none

VPR-41 refactor(effort): resolve EndsWith TODOs for EF Core 10
  VueApp/src/Effort/App.vue
  VueApp/src/Effort/components/EffortLeftNav.vue
  web/Areas/Effort/Services/DashboardService.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
  web/Areas/Effort/Services/HarvestService.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-41 build(deps): upgrade test infrastructure for .NET 10 LTS
  test/Viper.test.csproj
  web/Viper.csproj
Due: none

VPR-41 feat(vue): upgrade npm majors and adopt VueUse composables
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/ClinicalScheduler/components/ScheduleView.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/Effort/pages/InstructorList.vue
  package-lock.json
  package.json
  stylelint.config.mjs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-48 feat(effort): add summary and merit reports
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/components/ReportFilterForm.vue
  VueApp/src/Effort/composables/use-effort-type-columns.ts
  VueApp/src/Effort/composables/use-report-page.ts
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Effort/pages/ZeroEffort.vue
  VueApp/src/Effort/report-tables.css
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/instructor-service.ts
  VueApp/src/Effort/services/report-service.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/report-types.ts
  test/Effort/InstructorsControllerTests.cs
  test/Effort/ReportsControllerTests.cs
  test/Utilities/AcademicYearHelperTests.cs
  web/Areas/Effort/Controllers/InstructorsController.cs
  web/Areas/Effort/Controllers/ReportsController.cs
  web/Areas/Effort/Models/DTOs/Responses/ReportDtos.cs
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Services/BaseReportService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/IDeptSummaryService.cs
  web/Areas/Effort/Services/IInstructorService.cs
  web/Areas/Effort/Services/IMeritReportService.cs
  web/Areas/Effort/Services/ISchoolSummaryService.cs
  web/Areas/Effort/Services/ITeachingActivityService.cs
  web/Areas/Effort/Services/IZeroEffortService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/MeritReportService.cs
  web/Areas/Effort/Services/SchoolSummaryService.cs
  web/Areas/Effort/Services/TeachingActivityService.cs
  web/Areas/Effort/Services/ZeroEffortService.cs
  web/Classes/Utilities/AcademicYearHelper.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-69 feat(email): add SVM branded header and separate R-courses
  web/Areas/ClinicalScheduler/EmailTemplates/Views/PrimaryEvaluatorRemoved.cshtml
  web/Areas/Effort/EmailTemplates/Models/VerificationReminderViewModel.cs
  web/Areas/Effort/EmailTemplates/Views/VerificationReminder.cshtml
  web/Areas/Effort/Services/VerificationService.cs
  web/EmailTemplates/Views/Shared/_EmailLayout.cshtml
  web/wwwroot/images/email/email-header-weill.jpg
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(email): address PR review feedback for verification email
  web/Areas/Effort/EmailTemplates/Models/VerificationReminderViewModel.cs
  web/Areas/Effort/EmailTemplates/Views/VerificationReminder.cshtml
  web/Areas/Effort/Services/VerificationService.cs
  web/EmailTemplates/Views/Shared/_EmailLayout.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-72 feat(ci): add Codecov integration for coverage, test results, and bundle analysis
  .github/workflows/tests.yml
  README.md
  VueApp/.gitignore
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/vite.config.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

fix(ci): address PR review feedback and fix Linux CI failures
  .github/workflows/tests.yml
  VueApp/vite.config.ts
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

fix(ci): use job-level env for Codecov token guard and add URI tests
  .github/workflows/tests.yml
  test/ViteProxyHelpersTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(ci): fix CAHFS case-sensitivity and PathString test
  VueApp/src/CAHFS/index.html
  test/ViteProxyHelpersTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(ci): fix case-sensitivity issues and remove misleading test
  VueApp/src/CAHFS/index.html
  VueApp/src/CTS/cts.ts
  test/ViteProxyHelpersTest.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

fix(test): rename misleading test to reflect PathString validation
  test/ViteProxyHelpersTest.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): skip re-auth on in-app navigation to prevent permission flash
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/EvalStatusCell.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/router/index.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-60 feat(effort): add course-level effort management
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/CourseEffortTable.vue
  VueApp/src/Effort/components/EffortRecordsDisplay.vue
  VueApp/src/Effort/components/EffortRecordsTable.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/dept-table.css
  VueApp/src/Effort/effort-forms.css
  VueApp/src/Effort/effort-record-table.css
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/services/course-service.ts
  VueApp/src/Effort/types/course-effort-types.ts
  VueApp/src/Effort/types/index.ts
  test/Effort/CourseServiceTests.cs
  web/Areas/Effort/Controllers/CoursesController.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseEffortRecordDto.cs
  web/Areas/Effort/Models/DTOs/Responses/PossibleCourseInstructorsDto.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/ICourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 feat(effort): add instructor evaluation data to course detail
  .oxlintrc.json
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/components/EvalStatusCell.vue
  VueApp/src/Effort/components/EvaluationStatusMatrix.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/effort-dialogs.css
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/router/index.ts
  VueApp/src/Effort/services/course-service.ts
  VueApp/src/Effort/types/evaluation-types.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/store/UserStore.ts
  test/Effort/CoursesControllerTests.cs
  web/Areas/Effort/Constants/EffortPermissions.cs
  web/Areas/Effort/Controllers/CoursesController.cs
  web/Areas/Effort/Data/EvalHarvestDbContext.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateAdHocEvalRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/AdHocEvalResultDto.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseEvaluationStatusDto.cs
  web/Areas/Effort/Models/Entities/EhCourse.cs
  web/Areas/Effort/Models/Entities/EhPerson.cs
  web/Areas/Effort/Models/Entities/EhQuant.cs
  web/Areas/Effort/Models/Entities/EhQuestion.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
  web/Areas/Effort/Services/IEvalHarvestService.cs
  web/Program.cs
  web/appsettings.Development.json
  web/appsettings.Production.json
  web/appsettings.Test.json
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 refactor(effort): auto-compute eval stats from rating counts
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/types/evaluation-types.ts
  test/Effort/CoursesControllerTests.cs
  web/Areas/Effort/Data/EvalHarvestDbContext.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateAdHocEvalRequest.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 refactor(effort): conditionally show eval tabs and remove source column
  .vscode/settings.json
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/CourseEffortTable.vue
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/components/EvalStatusCell.vue
  VueApp/src/Effort/components/EvaluationStatusMatrix.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  test/Effort/CoursesControllerTests.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): validate instructor effort before ad-hoc eval
  .vscode/settings.json
  VueApp/src/Effort/router/index.ts
  web/Areas/Effort/Data/EvalHarvestDbContext.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): filter facilitator evals from status query and index lookups
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): deduplicate eval permission fetch and add eval service tests
  VueApp/src/Effort/router/index.ts
  test/Effort/EvalHarvestServiceTests.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-60 feat(effort): validate eval rating counts against backend max
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/services/course-service.ts
  VueApp/src/Effort/types/evaluation-types.ts
  web/Areas/Effort/Models/DTOs/Requests/UpdateAdHocEvalRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseEvaluationStatusDto.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): address code review findings for eval feature
  VueApp/src/Effort/router/index.ts
  test/Effort/CourseServiceTests.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateAdHocEvalRequest.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

VPR-60 fix(effort): add min=0 constraint to eval rating count inputs
  VueApp/src/Effort/components/EditEvaluationDialog.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-60 refactor(effort): rename CourseInstructorOptionsDto to match backend i
  VueApp/src/Effort/services/course-service.ts
  VueApp/src/Effort/types/course-effort-types.ts
  VueApp/src/Effort/types/index.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-60 test(effort): add course-service and EvalHarvestService tests
  VueApp/src/Effort/__tests__/course-service.test.ts
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/types/evaluation-types.ts
  test/Effort/CoursesControllerTests.cs
  test/Effort/EvalHarvestServiceTests.cs
  web/Areas/Effort/Constants/EffortPermissions.cs
  web/Areas/Effort/Services/EvalHarvestService.cs
  web/Areas/Effort/Services/IEvalHarvestService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-48 feat(effort): add clinical effort, merit summary, and scheduled CLI weeks reports
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/components/ReportFilterForm.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/ScheduledCliWeeks.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/report-tables.css
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/report-service.ts
  VueApp/src/Effort/types/index.ts
  VueApp/src/Effort/types/report-types.ts
  test/Effort/ReportsControllerTests.cs
  web/Areas/Effort/Controllers/ReportsController.cs
  web/Areas/Effort/Models/DTOs/Responses/ReportDtos.cs
  web/Areas/Effort/Models/Entities/ViperPerson.cs
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
  web/Areas/Effort/Services/ClinicalEffortService.cs
  web/Areas/Effort/Services/ClinicalScheduleService.cs
  web/Areas/Effort/Services/DashboardService.cs
  web/Areas/Effort/Services/DeptSummaryService.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/IClinicalEffortService.cs
  web/Areas/Effort/Services/IClinicalScheduleService.cs
  web/Areas/Effort/Services/IMeritSummaryService.cs
  web/Areas/Effort/Services/MeritSummaryService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-48 test(effort): add controller tests for R3 reports
  test/Effort/ReportsControllerTests.cs
Due: node scripts/lint-staged-dotnet.js --fix
