Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): safe strict-equality guards in ApplyTemplate
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): add dialog close buttons, delete confirmations, and color fixes to RAPS
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): align RAPS button colors to UC Davis brand palette
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): remove transparent from Delegate badge for contrast
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): RAPS page titles, column labels, and dialog fixes
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Export.cshtml
  web/Areas/RAPS/Views/Groups/CreateADGroup.cshtml
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Groups/Members.cshtml
  web/Areas/RAPS/Views/Groups/Roles.cshtml
  web/Areas/RAPS/Views/Groups/Sync.cshtml
  web/Areas/RAPS/Views/Members/Clone.cshtml
  web/Areas/RAPS/Views/Members/History.cshtml
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/RSOP.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/AllMembers.cshtml
  web/Areas/RAPS/Views/Permissions/List.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Permissions/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/RolesRO.cshtml
  web/Areas/RAPS/Views/RoleViewUpdate.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/DelegateRoles.cshtml
  web/Areas/RAPS/Views/Roles/List.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/PermissionComparison.cshtml
  web/Areas/RAPS/Views/Roles/Permissions.cshtml
  web/Areas/RAPS/Views/Roles/TemplateRoles.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): RAPS aria labels, target sizing, audit filter chips
  eslint.config.mjs
  web/Areas/RAPS/Views/AuditLog.cshtml
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Members/Permissions.cshtml
  web/Areas/RAPS/Views/Members/Roles.cshtml
  web/Areas/RAPS/Views/Permissions/ListAdmin.cshtml
  web/Areas/RAPS/Views/Permissions/Members.cshtml
  web/Areas/RAPS/Views/Roles/ApplyTemplate.cshtml
  web/Areas/RAPS/Views/Roles/ListAdmin.cshtml
  web/Areas/RAPS/Views/Roles/Members.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): remove double delete confirmation in Role Members
  web/Areas/RAPS/Views/Roles/Members.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix: session timeout, left nav highlighting, and view polish
  web/Areas/RAPS/Views/Groups/List.cshtml
  web/Areas/RAPS/Views/Members/List.cshtml
  web/Areas/RAPS/Views/Roles/Templates.cshtml
  web/Classes/Utilities/SessionTimeoutService.cs
  web/Views/Shared/Components/LeftNav/Default.cshtml
  web/Views/Shared/Components/SessionTimeout/Default.cshtml
  web/wwwroot/css/site.css
Due: prettier --write, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): Effort area accessibility improvements (PR 4 of 6)
  VueApp/eslint.config.mjs
  VueApp/src/Effort/components/CourseEffortTable.vue
  VueApp/src/Effort/components/EffortRecordsTable.vue
  VueApp/src/Effort/components/PercentAssignmentTable.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/EffortTypeList.vue
  VueApp/src/Effort/pages/EvalDetail.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritDetail.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/pages/PercentAssignTypeInstructors.vue
  VueApp/src/Effort/pages/PercentAssignTypeList.vue
  VueApp/src/Effort/pages/ScheduledCliWeeks.vue
  VueApp/src/Effort/pages/SchoolSummary.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/pages/TermSelection.vue
  VueApp/src/Effort/pages/UnitList.vue
  VueApp/src/Effort/router/index.ts
  VueApp/vite.config.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): align Effort button colors and migrate banners to StatusBanner
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/CourseEffortTable.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EffortRecordsDisplay.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/pages/PercentAssignTypeInstructors.vue
  VueApp/src/Effort/pages/ScheduledCliWeeks.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix: address Copilot review feedback on Effort PR
  VueApp/src/Effort/components/EffortRecordsTable.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix: address Copilot review feedback on Effort PR
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix: update useRouteFocus fallback to target #main-content
  VueApp/src/composables/use-route-focus.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write

VPR-104 fix(a11y): Effort followup — contrast, help link, dirty state
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Effort axe fixes — aria-labels, contrast, badge
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): migrate 38 Effort q-banners to StatusBanner
  VueApp/src/Effort/components/AddCourseEffortDialog.vue
  VueApp/src/Effort/components/ClinicalImportDialog.vue
  VueApp/src/Effort/components/EditEvaluationDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EvaluationStatusMatrix.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/InstructorAddDialog.vue
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/components/PercentAssignmentAddDialog.vue
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/components/PercentRolloverDialog.vue
  VueApp/src/Effort/components/ZeroEffortBanner.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/MultiYearReport.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): fix nested-interactive and aria-required-children
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Effort brand colors and dialog accessibility
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/CourseLinkDialog.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/components/LeaveEditorModal.vue
  VueApp/src/Effort/components/ReportDeptTabs.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/EffortTypeList.vue
  VueApp/src/Effort/pages/PercentAssignTypeList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Effort report contrast fixes
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/pages/ClinicalEffort.vue
  VueApp/src/Effort/pages/DeptSummary.vue
  VueApp/src/Effort/pages/EvalSummary.vue
  VueApp/src/Effort/pages/MeritAverage.vue
  VueApp/src/Effort/pages/MeritSummary.vue
  VueApp/src/Effort/pages/TeachingActivityGrouped.vue
  VueApp/src/Effort/pages/TeachingActivityIndividual.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): Effort PR review feedback and axe contrast
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Effort/components/CourseEffortTable.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/EffortRecordsTable.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): keyboard event correctness in Effort
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Effort/components/PercentAssignmentTable.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermManagement.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix: repair broken Directory card links
  web/Areas/Directory/Views/Card.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix: drop invalid :props binding on q-img
  web/Areas/Directory/Views/Table.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix: gate Directory card action links on required fields
  web/Areas/Directory/Views/Card.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix: Alt. Photo link guard and URL in Directory views
  web/Areas/Directory/Views/Card.cshtml
  web/Areas/Directory/Views/Table.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix: use HttpHelper for photo URL in StudentClassYearImport
  web/Areas/Students/Views/StudentClassYearImport.cshtml
Due: node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): Students SPA list/table a11y and spacing
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/pages/StudentClassYear.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(effort): block manual re-import of VET 4XX Harvest courses
  VueApp/src/Effort/__tests__/course-add-dialog.test.ts
  VueApp/src/Effort/__tests__/course-import-dialog.test.ts
  VueApp/src/Effort/components/CourseAddDialog.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/utils/import-button-rules.ts
  test/Effort/CoursesControllerTests.cs
  web/Areas/Effort/Controllers/CoursesController.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/ICourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): CTS rating privacy and assessment layout polish
  VueApp/src/CTS/__tests__/assessment-bubble.test.ts
  VueApp/src/CTS/assets/cts.css
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/components/LevelSelect.vue
  VueApp/src/CTS/pages/AssessmentEpaEdit.vue
  VueApp/src/CTS/pages/AssessmentList.vue
  VueApp/src/CTS/pages/MyAssessments.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

test(effort): cover VET 4XX classification and Harvest re-import block
  test/Effort/CourseServiceTests.cs
  test/Effort/CoursesControllerTests.cs
Due: node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): Photo Gallery landmarks/h1 and Students dialog names
  VueApp/src/Students/components/PhotoGallery/StudentPhotoDialog.vue
  VueApp/src/Students/pages/PhotoGallery.vue
  VueApp/src/Students/pages/StudentClassYear.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix: address Copilot review feedback
  VueApp/src/Students/pages/StudentClassYear.vue
  web/Areas/Directory/Views/Card.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

fix(deps): bump vite to 8.0.8 to patch dev-server CVEs
  VueApp/package-lock.json
  VueApp/package.json
Due: none

VPR-104 fix(a11y): ClinicalScheduler, CMS, Computing, CAHFS accessibility (PR 6 of 6)
  VueApp/src/CAHFS/router/index.ts
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/CMS/router/index.ts
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/Computing/router/index.ts
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): ClinicalScheduler chip contrast and banner roles
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/ScheduleBanner.vue
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix(a11y): ClinicalScheduler, CMS, Computing contrast and titles
  VueApp/src/CMS/components/Link.vue
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
  VueApp/src/ClinicalScheduler/components/WeekScheduleCard.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  web/Areas/Computing/Views/Index.cshtml
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix

VPR-104 fix(a11y): CMS SafeUrl/contrast, LeftNav active state
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/components/LinkCollections.vue
  VueApp/src/CMS/pages/CmsHome.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/ClinicalScheduler/components/RecentSelections.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/layouts/LeftNav.vue
  web/Areas/CMS/Models/DTOs/CreateLinkDto.cs
  web/Areas/CMS/Validation/SafeUrlAttribute.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-104 fix(a11y): address Copilot review feedback on PR 146
  VueApp/src/CMS/components/Link.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix: ManageLinkCollections create flow, revert WeekCell role
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/ClinicalScheduler/components/WeekCell.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

VPR-104 fix: SafeUrl whitespace gap and DRY url helper
  VueApp/src/CMS/components/Link.vue
  VueApp/src/CMS/pages/ManageLinkCollections.vue
  VueApp/src/CMS/utils/url.ts
  web/Areas/CMS/Validation/SafeUrlAttribute.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
