Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Fix SSRF vulnerabilities and improve Vite proxy security
  VueApp/src/Computing/App.vue
  VueApp/src/composables/RequireLogin.ts
  VueApp/vite.config.ts
  scripts/lint-staged-vue.js
  test/ViteProxyHelpersTest.cs
  web/Viper.csproj
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

feat: enhance security tooling and linting
  .globalconfig
  .lint-staged-fix.json
  .lintstagedrc.json
  VueApp/.eslintrc.cjs
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CTS/pages/ManageEpas.vue
  VueApp/src/components/CmsContent.vue
  VueApp/src/layouts/LeftNav.vue
  package-lock.json
  package.json
  scripts/.eslintrc.js
  scripts/lint-staged-cshtml.js
  scripts/lint-staged-dotnet.js
  scripts/lint-staged-sonar.js
  scripts/lint-staged-vue.js
  test/Viper.test.csproj
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/Directory/Services/VMACSService.cs
  web/Areas/RAPS/Services/UinformService.cs
  web/Viper.csproj
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Fixed broken build and updated npm packages
  README.md
  VueApp/package-lock.json
  VueApp/package.json
  package.json
  web/ViteProxyHelpers.cs
Due: node scripts/lint-staged-dotnet.js

Clinical Scheduler UI revamp
  VueApp/src/ClinicalScheduler/App.vue
  VueApp/src/ClinicalScheduler/assets/clinicalscheduler.css
  VueApp/src/ClinicalScheduler/clinicalscheduler.ts
  VueApp/src/ClinicalScheduler/index.html
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/router/index.ts
  VueApp/src/ClinicalScheduler/router/routes.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/vite.config.ts
  web/Areas/ClinicalScheduler/Controllers/TestController.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Program.cs
  web/Viper.csproj
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Phase 3-5: Clinical scheduler backend API and frontend integration
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/WeekGrid.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/RotationService.ts
  test/ClinicalScheduler/ClinicalSchedulerContextTest.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Controllers/TestController.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/CTS/ScheduleAudit.cs
  web/Models/CTS/Status.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Phase 6 Complete: Clinician view
  VueApp/src/ClinicalScheduler/App.vue
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/index.html
  VueApp/src/ClinicalScheduler/pages/ClinicalSchedulerHome.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/router/routes.ts
  VueApp/src/ClinicalScheduler/services/ClinicianService.ts
  VueApp/src/ClinicalScheduler/services/RotationService.ts
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Classes/TermCodes.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Phase 6+: Hooked up frontend to database
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/YearSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/AcademicYearService.ts
  VueApp/src/ClinicalScheduler/services/__tests__/AcademicYearService.test.ts
  test/ClinicalScheduler/AcademicYearServiceTest.cs
  test/ClinicalScheduler/ClinicalSchedulerContextTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/WeekServiceTest.cs
  web/Areas/ClinicalScheduler/Controllers/BaseClinicalSchedulerController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Controllers/StudentScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/TestController.cs
  web/Areas/ClinicalScheduler/Services/AcademicYearService.cs
  web/Areas/ClinicalScheduler/Services/BaseClinicalSchedulerService.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/WeekService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/Status.cs
  web/Models/ClinicalScheduler/VWeek.cs
  web/Program.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Connected to ClincialScheduler database - Added additional frontend tests - TODO: Some UX issues with "Schedule by Clinician"
  VueApp/src/ClinicalScheduler/__tests__/RotationSelector.test.ts
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/services/__tests__/AcademicYearService.test.ts
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/PersonServiceTest.cs
  test/ClinicalScheduler/RotationServiceTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Controllers/StudentScheduleController.cs
  web/Areas/ClinicalScheduler/Services/AcademicYearService.cs
  web/Areas/ClinicalScheduler/Services/BaseClinicalSchedulerService.cs
  web/Areas/ClinicalScheduler/Services/PersonService.cs
  web/Areas/ClinicalScheduler/Services/RotationService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/Person.cs
  web/Program.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Save point
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Services/AcademicYearService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
Due: node scripts/lint-staged-dotnet.js

Address Copilot code review issues
  web/Models/ClinicalScheduler/Person.cs
  web/Models/ClinicalScheduler/Status.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js

Restricted Clinical Scheduler to "SVMSecure.ClnSched.Manage" + refactoring
  VueApp/src/CTS/components/ServiceSelect.vue
  VueApp/src/ClinicalScheduler/assets/clinicalscheduler.css
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/ScheduleBanner.vue
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/components/WeekGrid.vue
  VueApp/src/ClinicalScheduler/components/WeekScheduleCard.vue
  VueApp/src/ClinicalScheduler/components/YearSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/RotationService.ts
  VueApp/src/components/StudentSelect.vue
  test/ClinicalScheduler/CliniciansControllerTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  web/Areas/CTS/Controllers/ClinicalScheduleController.cs
  web/Areas/CTS/Services/ClinicalScheduleSecurityService.cs
  web/Areas/CTS/Views/Epa.cshtml
  web/Areas/CTS/Views/ManageEpas.cshtml
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Controllers/StudentScheduleController.cs
  web/Areas/ClinicalScheduler/Services/ClinicalScheduleSecurityService.cs
  web/Areas/ClinicalScheduler/Services/ClinicalScheduleService.cs
  web/Areas/ClinicalScheduler/Services/GradYearService.cs
  web/Areas/ClinicalScheduler/Services/IClinicalScheduleSecurityService.cs
  web/Areas/ClinicalScheduler/Services/IClinicalScheduleService.cs
  web/Program.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Upgraded to ESLint 9 + Stylelint
  .editorconfig
  .lintstagedrc.json
  .prettierrc.json
  .vscode/settings.json
  README.md
  VueApp/.eslintrc.cjs
  VueApp/.vscode/extensions.json
  VueApp/eslint.config.mjs
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/tsconfig.app.json
  VueApp/tsconfig.node.json
  VueApp/vite.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/lib/critical-rules.js
  scripts/lib/lint-staged-common.js
  scripts/lint-any.js
  scripts/lint-staged-cshtml.js
  scripts/lint-staged-css.js
  scripts/lint-staged-dotnet.js
  scripts/lint-staged-sonar.js
  scripts/lint-staged-vue.js
  stylelint.config.mjs
Due: node scripts/lint-staged-vue.js

Added ability to run multiple instances of VIPER on a single machine
  .env.local.example
  .gitignore
  README.md
  VueApp/vite.config.ts
  web/Program.cs
  web/Viper.csproj
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Added vite-plugin-vue-inspector
  .env.local.example
  README.md
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/vite.config.ts
  visualstudio.bat
Due: node scripts/lint-staged-vue.js

UI refinements
  VueApp/src/ClinicalScheduler/App.vue
  VueApp/src/ClinicalScheduler/assets/schedule-shared.css
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  web/Areas/ClinicalScheduler/Services/ClinicalSchedulerNavMenu.cs
  web/Controllers/LayoutController.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

feat: VS Code workspace configs and debugging support
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  VIPER.code-workspace
  VueApp/.vscode/extensions.json
  package-lock.json
  package.json
  scripts/launch-chrome-debug.js
  scripts/launch-find-viper.js
  scripts/launch-open-browser.js
Due: none

feat: Added Mailpit for development email testing
  .env.local.example
  README.md
  VueApp/package-lock.json
  VueApp/package.json
  package-lock.json
  package.json
  scripts/launch-find-viper.js
  scripts/launch-open-browser.js
  scripts/lib/script-utils.js
  scripts/manage-mailpit.js
  scripts/stop-dev-services.js
  web/Program.cs
  web/Services/EmailService.cs
  web/Services/IEmailService.cs
  web/appsettings.Development.json
  web/nlog.config
Due: node scripts/lint-staged-dotnet.js

feat(clinical-scheduler): add granular permission system for schedule editing
  VueApp/src/ClinicalScheduler/components/SchedulerNavigation.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/services/ClinicianService.ts
  VueApp/src/ClinicalScheduler/services/GradYearService.ts
  VueApp/src/ClinicalScheduler/services/PermissionService.ts
  VueApp/src/ClinicalScheduler/services/RotationService.ts
  VueApp/src/ClinicalScheduler/stores/permissions.ts
  VueApp/src/ClinicalScheduler/types/index.ts
  VueApp/src/composables/ViperFetch.ts
  test/ClinicalScheduler/ClinicalSchedulerTestBase.cs
  test/ClinicalScheduler/PermissionsControllerTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/SchedulePermissionServiceTest.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  web/Areas/ClinicalScheduler/Controllers/PermissionsController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Services/ISchedulePermissionService.cs
  web/Areas/ClinicalScheduler/Services/SchedulePermissionService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/Service.cs
  web/Program.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

feat(clinical-scheduler): Phase 8 - backend schedule management
  test/ClinicalScheduler/ScheduleAuditServiceTest.cs
  test/ClinicalScheduler/ScheduleEditServiceTest.cs
  test/ClinicalScheduler/TestDataBuilder.cs
  web/Areas/ClinicalScheduler/Constants/ScheduleAuditActions.cs
  web/Areas/ClinicalScheduler/Constants/ValidationMessages.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/InstructorScheduleController.cs
  web/Areas/ClinicalScheduler/Extensions/InstructorScheduleMappingExtensions.cs
  web/Areas/ClinicalScheduler/Services/IScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/IScheduleEditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleAuditService.cs
  web/Areas/ClinicalScheduler/Services/ScheduleEditService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/ScheduleAudit.cs
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js

feat(lint): Added Oxlint and improved up linting
  .editorconfig
  .gitignore
  .globalconfig
  .lintstagedrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  Directory.Build.props
  VIPER.code-workspace
  VueApp/eslint.config.mjs
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/shims-vue.d.ts
  VueApp/tsconfig.node.json
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/lib/build-cache.js
  scripts/lib/critical-rules.js
  scripts/lib/lint-staged-common.js
  scripts/lib/script-utils.js
  scripts/lint-any.js
  scripts/lint-staged-cshtml.js
  scripts/lint-staged-css.js
  scripts/lint-staged-dotnet.js
  scripts/lint-staged-sonar.js
  scripts/lint-staged-ts.js
  scripts/lint-staged-vue.js
  sonar-project.properties
  stylelint.config.mjs
Due: node scripts/lint-staged-vue.js

Phase 6+: Hooked up frontend to database
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/ClinicalScheduler/components/ClinicianSelector.vue
  VueApp/src/ClinicalScheduler/components/RotationSelector.vue
  VueApp/src/ClinicalScheduler/components/ScheduleLegend.vue
  VueApp/src/ClinicalScheduler/components/YearSelector.vue
  VueApp/src/ClinicalScheduler/pages/ClinicianScheduleView.vue
  VueApp/src/ClinicalScheduler/pages/RotationScheduleView.vue
  VueApp/src/ClinicalScheduler/services/AcademicYearService.ts
  VueApp/src/ClinicalScheduler/services/__tests__/AcademicYearService.test.ts
  package.json
  test/ClinicalScheduler/AcademicYearServiceTest.cs
  test/ClinicalScheduler/ClinicalSchedulerContextTest.cs
  test/ClinicalScheduler/RotationsControllerTest.cs
  test/ClinicalScheduler/WeekServiceTest.cs
  web/Areas/ClinicalScheduler/Controllers/BaseClinicalSchedulerController.cs
  web/Areas/ClinicalScheduler/Controllers/CliniciansController.cs
  web/Areas/ClinicalScheduler/Controllers/RotationsController.cs
  web/Areas/ClinicalScheduler/Controllers/StudentScheduleController.cs
  web/Areas/ClinicalScheduler/Controllers/TestController.cs
  web/Areas/ClinicalScheduler/Services/AcademicYearService.cs
  web/Areas/ClinicalScheduler/Services/BaseClinicalSchedulerService.cs
  web/Areas/ClinicalScheduler/Services/EvaluationPolicyService.cs
  web/Areas/ClinicalScheduler/Services/WeekService.cs
  web/Classes/SQLContext/ClinicalSchedulerContext.cs
  web/Models/ClinicalScheduler/Status.cs
  web/Models/ClinicalScheduler/VWeek.cs
  web/Program.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Adding missing eslint package
  VueApp/package-lock.json
  VueApp/package.json
Due: none

feat(lint): Configure TypeScript for type-only checking and improve error filtering
  VueApp/tsconfig.app.json
  VueApp/tsconfig.node.json
  scripts/lib/lint-staged-common.js
  scripts/lint-any.js
  scripts/lint-staged-ts.js
  scripts/lint-staged-vue.js
Due: none

Fixing database compatibility level with EF Core 8
  web/Program.cs
Due: node scripts/lint-staged-dotnet.js

feat(lint): comprehensive linting overhaul with TypeScript 5.9 upgrade and infrastructure improvements
  .gitignore
  .lintstagedrc.json
  .oxlintrc.json
  VueApp/env.d.ts
  VueApp/eslint.config.mjs
  VueApp/package-lock.json
  VueApp/package.json
  VueApp/src/CTS/components/AssessmentBubble.vue
  VueApp/src/CTS/cts.ts
  VueApp/src/CTS/pages/AssessmentEpa.vue
  VueApp/src/CTS/pages/AssessmentList.vue
  VueApp/src/CTS/pages/ManageSessionCompetencies.vue
  VueApp/src/CTS/pages/MyAssessmentCharts.vue
  VueApp/src/CTS/router/index.ts
  VueApp/src/Computing/computing.ts
  VueApp/src/Computing/router/index.ts
  VueApp/src/Students/router/index.ts
  VueApp/src/Students/students.ts
  VueApp/src/composables/DateFunctions.ts
  VueApp/src/composables/RequireLogin.ts
  VueApp/vite-watch.js
  VueApp/vite.config.ts
  package-lock.json
  package.json
  scripts/lib/build-cache.js
  scripts/lib/script-utils.js
  scripts/lint-any.js
  scripts/lint-staged-ts.js
  scripts/manage-mailpit.js
  scripts/stop-dev-services.js
  web/Program.cs
Due: node scripts/lint-staged-vue.js, node scripts/lint-staged-dotnet.js

Path conditions:
  node scripts/lint-staged-vue.js: any of: VueApp/**/*.{vue,js,jsx,ts,tsx}
  node scripts/lint-staged-dotnet.js: any of: {web,test}/**/*.cs
