Repository ucdavis/VIPER: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(email): add option to redirect emails to current user for testing
  test/Effort/PercentageServiceTests.cs
  test/Services/EmailServiceTests.cs
  web/Services/EmailService.cs
  web/appsettings.Test.json
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): remove unused canEditTerm check from instructor list
  VueApp/src/Effort/pages/InstructorList.vue
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

fix(effort): separate instructor edit and detail routes
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/composables/ViperFetch.ts
  VueApp/src/composables/validation-error.ts
  web/Areas/Effort/docs/Transition-to-Clinical-Weeks-and-Calendar-Years.pdf
  web/Services/EmailService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): add dedicated instructor edit page with mobile support
  VueApp/src/Effort/__tests__/instructor-edit-dialog.test.ts
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/types/term-types.ts
  web/Areas/Effort/Models/AutoMapperProfileEffort.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Models/Entities/ViperPerson.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix: sanitize log IDs and address code review feedback
  VueApp/src/Effort/components/PercentAssignmentEditDialog.vue
  VueApp/src/Effort/composables/use-percentage-form.ts
  web/Areas/Effort/Controllers/PercentagesController.cs
  web/Areas/Effort/Controllers/TermsController.cs
  web/Classes/ApiExceptionFilterAttribute.cs
  web/Services/EmailService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

refactor(effort): extract academic year calculations to shared helper
  test/Utilities/AcademicYearHelperTests.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/PercentageService.cs
  web/Classes/Utilities/AcademicYearHelper.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): return only errors on validation failure, fix test data format
  test/Effort/PercentAssignTypeServiceTests.cs
  web/Areas/Effort/Controllers/PercentagesController.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): use case-insensitive matching for percent assign type class
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): handle comma-separated ReportUnit in permission checks
  web/Areas/Effort/Services/EffortPermissionService.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-49 - Instructors entering their own effort
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/MyEffort.vue
  test/Effort/CourseClassificationServiceTests.cs
  test/Effort/EffortRecordServiceTests.cs
  test/Effort/EffortRecordsControllerTests.cs
  web/Areas/Effort/Controllers/EffortRecordsController.cs
  web/Areas/Effort/Models/CourseClassification.cs
  web/Areas/Effort/Services/CourseClassificationService.cs
  web/Areas/Effort/Services/EffortPermissionService.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/ICourseClassificationService.cs
  web/Areas/Effort/Services/IEffortPermissionService.cs
  web/Program.cs
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-49 - Effort type restrictions (frontend)
  VueApp/src/Effort/__tests__/my-effort.test.ts
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/types/course-types.ts
  test/Effort/EffortRecordServiceTests.cs
  web/Areas/Effort/Models/DTOs/ICourseClassificationFlags.cs
  web/Areas/Effort/Models/DTOs/Responses/AvailableCoursesDto.cs
  web/Areas/Effort/Models/DTOs/Responses/CourseDto.cs
  web/Areas/Effort/Services/EffortRecordService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): add optimistic concurrency for effort record edits
  VueApp/src/Effort/__tests__/course-add-dialog.test.ts
  VueApp/src/Effort/__tests__/course-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/course-import-dialog.test.ts
  VueApp/src/Effort/__tests__/course-link-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-add-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/my-effort.test.ts
  VueApp/src/Effort/components/CourseAddDialog.vue
  VueApp/src/Effort/components/CourseEditDialog.vue
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/CourseLinkDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/InstructorAddDialog.vue
  VueApp/src/Effort/components/InstructorEditDialog.vue
  VueApp/src/Effort/components/InstructorPercentEditDialog.vue
  VueApp/src/Effort/pages/CourseDetail.vue
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/services/course-service.ts
  VueApp/src/Effort/services/effort-service.ts
  VueApp/src/Effort/services/instructor-service.ts
  VueApp/src/Effort/services/record-service.ts
  VueApp/src/Effort/types/instructor-types.ts
  VueApp/src/composables/ViperFetch.ts
  VueApp/src/composables/validation-error.ts
  test/Effort/EffortRecordServiceTests.cs
  test/Effort/EffortRecordsControllerTests.cs
  web/Areas/Effort/Controllers/EffortRecordsController.cs
  web/Areas/Effort/Exceptions/ConcurrencyConflictException.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateEffortRecordRequest.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/IEffortRecordService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-49 - instructor self-service course import
  VueApp/src/Effort/components/CourseImportForSelfDialog.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/services/course-service.ts
  test/Effort/CourseServiceTests.cs
  web/Areas/Effort/Controllers/CoursesController.cs
  web/Areas/Effort/Controllers/CoursesSelfServiceController.cs
  web/Areas/Effort/Models/DTOs/Responses/ImportCourseForSelfResult.cs
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/ICourseService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-49 - R-course auto-creation
  VueApp/src/Effort/pages/CourseList.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/pages/TermManagement.vue
  VueApp/src/Effort/types/term-types.ts
  VueApp/src/styles/base.css
  test/Effort/EffortRecordServiceTests.cs
  test/Effort/HarvestServiceTests.cs
  test/Effort/RCourseServiceTests.cs
  test/Effort/VerificationServiceTests.cs
  web/Areas/Directory/Models/IndividualSearchResult.cs
  web/Areas/Effort/Constants/EffortAuditActions.cs
  web/Areas/Effort/Constants/EffortConstants.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
  web/Areas/Effort/Services/HarvestService.cs
  web/Areas/Effort/Services/IRCourseService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/RCourseService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-49 - department-scoped audit access for chairs
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/composables/use-effort-permissions.ts
  VueApp/src/Effort/router/routes.ts
  scripts/verify-build.js
  web/Areas/Effort/Constants/EffortPermissions.cs
  web/Areas/Effort/Controllers/AuditController.cs
  web/Areas/Effort/Models/DTOs/Requests/EffortAuditFilter.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/EffortPermissionService.cs
  web/Areas/Effort/Services/IEffortAuditService.cs
  web/Areas/Effort/Services/IEffortPermissionService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): capture nullable value before LINQ query closure
  web/Areas/Effort/Services/CourseService.cs
Due: node scripts/lint-staged-dotnet.js --fix

build(deps): fix prototype pollution in lodash packages
  VueApp/package-lock.json
Due: none

feat(effort): VPR-52 - staff dashboard with verification tracking
  VueApp/src/Effort/__tests__/dashboard-service.test.ts
  VueApp/src/Effort/__tests__/harvest-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/dashboard-service.ts
  VueApp/src/Effort/types/dashboard-types.ts
  VueApp/src/Effort/types/index.ts
  web/Areas/Effort/Controllers/DashboardController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/DTOs/Responses/DashboardStatsDto.cs
  web/Areas/Effort/Models/DTOs/Responses/DepartmentVerificationDto.cs
  web/Areas/Effort/Models/DTOs/Responses/EffortChangeAlertDto.cs
  web/Areas/Effort/Models/Entities/AlertState.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Services/DashboardService.cs
  web/Areas/Effort/Services/IDashboardService.cs
  web/Areas/Effort/docs/Calculating-Contact-Hours-and-Weeks.pdf
  web/Areas/Effort/docs/Cross-Listed-Courses-&-Sections.pdf
  web/Areas/Effort/docs/Department-Count-and-Department-Learning-Activity-Averages.pdf
  web/Areas/Effort/docs/Effort-System-Overview.pdf
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Areas/Effort/docs/Resident-Courses.pdf
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): resolve code quality warnings in dashboard code
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  web/Areas/Effort/Services/DashboardService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-dotnet.js --fix

feat(effort): enhance staff dashboard with navigation and term views
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/pages/TermSelection.vue
  VueApp/src/Effort/router/routes.ts
  scripts/lib/build-cache.js
  scripts/verify-build.js
  web/Areas/Effort/Services/DashboardService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(scripts): add --clear-cache flag to test-dotnet for clearing build artifacts
  scripts/test-dotnet.js
Due: node scripts/lint-staged-ts.js --fix, prettier --write

feat(effort): R-course display section and UI refactoring
  VueApp/src/Effort/components/CourseImportForSelfDialog.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordsDisplay.vue
  VueApp/src/Effort/components/EffortRecordsTable.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/MyEffort.vue
  test/Effort/CourseServiceTests.cs
  test/Effort/EffortRecordServiceTests.cs
  test/Effort/InstructorServiceTests.cs
  test/Effort/VerificationServiceTests.cs
  web/Areas/Effort/Controllers/CoursesSelfServiceController.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/CourseService.cs
  web/Areas/Effort/Services/ICourseService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
Due: prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat: add roles and 2FA status to MyPermissions page
  web/Classes/DuoAuthenticationRequirement.cs
  web/Controllers/HomeController.cs
  web/Views/Home/MyPermissions.cshtml
Due: node scripts/lint-staged-cshtml.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): improve effort type selection UX and validation
  VueApp/src/Effort/__tests__/effort-record-add-dialog.test.ts
  VueApp/src/Effort/__tests__/effort-records-display.test.ts
  VueApp/src/Effort/__tests__/effort-records-table.test.ts
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EffortRecordsDisplay.vue
  VueApp/src/Effort/components/EffortRecordsTable.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/MyEffort.vue
  VueApp/src/Effort/types/instructor-types.ts
  VueApp/src/Effort/validation.ts
  web/Areas/Effort/Models/DTOs/Requests/CreateEffortRecordRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateEffortRecordRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/InstructorEffortRecordDto.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Services/CourseClassificationService.cs
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): filter system-generated audit entries from chair view
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/types/course-types.ts
  test/Effort/CourseClassificationServiceTests.cs
  test/Effort/EffortRecordServiceTests.cs
  web/Areas/Effort/Constants/EffortAuditActions.cs
  web/Areas/Effort/Controllers/AuditController.cs
  web/Areas/Effort/Models/CourseClassification.cs
  web/Areas/Effort/Models/DTOs/ICourseClassificationFlags.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/CourseClassificationService.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/ICourseClassificationService.cs
  web/Areas/Effort/Services/InstructorService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): VPR-52 - staff dashboard with verification tracking
  VueApp/src/Effort/__tests__/dashboard-service.test.ts
  VueApp/src/Effort/__tests__/harvest-dialog.test.ts
  VueApp/src/Effort/__tests__/instructor-edit-dialog.test.ts
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Effort/components/EffortLeftNav.vue
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/EffortHome.vue
  VueApp/src/Effort/pages/InstructorEdit.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/router/routes.ts
  VueApp/src/Effort/services/dashboard-service.ts
  VueApp/src/Effort/types/dashboard-types.ts
  VueApp/src/Effort/types/index.ts
  web/Areas/Effort/Controllers/DashboardController.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/DTOs/Responses/DashboardStatsDto.cs
  web/Areas/Effort/Models/DTOs/Responses/DepartmentVerificationDto.cs
  web/Areas/Effort/Models/DTOs/Responses/EffortChangeAlertDto.cs
  web/Areas/Effort/Models/Entities/AlertState.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/EffortScriptHelper.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/DashboardService.cs
  web/Areas/Effort/Services/IDashboardService.cs
  web/Areas/Effort/docs/Calculating-Contact-Hours-and-Weeks.pdf
  web/Areas/Effort/docs/Cross-Listed-Courses-&-Sections.pdf
  web/Areas/Effort/docs/Department-Count-and-Department-Learning-Activity-Averages.pdf
  web/Areas/Effort/docs/Effort-System-Overview.pdf
  web/Areas/Effort/docs/Effort_Database_Schema.sql
  web/Areas/Effort/docs/Resident-Courses.pdf
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): add Merit & Promotion stored procedures for ColdFusion MP
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
  web/Areas/Effort/Scripts/EffortSchemaConfig.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): gate audit access by permission and enrich alerts
  VueApp/src/Effort/__tests__/dashboard-service.test.ts
  VueApp/src/Effort/__tests__/staff-dashboard.test.ts
  VueApp/src/Effort/pages/AuditList.vue
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/StaffDashboard.vue
  VueApp/src/Effort/types/dashboard-types.ts
  web/Areas/Effort/Controllers/DashboardController.cs
  web/Areas/Effort/Models/DTOs/Responses/DashboardStatsDto.cs
  web/Areas/Effort/Models/DTOs/Responses/EffortChangeAlertDto.cs
  web/Areas/Effort/Services/DashboardService.cs
  web/Areas/Effort/Services/EffortAuditService.cs
  web/Areas/Effort/Services/PercentageService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): add sabbatical terms SP and fix calendar year term range
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

fix(effort): parse year format by content not flag in job group SP
  web/Areas/Effort/Scripts/CreateEffortReportingProcedures.cs
Due: node scripts/lint-staged-dotnet.js --fix

refactor(effort): DRY up MyEffort and InstructorDetail pages
  VueApp/src/Effort/components/CourseImportDialog.vue
  VueApp/src/Effort/components/CourseImportForSelfDialog.vue
  VueApp/src/Effort/components/CrossListedCoursesSection.vue
  VueApp/src/Effort/components/EffortActionButtons.vue
  VueApp/src/Effort/components/ZeroEffortBanner.vue
  VueApp/src/Effort/composables/use-effort-record-management.ts
  VueApp/src/Effort/pages/InstructorDetail.vue
  VueApp/src/Effort/pages/MyEffort.vue
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix

feat(effort): remove guest account system and improve harvest preview
  VueApp/src/Effort/__tests__/harvest-dialog.test.ts
  VueApp/src/Effort/components/ClinicalEffortPreviewTable.vue
  VueApp/src/Effort/components/HarvestDialog.vue
  VueApp/src/Effort/components/PercentAssignmentTable.vue
  VueApp/src/Effort/components/RolloverAssignmentTable.vue
  VueApp/src/Effort/pages/InstructorList.vue
  VueApp/src/Effort/types/harvest-types.ts
  VueApp/src/Effort/types/term-types.ts
  VueApp/src/Effort/utils/format.ts
  test/Effort/HarvestServiceTests.cs
  web/Areas/Effort/Constants/EffortConstants.cs
  web/Areas/Effort/Controllers/BaseEffortController.cs
  web/Areas/Effort/Models/DTOs/Responses/HarvestPreviewDto.cs
  web/Areas/Effort/Models/DTOs/Responses/PersonDto.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/ClinicalImportService.cs
  web/Areas/Effort/Services/DashboardService.cs
  web/Areas/Effort/Services/Harvest/ClinicalHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/GuestAccountPhase.cs
  web/Areas/Effort/Services/Harvest/IHarvestPhase.cs
  web/Areas/Effort/Services/HarvestService.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
  web/Areas/Effort/Services/VerificationService.cs
  web/Program.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

feat(effort): batch-resolve depts in harvest and show clinical weeks diff
  VueApp/src/Effort/components/ClinicalEffortPreviewTable.vue
  VueApp/src/Effort/types/harvest-types.ts
  test/Effort/ClinicalImportServiceTests.cs
  test/Effort/InstructorServiceTests.cs
  web/Areas/Effort/Models/DTOs/Responses/ClinicalImportDto.cs
  web/Areas/Effort/Services/ClinicalImportService.cs
  web/Areas/Effort/Services/DashboardService.cs
  web/Areas/Effort/Services/Harvest/ClinicalHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/CrestHarvestPhase.cs
  web/Areas/Effort/Services/Harvest/NonCrestHarvestPhase.cs
  web/Areas/Effort/Services/IInstructorService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/Services/PercentRolloverService.cs
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

fix(effort): sanitize log input and fix integer overflow in tests
  test/Effort/ClinicalImportServiceTests.cs
  web/Areas/Effort/Controllers/BaseEffortController.cs
Due: node scripts/lint-staged-dotnet.js --fix

feat(effort): add optional notes field to effort records
  VueApp/src/Effort/components/EffortRecordAddDialog.vue
  VueApp/src/Effort/components/EffortRecordEditDialog.vue
  VueApp/src/Effort/components/EffortRecordsDisplay.vue
  VueApp/src/Effort/components/EffortRecordsTable.vue
  VueApp/src/Effort/types/instructor-types.ts
  VueApp/src/Effort/validation.ts
  test/Effort/EffortRecordServiceTests.cs
  web/Areas/Effort/EffortDbContext.cs
  web/Areas/Effort/Models/DTOs/Requests/CreateEffortRecordRequest.cs
  web/Areas/Effort/Models/DTOs/Requests/UpdateEffortRecordRequest.cs
  web/Areas/Effort/Models/DTOs/Responses/InstructorEffortRecordDto.cs
  web/Areas/Effort/Models/Entities/EffortRecord.cs
  web/Areas/Effort/Scripts/CreateEffortDatabase.cs
  web/Areas/Effort/Scripts/EffortPostDeployment.cs
  web/Areas/Effort/Scripts/RunPostDeployment.bat
  web/Areas/Effort/Services/EffortRecordService.cs
  web/Areas/Effort/Services/InstructorService.cs
  web/Areas/Effort/docs/Effort_Database_Schema.sql
Due: node scripts/lint-staged-ts.js --fix, prettier --write, node scripts/lint-staged-vue.js --fix, node scripts/lint-staged-css.js --fix, node scripts/lint-staged-dotnet.js --fix

VPR-65 fix: sanitize origin header in cross-origin log warning
  .github/copilot-instructions.md
  web/Areas/Effort/Controllers/BaseEffortController.cs
Due: node scripts/lint-staged-dotnet.js --fix

Path conditions:
  node scripts/lint-staged-ts.js --fix: any of: {VueApp,scripts}/**/*.{js,ts}
  prettier --write: ((any of: {VueApp,scripts}/**/*.{js,ts}) or (any of: {VueApp,scripts}/**/*.vue)) or (any of: {VueApp,web}/**/*.{css,vue})
  node scripts/lint-staged-vue.js --fix: any of: {VueApp,scripts}/**/*.vue
  node scripts/lint-staged-css.js --fix: any of: {VueApp,web}/**/*.{css,vue}
  node scripts/lint-staged-cshtml.js --fix: any of: web/**/*.cshtml
  node scripts/lint-staged-dotnet.js --fix: any of: {web,test}/**/*.cs
